add_stakeholder_pessoa-cCbEeoobiRahj2Nb.json
{"createdAt":"2025-06-17T18:45:58.786Z","updatedAt":"2025-06-24T11:19:53.000Z","id":"cCbEeoobiRahj2Nb","name":"add_stakeholder_pessoa","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"add_stakeholder_pessoa","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-860,-80],"id":"bc726f11-4afd-49e7-8c01-7343eb803fab","name":"Webhook","webhookId":"46ca3736-eb24-4e4f-9562-6f09c1f08ba7"},{"parameters":{"jsCode":"return items.map(item => {\n  const rawCnpj = item.json.body.cpf|| '';\n  const digitsOnly = rawCnpj.replace(/\\D/g, ''); // remove tudo que não é número\n\n  const cpfBasico= digitsOnly.slice(3, 9);\n  const nome = $input.first().json.body.nome\n\n  return {\n    json: {\n      ...item.json,\n      cpf_basico: cpfBasico,\n      nome: nome\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,120],"id":"67890363-ffcb-4dbb-b693-535bfffe9d0c","name":"CPF-basico"},{"parameters":{"method":"POST","url":"https://plataforma.bigdatacorp.com.br/pessoas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Token {token_data}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Datasets","value":"related_people"},{"name":"q","value":"=doc{{$json.body.cpf}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,-240],"id":"b2d8030f-9715-4947-a035-0a5dbe570e94","name":"HTTP Request"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.pessoa (firstname, lastname, cpf)\nSELECT\n  '{{ $json.RelatedEntityName.split(' ')[0] }}',\n  '{{ $json.RelatedEntityName.split(' ').slice(1).join(' ') }}',\n  '{{ $json.RelatedEntityTaxIdType }}'\nWHERE NOT EXISTS (\n  SELECT 1\n  FROM plataforma_stakeholders.pessoa\n  WHERE UPPER(firstname) = UPPER('{{ $json.RelatedEntityName.split(' ')[0] }}')\n    AND UPPER(lastname) = UPPER('{{ $json.RelatedEntityName.split(' ').slice(1).join(' ') }}')\n    AND SUBSTRING(cpf FROM 4 FOR 6) = SUBSTRING('{{ $json.RelatedEntityTaxIdType }}'\n' FROM 4 FOR 6)\n)\nON CONFLICT DO NOTHING;\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[40,-240],"id":"ca346d29-59f7-42a7-ba2d-e6159441a54b","name":"Adiciona Relacionados","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.relacionamentos (\n    entidade_origem_id,\n    tipo_origem_id,\n    entidade_destino_id,\n    tipo_destino_id,\n    tipo_relacao_id\n)\nVALUES ({{ $('Dados Stakeholder').first().json.empresa_id }}, 3, {{ $json.pessoa_id }}, 1, 25)\nON CONFLICT (entidade_origem_id, tipo_origem_id, entidade_destino_id, tipo_destino_id, tipo_relacao_id)\nDO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-120,520],"id":"6ebd2ac7-e7fe-4ff7-b4d3-c18f87050e70","name":"relacionamento_stakeholder","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[860,-80],"id":"8c9f09d6-d47f-4623-ad5d-33094c9389da","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.relacionamentos (\n    entidade_origem_id,\n    tipo_origem_id,\n    entidade_destino_id,\n    tipo_destino_id,\n    tipo_relacao_id\n)\nVALUES ({{ $('Familiares') }}, 1, {{ $json.pessoa_id }}, 1, 24)\nON CONFLICT (entidade_origem_id, tipo_origem_id, entidade_destino_id, tipo_destino_id, tipo_relacao_id)\nDO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[300,-240],"id":"839c546e-bc85-4a37-9342-84761741744b","name":"relacionamento_stakeholder1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"jsCode":"const data = $json;\n\nconst personalRelationships =\n  data.Result?.[0]?.RelatedPeople?.PersonalRelationships || [];\n\nreturn personalRelationships.map(rel => {\n  return { json: rel };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,-240],"id":"5b5f41b3-fd0e-4c35-bf67-e225c94d824e","name":"Familiares"},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM cnpj_db.socios\nWHERE\n    cnpj_cpf_socio = '***{{ $json.cpf_basico }}**'\n    AND\n    UPPER(TRIM(nome_socio)) = UPPER(TRIM('{{ $json.body.nome }}'))","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-440,120],"id":"1893eaf0-5517-49d6-85e2-7cadc730ebf0","name":"Adiciona stakeholder","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}},"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"iCVMoFh7xlh1KA1y","mode":"list","cachedResultName":"Socio-empresa"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[300,120],"id":"55b2e68e-91eb-4529-902f-918a45118166","name":"Todos relacionamentos"},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM cnpj_db.socios\nWHERE\n    cnpj_cpf_socio = '***{{ $json.cpf_basico }}**'\n    AND\n    UPPER(TRIM(nome_socio)) = UPPER(TRIM('{{ $json.body.nome }}'))","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,120],"id":"a622aa8c-b59e-4621-b633-281292a4b66d","name":"select dados","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Adiciona stakeholder","type":"main","index":0}]]},"CPF-basico":{"main":[[{"node":"select dados","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Familiares","type":"main","index":0}]]},"Adiciona Relacionados":{"main":[[{"node":"relacionamento_stakeholder1","type":"main","index":0}]]},"Merge":{"main":[[]]},"relacionamento_stakeholder1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Familiares":{"main":[[{"node":"Adiciona Relacionados","type":"main","index":0}]]},"Adiciona stakeholder":{"main":[[{"node":"CPF-basico","type":"main","index":0}]]},"Todos relacionamentos":{"main":[[{"node":"Merge","type":"main","index":1}]]},"select dados":{"main":[[{"node":"Todos relacionamentos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"body":{"cpf":"83298657034","nome":"ALEXSON BORBAS GUARNIERI"}}}],"HTTP Request":[{"json":{"Result":[{"MatchKeys":"doc1234567804","RelatedPeople":{"PersonalRelationships":[{"RelatedEntityTaxIdNumber":"12345678900","RelatedEntityTaxIdType":"CPF","RelatedEntityTaxIdCountry":"Brazil","RelatedEntityName":"Ana Gabriela Morello","RelationshipType":"MOTHER","RelationshipLevel":"DIRECT","RelationshipStartDate":"0001-01-01T00:00:00","RelationshipEndDate":"9999-12-31T23:59:59.9999999","CreationDate":"2018-06-18T00:00:00Z","LastUpdateDate":"2025-04-22T00:00:00Z"},{"RelatedEntityTaxIdNumber":"98765432100","RelatedEntityTaxIdType":"CPF","RelatedEntityTaxIdCountry":"Brazil","RelatedEntityName":"Giovanni Morello","RelationshipType":"BROTHER","RelationshipLevel":"DIRECT","RelationshipStartDate":"0001-01-01T00:00:00","RelationshipEndDate":"9999-12-31T23:59:59.9999999","CreationDate":"2018-05-11T00:00:00Z","LastUpdateDate":"2025-05-20T00:00:00Z"},{"RelatedEntityTaxIdNumber":"11223344556","RelatedEntityTaxIdType":"CPF","RelatedEntityTaxIdCountry":"Brazil","RelatedEntityName":"Jose Almeida Morello","RelationshipType":"PARTNER","RelationshipLevel":"INDIRECT","RelationshipStartDate":"0001-01-01T00:00:00","RelationshipEndDate":"9999-12-31T23:59:59.9999999","CreationDate":"2016-08-23T00:00:00Z","LastUpdateDate":"2025-03-04T00:00:00Z"}],"TotalRelationships":3,"TotalRelatives":2,"TotalNeighbors":0,"TotalSpouses":0,"TotalCoworkers":0,"TotalHousehold":0,"TotalPartners":1,"TotalCollegeClass":0}}],"QueryId":"c3c4cf07-fdf4-4ef9-8476-996cbcac5c32","ElapsedMilliseconds":817,"QueryDate":"2025-06-16T20:08:29.6510595Z","Status":{"related_people":[{"Code":0,"Message":"OK"}]},"Evidences":{}}}]},"versionId":"da048f66-771e-4461-bac5-c6d5218255af","triggerCount":0,"tags":[]}