adicionar-advogados-e-relacionados-qITLq5vYPesje8e9.json
{"createdAt":"2025-06-09T19:05:07.848Z","updatedAt":"2025-07-09T20:07:47.000Z","id":"qITLq5vYPesje8e9","name":"Adicionar Advogados e relacionados","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2220,-260],"id":"0f76736d-522f-4b3b-971e-47c12629c65f","name":"When Executed by Another Workflow"},{"parameters":{"fieldToSplitOut":"=clientes.pessoa_fisica","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[200,-525],"id":"473aaae8-8294-444e-b8ce-b55a3de5db96","name":"Split Out1"},{"parameters":{"fieldToSplitOut":"clientes.pessoa_juridica","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1120,-125],"id":"cdad702a-41b2-4aae-87b7-2b9f779c95ae","name":"Split Out2"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.pessoa (firstname, lastname, cpf, usuario_id)\nSELECT\n  '{{ $json.nome.split(\" \")[0] }}',\n  '{{ $json.nome.split(\" \").slice(1).join(\" \") }}',\n  '{{ $json.cpf }}',\n  '{{ $(\"When Executed by Another Workflow\").item.json.usuario_id }}'\nWHERE NOT EXISTS (\n  SELECT 1\n  FROM plataforma_stakeholders.pessoa\n  WHERE usuario_id = '{{ $(\"When Executed by Another Workflow\").item.json.usuario_id }}'\n    AND cpf = '{{ $json.cpf }}'\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,-600],"id":"5f5dd394-a2ad-4626-bdca-79498e5010ba","name":"Adiciona Pessoas","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1340,-275],"id":"dcae0169-07e7-4acb-a526-858e7c4b8cef","name":"Merge"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[640,-525],"id":"43d9aed8-f71f-41e9-af63-8a47999b7eaa","name":"Merge1"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"advogado","mode":"list","cachedResultName":"advogado"},"where":{"values":[{"column":"oab","value":"={{ $('When Executed by Another Workflow').item.json.oabs[0].numero.toString() }}"},{"column":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1780,-350],"id":"5e534bdd-4f18-4a14-bbb7-16b4b3c04c11","name":"Dados Advogado","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[640,-160],"id":"55fa8b63-5443-42af-b3be-887d6dbc86a0","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ac614fa-a624-469e-83de-797483b63a02","leftValue":"={{ $json.cnpj }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-900,-125],"id":"3cb5f394-e1fc-4ff8-ae5c-d8afea44a3b4","name":"If"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.relacionamentos (\n    entidade_origem_id,\n    tipo_origem_id,\n    entidade_destino_id,\n    tipo_destino_id,\n    tipo_relacao_id,\n    usuario_id\n)\nVALUES ({{ $('Dados Advogado').first().json.advogado_id }}, 4, {{ $json.pessoa_id }}, 1, 26, '{{ $('When Executed by Another Workflow').item.json.usuario_id }}')\nON CONFLICT (entidade_origem_id, tipo_origem_id, entidade_destino_id, tipo_destino_id, tipo_relacao_id, usuario_id)\nDO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1080,-525],"id":"8118cf2d-17f8-4b4f-80ad-2e354cd7b2b0","name":"relacionamento_pessoa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.relacionamentos (\n    entidade_origem_id,\n    tipo_origem_id,\n    entidade_destino_id,\n    tipo_destino_id,\n    tipo_relacao_id,\n    usuario_id\n)\nVALUES ({{ $('Dados Advogado').first().json.advogado_id }}, 4, {{ $json.empresa_id }}, 3, 26, '{{ $('When Executed by Another Workflow').item.json.usuario_id }}')\nON CONFLICT (entidade_origem_id, tipo_origem_id, entidade_destino_id, tipo_destino_id, tipo_relacao_id, usuario_id)\nDO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1080,-160],"id":"1910b7e3-2c81-42f1-a6d2-6fec1f722eda","name":"relacionamento_empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"where":{"values":[{"column":"cpf","value":"={{ $json.cpf }}"},{"column":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[860,-525],"id":"5059eaa0-4592-476d-8c2f-0cbab51d9bd8","name":"Pega_id_inseridos","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj }}"},{"column":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[860,-160],"id":"fe7c8a02-8779-4c16-b88d-5fb90548bef5","name":"Pega_id_inseridos1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1420,-320],"id":"13b50c85-6324-4311-8d58-fc07f46ec3fa","name":"Merge3"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.advogado (firstname, lastname, cpf, oab, usuario_id)\nVALUES ('{{ $json.advogado_consultado.split(' ')[0] }}', '{{ $json.advogado_consultado.split(' ').slice(1).join(' ')}}', '{{ $json.cpf }}', '{{ $json.oabs[0].numero }}', '{{ $json.usuario_id }}')\nON CONFLICT (oab) DO NOTHING\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2000,-340],"id":"93886729-2707-407c-9109-8b677d2e078f","name":"Adiciona advogado","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.relacionamentos (\n    entidade_origem_id,\n    tipo_origem_id,\n    entidade_destino_id,\n    tipo_destino_id,\n    tipo_relacao_id,\n    usuario_id\n)\nVALUES ({{ $('When Executed by Another Workflow').item.json.node_id }}, 3, {{ $json.advogado_id }}, 4, 25, '{{ $('When Executed by Another Workflow').item.json.usuario_id }}')\nON CONFLICT (entidade_origem_id, tipo_origem_id, entidade_destino_id, tipo_destino_id, tipo_relacao_id, usuario_id)\nDO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1560,-350],"id":"6900a8ad-d93c-4e38-acad-697f9daef73b","name":"relacionamento_stakeholder_socio","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  const rawCnpj = item.json.cnpj|| '';\n  const digitsOnly = rawCnpj.replace(/\\D/g, ''); // remove tudo que não é número\n\n  const cnpjBasico = digitsOnly.slice(0, 8);\n  const cnpjOrdem = digitsOnly.slice(8, 12);\n  const cnpjDv = digitsOnly.slice(12, 14);\n\n  return {\n    json: {\n      ...item.json,\n      cnpj_basico: cnpjBasico,\n      cnpj_ordem: cnpjOrdem,\n      cnpj_dv: cnpjDv\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-680,-200],"id":"2bcaf56a-224c-422e-acd7-f16e3ddfdd5d","name":"CNPJ-basico"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.empresa (\n    cnpj,\n    razao_social,\n    nome_fantasia,\n    porte_id,\n    stakeholder,\n    data_fundacao,\n    situacao_cadastral,\n    natureza_juridica_descricao,\n    matriz,\n    ramo,\n    ultima_atualizacao_pj,\n    usuario_id\n    \n)\nVALUES (\n    {{ $json.cnpj_basico ? \"'\" + $json.cnpj_basico + $json.cnpj_ordem + $json.cnpj_dv + \"'\" : \"NULL\" }},\n    {{ $json.razao_social ? \"'\" + $json.razao_social.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.nome_fantasia ? \"'\" + $json.nome_fantasia.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.porte_empresa ?? 'NULL' }},\n    {{ false }},\n    {{ $json.data_inicio_atividades ? \"'\" + $json.data_inicio_atividades + \"'\" : \"NULL\" }},\n    {{ $json.situacao_cadastral ? \"'\" + $json.situacao_cadastral + \"'\" : \"NULL\" }},\n    {{ $json.natureza_juridica ? \"'\" + $json.natureza_juridica.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.matriz_filial === '1' }},\n    {{ $json.cnae_fiscal ? \"'\" + $json.cnae_fiscal + \"'\" : \"NULL\" }},\n    {{ $json.data_situacao_cadastral ? \"'\" + $json.data_situacao_cadastral + \"'\" : \"NULL\" }},\n    '{{ $('When Executed by Another Workflow').item.json.usuario_id }}'\n)\nON CONFLICT (cnpj) DO NOTHING;","options":{"replaceEmptyStrings":false}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-20,-260],"id":"5e3ba1cb-cc2b-420f-9c9e-e23c72f98334","name":"Adiciona Empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"=cnpj_db","mode":"name"},"table":{"__rl":true,"value":"estabelecimento","mode":"list","cachedResultName":"estabelecimento"},"where":{"values":[{"column":"cnpj_basico","value":"={{ $json.cnpj_basico }}"},{"column":"cnpj_ordem","value":"={{ $json.cnpj_ordem }}"},{"column":"cnpj_dv","value":"={{ $json.cnpj_dv }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-460,-300],"id":"000f2b77-9a9d-4ca5-b0f8-63fdf2486c20","name":"Dados empresa","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"=cnpj_db","mode":"name"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"where":{"values":[{"column":"cnpj_basico","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-460,-80],"id":"d080bae0-f4b5-4e8b-8bdf-65d2ee36e15e","name":"Dados empresa 2","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-240,-200],"id":"b0213455-2701-41e2-8750-7e3d9358393c","name":"Merge4"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"cnpj","value":"={{ $('Dados empresa').first().json.cnpj_basico + $('Dados empresa').first().json.cnpj_ordem +$('Dados empresa').first().json.cnpj_dv }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[200,-260],"id":"c4f99a39-2f77-4e9f-9e26-c7304f339a8b","name":"Dados Banco Empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.enderecos (\n    entidade_id,\n    tipo_entidade_id,\n    endereco_id,\n    logradouro,\n    numero,\n    complemento,\n    bairro,\n    cidade,\n    uf,\n    cep,\n    usuario_id\n)\nVALUES (\n    {{ $json.empresa_id }},\n    3,\n    1,\n    '{{ $('Merge4').first().json.logradouro }}',\n    '{{ $('Merge4').first().json.numero }}',\n    '{{ $('Merge4').first().json.complemento }}',\n    '{{ $('Merge4').first().json.bairro }}',\n    '{{ $('Merge4').first().json.municipio }}',\n    '{{ $('Merge4').first().json.uf }}',\n    '{{ $('Merge4').first().json.cep }}',\n    '{{ $('When Executed by Another Workflow').item.json.usuario_id }}'\n)\nON CONFLICT (usuario_id, entidade_id) DO NOTHING;\n","options":{"replaceEmptyStrings":false}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,-200],"id":"44e7cf4b-72b2-4746-855c-e52f9552b3be","name":"Adiciona endereço","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Adiciona advogado","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Split Out1":{"main":[[{"node":"Adiciona Pessoas","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Adiciona Pessoas":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Split Out2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Pega_id_inseridos","type":"main","index":0}]]},"Dados Advogado":{"main":[[{"node":"relacionamento_stakeholder_socio","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Pega_id_inseridos1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"CNPJ-basico","type":"main","index":0}]]},"Pega_id_inseridos":{"main":[[{"node":"relacionamento_pessoa","type":"main","index":0}]]},"Pega_id_inseridos1":{"main":[[{"node":"relacionamento_empresa","type":"main","index":0}]]},"relacionamento_pessoa":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"relacionamento_empresa":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Adiciona advogado":{"main":[[{"node":"Dados Advogado","type":"main","index":0}]]},"relacionamento_stakeholder_socio":{"main":[[{"node":"Merge","type":"main","index":0}]]},"CNPJ-basico":{"main":[[{"node":"Dados empresa","type":"main","index":0},{"node":"Dados empresa 2","type":"main","index":0}]]},"Dados empresa":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Dados empresa 2":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Adiciona Empresa","type":"main","index":0}]]},"Adiciona Empresa":{"main":[[{"node":"Dados Banco Empresa","type":"main","index":0}]]},"Dados Banco Empresa":{"main":[[{"node":"Adiciona endereço","type":"main","index":0}]]},"Adiciona endereço":{"main":[[{"node":"Merge2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"node_id":16011,"usuario_id":"71976e65-e328-436b-aa68-27b00a7708fb"}}]},"versionId":"1b1f9a7b-1cb9-41e7-9df8-300ab224cd6b","triggerCount":0,"tags":[]}