busca-advogados-htJrGGnFki6e8luR.json
{"createdAt":"2025-05-30T11:42:45.193Z","updatedAt":"2025-07-09T19:49:47.000Z","id":"htJrGGnFki6e8luR","name":"Busca Advogados","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"advogado","mode":"list","cachedResultName":"advogado"},"where":{"values":[{"column":"advogado_id","value":"={{ $('When Executed by Another Workflow').item.json.id || $('When Executed by Another Workflow').item.json.body.node_id }}"},{"column":"usuario_id","value":"={{ $('When Executed by Another Workflow').first().json.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-900,580],"id":"f4713253-970b-4872-8980-4a83d15f5016","name":"Postgres","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"=Nome completo:{{ $json.firstname }} {{ $json.lastname }}","hasOutputParser":true,"options":{"systemMessage":"Você é um assistente de automação que ajuda a buscar perfis no Instagram usando o campo de nome (e não o nome de usuário).\n\nA partir de um nome completo, gere até 5 variações diferentes de nome que uma pessoa pode usar no campo \"Nome\" do perfil do Instagram.\n\nConsidere variações comuns como:\n\nPrimeiro nome + sobrenome principal\n\nNome do meio + sobrenome\n\nNome completo\n\nPrimeiro nome + segundo nome\n\nÚltimo sobrenome apenas\n\nEvite variações exageradas ou apelidos. Seja natural, como nomes reais que alguém usaria no perfil.\n\nCaso não tenha variações funcientes passe as outras como : nao#necessario\n\n\nExemplo de entrada:\nVictor Davi de Oliveira Cunha\n\nExemplo de saída esperada:\n\n[\n  \"Victor Davi\",\n  \"Victor Cunha\",\n  \"Victor Davi Cunha\",\n  \"Davi Cunha\",\n  \"Victor Davi de Oliveira Cunha\"\n]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-600,300],"id":"e35acf14-e8b4-4370-9bb4-a0b43538b9c7","name":"AI Agent"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[420,260],"id":"1baac283-a756-4ec2-9cbd-907958a0fa57","name":"Merge"},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_1 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"45337391-a9ac-494a-a65f-c473aa72b369","name":"Busca Variação 1","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_2 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,160],"id":"dbfaf192-4eee-4bb3-aca9-9f5fc09b5704","name":"Busca Variação 2","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_3 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,300],"id":"234df928-5075-424f-a6c8-5df0b6813d6f","name":"Busca Variação 3","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_4 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,460],"id":"276fd96d-ce92-4107-a1fc-f6507c5ea94b","name":"Busca Variação 4","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_5 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,620],"id":"2b1048aa-e1fa-45a2-a02d-0278eba16b13","name":"Busca Variação 5","executeOnce":true},{"parameters":{"promptType":"define","text":"=Nome Completo: {{ $json.firstname}} {{ $json.lastname }}\nOAB: {{ $json.oab }}\nAdvogado_id:{{ $json.advogado_id }}\nPerfis para analise: {{ $json.resultado }}","hasOutputParser":true,"options":{"systemMessage":"Você é um agente de análise de perfis que ajuda a identificar qual perfil do Instagram pertence a um advogado específico.\n\nPara isso, você receberá uma lista de perfis, cada um com as seguintes informações:\n\nNome do perfil (name)\n\nUsername (username)\n\nBiografia (bio)\n\nNúmero da OAB oficial do advogado\n\nAdvogado_id: ID do advogado no banco\n\nSua tarefa é analisar os perfis e indicar qual deles é o mais provável de ser o perfil pessoal verdadeiro do advogado, com base nos seguintes critérios, em ordem de prioridade:\n\nPerfil pessoal com fortes indícios de associação ao advogado.\n\nDê preferência a perfis que aparentem ser usados por pessoas, e não empresas/escritórios.\n\nCorrespondência do nome ou username com o nome do advogado.\n\nPresença de termos jurídicos na bio (ex: “advogado(a)”, “direito”, “criminalista”, “trabalhista”, etc.).\n\nMenção explícita à OAB na bio com número correspondente.\n\nSe houver mais de um perfil com fortes indícios, escolha aquele que for claramente pessoal em vez de um perfil corporativo.\n\nImportante:\n\nNão utilize @username. O formato deve ser apenas username\n\nExemplo errado: @exemplo\n\nExemplo correto: exemplo\n\nSaída esperada:\njson\n{\n  \"Nome Completo\": \"string\",\n  \"Nome Perfil\": \"string\",\n  \"Username\": \"string\",\n  \"Justificativa\": \"string\",\n  \"Advogado_id\": \"integer\",\n  \"Perfil_Encontrado\": \"true\"\n}\nSe nenhum perfil for validado como pessoal e satisfatório, responda com:\n\njson\n{\n  \"Nome Completo\": \"string\",\n  \"Nome Perfil\": \"Não encontrado\",\n  \"Username\": \"Não encontrado\",\n  \"Justificativa\": \"Não há matches satisfatórios\",\n  \"Advogado_id\": \"integer\",\n  \"Perfil_Encontrado\": \"false\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[700,920],"id":"0e48324e-86f7-4f18-bdbc-0a0f8297dc76","name":"AI Agent1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[420,920],"id":"5b94b639-62a4-4870-8f0c-f3feff551070","name":"Merge1"},{"parameters":{"url":"https://api.hikerapi.com/v2/user/by/username","sendQuery":true,"queryParameters":{"parameters":[{"name":"username","value":"={{ $json.username }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,280],"id":"2ed45a89-37af-402a-89e3-bd372524dc79","name":"Busca por username","retryOnFail":true,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"users","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1020,280],"id":"38eedd30-884b-4e53-8d13-90df5fc57da1","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"049da52e-2017-4839-9ea2-d755263171de","name":"user.full_name","value":"={{ $json.user.full_name }}","type":"string"},{"id":"36073858-710b-46dd-abc9-df9fe3908cc0","name":"user.username","value":"={{ $json.user.username }}","type":"string"},{"id":"c7ebb4bc-2e56-467d-ae39-dbfee12eb603","name":"user.biography","value":"={{ $json.user.biography }}","type":"string"},{"id":"cdd04b41-dc0d-44ec-b525-3d6f03c0a3ec","name":"user.is_private","value":"={{ $json.user.is_private }}","type":"boolean"},{"id":"4ac76d3d-0efb-44d9-a8e0-dbb02bc8744b","name":"user.bio_links[0].url","value":"={{ $json.user.bio_links[0].url }}","type":"string"},{"id":"eddd3295-c878-4e14-bead-11300ac67877","name":"user.is_business","value":"={{ $json.user.is_business }}","type":"boolean"},{"id":"53933e71-77dd-43ff-946b-54af0f908bae","name":"user.following_count","value":"={{ $json.user.following_count }}","type":"number"},{"id":"28beee4d-1cdd-413c-8344-1e46b359ee41","name":"user.follower_count","value":"={{ $json.user.follower_count }}","type":"number"},{"id":"6f89d6f5-b289-49db-9baf-73915143f0d7","name":"user.category","value":"={{ $json.user.category }}","type":"string"},{"id":"194257e0-bd74-4d8d-8be3-d26e4ae4808d","name":"user.address_street","value":"={{ $json.user.address_street }}","type":"string"},{"id":"27ae1966-7f0b-4dc0-abaf-3835f57a3dfb","name":"user.city_name","value":"={{ $json.user.city_name }}","type":"string"},{"id":"3dc5fbf5-c8f9-4f32-84d3-a5ffdd78ad43","name":"user.contact_phone_number","value":"={{ $json.user.contact_phone_number }}","type":"string"},{"id":"f86c7992-4f60-42f9-a504-382937aa3bf3","name":"user.zip","value":"={{ $json.user.zip }}","type":"string"},{"id":"7283609f-efb2-4b8c-9883-9d3380272bb6","name":"user.public_email","value":"={{ $json.user.public_email }}","type":"string"},{"id":"c4f36c57-02e9-419c-bacf-35288083cebe","name":"user.page_name","value":"={{ $json.user.page_name }}","type":"string"},{"id":"6a1b94ff-88a5-432c-99b9-d151b871b49c","name":"user.id","value":"={{ $json.user.id }}","type":"string"},{"id":"02dfe945-75b2-4436-b8f3-1f8e8f96c3b7","name":"user.following_count","value":"={{ $json.user.following_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,560],"id":"021630ab-b12c-436a-b7ec-c1c2008ff6fb","name":"Especificações de cada instagram"},{"parameters":{"jsCode":"const perfis = $input.all();\nconst resultado = perfis.map((item, index) => {\n  const user = item.json.user || {};\n  const full_name = user.full_name || 'Não informado';\n  const username = user.username || 'Não informado';\n  const bio = user.biography || 'Sem biografia';\n\n  return `Perfil ${index + 1}:\nNome: ${full_name}\nUsername: @${username}\nBio: ${bio}\\n`;\n}).join('\\n');\n\nreturn [\n  {\n    json: {\n      resultado\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,560],"id":"a5605383-4a38-4286-bbc3-2cac31fe7750","name":"Code"},{"parameters":{"jsonSchemaExample":"{\n\t\"Nome Completo\": \"string\",\n    \"Nome Perfil\": \"string\",\n\t\"Username\": \"string\",\n    \"Justificativa\": \"string\",\n    \"Advogado_id\": \"integer\",\n    \"Perfil_Encontrado\": \"boolean\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[920,1040],"id":"76027423-18e1-4768-b8e2-da8eb9a5ad0c","name":"Structured Output Parser"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"advogado","mode":"list","cachedResultName":"advogado"},"columns":{"mappingMode":"defineBelow","value":{"advogado_id":"={{ $json.output.Advogado_id }}","instagram":"={{ $json.output.Username }}","usuario_id":"={{ $('When Executed by Another Workflow').first().json.usuario_id }}"},"matchingColumns":["advogado_id","usuario_id"],"schema":[{"id":"firstname","displayName":"firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastname","displayName":"lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"oab","displayName":"oab","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"advogado_id","displayName":"advogado_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"usuario_id","displayName":"usuario_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2120,820],"id":"b75856c3-1dad-4c23-80ca-2656af57a822","name":"Postgres1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"jsonSchemaExample":"\n{\n  \"query_1\": \"string\",\n  \"query_2\": \"string\",\n  \"query_3\": \"string\",\n  \"query_4\": \"string\",\n  \"query_5\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-400,460],"id":"f00bbfe8-067c-47ef-bc2c-aafb5cbaab94","name":"Structured Output Parser1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1820,600],"id":"759f4789-55e6-45d5-8335-c849aacd2d91","name":"When Executed by Another Workflow"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[660,1040],"id":"2efdedd8-61bc-4a7b-b2ed-ff1cb65dd9f7","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-640,440],"id":"e7d3d3b3-7cf4-400c-ad3b-7443feae62ae","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1400,420],"id":"b0c38c12-f05f-44c4-ab7a-02a616496a5f","name":"Execute Workflow4","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=Iniciando busca individual do advogado","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').item.json.node_id || $('When Executed by Another Workflow').item.json.body.node_id }}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"=Advogado","type":"string"},{"id":"a0a3abdd-b69e-4714-bfc6-71bf364053a1","name":"usuario_id","value":"={{ $json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,420],"id":"74cb41db-a0d1-4043-839e-0d4ad930ee74","name":"Status finalizado4"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1080,580],"id":"04f7a636-edd9-485c-b817-558b4de82530","name":"Merge3"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[660,80],"id":"946e5323-aaac-4f3c-9130-1f4772673df2","name":"Execute Workflow","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=Estou buscando os instagrams para os nomes:{{ $('AI Agent').item.json.output.query_1 }}, {{ $('AI Agent').item.json.output.query_2 }}, {{ $('AI Agent').item.json.output.query_3 }}, {{ $('AI Agent').item.json.output.query_4 }}, {{ $('AI Agent').item.json.output.query_5 }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').item.json.node_id || $('When Executed by Another Workflow').item.json.body.node_id }}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"=Advogado","type":"string"},{"id":"5b5f9cdf-a3e2-4fec-9dbd-5b63d5400450","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').first().json.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,80],"id":"9e25f3b6-85c5-4f05-bd74-c47a63d37ef6","name":"Status finalizado"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[800,280],"id":"6d2fb1b1-da3a-427f-b2e0-c2b677417f3c","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ada3824-690f-4ee5-ba9a-33dfd38047a8","leftValue":"={{ $json.output.Username }}","rightValue":"Não encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,920],"id":"79fb90ed-f2d3-4400-ba36-c6cce3173c7d","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1820,1140],"id":"59946110-8759-46f8-9b8b-99d9e86ccb01","name":"Execute Workflow1","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=não encontrei, motivo:\n{{ $json.output.Justificativa }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').item.json.node_id || $('When Executed by Another Workflow').item.json.body.node_id }}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"=Advogado","type":"string"},{"id":"16888ce5-93e8-47ff-a2ab-6d337a475049","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').first().json.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,1140],"id":"f3aadfa1-8b2f-48f5-80fb-65f15cf710cf","name":"Status finalizado1"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1900,820],"id":"ec6ced85-f9c2-4fa9-9027-7746c841129f","name":"Merge4"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1740,640],"id":"5023aa05-fb0d-4800-a267-24f2e1164d62","name":"Execute Workflow2","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=encontrei, motivo:\n{{ $json.output.Justificativa }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').item.json.node_id || $('When Executed by Another Workflow').item.json.body.node_id }}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"=Advogado","type":"string"},{"id":"a2d52edb-01d8-4f66-8eb4-613b12162a60","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').first().json.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,640],"id":"5665e058-990a-4981-a30e-66784f7faca5","name":"Status finalizado2"},{"parameters":{"batchSize":25,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1240,280],"id":"61ac0c6b-2b4f-43c8-85f1-edda4e9edd72","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,280],"id":"a2fefb6a-c13e-40bf-89b7-1de1ec7b277d","name":"Wait","webhookId":"59f351e5-384c-43a8-820f-0dec01d1d26c"}],"connections":{"Postgres":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"AI Agent":{"main":[[{"node":"Busca Variação 1","type":"main","index":0},{"node":"Busca Variação 2","type":"main","index":0},{"node":"Busca Variação 3","type":"main","index":0},{"node":"Busca Variação 4","type":"main","index":0},{"node":"Busca Variação 5","type":"main","index":0}]]},"Busca Variação 1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Busca Variação 2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Busca Variação 3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Busca Variação 4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Busca Variação 5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Merge":{"main":[[{"node":"Status finalizado","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Busca por username":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Especificações de cada instagram":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres1":{"main":[[]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Status finalizado4","type":"main","index":0},{"node":"Merge3","type":"main","index":1}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Execute Workflow4":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Status finalizado4":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Status finalizado":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge4","type":"main","index":1},{"node":"Status finalizado2","type":"main","index":0}],[{"node":"Status finalizado1","type":"main","index":0}]]},"Status finalizado1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Status finalizado2":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]},"Execute Workflow2":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Especificações de cada instagram","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Busca por username","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"nome":"WELKER SERAFIM SILVA","tipo":"Advogado","id":456,"node_id":"14302","usuario_id":"71976e65-e328-436b-aa68-27b00a7708fb"}}]},"versionId":"e21f977f-9893-46c4-8bb8-10ce76c005e4","triggerCount":1,"tags":[]}