busca_pessoas-BrKvLq52HXhzyBRX.json
{"createdAt":"2025-05-30T11:42:11.550Z","updatedAt":"2025-06-30T13:12:39.000Z","id":"BrKvLq52HXhzyBRX","name":"Busca_pessoas","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"where":{"values":[{"column":"pessoa_id","value":"={{ $json.body.node_id }}"},{"column":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-860,580],"id":"9f5f25c6-8101-472b-94fb-dc6d070b1a93","name":"Postgres","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"=Nome completo:{{ $json.firstname }} {{ $json.lastname }}","hasOutputParser":true,"options":{"systemMessage":"Você é um assistente de automação que ajuda a buscar perfis no Instagram usando o campo de nome (e não o nome de usuário).\n\nA partir de um nome completo, gere até 5 variações diferentes de nome que uma pessoa pode usar no campo \"Nome\" do perfil do Instagram.\n\nConsidere variações comuns como:\n\nPrimeiro nome + sobrenome principal\n\nNome do meio + sobrenome\n\nNome completo\n\nPrimeiro nome + segundo nome\n\nÚltimo sobrenome apenas\n\nEvite variações exageradas ou apelidos. Seja natural, como nomes reais que alguém usaria no perfil.\n\n\nExemplo de entrada:\nVictor Davi de Oliveira Cunha\n\nExemplo de saída esperada:\n\n[\n  \"Victor Davi\",\n  \"Victor Cunha\",\n  \"Victor Davi Cunha\",\n  \"Davi Cunha\",\n  \"Victor Davi de Oliveira Cunha\"\n]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-600,300],"id":"dd1dabb1-c116-441a-8227-1b6dfe3a77f2","name":"AI Agent"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[420,260],"id":"59f7504c-7bd5-4eaa-8646-0590056bedfc","name":"Merge"},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_1 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"1e8cf981-189a-4f00-a1bc-49f91eb26d18","name":"Busca Variação 1","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_2 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,160],"id":"81e97a70-2603-489b-be99-bd8ee8652369","name":"Busca Variação 2","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_3 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,300],"id":"ccccdd87-13e2-4f2e-b082-735f60dec2ea","name":"Busca Variação 3","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_4 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,460],"id":"3224e2af-1dae-41d4-ae35-25a1af18a376","name":"Busca Variação 4","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_5 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,620],"id":"c2a11f72-f655-4090-a7a6-2782ec4952be","name":"Busca Variação 5","executeOnce":true},{"parameters":{"promptType":"define","text":"=Nome Completo: {{ $json.firstname}} {{ $json.lastname }}\nPessoa_id:{{ $json.pessoa_id }}\nPerfis para analise: {{ $json.resultado }}","hasOutputParser":true,"options":{"systemMessage":"Você é um agente de análise de perfis que ajuda a identificar qual perfil do Instagram pertence a uma pessoa específica, com base em nome completo e username.\n\nVocê receberá uma lista de perfis, cada um com as seguintes informações:\n\nNome do perfil (name)\n\nUsername (username)\n\nPessoa_id: ID da pessoa no banco de dados\n\nSua tarefa é analisar os perfis e indicar qual deles é o mais provável de ser o perfil pessoal verdadeiro, com base nos seguintes critérios, em ordem de prioridade:\n\nCorrespondência entre o nome completo da pessoa e o nome do perfil ou username.\n\nIndícios de que o perfil é usado por uma pessoa física, e não por empresas, marcas ou organizações.\n\nSinais de perfil pessoal, como uso de nome próprio, ausência de termos corporativos, foco em vida pessoal, etc.\n\nCaso haja mais de um perfil com forte associação, escolha aquele que for mais claramente pessoal.\n\nImportante:\nNão utilize @ antes do username.\n\nExemplo errado: @exemplo\n\nExemplo correto: exemplo\n\nSaída esperada (se encontrar um perfil adequado):\njson\n\n{\n  \"Nome Completo\": \"string\",\n  \"Nome Perfil\": \"string\",\n  \"Username\": \"string\",\n  \"Justificativa\": \"string\",\n  \"Pessoa_id\": \"integer\",\n  \"Perfil_Encontrado\": \"true\"\n}\nCaso nenhum perfil seja considerado pessoal e satisfatório:\njson\n\n{\n  \"Nome Completo\": \"string\",\n  \"Nome Perfil\": \"Não encontrado\",\n  \"Username\": \"Não encontrado\",\n  \"Justificativa\": \"Não há matches satisfatórios\",\n  \"Pessoa_id\": \"integer\",\n  \"Perfil_Encontrado\": \"false\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[700,920],"id":"b5198f54-5b0a-4581-b16c-417e352867e9","name":"AI Agent1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[420,920],"id":"3fc2c605-b42e-4be9-bdcd-2c387755e93e","name":"Merge1"},{"parameters":{"fieldToSplitOut":"users","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1380,300],"id":"b2a0c76f-ee89-4363-a767-f9d2bef54cab","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"049da52e-2017-4839-9ea2-d755263171de","name":"user.full_name","value":"={{ $json.full_name }}","type":"string"},{"id":"36073858-710b-46dd-abc9-df9fe3908cc0","name":"user.username","value":"={{ $json.username }}","type":"string"},{"id":"1f2fcb34-3c90-446e-834d-04f2d6039175","name":"is_private","value":"={{ $json.is_private }}","type":"boolean"},{"id":"f592bfce-6278-46e1-93a3-75582ad95d03","name":"strong_id__","value":"={{ $json.strong_id__ }}","type":"string"},{"id":"091970af-97b6-4ec0-b796-37f74896afc2","name":"profile_pic_url","value":"={{ $json.profile_pic_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,560],"id":"92b4d1ac-a1e9-447b-aea0-012145117c2a","name":"Especificações de cada instagram"},{"parameters":{"jsCode":"const perfis = $input.all();\nconst resultado = perfis.map((item, index) => {\n  const user = item.json.user || {};\n  const full_name = user.full_name || 'Não informado';\n  const username = user.username || 'Não informado';\n  const bio = user.biography || 'Sem biografia';\n\n  return `Perfil ${index + 1}:\nNome: ${full_name}\nUsername: @${username}\nBio: ${bio}\\n`;\n}).join('\\n');\n\nreturn [\n  {\n    json: {\n      resultado\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,560],"id":"ddfecc53-8996-4e41-99b0-4f4922d20f6c","name":"Code"},{"parameters":{"jsonSchemaExample":"{\n\t\"Nome Completo\": \"string\",\n    \"Nome Perfil\": \"string\",\n\t\"Username\": \"string\",\n    \"Justificativa\": \"string\",\n    \"Pessoa_id\": \"integer\",\n    \"Perfil_Encontrado\": \"boolean\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[920,1040],"id":"e270ed87-affe-4760-9b92-fb56e40d53f9","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3824413f-b583-4ece-9e8a-eafcafabdbee","leftValue":"={{ $json.output.Perfil_Encontrado }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,920],"id":"48455a92-f470-4c2e-9414-ecc638691cc3","name":"If"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"columns":{"mappingMode":"defineBelow","value":{"pessoa_id":"={{ $json.output.Pessoa_id }}","instagram":"={{ $json.output.Username }}","usuario_id":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}"},"matchingColumns":["pessoa_id","usuario_id"],"schema":[{"id":"firstname","displayName":"firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastname","displayName":"lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cpf","displayName":"cpf","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pessoa_id","displayName":"pessoa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"em_prospecao","displayName":"em_prospecao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"sexo","displayName":"sexo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_nascimento","displayName":"data_nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_mae","displayName":"nome_mae","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"idade","displayName":"idade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"signo","displayName":"signo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"obito","displayName":"obito","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_obito","displayName":"data_obito","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"renda_estimada","displayName":"renda_estimada","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"pep","displayName":"pep","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"associado","displayName":"associado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"usuario_id","displayName":"usuario_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1400,760],"id":"a7789167-4f00-4f3d-ac81-712fed0c6d52","name":"Postgres1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1740,800],"id":"42fbd71b-c59c-45a3-80b5-8814b2ca73e8","name":"Merge2"},{"parameters":{"jsonSchemaExample":"\n{\n  \"query_1\": \"string\",\n  \"query_2\": \"string\",\n  \"query_3\": \"string\",\n  \"query_4\": \"string\",\n  \"query_5\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-400,460],"id":"553bc1b7-8f0f-46a6-b216-8aa0b49571a3","name":"Structured Output Parser1"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[640,1040],"id":"2cd272ef-6f8d-4119-af75-727f9a0dbb36","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-640,460],"id":"bf3e5f2d-c129-4bba-83e5-55c8fca009ff","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1940,600],"id":"4da6fe58-0630-4ddc-94ef-1ba36c80eac5","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1460,240],"id":"913d4775-0093-433b-bc9e-17ccc563f545","name":"Execute Workflow4","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=Iniciando busca individual pessoa","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"30d43175-d8c4-44e9-9a53-75c0cec18a46","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1560,240],"id":"084e623a-fb44-4e87-afae-95181bfd00d4","name":"Status finalizado4"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1020,580],"id":"28de0adf-409a-4e8b-a02a-ea0daa4b9a22","name":"Merge3"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[760,40],"id":"189ae320-c9d7-40d6-a182-378f6bd80aeb","name":"Execute Workflow","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=Estou buscando os instagrams para os nomes:{{ $('AI Agent').item.json.output.query_1 }}, {{ $('AI Agent').item.json.output.query_2 }}, {{ $('AI Agent').item.json.output.query_3 }}, {{ $('AI Agent').item.json.output.query_4 }}, {{ $('AI Agent').item.json.output.query_5 }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"a448a3ed-63b6-4e0f-b4b7-ed7e66bc7a36","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,40],"id":"d4d3b0be-e00e-4396-b4ea-8b37157cd01b","name":"Status finalizado"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[920,300],"id":"2faeeb65-5617-4a52-84a2-73869238e60a","name":"Merge4"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1500,1220],"id":"a1e03877-7d5e-4156-b8cd-72c2e2a834a3","name":"Execute Workflow5","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=não encontrei, motivo:\n{{ $json.output.justificativa }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"04468fb9-7c4e-4834-a4d8-d0b6c95804ac","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1380,1220],"id":"5bb6f46e-b343-42bd-b598-48d0e969278e","name":"Status finalizado5"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1460,920],"id":"0f3d8a75-6b4c-405d-b81d-f359b166b0d2","name":"Execute Workflow6","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=encontrei, motivo:\n{{ $json.output.justificativa }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"706cec4c-238a-4e5b-b22f-ce16d9ef38b1","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,920],"id":"3fb772eb-b47d-46c9-866f-ecec326910f5","name":"Status finalizado6"}],"connections":{"Postgres":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"AI Agent":{"main":[[{"node":"Busca Variação 1","type":"main","index":0},{"node":"Busca Variação 2","type":"main","index":0},{"node":"Busca Variação 3","type":"main","index":0},{"node":"Busca Variação 4","type":"main","index":0},{"node":"Busca Variação 5","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Status finalizado","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"Busca Variação 1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Busca Variação 2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Busca Variação 3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Busca Variação 4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Busca Variação 5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"AI Agent1":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Especificações de cada instagram","type":"main","index":0}]]},"Especificações de cada instagram":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"If":{"main":[[{"node":"Postgres1","type":"main","index":0},{"node":"Status finalizado6","type":"main","index":0}],[{"node":"Status finalizado5","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Status finalizado4","type":"main","index":0},{"node":"Merge3","type":"main","index":1}]]},"Status finalizado4":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]},"Execute Workflow4":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Status finalizado":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Status finalizado5":{"main":[[{"node":"Execute Workflow5","type":"main","index":0}]]},"Status finalizado6":{"main":[[{"node":"Execute Workflow6","type":"main","index":0}]]},"Execute Workflow6":{"main":[[{"node":"Merge2","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"body":{"node_id":"14215","node_type":"Pessoa","documento":"24310270000167","nome":"QUALINOX MONTAGEM E MANUTENCAO INDUSTRIAL LTDA","instagram":"null","usuario_id":"bd3106d0-cb56-40ff-a31a-d55f1e2b2ecf","properties":{"nome_fantasia":"null","segmento_id":"null","quantidade_funcionarios":"null","tipo_empresa":"null","linkedin":"null","codigo_natureza_juridica":"null","ultima_atualizacao_pj":"20160303","cnpj":"24310270000167","instagram":"null","natureza_juridica_descricao":"2062","natureza_juridica_tipo":"null","razao_social":"QUALINOX MONTAGEM E MANUTENCAO INDUSTRIAL LTDA","stakeholder":"true","faixa_funcionarios":"null","projeto_id":"8","empresa_id":"14215","em_prospecao":"false","faixa_faturamento":"null","matriz":"true","orgao_publico":"null","data_fundacao":"20160303","porte_id":"5","situacao_cadastral":"02","ramo":"3319800","projeto_nome":null,"usuario_id":"bd3106d0-cb56-40ff-a31a-d55f1e2b2ecf"}}}}]},"versionId":"9053ad76-c8a2-4b34-b6ed-b5fe4f8dfe43","triggerCount":1,"tags":[]}