empresa-socio-1EbYkqSWQjNyu1uO.json
{"createdAt":"2025-06-11T12:03:03.330Z","updatedAt":"2025-07-31T13:37:06.000Z","id":"1EbYkqSWQjNyu1uO","name":"empresa-socio","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return items.map(item => {\n  const rawCnpj = item.json.cnpj || '';\n  const digitsOnly = rawCnpj.replace(/\\D/g, ''); // remove tudo que não é número\n  const cnpjBasico = digitsOnly.slice(0, 8); // pega os 8 primeiros dígitos\n\n  return {\n    json: {\n      ...item.json,\n      cnpj_basico: cnpjBasico\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,140],"id":"440b1ef9-fb86-4312-bebf-8ad63d245648","name":"CNPJ-basico"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-140,120],"id":"62ed3fb7-36a9-47ad-a0bb-8bfe022a6a0c","name":"Merge"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-580,-100],"id":"7f846a4b-d978-449b-9ab9-d84dad666d7f","name":"Merge1"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"=cnpj_db","mode":"name"},"table":{"__rl":true,"value":"estabelecimento","mode":"list","cachedResultName":"estabelecimento"},"where":{"values":[{"column":"cnpj_basico","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-760,-180],"id":"f29354dd-2524-4c8c-9f22-ddb40445591c","name":"Dados empresa","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"=cnpj_db","mode":"name"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"where":{"values":[{"column":"cnpj_basico","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-760,-20],"id":"c10d2f10-d9e5-4f43-bc15-a11f04033d85","name":"Dados empresa 2","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT\n  s.nome_socio,\n  s.cnpj_cpf_socio,\n  s.identificador_de_socio,\n  sq.descricao AS qualificacao,\n  s.data_entrada_sociedade,\n  s.faixa_etaria\nFROM cnpj_db.socios s\nLEFT JOIN cnpj_db.qualificacao_socio sq ON s.qualificacao_socio = sq.codigo::text\nWHERE s.cnpj_basico = '{{$json.cnpj_basico}}'\n  AND s.identificador_de_socio = '2'\nORDER BY s.nome_socio;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[100,120],"id":"f6c7494c-8c38-4fc8-bd59-90259ec000fa","name":"Sócios","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1360,140],"id":"23ff9b7e-1cb2-4f20-ab27-48440dd9018e","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.empresa (\n    cnpj,\n    razao_social,\n    nome_fantasia,\n    porte_id,\n    stakeholder,\n    data_fundacao,\n    situacao_cadastral,\n    natureza_juridica_descricao,\n    matriz,\n    ramo,\n    ultima_atualizacao_pj,\n    projeto_id,\n    usuario_id\n)\nVALUES (\n    {{ $json.cnpj_basico ? \"'\" + $json.cnpj_basico + $json.cnpj_ordem + $json.cnpj_dv + \"'\" : \"NULL\" }},\n    {{ $json.razao_social ? \"'\" + $json.razao_social.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.nome_fantasia ? \"'\" + $json.nome_fantasia.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.porte_empresa ?? 'NULL' }},\n    {{ true }},\n    {{ $json.data_inicio_atividades ? \"'\" + $json.data_inicio_atividades + \"'\" : \"NULL\" }},\n    {{ $json.situacao_cadastral ? \"'\" + $json.situacao_cadastral + \"'\" : \"NULL\" }},\n    {{ $json.natureza_juridica ? \"'\" + $json.natureza_juridica.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.matriz_filial === '1' }},\n    {{ $json.cnae_fiscal ? \"'\" + $json.cnae_fiscal + \"'\" : \"NULL\" }},\n    {{ $json.data_situacao_cadastral ? \"'\" + $json.data_situacao_cadastral + \"'\" : \"NULL\" }},\n    {{ $('When Executed by Another Workflow').item.json.projeto_id }},\n    '{{ $('When Executed by Another Workflow').item.json.usuario_id}}'\n)\nON CONFLICT (usuario_id, cnpj) DO UPDATE SET\n    razao_social = EXCLUDED.razao_social,\n    nome_fantasia = EXCLUDED.nome_fantasia,\n    porte_id = EXCLUDED.porte_id,\n    data_fundacao = EXCLUDED.data_fundacao,\n    situacao_cadastral = EXCLUDED.situacao_cadastral,\n    natureza_juridica_descricao = EXCLUDED.natureza_juridica_descricao,\n    matriz = EXCLUDED.matriz,\n    ramo = EXCLUDED.ramo,\n    ultima_atualizacao_pj = EXCLUDED.ultima_atualizacao_pj,\n    projeto_id = EXCLUDED.projeto_id,\n    usuario_id = EXCLUDED.usuario_id;\n","options":{"replaceEmptyStrings":false}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-400,-100],"id":"521f5a2c-d9b5-41e4-95f2-508ee2cb4531","name":"Adiciona Empresa1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.relacionamentos (\n    entidade_origem_id,\n    tipo_origem_id,\n    entidade_destino_id,\n    tipo_destino_id,\n    tipo_relacao_id,\n    usuario_id\n)\nVALUES ({{ $('ID\\'s empresas').first().json.empresa_id }}, 3, {{ $('ID\\'s socios').item.json.pessoa_id }}, 1, 25, '{{ $('When Executed by Another Workflow').item.json.usuario_id }}')\nON CONFLICT (entidade_origem_id, tipo_origem_id, entidade_destino_id, tipo_destino_id, tipo_relacao_id, usuario_id)\nDO NOTHING;","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1180,120],"id":"f6d327df-7b1d-4a6f-921b-e11fbee5fe7a","name":"relacionamento_stakeholder_socio","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM plataforma_stakeholders.pessoa\nWHERE UPPER(firstname) = UPPER('AILTON')\n  AND UPPER(lastname) = UPPER('FERREIRA DE ALMEIDA')\n  AND SUBSTRING(cpf FROM 4 FOR 6) = SUBSTRING('{{ $json.cnpj_cpf_socio }}' FROM 4 FOR 6)\n  AND usuario_id = '{{ $('When Executed by Another Workflow').item.json.usuario_id }}';","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,100],"id":"bf285128-f468-4dfd-bcdb-dc94717a0722","name":"ID's socios","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"cnpj","value":"={{ $('CNPJ-basico').item.json.cnpj }}"},{"column":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,280],"id":"eef64249-8a4a-4d8f-b085-d04c301d6785","name":"ID's empresas","executeOnce":true,"credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.pessoa (firstname, lastname, cpf, usuario_id)\nSELECT\n  '{{ $json.nome_socio.split(' ')[0] }}',\n  '{{ $json.nome_socio.split(' ').slice(1).join(' ') }}',\n  '{{ $json.cnpj_cpf_socio }}',\n  '{{ $('When Executed by Another Workflow').item.json.usuario_id }}'\nWHERE NOT EXISTS (\n  SELECT 1\n  FROM plataforma_stakeholders.pessoa\n  WHERE UPPER(firstname) = UPPER('{{ $json.nome_socio.split(' ')[0] }}')\n    AND UPPER(lastname) = UPPER('{{ $json.nome_socio.split(' ').slice(1).join(' ') }}')\n    AND SUBSTRING(cpf FROM 4 FOR 6) = SUBSTRING('{{ $json.cnpj_cpf_socio }}' FROM 4 FOR 6)\n    AND usuario_id = '{{ $('When Executed by Another Workflow').item.json.usuario_id }}'\n)\nON CONFLICT DO NOTHING;\n","options":{"queryBatching":"independently"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[300,-40],"id":"2005c75e-282c-4ae3-8a30-86e9cf222901","name":"Adiciona Sócios","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[500,100],"id":"53c69122-485e-4760-bff7-696edb48bf6b","name":"Merge2"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[920,120],"id":"7433f014-e15b-4ce8-bd71-669bfadc9a93","name":"Merge3"}],"connections":{"CNPJ-basico":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Dados empresa","type":"main","index":0},{"node":"Dados empresa 2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Sócios","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Adiciona Empresa1","type":"main","index":0}]]},"Dados empresa":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Dados empresa 2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"When Executed by Another Workflow":{"main":[[{"node":"CNPJ-basico","type":"main","index":0}]]},"Adiciona Empresa1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Sócios":{"main":[[{"node":"Adiciona Sócios","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"ID's socios":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"ID's empresas":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Adiciona Sócios":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"ID's socios","type":"main","index":0},{"node":"ID's empresas","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"relacionamento_stakeholder_socio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"cnpj":"24310270000167","razao_social":"QUALINOX MONTAGEM E MANUTENCAO INDUSTRIAL LTDA","nome_fantasia":null,"porte_id":5,"segmento_id":null,"empresa_id":14215,"linkedin":null,"instagram":null,"stakeholder":true,"em_prospecao":false,"data_fundacao":"20160303","situacao_cadastral":"02","quantidade_funcionarios":null,"codigo_natureza_juridica":null,"natureza_juridica_descricao":"2062","faixa_funcionarios":null,"faixa_faturamento":null,"matriz":true,"orgao_publico":null,"ramo":"3319800","tipo_empresa":null,"ultima_atualizacao_pj":"20160303","natureza_juridica_tipo":null,"projeto_id":8,"usuario_id":"bd3106d0-cb56-40ff-a31a-d55f1e2b2ecf"}}]},"versionId":"82881a83-bbfb-4e2b-94aa-28dcaa872782","triggerCount":0,"tags":[]}