fluxo-principal-AGgjWQSv9xXaHmlC.json
{"createdAt":"2025-05-30T11:43:33.160Z","updatedAt":"2025-06-02T12:13:30.000Z","id":"AGgjWQSv9xXaHmlC","name":"Fluxo Principal","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"L1gHP1JtH7h2kOet","mode":"list","cachedResultName":"Busca Empresa"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1420,620],"id":"b564574b-eefa-466c-a62d-271de2136f8c","name":"Busca Empresa","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"5Ovv7hGGwkocUTih","mode":"list","cachedResultName":"Busca stakeholder"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1200,500],"id":"dfcb4a60-f4b0-48ef-aa7d-43427dac7d93","name":"Busca no Stakeholder","alwaysOutputData":false},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1860,500],"id":"94ca8297-b6ba-4bce-a2bd-081f3708884f","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"02e83f9d-874c-484e-861f-5f67f780da1c","name":"output.Empresa_id","value":"={{ $json.empresa_id }} ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1420,400],"id":"28dff2ac-6cb6-4858-9571-313527e2eeef","name":"ID_stakeholder"},{"parameters":{"workflowId":{"__rl":true,"value":"T3lYCCyN2ZMl3pS3","mode":"list","cachedResultName":"Relacionados Stakeholder"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2080,400],"id":"cf0b0c0f-48b6-4250-9659-b6afbed44d6b","name":"Relacionados Socios","alwaysOutputData":false,"retryOnFail":false,"maxTries":2},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"empresa_id","value":"={{ $json.body.entity_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2080,600],"id":"41f62472-d208-4cbc-9c19-f0c80ae38b47","name":"Postgres","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"141470b1-1a14-42e4-a203-b2f0f5797dfa","leftValue":"={{ $json.instagram }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1640,500],"id":"235a86f2-479b-4f9f-9415-49b9cded97f7","name":"If"}],"connections":{"Busca Empresa":{"main":[[{"node":"Busca no Stakeholder","type":"main","index":0}]]},"Busca no Stakeholder":{"main":[[]]},"Merge2":{"main":[[{"node":"If","type":"main","index":0}]]},"ID_stakeholder":{"main":[[{"node":"Merge3","type":"main","index":1},{"node":"Busca no Stakeholder","type":"main","index":0}]]},"Relacionados Socios":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"If":{"main":[[{"node":"ID_stakeholder","type":"main","index":0}],[{"node":"Busca Empresa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2d74735-2177-493d-99e4-50ef5964cb01","triggerCount":1,"tags":[]}