fluxo-HH0qMT318TFWeQ6Q.json
{"createdAt":"2025-06-01T20:07:22.442Z","updatedAt":"2025-06-12T13:38:04.000Z","id":"HH0qMT318TFWeQ6Q","name":"Fluxo","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"xU627eVfwOD6GKar","mode":"list","cachedResultName":"Instagram empresa"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[340,100],"id":"9e9caef4-adec-45ee-aa2f-737607688727","name":"Busca Empresa","alwaysOutputData":true},{"parameters":{"httpMethod":"POST","path":"5f197baf-5baf-4a73-a30d-38917164643a","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-360,-60],"id":"dadf27de-b570-42f5-99fd-e37abdad358a","name":"Webhook","webhookId":"5f197baf-5baf-4a73-a30d-38917164643a"},{"parameters":{"workflowId":{"__rl":true,"value":"5Ovv7hGGwkocUTih","mode":"list","cachedResultName":"Busca stakeholder"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1720,-60],"id":"61ad0c7a-5435-4aaa-89ea-308b655a9b39","name":"Busca no Stakeholder","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"02e83f9d-874c-484e-861f-5f67f780da1c","name":"output.Empresa_id","value":"={{ $json.empresa_id }} ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,-160],"id":"66fc0a11-135d-45b1-bb62-54b848b9a83b","name":"ID_stakeholder"},{"parameters":{"workflowId":{"__rl":true,"value":"T3lYCCyN2ZMl3pS3","mode":"list","cachedResultName":"Relacionados Stakeholder"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[700,-40],"id":"56696e7e-9465-4372-b12c-270115a51d1b","name":"Relacionados Socios","alwaysOutputData":false,"retryOnFail":false,"maxTries":2},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"empresa_id","value":"={{ $json.body.entity_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-140,-60],"id":"c44557be-73c1-403c-8f7a-bc01a6a2b63b","name":"Postgres","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"141470b1-1a14-42e4-a203-b2f0f5797dfa","leftValue":"={{ $json.instagram }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[60,-60],"id":"ac37d81f-f305-4443-b5a6-89b16f676bee","name":"If"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1380,-60],"id":"3c012ae2-6ac5-40c7-8c3e-68f884cbd73d","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"4468cb28-3632-42c4-8c0c-7b16811aef0c","name":"body.entity_id","value":"={{ $('Postgres').first().json.empresa_id}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,-160],"id":"87a56ab5-90c6-4ae6-a023-56e4884330aa","name":"Passa ID pro node","executeOnce":true}],"connections":{"Busca Empresa":{"main":[[{"node":"Relacionados Socios","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Busca no Stakeholder":{"main":[[]]},"ID_stakeholder":{"main":[[{"node":"Relacionados Socios","type":"main","index":0}]]},"Relacionados Socios":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Passa ID pro node","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"ID_stakeholder","type":"main","index":0}],[{"node":"Busca Empresa","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Busca no Stakeholder","type":"main","index":0}]]},"Passa ID pro node":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-automacao-production.up.railway.app","user-agent":"python-httpx/0.27.2","content-length":"21","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/json","x-forwarded-for":"162.220.234.37","x-forwarded-host":"n8n-automacao-production.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4","x-railway-request-id":"gfQK7MjMTRKyZb9zO8K9hQ","x-real-ip":"162.220.234.37","x-request-start":"1749581885073"},"params":{},"query":{},"body":{"entity_id":"4052"},"webhookUrl":"https://n8n-automacao-production.up.railway.app/webhook/5f197baf-5baf-4a73-a30d-38917164643a","executionMode":"production"}}]},"versionId":"fe2cfd23-74b0-4db8-aa14-451755c08c5c","triggerCount":1,"tags":[]}