instagram-empresa-v2---em-desev-Giv6rWZ73Vs3BqmE.json
{"createdAt":"2025-06-10T16:51:52.154Z","updatedAt":"2025-08-13T16:10:41.000Z","id":"Giv6rWZ73Vs3BqmE","name":"Instagram empresa v2 - em desev","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1640,2620],"id":"fa690eee-e42a-4da6-83f4-8882c971d8f1","name":"When Executed by Another Workflow"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"enderecos","mode":"list","cachedResultName":"enderecos"},"where":{"values":[{"column":"entidade_id","value":"={{ $json.empresa_id }}"},{"column":"usuario_id","value":"={{ $json.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-380,2480],"id":"02a1e806-2034-4a28-984d-27a167c5df26","name":"Postgres_endereco2","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-180,2580],"id":"4ef6aa1b-25d4-4a50-8eb4-29c7035866c9","name":"Merge3"},{"parameters":{"fieldToSplitOut":"users","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5980,2120],"id":"8e07343e-8e99-4f8e-abd8-74232ae80598","name":"Split Out2"},{"parameters":{"url":"https://api.hikerapi.com/v2/user/by/username","sendQuery":true,"queryParameters":{"parameters":[{"name":"username","value":"={{ $json.username }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{"batching":{"batch":{"batchSize":20}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6420,2220],"id":"38f2ebf2-0757-426a-8c15-7c72426968ae","name":"Busca por username2"},{"parameters":{"assignments":{"assignments":[{"id":"049da52e-2017-4839-9ea2-d755263171de","name":"user.full_name","value":"={{ $json.user.full_name }}","type":"string"},{"id":"36073858-710b-46dd-abc9-df9fe3908cc0","name":"user.username","value":"={{ $json.user.username }}","type":"string"},{"id":"c7ebb4bc-2e56-467d-ae39-dbfee12eb603","name":"user.biography","value":"={{ $json.user.biography }}","type":"string"},{"id":"cdd04b41-dc0d-44ec-b525-3d6f03c0a3ec","name":"user.is_private","value":"={{ $json.user.is_private }}","type":"boolean"},{"id":"4ac76d3d-0efb-44d9-a8e0-dbb02bc8744b","name":"user.bio_links[0].url","value":"={{ $json.user.bio_links[0].url }}","type":"string"},{"id":"eddd3295-c878-4e14-bead-11300ac67877","name":"user.is_business","value":"={{ $json.user.is_business }}","type":"boolean"},{"id":"53933e71-77dd-43ff-946b-54af0f908bae","name":"user.following_count","value":"={{ $json.user.following_count }}","type":"number"},{"id":"28beee4d-1cdd-413c-8344-1e46b359ee41","name":"user.follower_count","value":"={{ $json.user.follower_count }}","type":"number"},{"id":"6f89d6f5-b289-49db-9baf-73915143f0d7","name":"user.category","value":"={{ $json.user.category }}","type":"string"},{"id":"194257e0-bd74-4d8d-8be3-d26e4ae4808d","name":"user.address_street","value":"={{ $json.user.address_street }}","type":"string"},{"id":"27ae1966-7f0b-4dc0-abaf-3835f57a3dfb","name":"user.city_name","value":"={{ $json.user.city_name }}","type":"string"},{"id":"3dc5fbf5-c8f9-4f32-84d3-a5ffdd78ad43","name":"user.contact_phone_number","value":"={{ $json.user.contact_phone_number }}","type":"string"},{"id":"f86c7992-4f60-42f9-a504-382937aa3bf3","name":"user.zip","value":"={{ $json.user.zip }}","type":"string"},{"id":"7283609f-efb2-4b8c-9883-9d3380272bb6","name":"user.public_email","value":"={{ $json.user.public_email }}","type":"string"},{"id":"c4f36c57-02e9-419c-bacf-35288083cebe","name":"user.page_name","value":"={{ $json.user.page_name }}","type":"string"},{"id":"6a1b94ff-88a5-432c-99b9-d151b871b49c","name":"user.id","value":"={{ $json.user.id }}","type":"string"},{"id":"02dfe945-75b2-4436-b8f3-1f8e8f96c3b7","name":"user.following_count","value":"={{ $json.user.following_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6980,2120],"id":"c1981eaa-2f82-4123-8ff4-103f53061c2c","name":"Especificações de cada instagram2"},{"parameters":{"jsCode":"return [\n  {\n    json: { \n      perfis_instagram: $input.all().map(i => JSON.stringify(i.json.user, null, 2))\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7200,2120],"id":"0fb4c134-c196-4ff0-8363-eb28d9ae191d","name":"Code2"},{"parameters":{"jsonSchemaExample":"{\n  \"conta_instagram\": \"string\",\n  \"nome_perfil\": \"string\",\n  \"id_instagram\": \"integer\",\n  \"justificativa\": \"string\",\n  \"Empresa_id\": \"integer\",\n  \"user_following_count\": \"integer\",\n  \"perfil_validado\": \"boolean\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[8680,2840],"id":"82f10087-86c5-41a4-aad0-d6ec3d72cd3b","name":"Structured Output Parser2"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5500,2080],"id":"b732da5d-bded-4d04-9fd8-c4a9d8a71c83","name":"Merge5"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[7440,2600],"id":"fe7b89c4-5708-428a-8d3b-4a6760eb7673","name":"Merge perfis e target1","alwaysOutputData":true},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[8380,2840],"id":"78328126-5d3f-4c1e-a583-9415869ebfc1","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"query_1\": \"Nome para buscar\",\n    \"query_2\": \"Nome para buscar\",\n    \"query_3\": \"Nome para buscar\",\n    \"query_4\": \"Nome para buscar\",\n    \"query_5\": \"Nome para buscar\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[5000,2340],"id":"017c7dc6-dbc6-4ba9-a041-e0efd893f840","name":"Structured Output Parser7"},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_1 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5220,1720],"id":"4d79ac83-6b86-4f9a-8470-13c55fc0e777","name":"Busca com Razao Social","executeOnce":true,"retryOnFail":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_2 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5220,1920],"id":"b045dbf4-1d20-4d51-9e0b-3c5243d412ad","name":"Busca Nome Fantasia","executeOnce":true,"retryOnFail":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_3 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5220,2120],"id":"26625594-dc8c-4d60-94ca-5b051b49ced6","name":"Busca Variação Grupo","executeOnce":true,"retryOnFail":true},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4880,2340],"id":"fc53ba35-c6ae-4c76-b33b-3df0284ce6c2","name":"Google Gemini Chat Model5","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"limit":10,"where":{"values":[{"column":"empresa_id","value":"={{ $json.body.node_id }}"},{"column":"usuario_id","value":"={{ $json.body.properties.usuario_id}}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-600,2600],"id":"999d9f8e-0830-4f41-83c1-112f94a5e7c8","name":"Postgres_empresa2","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_4 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5220,2320],"id":"7ea452d4-5731-4960-a405-9f11fd0078ff","name":"Busca Variação Grupo2","executeOnce":true,"retryOnFail":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_5 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5220,2520],"id":"0b5b796f-4a6e-40ef-b1bc-bd73b6ecd9b0","name":"Busca Variação Grupo3","executeOnce":true,"retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6e0f015b-5a9d-413b-9c96-d7b54e45464a","name":"entidade_id","value":"={{ $json.entidade_id }}","type":"number"},{"id":"27bf7dee-852a-491d-81c3-e6d85565fab9","name":"nome_fantasia","value":"={{ $json.nome_fantasia }}","type":"string"},{"id":"5966fd6e-2e80-43fe-aba1-9918454613a1","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"e99cbb77-2988-427f-bae6-ccbd3cedb932","name":"uf","value":"={{ $json.uf }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,2580],"id":"43dfc65e-4b64-4e1c-9166-838350abcca8","name":"Edit Fields15"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.razao_social }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,2700],"id":"a4f6e55f-8a30-4942-8ef8-61ff6084020c","name":"HTTP Request1","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"2eb1014d-2a4f-4fb0-8882-2dd3fb33ac1a","name":"data","value":"={{ $json.organic }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,2700],"id":"4cf97d17-efab-4762-aa65-a13cfdfb2c4b","name":"Edit Fields16"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[740,2600],"id":"53ef8e5d-e84c-4d55-9366-9635dcc810a4","name":"Merge12"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1340,2620],"id":"dd4ec57b-c440-4d9d-a6f3-63d7e3b66193","name":"Merge13"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"41e6c94e-ffa6-4367-a21d-007867c2b030"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f1b15d1-c2eb-4b5f-a921-63bae2dfa299","leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1760,2640],"id":"e6421c2a-ad14-4992-882b-95bd18c41627","name":"Switch2"},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,3000],"id":"e44ca183-0f9c-4b18-aa24-e27500079e7a","name":"HTTP Request10","retryOnFail":false,"maxTries":2,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"include":"except","excludeFields":"data","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,2640],"id":"4571cb1c-f347-46a1-9b56-cb779461474e","name":"Edit Fields19"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2400,3000],"id":"7a46ca64-85b4-425a-8115-86b429a765d3","name":"Merge14"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"include":"except","excludeFields":"data, finishedItemId","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2620,3000],"id":"315aa937-ce61-4180-8d2a-a0b5b4fa1314","name":"Edit Fields21"},{"parameters":{"promptType":"define","text":"=Razao Social:  {{ $json.razao_social }}\nNome Fantasia: {{ $json.nome_fantasia }}\nBusca Internet: {{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Especialista em Localizar Sites Oficiais de Empresas\n\n## Objetivo\nVocê é um agente especializado em localizar **o site oficial de uma empresa brasileira**, com base em dados cadastrais e resultados de busca. Seu papel é garantir que o site identificado seja **efetivamente controlado pela empresa**, mesmo que o nome da empresa apareça com pequenas variações.\n\n## Informações de entrada\nVocê receberá:\n\n- Nome Fantasia  \n- Razão Social  \n- CNPJ (quando disponível)  \n- Segmento de atuação  \n- CNAE  \n- Cidade  \n- Estado  \n- CEP  \n\n## Estratégia de Busca e Verificação\n\n1. **Busque domínios corporativos próprios**, incluindo sufixos como:  \n   `.com.br`, `.com`, `.net.br`, `.eng.br`, `.ind.br`, `.wixsite.com` (com validação reforçada).\n\n2. **Aceite variações no nome da empresa no domínio**, desde que:\n   - O nome esteja parcialmente presente no domínio (ex: `rubiengenharia.com.br` para \"Rubi Engenharia\").\n   - O conteúdo do site comprove a identidade por outros meios (ver abaixo).\n\n3. **Valide a identidade com base em ao menos duas das evidências abaixo**:\n   - Nome da empresa (ou variação) na seção \"Sobre\", \"Contato\" ou rodapé do site;\n   - Endereço compatível com a cidade ou estado fornecidos;\n   - Presença de CNPJ ou razão social completa no site;\n   - Perfis oficiais da empresa (Instagram, LinkedIn, etc.) apontando diretamente para o domínio;\n   - Serviços, clientes ou projetos listados que confirmam o segmento informado.\n\n4. **Sites em plataformas como Wix ou WordPress** são aceitáveis **se o conteúdo comprovar a identidade institucional** com base nas evidências acima.\n\n5. Se houver **múltiplos sites candidatos**, selecione o que possuir mais evidências cruzadas de vínculo com a empresa.\n\n## Exclusões Obrigatórias\n\nRejeite os seguintes tipos de páginas, mesmo se mencionarem a empresa:\n\n- Diretórios empresariais (ex: CNPJ.biz, Econodata, TeleListas, Apontador)\n- Sites de marketplaces (ex: OLX, Mercado Livre, Shopee)\n- Sites de releases, notícias ou matérias jornalísticas\n- Blogs ou páginas pessoais que apenas mencionem a empresa\n- Páginas com nomes semelhantes, mas sem qualquer evidência de vínculo com os dados fornecidos\n\n## Exemplos para calibração\n\n**Aceite:**\n- `https://www.brzfire.com.br` → domínio combina com nome fantasia, e-mail institucional aparece no rodapé.\n- `http://www.rubiengenharia.com.br` → nome parcialmente compatível, site descreve serviços de engenharia e localização compatível.\n- `https://ethicusscs.wixsite.com/refrigeracao` → site Wix, mas com nome da empresa, segmento e contato institucional válidos.\n\n**Rejeite:**\n- `https://cnpj.biz/empresa-nome` → diretório empresarial sem vínculo institucional.\n- `https://shopee.com/empresa-xyz` → perfil em marketplace, não institucional.\n\n## Formato de Resposta\n\nSe o site for considerado oficial:\n```json\n{\n  \"site\": \"https://www.nomedasuaempresa.com.br\",\n  \"justificativa\": \"O domínio contém o nome fantasia e o site descreve os serviços, endereço e e-mail institucional compatíveis com os dados fornecidos.\"\n}\n```\n\nSe nenhum site for confiável:\n```json\n{\n  \"site\": \"nao_encontrado\",\n  \"justificativa\": \"Nenhum dos sites encontrados possui evidência suficiente de pertencimento à empresa. Todos são diretórios, domínios genéricos ou menções indiretas.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[960,2840],"id":"1661d341-cb53-4b5e-95d6-d4c83611e4ea","name":"Agent Find Company Website","retryOnFail":false,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{\n\t\"link_instagram\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2960,3220],"id":"03c8545f-7335-4c46-8a4a-b825ffe90e3e","name":"Structured Output Parser4"},{"parameters":{"promptType":"define","text":"=Links_scrape_origem:{{ $json.links }}","hasOutputParser":true,"options":{"systemMessage":"{\n  \"problema\":\"Identificar a conta de instagram de uma empresa, tendo acesso a todos os links contidos em seu site.\",\n\n  \"input\":\"Lista de links contidas. em Links_scrape_origem\",\n\n  \"output\":\"\n   JSON \n  {\n\t\"link_instagram\": \"string\"\n  }\",\n\n  \"formato_output\":\"Somente o usuario do instagram, exemplo: https://www.instagram.com/ferragistaabc, deve informar somente ferragistaabc. Caso não encontro o instagram retornar nao_encontrado.\"\n\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2820,3000],"id":"20929890-f77f-4630-b1df-9af71ef7ddbb","name":"Agent Find Client Page","retryOnFail":true,"maxTries":3,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2840,3220],"id":"8df8bfdf-90f1-4394-9a71-fa9681920104","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"site\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1120,3060],"id":"5bcd2975-739e-4fb3-8cdd-17c50c669e0c","name":"Structured Output Parser1"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1000,3060],"id":"ae11d6d3-63db-417d-963c-8f939a646ea2","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.link_instagram }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"41e6c94e-ffa6-4367-a21d-007867c2b030"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f1b15d1-c2eb-4b5f-a921-63bae2dfa299","leftValue":"={{ $json.output.link_instagram }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3480,3280],"id":"d50722a2-934a-4398-b35c-ed95c0227ef5","name":"Switch"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3180,2680],"id":"10b9a87c-bc7e-4e7f-83f6-d87c20da3dd2","name":"Merge2"},{"parameters":{"includeOtherFields":true,"include":"except","excludeFields":"output","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3800,2280],"id":"b7a08575-35d8-45d2-a284-785101675ce3","name":"Edit Fields2"},{"parameters":{"includeOtherFields":true,"include":"except","excludeFields":"output","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3820,2640],"id":"ad097d2b-0d7e-40b3-9951-fbd64ca34e75","name":"Edit Fields3"},{"parameters":{"includeOtherFields":true,"include":"except","excludeFields":"output","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4000,2900],"id":"c6be4122-f9c2-43ff-98c2-2e98a723f525","name":"Edit Fields1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":false}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1960,3000],"id":"e1c23b49-6803-4f0c-8882-4650cc764ba4","name":"HTML Find Hrefs","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Razão social: {{ $json.razao_social }}\nNome fantasia: {{ $json.nome_fantasia }}","hasOutputParser":true,"options":{"systemMessage":"Objetivo do agente: Gerar 5 variações de nomes baseadas na razão social e no nome fantasia (quando disponível), com o objetivo de serem usadas como termos de busca para encontrar perfis no Instagram pelo nome exibido no perfil (e não pelo username). As variações devem cobrir camadas de abrangência, desde a mais direta até as mais amplas e descritivas.\n\nEntrada esperada:\nrazao_social: {{ $json.razao_social }}\nnome_fantasia: {{ $json.nome_fantasia }}\n(Opcional, se disponível): localizacao: {{ $json.localizacao }}\n\nSaída esperada (json):\n{\n   \"query_1\": \"string\",\n   \"query_2\": \"string\",\n   \"query_3\": \"string\",\n   \"query_4\": \"string\",\n   \"query_5\": \"string\"\n}\n\nInstruções para o agente:\n1.  **Prioridade do Nome:**\n    * Utilize preferencialmente o campo `nome_fantasia`.\n    * Caso `nome_fantasia` não esteja presente ou esteja vazio, utilize apenas a `razao_social`.\n    * Crie uma versão \"base\" do nome, removendo termos jurídicos.\n\n2.  **Limpeza de Termos Jurídicos e Inúteis:**\n    * Remova da versão base do nome palavras jurídicas e termos genéricos de empresa que raramente aparecem em nomes de perfil do Instagram.\n    * **Lista de termos a remover (exemplos):** \"LTDA\", \"ME\", \"EIRELI\", \"S/A\", \"LIMITADA\", \"E COMERCIO\", \"COMERCIO\", \"SERVICOS\", \"IMPORTACAO E EXPORTACAO\", \"DISTRIBUIDORA\", \"INDUSTRIA\", \"UNIPESSOAL\", \"SA\", \"MEI\", \"EPP\", \"LTDA EPP\", \"LTDA ME\", \"S.A.\", \"SOCIEDADE ANONIMA\", \"SOCIEDADE LIMITADA\", \"IND E COM\", \"COM E IND\", \"COMERCIO E SERVICOS\", \"SERVICOS E COMERCIO\", \"AGENCIA\", \"CONSULTORIA\", \"SOLUCOES\", \"TECNOLOGIA\", \"DESENVOLVIMENTO\", \"GESTAO\", \"PRODUCAO\", \"DISTRIBUICAO\", \"REPRESENTACAO\", \"ASSESSORIA\", \"ESTUDIO\", \"SHOP\", \"STORE\", \"CLINICA\", \"CENTRO\", \"LABORATORIO\", \"GRUPO\", \"OFICIAL\", \"BRASIL\".\n    * Mantenha termos que descrevem a natureza do negócio (ex: \"Engenharia\", \"Clínica\", \"Boutique\") se eles forem parte integrante do nome fantasia e não termos jurídicos ou descritivos genéricos.\n\n3.  **Geração de Queries com Camadas de Abrangência:**\n\n    * **Query 1 (Mais Restritiva/Direta):**\n        * Gere a versão mais direta e natural do nome (priorizando o `nome_fantasia` limpo). Deve ser a forma mais provável que a empresa usaria como nome de exibição principal no Instagram.\n        * **Exemplos:** \"A1 Engenharia\", \"Delícias Naturais\"\n\n    * **Query 2 (Média Abrangência - Modificador Comum):**\n        * Pegue a versão base do nome e adicione um dos modificadores comerciais comuns que se encaixe semanticamente.\n        * **Modificadores comuns para incluir (se fizer sentido):** \"Oficial\", \"Brasil\", \"Grupo\", \"HQ\", \"Co\", \"Team\". Escolha o mais relevante ou comum.\n        * **Exemplos:** \"A1 Engenharia Oficial\", \"Grupo Delícias Naturais\", \"A1 Engenharia Brasil\"\n\n    * *Query 3 (Núcleo da Marca + Descritivo Principal):\nObjetivo: Gerar uma query concisa que combine o nome distintivo da marca com uma palavra-chave que descreva claramente sua principal área de atuação. Esta query visa ser direta e altamente reconhecível em perfis de Instagram.\n\nLógica:\n\nParta do nome base já limpo de termos jurídicos (ex: \"Marimar Veiculos Especiais\").\nIdentifique o núcleo da marca (geralmente a primeira palavra ou o nome próprio da empresa - ex: \"Marimar\").\nIdentifique a principal palavra descritiva do negócio (aquela que indica o que a empresa faz de forma mais comum, mesmo que seja parte de um termo mais longo - ex: \"Veículos\" de \"Veículos Especiais\"; \"Engenharia\" de \"A1 Engenharia\").\nCombine o núcleo da marca com essa palavra descritiva.\nRemova adjetivos ou termos secundários que possam tornar a query menos direta, priorizando a combinação essencial.\nExemplos:\n\nPara \"MAIS COMERCIAL E ADAPTADORA DE VEICULOS ESPECIAIS LTDA\" e nome_fantasia: \"MARIMAR VEICULOS ESPECIAIS\": \"Marimar Veiculos\"\nJustificativa: \"Marimar\" é o núcleo, \"Veículos\" é o descritivo principal. \"Especiais\" é um adjetivo que pode ser omitido para uma query mais direta sem perder o sentido.\nPara \"A1 Engenharia\": \"A1 Engenharia\" (já é a forma ideal, pois \"A1\" é o núcleo e \"Engenharia\" é o descritivo).\nPara \"Delícias Naturais do Brasil\": \"Delícias Naturais\" (núcleo \"Delícias\", descritivo \"Naturais\").\nPara \"ARTE E CONFEITARIA DOCE LAR S.A.\" e nome_fantasia: \"Doce Lar Confeitaria\": \"Doce Lar Confeitaria\" (já é a forma ideal).\n    * **Query 4 (Média/Alta Abrangência - Termo Descritivo de Setor):**\n        * Analise o nome base para **inferir o setor** de atuação da empresa (ex: Engenharia, Alimentos, Varejo, Consultoria, Imóveis, Odontologia, Moda, Tecnologia).\n        * Combine a versão base do nome (ou uma simplificação dela) com um **termo descritivo comum** para esse setor ou para a natureza do negócio.\n        * **Exemplos de termos descritivos de setor:** \"Engenharia\", \"Alimentos\", \"Loja\", \"Studio\", \"Clínica\", \"Consultoria\", \"Imóveis\", \"Odontologia\", \"Moda\", \"Tech\", \"Soluções\", \"Serviços\", \"Produções\".\n        * **Exemplos:** \"A1 Engenharia Soluções\", \"Delícias Naturais Alimentos\", \"Casa de Bolos Confeitaria\"\n\n    * **Query 5 (Ampla Abrangência - Variação Opcional de Localização ou Mais Genérica):**\n        * Se a `localizacao` for fornecida ou claramente inferível (e.g., \"Brasil\" no nome), combine o nome base (ou uma versão simplificada) com esse termo de localização, se ainda não usado.\n        * Alternativamente, se nenhuma localização clara ou setor adicional for evidente, crie uma variação que possa ser um nome alternativo comum ou uma combinação mais genérica, mas ainda coerente, que um usuário poderia tentar. Pode ser uma forma mais genérica do nome principal.\n        * **Exemplos:**\n            * Com localização: \"A1 Engenharia São Paulo\" (se 'São Paulo' for inferível ou dado)\n            * Genérica: \"Grupo A1 Engenharia\" (se 'Grupo A1' já não for a Q2) ou \"A1 Construtora\" (se for inferível)\n            * Para \"Delícias Naturais do Brasil\": \"Delícias Naturais Brasil\" (se não for Q2) ou \"Delícias Naturais Alimentos\"\n\n4.  **Aparência Realista e Comercial:** Os nomes gerados devem parecer realistas e comerciais, como se fossem apresentados ao público no perfil da empresa.\n5.  **Restrições:** Não use \"@\" no início das queries. Não invente nomes completamente fora do que pode ser inferido a partir das informações fornecidas. Mantenha as queries em português.\n\n---\n\n## Exemplos Revisitados\n\n**Exemplo 1: com nome fantasia**\nEntrada:\n```json\n{\n  \"razao_social\": \"A1 ENGENHARIA LTDA\",\n  \"nome_fantasia\": \"A1 Engenharia\"\n}\nResposta esperada:\n\nJSON\n\n{\n  \"query_1\": \"A1 Engenharia\",\n  \"query_2\": \"A1 Engenharia Oficial\",\n  \"query_3\": \"Engenharia A1\",\n  \"query_4\": \"A1 Engenharia Soluções\",\n  \"query_5\": \"Grupo A1 Engenharia\"\n}\nExemplo 2: sem nome fantasia (nome composto)\nEntrada:\n\nJSON\n\n{\n  \"razao_social\": \"DELÍCIAS NATURAIS DO BRASIL LTDA\",\n  \"nome_fantasia\": \"\"\n}\nResposta esperada:\n\nJSON\n\n{\n  \"query_1\": \"Delícias Naturais Brasil\",\n  \"query_2\": \"Delícias Naturais Oficial\",\n  \"query_3\": \"Naturais Delícias\",\n  \"query_4\": \"Delícias Naturais Alimentos\",\n  \"query_5\": \"Grupo Delícias Naturais\"\n}\nExemplo 3: Novo Exemplo (Nome Composto e Setor Implícito)\nEntrada:\n\nJSON\n\n{\n  \"razao_social\": \"ARTE E CONFEITARIA DOCE LAR S.A.\",\n  \"nome_fantasia\": \"Doce Lar Confeitaria\"\n}\nResposta esperada:\n\nJSON\n\n{\n  \"query_1\": \"Doce Lar Confeitaria\",\n  \"query_2\": \"Doce Lar Oficial\",\n  \"query_3\": \"Confeitaria Doce Lar\",\n  \"query_4\": \"Doce Lar Doces\",\n  \"query_5\": \"Arte Confeitaria Doce Lar\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4840,2120],"id":"c9c3c1f6-4f98-4919-8e3c-06b3a9a13da6","name":"AI Agent Generate Query"},{"parameters":{"promptType":"define","text":"=Dados da empresa:\nNome Fantasia: {{ $('Merge perfis e target1').item.json.nome_fantasia }}\nRazao Social:{{ $('Merge perfis e target1').item.json.razao_social }}\nCNAE: {{ $('Postgres_empresa2').item.json.ramo }}\nCIDADE: {{ $('Merge perfis e target1').item.json.cidade }}\nESTADO: {{ $('Merge perfis e target1').item.json.uf }}\nEmpresa_id: {{ $('Merge perfis e target1').item.json.empresa_id }}\n\nDados dos perfis:{{ $('Merge perfis e target1').item.json.perfis_instagram }}","hasOutputParser":true,"options":{"systemMessage":"=🧠 System Prompt — Agente Verificador de Instagram (Modo Seleção Única)\nVocê é um agente inteligente responsável por identificar o perfil de Instagram mais provável de pertencer a uma empresa, dentre uma lista de perfis candidatos.\n\n🎯 Objetivo:\nDada a ficha de uma empresa (nome fantasia, razão social, CNAE, cidade, etc.) e uma lista de perfis do Instagram, selecione apenas o perfil mais compatível com base nos dados fornecidos. Se nenhum perfil tiver correspondência suficiente, declare explicitamente que nenhum perfil é confiável o bastante para ser selecionado.\n\n✅ Critérios de Compatibilidade:\nA avaliação deve seguir uma ordem rigorosa. Primeiro, aplique os critérios exclusivos. Apenas os perfis que passarem por essa fase devem ser avaliados pelos critérios qualificatórios.\nCritérios Exclusivos (Eliminatórios):\nSe um perfil falhar em qualquer um destes critérios, ele deve ser imediatamente desconsiderado.\n1. Semelhança de Nome (Obrigatório):\n    * O username, full_name ou page_name do perfil deve conter a raiz ou o termo principal do nome_fantasia da empresa. A raiz é o nome da marca, desconsiderando termos genéricos como \"ltda\", \"loja\", \"oficial\".\n    * Exemplo de falha: Empresa \"Calçados Silva Ltda\", perfil \"@boutique.flores\". → Desconsiderar.\n2. Compatibilidade de Atividade (Obrigatório):\n    * A biografia ou a categoria do perfil deve ser claramente compatível com o CNAE.descricao, razao_social ou nome_fantasia.\n    * Exemplo de falha: Empresa com CNAE de \"Serviços de contabilidade\", perfil com biografia \"Expert em culinária vegana\". → Desconsiderar.\nCritérios Qualificatórios (Classificatórios):\nUse estes critérios para decidir entre os perfis que passaram na fase anterior. Um perfil se torna mais forte quanto mais critérios qualificatórios ele atender.\n1. Localização:\n    * city_name, zip, ou address_street compatíveis com a cidade e UF da empresa. A correspondência exata fortalece a candidatura. Ao decidir perfis de preferencia para essa caracteristica.\n2. Presença de Elementos de Branding:\n    * Verificar se há um link para o site oficial da empresa na biografia. (Fator de alto peso).\n    * Verificar se o e-mail de contato usa o domínio da empresa. (Fator de alto peso).\n3. Métricas de Engajamento:\n    * Comparar a contagem de seguidores (user_followers_count) e de perfis seguidos (user_following_count). Perfis com uma base de seguidores mais robusta e um número de \"seguindo\" coerente com uma conta comercial são preferíveis.\n4. Tipo de Conta:\n    * Preferir perfis com is_business = true, especialmente se a categoria for condizente com a área de atuação.\n\n❌ O que não deve ser feito:\n* Não tente justificar perfis que foram eliminados pelos Critérios Exclusivos.\n* Não escolha mais de um perfil.\n* Não escolha nenhum perfil se não houver evidência suficiente de correspondência após a análise qualificatória.\n* Não \"chute\". A ausência de candidatos válidos deve levar a uma resposta negativa.\n\n🟡 Importante:\n* Um perfil só é considerado um \"candidato válido\" se ele passar por TODOS os Critérios Exclusivos.\n* Dentre os candidatos válidos, selecione aquele que apresentar a combinação mais forte de Critérios Qualificatórios. A presença de um link para o site oficial ou um e-mail com domínio próprio são os fatores de maior peso para a decisão.\n* Caso nenhum perfil passe pelos critérios exclusivos, ou se os perfis restantes não apresentarem uma combinação forte de critérios qualificatórios, retorne: \"Nenhum perfil possui evidência suficiente de correspondência com a empresa fornecida.\"\n\n## SAÍDA ESPERADA\n* Para perfil validado: JSON  {\n*   \"conta_instagram\": \"string\",\n*   \"nome_perfil\": \"string\",\n*   \"id_instagram\": \"integer\",\n*   \"justificativa\": \"string\",\n*   \"Empresa_id\": \"integer\",\n*   \"user_following_count\": \"integer\",\n*   \"perfil_validado\": \"true\"\n* }\n*    \n* Para nenhum perfil validado: JSON  {\n*   \"conta_instagram\": \"Nenhum perfil possui evidência suficiente de correspondência com a empresa fornecida.\",\n*   \"id_instagram\": \"Não validado\",\n*   \"nome_perfil\": \"string\",\n*   \"justificativa\": \"string\",\n*   \"Empresa_id\": \"integer\",\n*   \"user_following_count\": \"Não validado\",\n*   \"perfil_validado\": \"false\"\n* }   \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[8440,2600],"id":"47cc56f9-f010-49b3-b021-111115e7cc98","name":"Ai Agent Find Insta Profile","onError":"continueErrorOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"columns":{"mappingMode":"defineBelow","value":{"instagram":"={{ $json.output.link_instagram }}","empresa_id":"={{ $('When Executed by Another Workflow').item.json.body.node_id}}","usuario_id":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}"},"matchingColumns":["empresa_id","usuario_id"],"schema":[{"id":"cnpj","displayName":"cnpj","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"razao_social","displayName":"razao_social","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_fantasia","displayName":"nome_fantasia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"porte_id","displayName":"porte_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"segmento_id","displayName":"segmento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"em_prospecao","displayName":"em_prospecao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_fundacao","displayName":"data_fundacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"situacao_cadastral","displayName":"situacao_cadastral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quantidade_funcionarios","displayName":"quantidade_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"codigo_natureza_juridica","displayName":"codigo_natureza_juridica","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_descricao","displayName":"natureza_juridica_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_funcionarios","displayName":"faixa_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_faturamento","displayName":"faixa_faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"matriz","displayName":"matriz","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"orgao_publico","displayName":"orgao_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ramo","displayName":"ramo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo_empresa","displayName":"tipo_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultima_atualizacao_pj","displayName":"ultima_atualizacao_pj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_tipo","displayName":"natureza_juridica_tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"usuario_id","displayName":"usuario_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4180,3600],"id":"2467e56c-9412-4bb5-8a6e-b92aa911dea5","name":"Postgres1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de60f902-518f-44dc-82f8-4ddc696eb447","leftValue":"={{ $json.output.perfil_validado }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8820,2600],"id":"bc8a5999-6b54-44dc-bdfc-b1e0fadb9da9","name":"If1"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"columns":{"mappingMode":"defineBelow","value":{"empresa_id":"={{ $('When Executed by Another Workflow').item.json.body.node_id}}","instagram":"={{ $json.output.conta_instagram }}","usuario_id":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}"},"matchingColumns":["empresa_id","usuario_id"],"schema":[{"id":"cnpj","displayName":"cnpj","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"razao_social","displayName":"razao_social","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_fantasia","displayName":"nome_fantasia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"porte_id","displayName":"porte_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"segmento_id","displayName":"segmento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"em_prospecao","displayName":"em_prospecao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_fundacao","displayName":"data_fundacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"situacao_cadastral","displayName":"situacao_cadastral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quantidade_funcionarios","displayName":"quantidade_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"codigo_natureza_juridica","displayName":"codigo_natureza_juridica","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_descricao","displayName":"natureza_juridica_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_funcionarios","displayName":"faixa_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_faturamento","displayName":"faixa_faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"matriz","displayName":"matriz","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"orgao_publico","displayName":"orgao_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ramo","displayName":"ramo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo_empresa","displayName":"tipo_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultima_atualizacao_pj","displayName":"ultima_atualizacao_pj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_tipo","displayName":"natureza_juridica_tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"usuario_id","displayName":"usuario_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9820,2560],"id":"c9bd8401-755a-484c-a9c2-feebdcbe56da","name":"Postgres3","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"batchSize":20,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[6200,2120],"id":"42e30189-aacc-49c1-852a-932ab949de6d","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1120,2360],"id":"582d5a96-bf60-487d-93f7-a36aa344a45f","name":"Execute Workflow1","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"Iniciando a busca individual","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $json.body.node_id }}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $json.body.node_type }}","type":"string"},{"id":"1bbdf652-9e5f-409d-81b7-46bd61b55f2e","name":"usuario_id","value":"={{ $json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1340,2360],"id":"e196ddf6-d14a-4cd8-90b7-f929e2d9a739","name":"Status finalizado"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-820,2600],"id":"879da431-c8ec-4fa9-9461-c2e56c7c22bc","name":"Merge"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[140,3260],"id":"183b2a09-9ff8-440f-becf-97bce0ef9189","name":"Execute Workflow","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"Estou procurando instagram no site","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"e7a55c0e-3572-41e4-bdac-0d62b9baf975","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,3260],"id":"4ace0d79-0562-4c43-87cb-5768fedfab93","name":"Status finalizado1"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[760,2840],"id":"ad76f649-00de-41d5-84ca-60601f0f4537","name":"Merge1"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2580,2260],"id":"a5297b79-3391-4aab-9adc-dad7c7dbad83","name":"Execute Workflow2","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"Não achei o site, vou buscar no instagram","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"57e134f9-1819-41bd-a2bb-4ac9f049fa4c","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2480,2260],"id":"9ced6c46-627a-49d2-bd07-68eb86c0a639","name":"Status finalizado2"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3060,2280],"id":"c0b0d45d-2565-48b6-ae47-05297563084f","name":"Merge4"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3880,3300],"id":"776c98ac-22cf-4a97-9d69-1fbfbb02a621","name":"Execute Workflow3","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=Achei o stie, o instagram é {{ $json.output.link_instagram }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"0cca03f6-4093-46d7-a066-fdbcdcbb9dc7","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3780,3300],"id":"4f4dc886-f078-4c49-9d27-c125708ebe3b","name":"Status finalizado3"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3920,3600],"id":"5fcea485-51d3-4614-bb6a-9319e5e912ca","name":"Merge6"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5840,2120],"id":"17240c2f-5fb5-49b6-af58-93671f0d2171","name":"Merge7"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[5960,1680],"id":"e0afb989-dfcc-4f75-ae70-ae21b2026628","name":"Execute Workflow4"},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=Estou buscando os instagrams para os nomes: {{ $('AI Agent Generate Query').item.json.output.query_1 }},{{ $('AI Agent Generate Query').item.json.output.query_2 }},{{ $('AI Agent Generate Query').item.json.output.query_3 }},{{ $('AI Agent Generate Query').item.json.output.query_4 }},{{ $('AI Agent Generate Query').item.json.output.query_5 }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"125a0dee-bf48-46a6-9e9b-69bd667a8215","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5680,1680],"id":"9235a365-1663-463f-948d-b8b2c1f8d24f","name":"Status finalizado4"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[9280,2940],"id":"10c70df0-a0ef-4ebe-95cf-035063af3f89","name":"Execute Workflow5","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=não encontrei, motivo:\n{{ $json.output.justificativa }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"22928bb6-2a79-4a63-bbd1-0972f1058700","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9160,2940],"id":"1a49be47-4a99-4bd3-8694-35aaf8a3fcc8","name":"Status finalizado5"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[9340,2320],"id":"03c7a903-d32e-4c3b-9458-72ed7c344ac1","name":"Execute Workflow6","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"=Encontrei, motivo:\n{{ $json.output.justificativa }}","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('When Executed by Another Workflow').first().json.body.node_id}}","type":"string"},{"id":"738f1f04-bb75-42e8-8134-80196fc39b4d","name":"body.node_type","value":"={{ $('When Executed by Another Workflow').first().json.body.node_type}}","type":"string"},{"id":"c390a406-81b4-45c2-ad69-dba1fb925b60","name":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9060,2320],"id":"a19dca9e-db22-4b19-8db4-538262497ad7","name":"Status finalizado6"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[9540,2560],"id":"1ce69b24-0107-4410-a3e9-9de4def79673","name":"Merge8"},{"parameters":{"assignments":{"assignments":[{"id":"d3ef8e7e-f430-466e-9eba-eae4367ba97d","name":"links","value":"={{$json.links.filter(item => item && item.length > 1)}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2180,3000],"id":"71581adb-d1d4-45d8-b0d1-039ddfe463ab","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[2400,3360],"id":"5230d9a3-b6f0-484b-82ee-b1229c7b7d82","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"columns":{"mappingMode":"defineBelow","value":{"empresa_id":"={{ $('When Executed by Another Workflow').item.json.body.node_id}}","instagram":"={{ $('If1').item.json.output.id_instagram }}","usuario_id":"={{ $('When Executed by Another Workflow').item.json.body.properties.usuario_id }}"},"matchingColumns":["empresa_id","usuario_id"],"schema":[{"id":"cnpj","displayName":"cnpj","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"razao_social","displayName":"razao_social","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_fantasia","displayName":"nome_fantasia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"porte_id","displayName":"porte_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"segmento_id","displayName":"segmento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"em_prospecao","displayName":"em_prospecao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_fundacao","displayName":"data_fundacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"situacao_cadastral","displayName":"situacao_cadastral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quantidade_funcionarios","displayName":"quantidade_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"codigo_natureza_juridica","displayName":"codigo_natureza_juridica","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_descricao","displayName":"natureza_juridica_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_funcionarios","displayName":"faixa_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_faturamento","displayName":"faixa_faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"matriz","displayName":"matriz","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"orgao_publico","displayName":"orgao_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ramo","displayName":"ramo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo_empresa","displayName":"tipo_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultima_atualizacao_pj","displayName":"ultima_atualizacao_pj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_tipo","displayName":"natureza_juridica_tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"usuario_id","displayName":"usuario_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[9540,2940],"id":"9887cb9f-4d9b-4a59-b88d-72793174693f","name":"Postgres","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Status finalizado","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Postgres_endereco2":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Busca por username2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Especificações de cada instagram2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge perfis e target1","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Ai Agent Find Insta Profile","type":"ai_outputParser","index":0}]]},"Merge5":{"main":[[{"node":"Merge7","type":"main","index":1},{"node":"Status finalizado4","type":"main","index":0}]]},"Merge perfis e target1":{"main":[[{"node":"Ai Agent Find Insta Profile","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Ai Agent Find Insta Profile","type":"ai_languageModel","index":0}]]},"Structured Output Parser7":{"ai_outputParser":[[{"node":"AI Agent Generate Query","type":"ai_outputParser","index":0}]]},"Busca com Razao Social":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Busca Nome Fantasia":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Busca Variação Grupo":{"main":[[{"node":"Merge5","type":"main","index":2}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"AI Agent Generate Query","type":"ai_languageModel","index":0}]]},"Postgres_empresa2":{"main":[[{"node":"Postgres_endereco2","type":"main","index":0},{"node":"Merge3","type":"main","index":1}]]},"Busca Variação Grupo2":{"main":[[{"node":"Merge5","type":"main","index":3}]]},"Busca Variação Grupo3":{"main":[[{"node":"Merge5","type":"main","index":4}]]},"Edit Fields15":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Merge12","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields16","type":"main","index":0}]]},"Edit Fields16":{"main":[[{"node":"Merge12","type":"main","index":1}]]},"Merge12":{"main":[[{"node":"Merge13","type":"main","index":0},{"node":"Status finalizado1","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge13":{"main":[[{"node":"Edit Fields19","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Edit Fields3","type":"main","index":0},{"node":"Status finalizado2","type":"main","index":0},{"node":"Merge4","type":"main","index":1}],[{"node":"HTTP Request10","type":"main","index":0},{"node":"Merge14","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"HTML Find Hrefs","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Merge14":{"main":[[{"node":"Edit Fields21","type":"main","index":0}]]},"Edit Fields21":{"main":[[{"node":"Agent Find Client Page","type":"main","index":0}]]},"Agent Find Company Website":{"main":[[{"node":"Merge13","type":"main","index":1}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Agent Find Client Page","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Agent Find Client Page","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Agent Find Company Website","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Agent Find Company Website","type":"ai_languageModel","index":0}]]},"Agent Find Client Page":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Status finalizado3","type":"main","index":0},{"node":"Merge6","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent Generate Query","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge perfis e target1","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"AI Agent Generate Query","type":"main","index":0},{"node":"Merge perfis e target1","type":"main","index":1}]]},"HTML Find Hrefs":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent Generate Query":{"main":[[{"node":"Busca com Razao Social","type":"main","index":0},{"node":"Busca Nome Fantasia","type":"main","index":0},{"node":"Busca Variação Grupo","type":"main","index":0},{"node":"Busca Variação Grupo2","type":"main","index":0},{"node":"Busca Variação Grupo3","type":"main","index":0}]]},"Ai Agent Find Insta Profile":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Status finalizado6","type":"main","index":0},{"node":"Merge8","type":"main","index":1}],[{"node":"Status finalizado5","type":"main","index":0}]]},"Postgres3":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"Especificações de cada instagram2","type":"main","index":0}],[{"node":"Busca por username2","type":"main","index":0}]]},"Status finalizado":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Postgres_empresa2","type":"main","index":0}]]},"Status finalizado1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Agent Find Company Website","type":"main","index":0}]]},"Status finalizado2":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]},"Execute Workflow2":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Status finalizado3":{"main":[[{"node":"Execute Workflow3","type":"main","index":0}]]},"Execute Workflow3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Status finalizado4":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]},"Execute Workflow4":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Status finalizado5":{"main":[[{"node":"Execute Workflow5","type":"main","index":0}]]},"Status finalizado6":{"main":[[{"node":"Execute Workflow6","type":"main","index":0}]]},"Execute Workflow6":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"Merge8":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge14","type":"main","index":1}]]},"When clicking ‘Execute workflow’":{"main":[[]]},"Execute Workflow5":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"headers":{"host":"n8n-automacao-production.up.railway.app","user-agent":"python-requests/2.32.3","content-length":"1043","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","content-type":"application/json","x-forwarded-for":"189.100.70.129","x-forwarded-host":"n8n-automacao-production.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4","x-railway-request-id":"uYtvh7eQRv2rNlX6ueLfZA","x-real-ip":"189.100.70.129","x-request-start":"1755099069394"},"params":{},"query":{},"body":{"node_id":"17578","node_type":"Empresa","usuario_id":"bd3106d0-cb56-40ff-a31a-d55f1e2b2ecf","documento":"14666357000118","nome":"PAQUES BRASIL SISTEMAS PARA TRATAMENTO DE EFLUENTES LTDA","instagram":null,"properties":{"empresa_id":17578,"em_prospecao":false,"faixa_faturamento":null,"usuario_id":"bd3106d0-cb56-40ff-a31a-d55f1e2b2ecf","matriz":true,"data_fundacao":"20110909","orgao_publico":null,"nome_fantasia":null,"porte_id":5,"situacao_cadastral":"02","ramo":"2825900","segmento_id":null,"quantidade_funcionarios":null,"tipo_empresa":null,"cnpj":"14666357000118","linkedin":null,"codigo_natureza_juridica":null,"ultima_atualizacao_pj":"20110909","razao_social":"PAQUES BRASIL SISTEMAS PARA TRATAMENTO DE EFLUENTES LTDA","instagram":null,"natureza_juridica_descricao":"2062","natureza_juridica_tipo":null,"stakeholder":true,"faixa_funcionarios":null,"projeto_id":27,"projeto_nome":"Bracell - Star - Estacoes Tratamento e Agua","community_id":92,"tipo_no":"stakeholder"}},"webhookUrl":"https://n8n-automacao-production.up.railway.app/webhook/buscar_individual","executionMode":"production"}}]},"versionId":"65ec4898-7624-4b75-aee6-b228d9b8dc39","triggerCount":1,"tags":[]}