instagram-empresa-xU627eVfwOD6GKar.json
{"createdAt":"2025-05-30T11:41:44.551Z","updatedAt":"2025-06-12T12:43:03.000Z","id":"xU627eVfwOD6GKar","name":"Instagram empresa","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"limit":10,"where":{"values":[{"column":"empresa_id","value":"={{ $json.body.node_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-520,240],"id":"3d29a7af-e6b7-4ac6-915f-82239a47d799","name":"Postgres_empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"enderecos","mode":"list","cachedResultName":"enderecos"},"where":{"values":[{"column":"entidade_id","value":"={{ $json.empresa_id }}"},{"column":"endereco_id","value":"1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-300,100],"id":"4b3ec40d-9b73-48c3-b527-be91401f4ed4","name":"Postgres_endereco","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"segmento_empresa","mode":"list","cachedResultName":"segmento_empresa"},"where":{"values":[{"column":"segmento_id","value":"={{ $json.segmento_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-300,400],"id":"0025ce58-6a0b-4ed7-8cbd-b36478a61997","name":"Postgres_CNAE","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-80,240],"id":"c9a0b72f-f902-4d29-8748-380fab4dba52","name":"Merge1"},{"parameters":{"fieldToSplitOut":"users","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[960,40],"id":"b9e6ee0d-09b9-42bf-bf3e-bf7e33c52b5c","name":"Split Out1"},{"parameters":{"url":"https://api.hikerapi.com/v2/user/by/username","sendQuery":true,"queryParameters":{"parameters":[{"name":"username","value":"={{ $json.username }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{"batching":{"batch":{"batchSize":20}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,40],"id":"c734fc77-d706-4de5-91f2-46a4531d922b","name":"Busca por username"},{"parameters":{"assignments":{"assignments":[{"id":"049da52e-2017-4839-9ea2-d755263171de","name":"user.full_name","value":"={{ $json.user.full_name }}","type":"string"},{"id":"36073858-710b-46dd-abc9-df9fe3908cc0","name":"user.username","value":"={{ $json.user.username }}","type":"string"},{"id":"c7ebb4bc-2e56-467d-ae39-dbfee12eb603","name":"user.biography","value":"={{ $json.user.biography }}","type":"string"},{"id":"cdd04b41-dc0d-44ec-b525-3d6f03c0a3ec","name":"user.is_private","value":"={{ $json.user.is_private }}","type":"boolean"},{"id":"4ac76d3d-0efb-44d9-a8e0-dbb02bc8744b","name":"user.bio_links[0].url","value":"={{ $json.user.bio_links[0].url }}","type":"string"},{"id":"eddd3295-c878-4e14-bead-11300ac67877","name":"user.is_business","value":"={{ $json.user.is_business }}","type":"boolean"},{"id":"53933e71-77dd-43ff-946b-54af0f908bae","name":"user.following_count","value":"={{ $json.user.following_count }}","type":"number"},{"id":"28beee4d-1cdd-413c-8344-1e46b359ee41","name":"user.follower_count","value":"={{ $json.user.follower_count }}","type":"number"},{"id":"6f89d6f5-b289-49db-9baf-73915143f0d7","name":"user.category","value":"={{ $json.user.category }}","type":"string"},{"id":"194257e0-bd74-4d8d-8be3-d26e4ae4808d","name":"user.address_street","value":"={{ $json.user.address_street }}","type":"string"},{"id":"27ae1966-7f0b-4dc0-abaf-3835f57a3dfb","name":"user.city_name","value":"={{ $json.user.city_name }}","type":"string"},{"id":"3dc5fbf5-c8f9-4f32-84d3-a5ffdd78ad43","name":"user.contact_phone_number","value":"={{ $json.user.contact_phone_number }}","type":"string"},{"id":"f86c7992-4f60-42f9-a504-382937aa3bf3","name":"user.zip","value":"={{ $json.user.zip }}","type":"string"},{"id":"7283609f-efb2-4b8c-9883-9d3380272bb6","name":"user.public_email","value":"={{ $json.user.public_email }}","type":"string"},{"id":"c4f36c57-02e9-419c-bacf-35288083cebe","name":"user.page_name","value":"={{ $json.user.page_name }}","type":"string"},{"id":"6a1b94ff-88a5-432c-99b9-d151b871b49c","name":"user.id","value":"={{ $json.user.id }}","type":"string"},{"id":"02dfe945-75b2-4436-b8f3-1f8e8f96c3b7","name":"user.following_count","value":"={{ $json.user.following_count }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,40],"id":"15eb0c22-4213-4d9f-8dbc-8bae5f9c760d","name":"Especificações de cada instagram"},{"parameters":{"jsCode":"return [\n  {\n    json: { \n      perfis_instagram: $input.all().map(i => JSON.stringify(i.json.user, null, 2))\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,40],"id":"d126e2da-927f-4a79-b03f-72fa86f7a9d7","name":"Code"},{"parameters":{"jsonSchemaExample":"{\n  \"conta_instagram\": \"string\",\n  \"nome_perfil\": \"string\",\n  \"id_instagram\": \"integer\",\n  \"justificativa\": \"string\",\n  \"Empresa_id\": \"integer\",\n  \"user_following_count\": \"integer\",\n  \"perfil_validado\": \"boolean\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2220,460],"id":"d52c81c7-e7fd-4be8-9375-69915d69bffb","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de60f902-518f-44dc-82f8-4ddc696eb447","leftValue":"={{ $json.output.perfil_validado }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2440,240],"id":"6a53206f-ceb7-4360-999c-e8e4953e507f","name":"If"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[740,40],"id":"e641214f-8537-4c30-bd14-d2295d5d98fa","name":"Merge4"},{"parameters":{"promptType":"define","text":"=Dados da empresa:\nNome Fantasia: {{ $json.nome_fantasia }}\nRazao Social:{{ $json.razao_social }}\nSegmento: {{ $json.descricao }}\nCNAE: {{ $('Merge perfis e target').item.json.cnae }}\nCIDADE: {{ $json.cidade }}\nESTADO: {{ $json.uf }}\nEmpresa_id: {{ $json.empresa_id }}\n\nDados dos perfis:{{ $json.perfis_instagram }}","hasOutputParser":true,"options":{"systemMessage":"=🧠 System Prompt — Agente Verificador de Instagram (Modo Seleção Única)\nVocê é um agente inteligente responsável por identificar o perfil de Instagram mais provável de pertencer a uma empresa, dentre uma lista de perfis candidatos.\n\n🎯 Objetivo:\nDada a ficha de uma empresa (nome fantasia, razão social, CNAE, cidade, etc.) e uma lista de perfis do Instagram, selecione apenas o perfil mais compatível com base nos dados fornecidos.\nSe nenhum perfil tiver correspondência suficiente, declare explicitamente que nenhum perfil é confiável o bastante para ser selecionado.\n\n✅ Critérios de Compatibilidade (comparar para cada perfil):\nNome do perfil (full_name, page_name, username)\n➤ Comparar com nome_fantasia, razao_social e termos comerciais reconhecíveis.\n\nBiografia/Descrição\n➤ Deve conter termos similares ao CNAE.descricao ou palavras-chave do ramo de atuação da empresa.\n\nLocalização (cidade/estado/endereço)\n➤ city_name, zip, ou address_street devem ser compatíveis com cidade e UF da empresa.\n\nContato (telefone ou e-mail)\n➤ Verificar se há correspondência de DDD ou domínio de e-mail com os dados empresariais.\n\nCategoria e tipo de conta\n➤ Preferir perfis com is_business = true, e categorias condizentes com a área de atuação.\n\nPresença de elementos de branding\n➤ Verificar se há links, hashtags ou descrições diretamente ligadas à marca ou nome da empresa.\n\n❌ O que não deve ser feito:\nNão tente justificar todos os perfis.\n\nNão escolha mais de um perfil.\n\nNão escolha nenhum perfil se não houver evidência suficiente de correspondência.\n\nNão \"chute\". A ausência de dados compatíveis deve levar a uma resposta negativa.\n\n🟡 Importante:\nSó considere um perfil como \"candidato válido\" se pelo menos 2 dos critérios principais (nome, bio, localização, contato, categoria) forem compatíveis com a ficha da empresa.\nCaso contrário, retorne:\n\"Nenhum perfil possui evidência suficiente de correspondência com a empresa fornecida.\"\n\n##SAÍDA ESPERADA\n\n{\n  \"conta_instagram\": \"string\",\n  \"nome_perfil\": \"string\",\n  \"id_instagram\": \"integer\",\n  \"justificativa\": \"string\",\n  \"Empresa_id\": \"integer\",\n  \"user_following_count\": \"integer\",\n  \"perfil_validado\": \"true\"\n}\n\n##SAIDA ESPERADA PARA CASO DE NENHUM PERFIL VALIDADO\n\n{\n  \"conta_instagram\": \"Nenhum perfil possui evidência suficiente de correspondência com a empresa fornecida.\",\n  \"id_instagram\": \"Não validado\",\n  \"nome_perfil\": \"string\",\n  \"justificativa\": \"string\",\n  \"Empresa_id\": \"integer\",\n  \"user_following_count\": \"Não validado\",\n  \"perfil_validado\": \"false\"\n}\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2060,240],"id":"d29ca010-5d86-4069-b2af-ab8c42fb3686","name":"Varre Perfil Stakeholder"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1840,240],"id":"10ab8af1-e693-49d1-8c23-b47579b9fcc7","name":"Merge perfis e target"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2100,460],"id":"139a1e86-46c8-4068-b0d4-30c0f9ac0df3","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"columns":{"mappingMode":"defineBelow","value":{"empresa_id":"={{ $json.output.Empresa_id }}","instagram":"={{ $json.output.conta_instagram }}"},"matchingColumns":["empresa_id"],"schema":[{"id":"cnpj","displayName":"cnpj","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"razao_social","displayName":"razao_social","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_fantasia","displayName":"nome_fantasia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"porte_id","displayName":"porte_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"segmento_id","displayName":"segmento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"em_prospecao","displayName":"em_prospecao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_fundacao","displayName":"data_fundacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"situacao_cadastral","displayName":"situacao_cadastral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quantidade_funcionarios","displayName":"quantidade_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"codigo_natureza_juridica","displayName":"codigo_natureza_juridica","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_descricao","displayName":"natureza_juridica_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_funcionarios","displayName":"faixa_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_faturamento","displayName":"faixa_faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"matriz","displayName":"matriz","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"orgao_publico","displayName":"orgao_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ramo","displayName":"ramo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo_empresa","displayName":"tipo_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultima_atualizacao_pj","displayName":"ultima_atualizacao_pj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_tipo","displayName":"natureza_juridica_tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2740,220],"id":"aad1f2fc-edf0-4ba1-9f5b-4bdc90f3a502","name":"Postgres","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"=Razão social: {{ $json.razao_social }}\nNome fantasia: {{ $json.nome_fantasia }}","hasOutputParser":true,"options":{"systemMessage":"Objetivo do agente\nGerar 3 variações de nomes baseadas na razão social e no nome fantasia (quando disponível), com o objetivo de serem usadas como termos de busca para encontrar perfis no Instagram pelo nome exibido no perfil (e não pelo username).\n\nEntrada esperada\nrazão_social: {{ $json.razao_social }}\n\nnome_fantasia: {{ $json.nome_fantasia }}\n\nSaída esperada\njson\nCopiar\nEditar\n{\n  \"query_1\": \"string\",\n  \"query_2\": \"string\",\n  \"query_3\": \"string\"\n}\nInstruções para o agente\nUtilize preferencialmente o campo nome fantasia. Caso ele não esteja presente ou esteja vazio, utilize apenas a razão social.\n\nRemova palavras jurídicas da razão social como: \"LTDA\", \"ME\", \"EIRELI\", \"S/A\", \"LIMITADA\", entre outras.\n\nGere nomes com aparência de nome de exibição no Instagram, considerando:\n\nVersão direta do nome fantasia.\n\nVersões simplificadas, reordenadas ou abreviadas.\n\nInclusão do termo \"Grupo\" antes ou depois do nome (se fizer sentido).\n\nCombinações com termos comerciais comuns como “Oficial”, “Brasil”, etc., apenas se coerente com o nome.\n\nOs nomes devem parecer realistas e comerciais, como se fossem apresentados ao público no perfil da empresa.\n\nNão use @ e não invente nomes fora do que pode ser inferido a partir das informações fornecidas.\n\nExemplo 1: com nome fantasia\nEntrada:\n\njson\nCopiar\nEditar\n{\n  \"razao_social\": \"A1 ENGENHARIA LTDA\",\n  \"nome_fantasia\": \"A1 Engenharia\"\n}\nResposta esperada:\n\n{\n  \"query_1\": \"A1 Engenharia\",\n  \"query_2\": \"Grupo A1\",\n  \"query_3\": \"A1 Engenharia Oficial\"\n}\nExemplo 2: sem nome fantasia\nEntrada:\n\n{\n  \"razao_social\": \"DELÍCIAS NATURAIS DO BRASIL LTDA\",\n  \"nome_fantasia\": \"\"\n}\nResposta esperada:\n\n{\n  \"query_1\": \"Delícias Naturais\",\n  \"query_2\": \"Grupo Delícias Naturais\",\n  \"query_3\": \"Delícias Naturais Brasil\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[160,40],"id":"d56f7d67-a7d2-466f-8c13-72b0d157a174","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{\n\t\"query_1\": \"Nome para buscar\",\n    \"query_2\": \"Nome para buscar\",\n    \"query_3\": \"Nome para buscar\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[300,260],"id":"051905dc-7298-4379-a095-31daad2d072d","name":"Structured Output Parser5"},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_1 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,-140],"id":"fc0ae970-092a-48e0-8f9a-1b131609557d","name":"Busca com Razao Social1","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_2 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,60],"id":"1cecfa78-3a31-4d68-8049-d8a353e5171b","name":"Busca Nome Fantasia1","executeOnce":true},{"parameters":{"url":"https://api.hikerapi.com/v2/search/accounts","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.output.query_3 }}"},{"name":"count","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-access-key","value":"d8u9mpd3o0d05ikua73r178ie8yn6de1"},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,260],"id":"63a0628c-f9b5-4973-b11c-4e81e5677d8c","name":"Busca Variação Grupo1","executeOnce":true},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[180,260],"id":"6ca6fbdd-bd7f-4c59-9b9d-4eaf659ec36b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-740,240],"id":"13d2886b-3b2e-4284-add6-32e5c47abeb6","name":"When Executed by Another Workflow"}],"connections":{"Postgres_empresa":{"main":[[{"node":"Postgres_endereco","type":"main","index":0},{"node":"Postgres_CNAE","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Postgres_endereco":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Postgres_CNAE":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Merge1":{"main":[[{"node":"Merge perfis e target","type":"main","index":1},{"node":"AI Agent","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Busca por username","type":"main","index":0}]]},"Busca por username":{"main":[[{"node":"Especificações de cada instagram","type":"main","index":0}]]},"Especificações de cada instagram":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge perfis e target","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Varre Perfil Stakeholder","type":"ai_outputParser","index":0}]]},"Merge4":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Varre Perfil Stakeholder":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Postgres","type":"main","index":0}],[]]},"Merge perfis e target":{"main":[[{"node":"Varre Perfil Stakeholder","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Varre Perfil Stakeholder","type":"ai_languageModel","index":0}]]},"Postgres":{"main":[[]]},"AI Agent":{"main":[[{"node":"Busca com Razao Social1","type":"main","index":0},{"node":"Busca Nome Fantasia1","type":"main","index":0},{"node":"Busca Variação Grupo1","type":"main","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Busca com Razao Social1":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Busca Nome Fantasia1":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Busca Variação Grupo1":{"main":[[{"node":"Merge4","type":"main","index":2}]]},"When Executed by Another Workflow":{"main":[[{"node":"Postgres_empresa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"headers":{"host":"n8n-automacao-production.up.railway.app","user-agent":"python-requests/2.32.3","content-length":"831","accept":"*/*","accept-encoding":"gzip, deflate, zstd","content-type":"application/json","x-forwarded-for":"179.118.133.191","x-forwarded-host":"n8n-automacao-production.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4","x-railway-request-id":"uQL0GD-NTwaIO3uXO8K9hQ","x-real-ip":"179.118.133.191","x-request-start":"1749732018415"},"params":{},"query":{},"body":{"node_id":"557","node_type":"Empresa","documento":"67189571000430","nome":"INFORMOV LTDA","instagram":null,"properties":{"nome_fantasia":null,"segmento_id":26,"quantidade_funcionarios":null,"tipo_empresa":"LTDA","linkedin":null,"codigo_natureza_juridica":2062,"ultima_atualizacao_pj":null,"cnpj":"67189571000430","instagram":null,"natureza_juridica_descricao":"Sociedade Empresária Limitada","natureza_juridica_tipo":null,"razao_social":"INFORMOV LTDA","stakeholder":false,"faixa_funcionarios":"ATE 9 FUNCIONARIOS","projeto_id":null,"empresa_id":557,"em_prospecao":false,"faixa_faturamento":"ATE R$ 240,0 MIL","matriz":false,"orgao_publico":null,"data_fundacao":"02/03/2021 00:00:00","porte_id":3,"situacao_cadastral":null,"ramo":null,"projeto_nome":"Sem projeto"}},"webhookUrl":"https://n8n-automacao-production.up.railway.app/webhook/buscar_individual","executionMode":"production"}}]},"versionId":"0a680b67-e4bd-4ea4-8efb-5ba0900632b1","triggerCount":1,"tags":[]}