levantamento-relacionados-Et3NnlexEkQmDSDo.json
{"createdAt":"2025-06-01T20:24:03.648Z","updatedAt":"2025-06-01T20:24:08.000Z","id":"Et3NnlexEkQmDSDo","name":"Levantamento Relacionados","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"relacionamentos","mode":"list","cachedResultName":"relacionamentos"},"where":{"values":[{"column":"entidade_destino_id","value":"={{ $json.pessoa_id }}"},{"column":"tipo_destino_id","value":"1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-220,-220],"id":"4c11304b-db2c-4fd4-a8c9-dc1501260086","name":"Postgres_relacao1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"relacionamentos","mode":"list","cachedResultName":"relacionamentos"},"where":{"values":[{"column":"entidade_origem_id","value":"={{ $json.pessoa_id }}"},{"column":"tipo_origem_id","value":"1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-220,80],"id":"21e905ee-f5dc-4513-ab98-cbe189edc9b8","name":"Postgres_relacao5","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[20,-80],"id":"eb207aa0-6235-4dfb-9e23-28fe82faa43d","name":"Merge3"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"limit":10,"where":{"values":[{"column":"pessoa_id","value":"={{ $json.body.entity_id }}{{ $json.pessoa_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,-100],"id":"94ad31dd-9807-4b58-8ac4-a9603b9e03eb","name":"Relacionados pessoa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"jsCode":"const seen = new Set();\nconst output = [];\n\nfor (const item of $input.all()) {\n  const id = item.json.pessoa_id;\n\n  if (!seen.has(id)) {\n    seen.add(id);\n    output.push(item);\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,-100],"id":"13e86fd3-4130-4e30-90b9-04fec13a0b63","name":"Code"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"where":{"values":[{"column":"pessoa_id","value":"={{ $json.entidade_destino_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,-100],"id":"02210aba-df5e-43c9-88ff-30f1daf782cf","name":"Postgres_socio1","executeOnce":false,"credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08ba2417-1eda-4593-8293-0818d6bd0cee","leftValue":"={{ $json.tipo_destino_id }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,-80],"id":"e15fcd2b-2ebb-4de4-8329-aac4b2ebefca","name":"If2"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-760,-100],"id":"a7be32a0-283d-4f63-b0a3-2383e9094807","name":"When Executed by Another Workflow"}],"connections":{"Postgres_relacao1":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Postgres_relacao5":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"If2","type":"main","index":0}]]},"Relacionados pessoa":{"main":[[{"node":"Postgres_relacao1","type":"main","index":0},{"node":"Postgres_relacao5","type":"main","index":0}]]},"Postgres_socio1":{"main":[[{"node":"Code","type":"main","index":0}]]},"If2":{"main":[[{"node":"Postgres_socio1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Relacionados pessoa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"firstname":"PEDRO","lastname":"GUARNIERI","cpf":"64892549991","pessoa_id":899,"linkedin":null,"instagram":"@guarnieri520p","stakeholder":false,"em_prospecao":false,"sexo":"Masculino","data_nascimento":"15/03/1966 00:00:00","nome_mae":"LEONILDA GUARNIERI","idade":58,"signo":"PEIXES","obito":false,"data_obito":null,"renda_estimada":"6200.00","pep":false,"projeto_id":null,"associado":false}},{"json":{"firstname":"ALEXSON","lastname":"BORBAS GUARNIERI","cpf":"83298657034","pessoa_id":915,"linkedin":null,"instagram":"@alexsonguarnieri","stakeholder":false,"em_prospecao":false,"sexo":"Masculino","data_nascimento":"22/02/1986 00:00:00","nome_mae":"LOURDES BORBAS GUARNIERI","idade":38,"signo":"PEIXES","obito":false,"data_obito":null,"renda_estimada":"3500.00","pep":false,"projeto_id":null,"associado":false}}]},"versionId":"4a91a11c-9532-4d22-a0aa-f0f579453564","triggerCount":0,"tags":[]}