my-workflow-18-ZIlltWiLr2hyPRTe.json
{"createdAt":"2025-07-23T19:52:02.853Z","updatedAt":"2025-07-24T18:09:23.000Z","id":"ZIlltWiLr2hyPRTe","name":"My workflow 18","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,15],"id":"c07e34dd-2ad5-4bf0-91a0-8c6f760ff3b7","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1bQ-UWKIcRPW4QlKb7354MFSIdTpUo5mD","mode":"list","cachedResultName":"Empresas_com_URLs_do_LinkedIn.csv","cachedResultUrl":"https://drive.google.com/file/d/1bQ-UWKIcRPW4QlKb7354MFSIdTpUo5mD/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,15],"id":"333c63cc-cdd2-4311-895b-866d0c18d19c","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"1aqUwKEQzQxbwncE","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,15],"id":"d3846197-96f3-4351-8a42-7eea852533b5","name":"Extract from File"},{"parameters":{"url":"={{ $json.linkedin_url_possivel }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,-185],"id":"29a85e6b-47ba-43f3-8d28-afadd13efc19","name":"HTTP Request","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"maxItems":900},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,15],"id":"223c211c-febb-4a09-880c-da5b8b3f188c","name":"Limit"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,65],"id":"16023d2e-3820-488f-a271-93cbf2960fca","name":"Loop Over Items"},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,165],"id":"f5773910-f5c4-43d5-83e0-154769261545","name":"Wait","webhookId":"3aa28ef8-27ce-4bc0-a7be-5b950e4f161d"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1100,-385],"id":"d1dd8311-fdb9-400b-ad9c-06a8313bdca9","name":"Merge"},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,-35],"id":"b8458db7-1c38-4f27-b1fa-163b626c5473","name":"Wait1","webhookId":"457a94cd-e39f-4217-89fc-74524329a4a1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"b0b1b929-19ae-443d-a2ae-3dd58f4f8d41"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c46db0c3-1014-449c-b606-45333a47dc64","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1320,-385],"id":"eaf5325f-ef9e-47d7-a5e8-7bd8c07bfd78","name":"Switch"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"=LinkedIn {{ $json.empresa }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,-410],"id":"318afe8c-e7de-4782-ade3-54da657cc031","name":"HTTP Request2","retryOnFail":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1760,-660],"id":"75662206-3f82-4163-8d12-44f568371dc8","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"b2ad87c6-0224-4a63-9e89-0c309ea7486f","name":"link","value":"={{ $json.output }}","type":"string"},{"id":"bfda2aff-21e9-421b-bf4d-b6a00de1dd43","name":"empresa","value":"={{ $json.empresa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,-660],"id":"98f563fd-31f0-4a7b-ba6f-f8e2e2a6a4d1","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"305a1fd7-0910-4639-962f-7f3f1e3de8b4","name":"empresa","value":"={{ $json.empresa }}","type":"string"},{"id":"2df3430b-4f9d-4532-934e-d18e92d58731","name":"link","value":"={{ $json.linkedin_url_possivel }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,-60],"id":"ebc64f11-8676-4c93-aef0-4aaaa75d71cb","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2200,-660],"id":"76d17de6-0fa1-436d-b563-e6f443db7a1e","name":"Merge2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2498,-660],"id":"6ca3f1d6-dc57-4e00-bd85-c63a75e2fb99","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1540,-560],"id":"e362a927-4400-4ded-85ad-7f991153312b","name":"Loop Over Items1"},{"parameters":{"promptType":"define","text":"=Possiveis links da busca: {{ $json.link }}","options":{"systemMessage":"=Verifique possiveis links de um linkedin da empresa  {{ $json.searchParameters.q }}, retorne somente o link da empresa.\n\nFormato de resposta.\n\nhttps://br.linkedin.com/company/nomedacompany"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2420,-335],"id":"e0f83f57-3f55-47e7-af36-dbb4aa9fc547","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2508,-115],"id":"f2ad9133-0dfe-4cb4-b48e-79f95cf690eb","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"fieldToSplitOut":"organic","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1980,-410],"id":"0a7d6850-7abb-4430-aaea-84143ec605d8","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"link"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2200,-410],"id":"262d67bc-4118-44ba-8311-76d3d80cd239","name":"Aggregate"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Limit","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Loop Over Items":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"794efec7-1072-4d9a-a922-92e9cf6630c3","triggerCount":0,"tags":[]}