my-workflow-3-GWX6WkWw35nG74VS.json
{"createdAt":"2025-06-09T16:56:07.226Z","updatedAt":"2025-06-17T17:37:08.000Z","id":"GWX6WkWw35nG74VS","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/15n4rjJJT15VB0d6nsptlWBhe_gFUIyKR/edit?usp=share_link&ouid=111523088729315692812&rtpof=true&sd=true","mode":"url"},"options":{"binaryPropertyName":"data","googleFileConversion":{"conversion":{"sheetsToFormat":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-420,-80],"id":"5c874bc0-9e05-4516-aa24-15974b1ce4b5","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"tN6NfHFRV5aUUqY5","name":"Google Drive account"}}},{"parameters":{"operation":"xlsx","options":{"headerRow":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-240,-80],"id":"a39ad584-844c-4713-8eb8-a84a5a1bc276","name":"Extract from File"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd3d5780-76c3-4a5f-97fb-ecbd1f47a9e0","leftValue":"={{ $json.resumo_empresa }}","rightValue":"montagem mecânica","operator":{"type":"string","operation":"contains"}},{"id":"3ba3cdf0-88a4-4022-8fd8-16012a73d338","leftValue":"={{ $json.resumo_empresa }}","rightValue":"engenharia mecânica","operator":{"type":"string","operation":"contains"}},{"id":"d0c24ead-863b-45a1-b129-366ee18d5e46","leftValue":"={{ $json.resumo_empresa }}","rightValue":"montagem industrial ","operator":{"type":"string","operation":"contains"}},{"id":"9466825f-b353-4fb4-83e0-28662d50c1aa","leftValue":"={{ $json.resumo_empresa }}","rightValue":"implementação industrial","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,-380],"id":"1b083fd0-2cf5-468d-83b6-52ade119dcfe","name":"If"},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-600,-240],"id":"61b2b460-60f5-44c5-bb46-4aeb86c8e187","name":"When chat message received","webhookId":"fa106d34-5135-4dc1-85b5-cfb3df2c9027"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1688cbda-0fed-462c-9093-aaeb98fab6ce","leftValue":"={{ $json.resumo_empresa }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}},{"id":"97d87a5b-77e0-4c1c-98ad-5b17d5a0625e","leftValue":"={{ $json.clientes }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-80,-80],"id":"27aabb69-b5c3-4db6-9061-ee7eab9c463d","name":"Filter"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,-80],"id":"3ddc3ad2-8c62-4995-9a81-5e885409cc41","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"ab7f33d1-65c9-436e-b7f8-78e1d2ca1584","name":"clientes","value":"={{ $json.clientes }}","type":"string"},{"id":"b264b61d-62a8-4868-ac86-70e4b29a7fd7","name":"site","value":"={{ $json.site }}","type":"string"},{"id":"9c4965f6-6adb-4c79-ad87-23e307856e92","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"1ac34a76-0819-4da5-bbf2-d67ed79b3380","name":"resumo_empresa","value":"={{ $json.resumo_empresa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-80],"id":"00367dbb-e41e-4ef7-ad9f-0514ef000a82","name":"Edit Fields"},{"parameters":{"modelName":"models/gemini-1.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[460,140],"id":"7966003a-b697-4173-92a9-bfaa30ac11cf","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"promptType":"define","text":"=Você é um agente especializado em análise de dados empresariais com apoio de pesquisa online.\nSua tarefa é analisar os dados contidos no campo {{ $json.clientes }}, que consiste em uma lista de nomes de clientes de uma empresa.\nPara cada cliente listado, pesquise na internet e verifique se ele atua no setor de papel e celulose.\nConsidere clientes que produzem, processam, fornecem matérias-primas ou prestam serviços diretamente ligados à cadeia de papel e celulose.\nAo final, responda com as empresas que os clientes pertencem ao setor de papel e celulose.\nCaso não encontre evidências claras sobre um cliente, não inclua na resposta.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[620,-80],"id":"3d832c57-9550-463a-abea-5608c4eff2f6","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[240,120],"id":"e587a80e-0202-4a08-b554-c28f72d95463","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"promptType":"define","text":"=Você é um agente especializado em análise de dados empresariais.\nSua tarefa é analisar os dados contidos no campo {{ $json.resumo_empresa }}, que consiste em um resumo da atividade da empresa.\ne responder apenas com as informações das  empresas que atuam no setor de montagem mecânica ou engenharia mecânica, mantenha o resumo. ","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[260,-80],"id":"c67a4a1a-fad8-4470-abab-19248a7a9728","name":"AI Agent1"}],"connections":{"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Filter","type":"main","index":0}]]},"If":{"main":[[]]},"When chat message received":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c72a0682-c44b-4a4a-96ea-957a26ad1570","triggerCount":0,"tags":[]}