my-workflow-17-T74w8XGeUDG6pXLC.json
{"createdAt":"2025-07-22T15:22:07.029Z","updatedAt":"2025-07-24T18:09:40.000Z","id":"T74w8XGeUDG6pXLC","name":"My workflow 17","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,20],"id":"928386ff-5373-423c-9b32-6529c0e6ad22","name":"main.py"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,-200],"id":"5d426ae6-96a3-4e4b-a738-293f2c896382","name":"production.py"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,220],"id":"50c435c8-0efa-4091-9892-ccc7abd1c8ae","name":"scraping.py"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,640],"id":"36e72c5f-3a2a-4d6a-b38f-b0aeaf0c1818","name":"schema/scraping.py"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-260],"id":"bca420cf-04af-40b2-aa0c-cfdc9ad646f3","name":"production_service.py"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,300],"id":"aee44804-926b-4504-b5d1-848837dd5963","name":"scraping_service.py"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,400],"id":"3f695847-51e2-44c5-b8cd-74ec52b7d276","name":"config.py"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,560],"id":"48097508-f9e2-4fca-8290-dbb9c86cdec2","name":"core/config.py"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,-20],"id":"e673b40d-70bc-4f3d-b802-1d1f2d4a191b","name":"linkedin_scrapper_optmized.py"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,-200],"id":"74db5126-7a2e-48eb-b149-af82bf66346a","name":"Actor1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,60],"id":"d19175b3-7569-4b9e-afad-4ad1f9d14984","name":"Actor2"},{"parameters":{"operation":"executeQuery","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1100,-420],"id":"49114176-ad1b-482e-bcde-1032f2aa886c","name":"linkedin_profiles","credentials":{"postgres":{"id":"zGC0yDnJtKGOOaSr","name":"Postgres-linkedin-contas"}}},{"parameters":{"content":"## Routers","height":780,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,-380],"id":"83561c66-e313-47a1-b0fc-5d79781c95c4","name":"Sticky Note"},{"parameters":{"content":"## Services","height":1020,"width":320,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,-520],"id":"4cf6c0c6-98af-4d52-8ef3-b7ced13e1ed4","name":"Sticky Note1"},{"parameters":{"content":"## Configs\n","height":540,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,280],"id":"ec8e3e05-010a-4108-acfd-e4ddc26e26a7","name":"Sticky Note2"},{"parameters":{"content":"## Database","height":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,-520],"id":"ca00d496-b2e3-4982-b227-5dc5a154797b","name":"Sticky Note3"},{"parameters":{"content":"## Scraper","height":360,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,-140],"id":"b606d8fb-6b3d-4411-ae94-fdc70ca78053","name":"Sticky Note4"},{"parameters":{"content":"## APIFY","height":600,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1400,-360],"id":"8d59673f-78f9-45b8-ad02-b4c78965b4e4","name":"Sticky Note5"},{"parameters":{"content":"## Schema","height":360,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,480],"id":"76851516-e8a4-4f64-b023-d44306480bda","name":"Sticky Note6"}],"connections":{"main.py":{"main":[[{"node":"production.py","type":"main","index":0},{"node":"scraping.py","type":"main","index":0},{"node":"core/config.py","type":"main","index":0}]]},"production.py":{"main":[[{"node":"production_service.py","type":"main","index":0},{"node":"schema/scraping.py","type":"main","index":0}]]},"scraping.py":{"main":[[{"node":"scraping_service.py","type":"main","index":0},{"node":"schema/scraping.py","type":"main","index":0}]]},"scraping_service.py":{"main":[[{"node":"config.py","type":"main","index":0},{"node":"core/config.py","type":"main","index":0},{"node":"linkedin_scrapper_optmized.py","type":"main","index":0},{"node":"linkedin_profiles","type":"main","index":0}]]},"production_service.py":{"main":[[{"node":"config.py","type":"main","index":0},{"node":"core/config.py","type":"main","index":0},{"node":"linkedin_scrapper_optmized.py","type":"main","index":0},{"node":"linkedin_profiles","type":"main","index":0}]]},"linkedin_scrapper_optmized.py":{"main":[[{"node":"Actor1","type":"main","index":0},{"node":"Actor2","type":"main","index":0},{"node":"linkedin_profiles","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c574d919-4f00-4876-b289-4e7ad1c67062","triggerCount":0,"tags":[]}