relacionados-socios-lrZH4WnOm2jseBNR.json
{"createdAt":"2025-05-30T14:54:04.244Z","updatedAt":"2025-06-13T12:08:02.000Z","id":"lrZH4WnOm2jseBNR","name":"Relacionados Socios","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"limit":10,"where":{"values":[{"column":"pessoa_id","value":"={{ $json.pessoa_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-580,40],"id":"b9946039-5df2-410b-8504-b7e582800b60","name":"Relacionados pessoa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,40],"id":"09ce42fb-6725-48d1-9e88-d7d910078181","name":"When Executed by Another Workflow"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"relacionamentos","mode":"list","cachedResultName":"relacionamentos"},"where":{"values":[{"column":"entidade_destino_id","value":"={{ $json.pessoa_id }}"},{"column":"tipo_destino_id","value":"=1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-140,-60],"id":"31a5cff8-901a-45d1-a518-4e8806077aba","name":"Postgres_relacao_destino","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ec7472d6-e15f-413b-afc3-cde08ad4808c","leftValue":"={{ $json.tipo_destino_id }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,40],"id":"26726507-697d-4716-af2d-302f097c9920","name":"If"},{"parameters":{"jsCode":"// remove duplicatas com base no pessoa_id\nconst vistos = new Set();\nconst unicos = [];\n\nfor (const item of items) {\n  const id = item.json.pessoa_id;\n  if (!vistos.has(id)) {\n    vistos.add(id);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3140,260],"id":"2b9593a6-4bd8-48e1-967f-4f71451a305f","name":"Code1"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"relacionamentos","mode":"list","cachedResultName":"relacionamentos"},"where":{"values":[{"column":"entidade_origem_id","value":"={{ $json.pessoa_id }}"},{"column":"tipo_origem_id","value":"=1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-140,140],"id":"670a200a-0e4b-427f-9252-d4791d6b06d5","name":"Postgres_relacao_destino2","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"jsCode":"for (const item of items) {\n  const data = item.json;\n\n  if (data.empresa_id === data.entidade_destino_id) {\n    const originalEntidadeOrigemId = data.entidade_origem_id;\n    const originalTipoOrigemId = data.tipo_origem_id;\n\n    data.entidade_origem_id = data.entidade_destino_id;\n    data.tipo_origem_id = data.tipo_destino_id;\n\n    data.entidade_destino_id = originalEntidadeOrigemId;\n    data.tipo_destino_id = originalTipoOrigemId;\n\n    data.empresa_id = data.entidade_origem_id; // Update empresa_id to the new origin\n  }\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,40],"id":"d6a5e94a-d887-46d9-a139-1059ce44c18c","name":"Code"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[420,40],"id":"701b512b-ea75-4a82-8f82-cd111a69516a","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"e52c0a62-177f-47a3-9138-66fbbabab4b1","name":"pessoa_id","value":"={{ $json.pessoa_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,400],"id":"ed93eb45-d683-4d47-9623-264382abfdf2","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[100,20],"id":"9f080a2b-9ee8-4510-b948-98122e964895","name":"Merge1"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"where":{"values":[{"column":"pessoa_id","value":"={{ $json.entidade_destino_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1840,440],"id":"0f043fb9-55d1-4aa8-8c0a-0623c2e4ddcf","name":"Postgres_parentes","executeOnce":false,"credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"empresa_id","value":"={{ $json.entidade_destino_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1380,-220],"id":"453d1bf4-7340-42e4-b013-6e64e31ddc6a","name":"Postgres_outras_empresas","executeOnce":false,"credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"relacionamentos","mode":"list","cachedResultName":"relacionamentos"},"where":{"values":[{"column":"entidade_destino_id","value":"={{ $json.empresa_id }}"},{"column":"tipo_destino_id","value":"=3"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1820,-460],"id":"f519a15f-aeb8-4c56-b697-f4f0ea50145f","name":"Postgres_relacao_destino1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"relacionamentos","mode":"list","cachedResultName":"relacionamentos"},"where":{"values":[{"column":"entidade_origem_id","value":"={{ $json.empresa_id }}"},{"column":"tipo_origem_id","value":"=3"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1820,-260],"id":"2dd39dbc-1d3b-49cb-b759-59d57da71fae","name":"Postgres_relacao_destino3","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2380,-360],"id":"fa671e06-ac39-42dd-b33e-6c61e035738e","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"f3cd72af-9654-44a3-b1c3-39b9e2dc5957","name":"empresa_id","value":"={{ $json.empresa_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,-60],"id":"6d52602d-04f7-41f5-9fea-bb81873aa49a","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2060,-380],"id":"178e358a-cf95-45c8-b3f6-b29fdaa37925","name":"Merge3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ec7472d6-e15f-413b-afc3-cde08ad4808c","leftValue":"={{ $json.tipo_destino_id }}","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2900,-360],"id":"d6128971-26f3-4366-a8c5-5799575fa870","name":"If1"},{"parameters":{"jsCode":"for (const item of items) {\n  const data = item.json;\n\n  if (data.empresa_id === data.entidade_destino_id) {\n    const originalEntidadeOrigemId = data.entidade_origem_id;\n    const originalTipoOrigemId = data.tipo_origem_id;\n\n    data.entidade_origem_id = data.entidade_destino_id;\n    data.tipo_origem_id = data.tipo_destino_id;\n\n    data.entidade_destino_id = originalEntidadeOrigemId;\n    data.tipo_destino_id = originalTipoOrigemId;\n\n    data.empresa_id = data.entidade_origem_id; // Update empresa_id to the new origin\n  }\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,-360],"id":"2703cd42-34f2-4c59-a4ba-a30747a653ee","name":"Code2"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"where":{"values":[{"column":"pessoa_id","value":"={{ $json.entidade_destino_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3080,-220],"id":"efbddd75-80fc-4c7b-8421-5247e8d7b152","name":"Postgres_parentes1","executeOnce":false,"credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2920,260],"id":"f3fff5cb-0dd7-4227-b70e-4077aea1f5c8","name":"Merge4"}],"connections":{"Relacionados pessoa":{"main":[[{"node":"Postgres_relacao_destino","type":"main","index":0},{"node":"Postgres_relacao_destino2","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Relacionados pessoa","type":"main","index":0}]]},"Postgres_relacao_destino":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"If":{"main":[[{"node":"Postgres_parentes","type":"main","index":0}],[{"node":"Postgres_outras_empresas","type":"main","index":0}]]},"Code1":{"main":[[]]},"Postgres_relacao_destino2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Postgres_outras_empresas":{"main":[[{"node":"Postgres_relacao_destino1","type":"main","index":0},{"node":"Postgres_relacao_destino3","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Postgres_relacao_destino1":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Postgres_relacao_destino3":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If1","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Postgres_parentes":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"If1":{"main":[[{"node":"Postgres_parentes1","type":"main","index":0}],[]]},"Postgres_parentes1":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"firstname":"RENATO","lastname":"JOAO FARAH","cpf":"13646919817","pessoa_id":3164,"linkedin":null,"instagram":"renatojfarah","stakeholder":false,"em_prospecao":false,"sexo":"Masculino","data_nascimento":"22/09/1969 00:00:00","nome_mae":"IVANY DE MELLO COELHO FARAH","idade":55,"signo":"VIRGEM","obito":false,"data_obito":null,"renda_estimada":"3684775.00","pep":false,"projeto_id":null,"associado":false}},{"json":{"firstname":"JOAO","lastname":"CARLOS FARAH","cpf":"13646924810","pessoa_id":3165,"linkedin":null,"instagram":"joaocarlosfarah","stakeholder":false,"em_prospecao":false,"sexo":"Masculino","data_nascimento":"04/09/1967 00:00:00","nome_mae":"IVANY DE MELLO COELHO FARAH","idade":57,"signo":"VIRGEM","obito":false,"data_obito":null,"renda_estimada":"3684775.00","pep":false,"projeto_id":null,"associado":false}}]},"versionId":"ddff6995-c13f-49e6-a656-0f1391fb8a01","triggerCount":1,"tags":[]}