relacionados-cpf-e16LNtmEN6kfFQAO.json
{"createdAt":"2025-06-12T11:12:16.491Z","updatedAt":"2025-06-24T11:21:07.000Z","id":"e16LNtmEN6kfFQAO","name":"relacionados CPF","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"where":{"values":[{"column":"firstname","value":"={{ $json.nome_socio.split(' ')[0] }}"},{"column":"lastname","value":"={{ $json.nome_socio.split(' ').slice(1).join(' ') }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1680,-100],"id":"d64a6f8f-b0d4-4f6a-8f2f-96db9c805e6d","name":"ID's socios","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT\n  s.nome_socio,\n  s.cnpj_cpf_socio,\n  s.identificador_de_socio,\n  sq.descricao AS qualificacao,\n  s.data_entrada_sociedade,\n  s.faixa_etaria\nFROM cnpj_db.socios s\nLEFT JOIN cnpj_db.qualificacao_socio sq ON s.qualificacao_socio = sq.codigo::text\nWHERE s.cnpj_basico = '{{$json.cnpj_basico}}'\n  AND s.identificador_de_socio = '2'\nORDER BY s.nome_socio;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2260,-80],"id":"de6aaba4-d3ab-420b-8ada-dbcf4c12c7ec","name":"Sócios","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.pessoa (firstname, lastname, cpf)\nVALUES ('{{ $json.nome_socio.split(' ')[0] }}', '{{ $json.nome_socio.split(' ').slice(1).join(' ') }}', '{{ $json.cnpj_cpf_socio }}')\nON CONFLICT (firstname, lastname, SUBSTRING(cpf FROM 4 FOR 6)) DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2040,-180],"id":"2f4167f5-ae24-49b6-87d5-76cc78fbfe25","name":"Adiciona Sócios","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"iCVMoFh7xlh1KA1y","mode":"list","cachedResultName":"Socio-empresa"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1400,-100],"id":"e27029b5-4def-4a0e-b5b8-2a3fc440872a","name":"Socio-empresa"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3000,80],"id":"afabe425-c546-4281-908f-89098f2e104f","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"return items.map(item => {\n  const cpf = item.json.cpf || '';\n\n  // Remove tudo que não for número\n  const digits = cpf.replace(/\\D/g, '');\n\n  // Pega os 6 dígitos centrais do CPF (posições 4 a 9, índice 3 a 8)\n  const centro = digits.slice(3, 9); \n\n  return {\n    json: {\n      ...item.json,\n      cpf_centro: centro\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2820,80],"id":"fa2e2b4d-d6a2-420d-b5e2-1ede27df1507","name":"CPF-basico"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT\n  s.cnpj_basico,\n  e.razao_social,\n  s.nome_socio,\n  s.cnpj_cpf_socio,\n  s.data_entrada_sociedade,\n  sq.descricao AS qualificacao\nFROM cnpj_db.socios s\nLEFT JOIN cnpj_db.empresas e ON s.cnpj_basico = e.cnpj_basico\nLEFT JOIN cnpj_db.qualificacao_socio sq ON sq.codigo::text = s.qualificacao_socio\nWHERE s.cnpj_cpf_socio LIKE '%{{$json.cpf_centro}}%'\n  AND s.nome_socio = '{{$json.name}}'\n  AND s.identificador_de_socio = '2' -- garante que é pessoa física\nORDER BY s.cnpj_basico;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2600,80],"id":"e014ad9f-37f4-49b1-89e2-bcd640805df5","name":"Empresas do Stakeholder","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-2080,300],"id":"787567e6-444c-4473-ad11-01e2952b74e1","name":"Merge1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.empresa (\n    cnpj,\n    razao_social,\n    nome_fantasia,\n    porte_id,\n    stakeholder,\n    data_fundacao,\n    situacao_cadastral,\n    natureza_juridica_descricao,\n    matriz,\n    ramo,\n    ultima_atualizacao_pj\n    \n)\nVALUES (\n    {{ $json.cnpj_basico ? \"'\" + $json.cnpj_basico + $json.cnpj_ordem + $json.cnpj_dv + \"'\" : \"NULL\" }},\n    {{ $json.razao_social ? \"'\" + $json.razao_social.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.nome_fantasia ? \"'\" + $json.nome_fantasia.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.porte_empresa ?? 'NULL' }},\n    {{ true }},\n    {{ $json.data_inicio_atividades ? \"'\" + $json.data_inicio_atividades + \"'\" : \"NULL\" }},\n    {{ $json.situacao_cadastral ? \"'\" + $json.situacao_cadastral + \"'\" : \"NULL\" }},\n    {{ $json.natureza_juridica ? \"'\" + $json.natureza_juridica.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.matriz_filial === '1' }},\n    {{ $json.cnae_fiscal ? \"'\" + $json.cnae_fiscal + \"'\" : \"NULL\" }},\n    {{ $json.data_situacao_cadastral ? \"'\" + $json.data_situacao_cadastral + \"'\" : \"NULL\" }}\n)\nON CONFLICT (cnpj) DO NOTHING;","options":{"replaceEmptyStrings":false}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1900,180],"id":"f49c462f-971f-4c89-ade5-bf28aea34d00","name":"Adiciona Empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"=cnpj_db","mode":"name"},"table":{"__rl":true,"value":"estabelecimento","mode":"list","cachedResultName":"estabelecimento"},"where":{"values":[{"column":"cnpj_basico","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2260,220],"id":"4d368383-b213-4c37-ac3d-2dd92d5a8eae","name":"Dados empresa","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"=cnpj_db","mode":"name"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"where":{"values":[{"column":"cnpj_basico","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2260,380],"id":"7842d5de-6ab8-4bab-9a72-a4d628d112f5","name":"Dados empresa 2","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj_basico+$json.cnpj_ordem+ $json.cnpj_dv }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1900,420],"id":"f9f392fe-76fb-4ffc-848f-8e3f9786e6c2","name":"ID's empresas1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"1EbYkqSWQjNyu1uO","mode":"list","cachedResultName":"empresa-socio"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1400,280],"id":"6c15b300-4c11-4ad6-a77f-90af6525d7cc","name":"Empresa-socio"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1700,280],"id":"62979de0-14c4-446c-8e8b-084365c4f6a6","name":"Merge"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1880,-100],"id":"9aac27f4-aa23-4b74-8876-885f05694a5b","name":"Merge2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-980,100],"id":"2e61ae2b-e070-4fec-b815-82487444daea","name":"Merge3"}],"connections":{"ID's socios":{"main":[[{"node":"Socio-empresa","type":"main","index":0}]]},"Sócios":{"main":[[{"node":"Adiciona Sócios","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Adiciona Sócios":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Socio-empresa":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"CPF-basico","type":"main","index":0}]]},"CPF-basico":{"main":[[{"node":"Empresas do Stakeholder","type":"main","index":0}]]},"Empresas do Stakeholder":{"main":[[{"node":"Sócios","type":"main","index":0},{"node":"Dados empresa","type":"main","index":0},{"node":"Dados empresa 2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Adiciona Empresa","type":"main","index":0},{"node":"ID's empresas1","type":"main","index":0}]]},"Dados empresa":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Dados empresa 2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Adiciona Empresa":{"main":[[{"node":"Merge","type":"main","index":0}]]},"ID's empresas1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Empresa-socio","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"ID's socios","type":"main","index":0}]]},"Empresa-socio":{"main":[[{"node":"Merge3","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When clicking ‘Execute workflow’":[{"json":{"cpf":"655.378.401-97","name":"GEORGE DE OLIVEIRA CARVALHO"}}]},"versionId":"23622257-55e2-4c75-88b9-f47e855c93fa","triggerCount":0,"tags":[]}