relacionados-stakeholder-T3lYCCyN2ZMl3pS3.json
{"createdAt":"2025-05-30T14:05:55.896Z","updatedAt":"2025-06-13T19:01:28.000Z","id":"T3lYCCyN2ZMl3pS3","name":"Relacionados Stakeholder","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"relacionamentos","mode":"list","cachedResultName":"relacionamentos"},"where":{"values":[{"column":"entidade_destino_id","value":"={{ $json.empresa_id }}"},{"column":"tipo_destino_id","value":"3"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1720,420],"id":"90b4baba-8882-49b5-b2c6-5d4e4cb5d1c2","name":"Postgres_relacao","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"where":{"values":[{"column":"pessoa_id","value":"={{ $json.entidade_destino_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-300,380],"id":"1818afe8-d826-448c-82b9-364a33f57793","name":"Postgres_socio","executeOnce":false,"credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"limit":10,"where":{"values":[{"column":"stakeholder","value":"true"},{"column":"empresa_id","value":"={{ $json.body.node_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2180,560],"id":"7756be01-c9ea-404d-b65c-747013e9dc63","name":"Postgres_empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"advogado","mode":"list","cachedResultName":"advogado"},"where":{"values":[{"column":"advogado_id","value":"={{ $json.entidade_destino_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,720],"id":"58a79f01-cc55-4aa9-aea6-a233e7f45e8a","name":"Postgres_advogado","executeOnce":false,"credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bc51bfc-6a70-46bf-bfe2-1e3f304e03d9","leftValue":"={{ $json.tipo_destino_id }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,560],"id":"852f5810-39a5-46c7-abb1-7d8347d1d046","name":"If"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"relacionamentos","mode":"list","cachedResultName":"relacionamentos"},"where":{"values":[{"column":"entidade_origem_id","value":"={{ $json.empresa_id }}"},{"column":"tipo_origem_id","value":"3"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1720,720],"id":"4af52ccc-2e49-4cc3-ba49-1cdc97675753","name":"Postgres_relacao4","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1480,540],"id":"3c6503a0-74c3-436a-8279-24e05db969e2","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1020,400],"id":"266def1f-d33e-4907-8af3-57d83825ac5c","name":"Merge1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2400,560],"id":"6bb31682-69a7-4a88-8908-739d5ebde5c0","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"236c4748-8130-4472-bdbb-7df59b0e27dd","leftValue":"={{ $json.instagram }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-60,720],"id":"3395d9ff-566b-4f84-9d4b-16d0050d0c34","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"htJrGGnFki6e8luR","mode":"list","cachedResultName":"Busca Advogados"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[480,740],"id":"c2e84c2d-5cf2-405b-9e67-83e750850b47","name":"Busca advogados","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"lrZH4WnOm2jseBNR","mode":"list","cachedResultName":"Relacionados Socios"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[40,380],"id":"684bfe42-ad8c-4291-8c5a-0e13ef1b926f","name":"Relacionados Socios"},{"parameters":{"assignments":{"assignments":[{"id":"7ce52d51-c236-4767-a8cf-a466541897fd","name":"node_id","value":"={{ $json.advogado_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,740],"id":"e6100f8c-4dbe-47a7-83f2-f551b4136662","name":"Edit Fields"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"tipo_entidade","mode":"list","cachedResultName":"tipo_entidade"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1700,180],"id":"758f892d-f536-43df-a28f-a3b812cf5ac7","name":"Postgres_relacao1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"jsCode":"for (const item of items) {\n  const data = item.json;\n\n  if (data.empresa_id === data.entidade_destino_id) {\n    const originalEntidadeOrigemId = data.entidade_origem_id;\n    const originalTipoOrigemId = data.tipo_origem_id;\n\n    data.entidade_origem_id = data.entidade_destino_id;\n    data.tipo_origem_id = data.tipo_destino_id;\n\n    data.entidade_destino_id = originalEntidadeOrigemId;\n    data.tipo_destino_id = originalTipoOrigemId;\n\n    data.empresa_id = data.entidade_origem_id; // Update empresa_id to the new origin\n  }\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,560],"id":"87c605d3-d976-40d1-9294-2d1762ead25c","name":"Transforma Origem Destino"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1200,560],"id":"270bff0e-62c8-49d0-b13d-aaf33a224673","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"556d06fa-9773-4bda-936f-7b1ad103aaef","name":"empresa_id","value":"={{ $json.empresa_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1780,560],"id":"b4e62ade-31f0-4c14-805b-d1c5b4b5a70d","name":"Edit Fields1"}],"connections":{"Postgres_relacao":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Postgres_socio":{"main":[[{"node":"Relacionados Socios","type":"main","index":0}]]},"Postgres_empresa":{"main":[[{"node":"Postgres_relacao","type":"main","index":0},{"node":"Postgres_relacao4","type":"main","index":0},{"node":"Postgres_relacao1","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"If":{"main":[[{"node":"Postgres_socio","type":"main","index":0}],[{"node":"Postgres_advogado","type":"main","index":0}]]},"Postgres_relacao4":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Postgres_advogado":{"main":[[{"node":"If1","type":"main","index":0}]]},"Merge1":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Postgres_empresa","type":"main","index":0}]]},"If1":{"main":[[{"node":"Merge1","type":"main","index":1}],[{"node":"Edit Fields","type":"main","index":0}]]},"Busca advogados":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Relacionados Socios":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Busca advogados","type":"main","index":0}]]},"Transforma Origem Destino":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Transforma Origem Destino","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge2","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"body":{"node_id":4052}}}]},"versionId":"53558b8f-846f-4e74-87d6-c6db9e8936b0","triggerCount":1,"tags":[]}