socio-empresa-iCVMoFh7xlh1KA1y.json
{"createdAt":"2025-06-11T11:37:19.059Z","updatedAt":"2025-07-11T20:31:55.000Z","id":"iCVMoFh7xlh1KA1y","name":"Socio-empresa","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.empresa (\n    cnpj,\n    razao_social,\n    nome_fantasia,\n    porte_id,\n    stakeholder,\n    data_fundacao,\n    situacao_cadastral,\n    natureza_juridica_descricao,\n    matriz,\n    ramo,\n    ultima_atualizacao_pj,\n    usuario_id\n)\nVALUES (\n    {{ $json.cnpj_basico ? \"'\" + $json.cnpj_basico + $json.cnpj_ordem + $json.cnpj_dv + \"'\" : \"NULL\" }},\n    {{ $json.razao_social ? \"'\" + $json.razao_social.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.nome_fantasia ? \"'\" + $json.nome_fantasia.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.porte_empresa ?? 'NULL' }},\n    {{ false }},\n    {{ $json.data_inicio_atividades ? \"'\" + $json.data_inicio_atividades + \"'\" : \"NULL\" }},\n    {{ $json.situacao_cadastral ? \"'\" + $json.situacao_cadastral + \"'\" : \"NULL\" }},\n    {{ $json.natureza_juridica ? \"'\" + $json.natureza_juridica.toString().replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.matriz_filial === '1' }},\n    {{ $json.cnae_fiscal ? \"'\" + $json.cnae_fiscal + \"'\" : \"NULL\" }},\n    {{ $json.data_situacao_cadastral ? \"'\" + $json.data_situacao_cadastral + \"'\" : \"NULL\" }},\n    '{{ $('When Executed by Another Workflow').item.json.usuario_id }}'\n)\nON CONFLICT (usuario_id, cnpj) DO NOTHING;\n","options":{"replaceEmptyStrings":false}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[120,-360],"id":"dceed576-284c-4745-a943-02bbf38a34f4","name":"Adiciona Empresa1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"=cnpj_db","mode":"name"},"table":{"__rl":true,"value":"estabelecimento","mode":"list","cachedResultName":"estabelecimento"},"where":{"values":[{"column":"cnpj_basico","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,-360],"id":"863b822f-de9a-4016-bd34-db6c5afa5207","name":"Dados empresa1","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"=cnpj_db","mode":"name"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"where":{"values":[{"column":"cnpj_basico","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,-160],"id":"8adbf989-61d1-4f0d-8b0c-ae1d333a6d27","name":"Dados empresa ","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj_basico + $json.cnpj_ordem+$json.cnpj_dv }}"},{"column":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,-140],"id":"a7a2ab9c-d485-4dd5-bd60-18a5da6023b4","name":"Dados Stakeholder1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.relacionamentos (\n    entidade_origem_id,\n    tipo_origem_id,\n    entidade_destino_id,\n    tipo_destino_id,\n    tipo_relacao_id,\n    usuario_id\n)\nVALUES ({{ $('When Executed by Another Workflow').item.json.pessoa_id }}, 1,{{ $json.empresa_id }} , 3, 25, '{{ $('When Executed by Another Workflow').item.json.usuario_id }}')\nON CONFLICT (entidade_origem_id, tipo_origem_id, entidade_destino_id, tipo_destino_id, tipo_relacao_id, usuario_id)\nDO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1220,-360],"id":"3787d856-64a9-4959-91a9-1fe70663856e","name":"relacionamento_socio_empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-760,-260],"id":"88216780-b5fb-4fb0-82ba-37d38d9ead6e","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT\n  s.cnpj_basico,\n  e.razao_social,\n  s.nome_socio,\n  s.cnpj_cpf_socio,\n  sq.descricao AS qualificacao,\n  s.data_entrada_sociedade\nFROM cnpj_db.socios s\nLEFT JOIN cnpj_db.empresas e ON s.cnpj_basico = e.cnpj_basico\nLEFT JOIN cnpj_db.qualificacao_socio sq ON s.qualificacao_socio = sq.codigo::text\nWHERE s.cnpj_cpf_socio = '{{ '***' + $json.cpf.substring(3,9) + '**' }}'\n  AND s.nome_socio = '{{$json.firstname + ' ' +$json.lastname}}'\nORDER BY s.cnpj_basico;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-540,-260],"id":"5481becc-bd0e-43a3-9ed6-3483c77c8886","name":"Empresas dos socios","credentials":{"postgres":{"id":"06H9yc1itfgY06q4","name":"postgres supabase"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[780,-260],"id":"eae42e6c-7b78-48e6-b186-02eef1b6e675","name":"Merge"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj }}"},{"column":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1000,-260],"id":"a85e15a4-7835-4832-a4c0-a6ed22fd335f","name":"ID's empresas","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"1EbYkqSWQjNyu1uO","mode":"list","cachedResultName":"empresa-socio"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1220,-160],"id":"c63cf968-ce2d-4d56-87db-0708afe5a6b3","name":"Empresa-socio"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1440,-260],"id":"4b2053ab-8f8d-411c-9f6d-4f8e5ab87906","name":"Merge1"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"where":{"values":[{"column":"cnpj","value":"={{ $('Dados empresa1').first().json.cnpj_basico +  $('Dados empresa1').first().json.cnpj_ordem +  $('Dados empresa1').first().json.cnpj_dv }}"},{"column":"usuario_id","value":"={{ $('When Executed by Another Workflow').item.json.usuario_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[340,-360],"id":"94754a9f-636c-48a6-90fa-2c5b87c8122b","name":"Dados Banco Empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO plataforma_stakeholders.enderecos (\n    usuario_id,\n    entidade_id,\n    tipo_entidade_id,\n    endereco_id,\n    logradouro,\n    numero,\n    complemento,\n    bairro,\n    cidade,\n    uf,\n    cep\n)\nVALUES (\n    '{{ $('When Executed by Another Workflow').item.json.usuario_id }}',\n    {{ $json.empresa_id }},\n    3,\n    1,\n    {{ $('Merge4').first().json.logradouro ? `'${$('Merge4').first().json.logradouro.replace(/'/g, \"''\")}'` : 'NULL' }},\n    {{ $('Merge4').first().json.numero ? `'${$('Merge4').first().json.numero.replace(/'/g, \"''\")}'` : 'NULL' }},\n    {{ $('Merge4').first().json.complemento ? `'${$('Merge4').first().json.complemento.replace(/'/g, \"''\")}'` : 'NULL' }},\n    {{ $('Merge4').first().json.bairro ? `'${$('Merge4').first().json.bairro.replace(/'/g, \"''\")}'` : 'NULL' }},\n    {{ $('Merge4').first().json.municipio ? `'${$('Merge4').first().json.municipio.replace(/'/g, \"''\")}'` : 'NULL' }},\n    {{ $('Merge4').first().json.uf ? `'${$('Merge4').first().json.uf.replace(/'/g, \"''\")}'` : 'NULL' }},\n    {{ $('Merge4').first().json.cep ? `'${$('Merge4').first().json.cep.replace(/'/g, \"''\")}'` : 'NULL' }}\n)\nON CONFLICT (usuario_id, entidade_id) DO NOTHING;\n","options":{"replaceEmptyStrings":false}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,-360],"id":"950f1fb5-23f2-442d-8d7f-62525d184c25","name":"Adiciona endereço","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-100,-260],"id":"7587419d-ee79-4201-b0e4-e29799d6ce8f","name":"Merge4"}],"connections":{"Dados empresa1":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Dados empresa ":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Dados Stakeholder1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"When Executed by Another Workflow":{"main":[[{"node":"Empresas dos socios","type":"main","index":0}]]},"Empresas dos socios":{"main":[[{"node":"Dados empresa1","type":"main","index":0},{"node":"Dados empresa ","type":"main","index":0}]]},"Adiciona Empresa1":{"main":[[{"node":"Dados Banco Empresa","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ID's empresas","type":"main","index":0}]]},"ID's empresas":{"main":[[{"node":"relacionamento_socio_empresa","type":"main","index":0},{"node":"Empresa-socio","type":"main","index":0}]]},"relacionamento_socio_empresa":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Empresa-socio":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Dados Banco Empresa":{"main":[[{"node":"Adiciona endereço","type":"main","index":0}]]},"Adiciona endereço":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Dados Stakeholder1","type":"main","index":0},{"node":"Adiciona Empresa1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"firstname":"MARIA","lastname":"LEILIANE DOS SANTOS","cpf":"***778648**","pessoa_id":7656,"linkedin":null,"instagram":null,"stakeholder":false,"em_prospecao":false,"sexo":null,"data_nascimento":null,"nome_mae":null,"idade":null,"signo":null,"obito":false,"data_obito":null,"renda_estimada":null,"pep":false,"projeto_id":null,"associado":false,"usuario_id":"bd3106d0-cb56-40ff-a31a-d55f1e2b2ecf"}}]},"versionId":"da1fa69d-ec45-4288-8780-cbb36ba21105","triggerCount":0,"tags":[]}