status-IqlWutwkPsPNLJ2L.json
{"createdAt":"2025-06-12T00:13:58.743Z","updatedAt":"2025-06-13T13:14:43.000Z","id":"IqlWutwkPsPNLJ2L","name":"status","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-300,-20],"id":"698f9657-273e-48cf-98bc-6c590fafc04e","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"WITH socios_primarios AS (\n    -- Pessoas e advogados diretamente relacionados à empresa inicial\n    SELECT \n        r.entidade_destino_id AS pessoa_id,\n        r.tipo_destino_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    WHERE r.entidade_origem_id = 553 AND r.tipo_origem_id = 3\n      AND r.tipo_destino_id IN (1, 4)\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS pessoa_id,\n        r.tipo_origem_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    WHERE r.entidade_destino_id = 553 AND r.tipo_destino_id = 3\n      AND r.tipo_origem_id IN (1, 4)\n),\nempresas_secundarias AS (\n    -- Empresas onde os sócios primários (pessoas) participam\n    SELECT \n        r.entidade_destino_id AS empresa_id\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_origem_id = s.pessoa_id AND r.tipo_origem_id = 1 AND s.tipo = 1\n    WHERE r.tipo_destino_id = 3\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS empresa_id\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_destino_id = s.pessoa_id AND r.tipo_destino_id = 1 AND s.tipo = 1\n    WHERE r.tipo_origem_id = 3\n),\nsocios_secundarios AS (\n    -- Pessoas e advogados relacionados às empresas secundárias\n    SELECT \n        r.entidade_destino_id AS pessoa_id,\n        r.tipo_destino_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN empresas_secundarias e ON r.entidade_origem_id = e.empresa_id AND r.tipo_origem_id = 3\n    WHERE r.tipo_destino_id IN (1, 4)\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS pessoa_id,\n        r.tipo_origem_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN empresas_secundarias e ON r.entidade_destino_id = e.empresa_id AND r.tipo_destino_id = 3\n    WHERE r.tipo_origem_id IN (1, 4)\n),\nrelacionamentos_terciarios AS (\n    -- Pessoas/advogados conectados diretamente aos sócios primários (somente se o sócio primário for pessoa)\n    SELECT \n        r.entidade_destino_id AS pessoa_id,\n        r.tipo_destino_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_origem_id = s.pessoa_id AND s.tipo = 1 AND r.tipo_origem_id = 1\n    WHERE r.tipo_destino_id IN (1, 4)\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS pessoa_id,\n        r.tipo_origem_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_destino_id = s.pessoa_id AND s.tipo = 1 AND r.tipo_destino_id = 1\n    WHERE r.tipo_origem_id IN (1, 4)\n),\ntodos_socios AS (\n    -- Junta todos os sócios primários, secundários e terciários\n    SELECT pessoa_id, tipo FROM socios_primarios\n    UNION\n    SELECT pessoa_id, tipo FROM socios_secundarios\n    UNION\n    SELECT pessoa_id, tipo FROM relacionamentos_terciarios\n)\nSELECT DISTINCT\n    CASE \n        WHEN t.tipo = 1 THEN p.firstname || ' ' || p.lastname\n        WHEN t.tipo = 4 THEN a.firstname || ' ' || a.lastname\n        ELSE NULL\n    END AS nome,\n    CASE \n        WHEN t.tipo = 1 THEN 'Pessoa'\n        WHEN t.tipo = 4 THEN 'Advogado'\n        ELSE NULL\n    END AS tipo,\n    t.pessoa_id AS id\nFROM todos_socios t\nLEFT JOIN plataforma_stakeholders.pessoa p ON t.tipo = 1 AND t.pessoa_id = p.pessoa_id\nLEFT JOIN plataforma_stakeholders.advogado a ON t.tipo = 4 AND t.pessoa_id = a.advogado_id\nWHERE (p.pessoa_id IS NOT NULL OR a.advogado_id IS NOT NULL)\nORDER BY tipo, nome;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-20,-60],"id":"c9be7ecb-fbe8-42a2-a622-a21fbf9f891d","name":"Postgres","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM plataforma_stakeholders.advogado\nWHERE advogado_id = 65;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[140,-260],"id":"3c925c75-d716-48b8-84e3-e16e086a2d4e","name":"Postgres1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Substitua :id_entidade e :tipo_entidade pelos valores desejados\nSELECT \n    CASE \n        WHEN r.tipo_destino_id = 1 THEN p.firstname || ' ' || p.lastname\n        WHEN r.tipo_destino_id = 3 THEN COALESCE(e.nome_fantasia, e.razao_social)\n        WHEN r.tipo_destino_id = 4 THEN a.firstname || ' ' || a.lastname\n        ELSE NULL\n    END AS nome,\n    CASE \n        WHEN r.tipo_destino_id = 1 THEN 'Pessoa'\n        WHEN r.tipo_destino_id = 3 THEN 'Empresa'\n        WHEN r.tipo_destino_id = 4 THEN 'Advogado'\n        ELSE NULL\n    END AS tipo,\n    r.entidade_destino_id AS id\nFROM plataforma_stakeholders.relacionamentos r\nLEFT JOIN plataforma_stakeholders.pessoa p ON r.tipo_destino_id = 1 AND r.entidade_destino_id = p.pessoa_id\nLEFT JOIN plataforma_stakeholders.empresa e ON r.tipo_destino_id = 3 AND r.entidade_destino_id = e.empresa_id\nLEFT JOIN plataforma_stakeholders.advogado a ON r.tipo_destino_id = 4 AND r.entidade_destino_id = a.advogado_id\nWHERE r.entidade_origem_id = :id_entidade AND r.tipo_origem_id = :tipo_entidade\n\nUNION\n\nSELECT \n    CASE \n        WHEN r.tipo_origem_id = 1 THEN p.firstname || ' ' || p.lastname\n        WHEN r.tipo_origem_id = 3 THEN COALESCE(e.nome_fantasia, e.razao_social)\n        WHEN r.tipo_origem_id = 4 THEN a.firstname || ' ' || a.lastname\n        ELSE NULL\n    END AS nome,\n    CASE \n        WHEN r.tipo_origem_id = 1 THEN 'Pessoa'\n        WHEN r.tipo_origem_id = 3 THEN 'Empresa'\n        WHEN r.tipo_origem_id = 4 THEN 'Advogado'\n        ELSE NULL\n    END AS tipo,\n    r.entidade_origem_id AS id\nFROM plataforma_stakeholders.relacionamentos r\nLEFT JOIN plataforma_stakeholders.pessoa p ON r.tipo_origem_id = 1 AND r.entidade_origem_id = p.pessoa_id\nLEFT JOIN plataforma_stakeholders.empresa e ON r.tipo_origem_id = 3 AND r.entidade_origem_id = e.empresa_id\nLEFT JOIN plataforma_stakeholders.advogado a ON r.tipo_origem_id = 4 AND r.entidade_origem_id = a.advogado_id\nWHERE r.entidade_destino_id = :id_entidade AND r.tipo_destino_id = :tipo_entidade\n\nORDER BY tipo, nome;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[140,160],"id":"c60ddc5a-91b7-4532-9f10-740a32880465","name":"Postgres2","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"WITH socios_primarios AS (\n    -- Pessoas e advogados diretamente relacionados à empresa inicial\n    SELECT \n        r.entidade_destino_id AS pessoa_id,\n        r.tipo_destino_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    WHERE r.entidade_origem_id = {{ $json.id }} AND r.tipo_origem_id = 1\n      AND r.tipo_destino_id IN (1, 4) -- 1: Pessoa, 4: Advogado\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS pessoa_id,\n        r.tipo_origem_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    WHERE r.entidade_destino_id = 90 AND r.tipo_destino_id = 3\n      AND r.tipo_origem_id IN (1, 4)\n),\nempresas_secundarias AS (\n    -- Empresas onde os sócios primários (pessoas) participam\n    SELECT \n        r.entidade_destino_id AS empresa_id\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_origem_id = s.pessoa_id AND r.tipo_origem_id = 1\n    WHERE r.tipo_destino_id = 3\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS empresa_id\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_destino_id = s.pessoa_id AND r.tipo_destino_id = 1\n    WHERE r.tipo_origem_id = 3\n),\nsocios_secundarios AS (\n    -- Pessoas e advogados relacionados às empresas secundárias\n    SELECT \n        r.entidade_destino_id AS pessoa_id,\n        r.tipo_destino_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN empresas_secundarias e ON r.entidade_origem_id = e.empresa_id AND r.tipo_origem_id = 3\n    WHERE r.tipo_destino_id IN (1, 4)\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS pessoa_id,\n        r.tipo_origem_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN empresas_secundarias e ON r.entidade_destino_id = e.empresa_id AND r.tipo_destino_id = 3\n    WHERE r.tipo_origem_id IN (1, 4)\n),\ntodos_socios AS (\n    -- Junta todos os sócios primários e secundários\n    SELECT pessoa_id, tipo FROM socios_primarios\n    UNION\n    SELECT pessoa_id, tipo FROM socios_secundarios\n)\nSELECT DISTINCT\n    CASE \n        WHEN t.tipo = 1 THEN p.firstname || ' ' || p.lastname\n        WHEN t.tipo = 4 THEN a.firstname || ' ' || a.lastname\n        ELSE NULL\n    END AS nome,\n    CASE \n        WHEN t.tipo = 1 THEN 'Pessoa'\n        WHEN t.tipo = 4 THEN 'Advogado'\n        ELSE NULL\n    END AS tipo,\n    t.pessoa_id AS id\nFROM todos_socios t\nLEFT JOIN plataforma_stakeholders.pessoa p ON t.tipo = 1 AND t.pessoa_id = p.pessoa_id\nLEFT JOIN plataforma_stakeholders.advogado a ON t.tipo = 4 AND t.pessoa_id = a.advogado_id\nWHERE (p.pessoa_id IS NOT NULL OR a.advogado_id IS NOT NULL)\nORDER BY tipo, nome;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[360,-20],"id":"f831fa60-135d-4614-9dfd-0ae502483bec","name":"Postgres3","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"relacionamentos","mode":"list","cachedResultName":"relacionamentos"},"where":{"values":[{"column":"entidade_destino_id","value":"65"},{"column":"tipo_destino_id","value":"4"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,-280],"id":"ca2e4e22-4ac6-4980-b7ce-5f45d5e656f3","name":"Postgres4","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Postgres","type":"main","index":0},{"node":"Postgres2","type":"main","index":0},{"node":"Postgres4","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"Postgres4":{"main":[[{"node":"Postgres1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d540ade2-25cf-4c60-ace8-668231e0ffed","triggerCount":0,"tags":[]}