subflow_cnpj_async_agent_company_resume-fhUkxEK39on7ASb3.json
{"createdAt":"2025-05-30T11:57:24.634Z","updatedAt":"2025-06-11T02:20:17.000Z","id":"fhUkxEK39on7ASb3","name":"subflow_cnpj_async_agent_company_resume","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"041d907d-3642-47cf-88e9-6469f4a63f86","name":"Wait","type":"n8n-nodes-base.wait","position":[60,80],"webhookId":"52ac34e2-646f-4a11-b16d-41ddd3f13716","typeVersion":1.1},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.headers.callbackurl }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"finishedItemId","value":"={{ $('Webhook').item.json.body.requestItemId }}"},{"name":"output.resumo_empresa","value":"={{ $json.output.resumo_empresa }}"}]},"options":{}},"id":"49766447-cd55-4759-bd63-d505d28f8f54","name":"Call Resume on Parent Workflow","type":"n8n-nodes-base.httpRequest","position":[260,80],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":3000,"notes":"The callback resumes the parent workflow and reports which item finished.  There could be a race condition if the parent workflow was just resumed by a different sub-workflow but hasn't entered a webhook-wait again yet.  The delay and retry mitigates for the possibility that multiple subtasks complete and call back at once."},{"parameters":{"respondWith":"json","responseBody":"={{ \n{\n  \"finishedItemId\": $json.body.requestItemId\n}\n}}","options":{}},"id":"4d4a878c-486a-4185-91df-745373086b09","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[-400,100],"typeVersion":1.1},{"parameters":{"httpMethod":"POST","path":"agent-resumo-empresa","responseMode":"responseNode","options":{}},"id":"d3d856a1-dcf6-4e95-95ab-29faeede32c4","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-620,100],"webhookId":"b64c1215-aafa-4c53-8f19-d53b233e26d4","typeVersion":2},{"parameters":{"jsonSchemaExample":"{\n\t\"resumo_empresa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-140,600],"id":"7ab2db30-fbc9-4dbf-82e0-0320dbd740b8","name":"Structured Output Parser3"},{"parameters":{"promptType":"define","text":"={{ $json.body.texto_page_home }}\n","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Gerador de Resumo de Atuação da Empresa\n\nVocê é um agente especializado em gerar resumos objetivos sobre empresas com base no conteúdo de seus sites institucionais.\n\n## Objetivo\n\nSua tarefa é analisar o conteúdo textual do site de uma empresa fornecedora e gerar um resumo com **até 200 caracteres**, explicando **o que a empresa faz**, com ênfase em seus **serviços ou produtos principais**.\n\n## Entrada\n\nAnalise exclusivamente o conteúdo presente no campo `fullCleanedString`.\n\n## Instruções\n\n1. Leia o texto e identifique os principais **produtos**, **serviços**, **tecnologias** ou **segmentos atendidos**.\n2. Foque em responder à pergunta: **“O que esta empresa oferece?”**\n3. Seja direto, objetivo e use linguagem clara e comercial.\n4. Evite termos vagos como “soluções inovadoras” sem explicar o que é oferecido.\n\n### Exemplos de resumo aceitável\n\n- `\"Fabricação de estruturas metálicas para galpões industriais e coberturas comerciais.\"`\n- `\"Especializada em engenharia elétrica e montagem de painéis para indústrias.\"`\n- `\"Distribuidora de equipamentos hidráulicos e válvulas industriais em todo o Brasil.\"`\n\n## Saída\n\nRetorne o resultado no seguinte formato JSON:\n\n```json\n{\n  \"resumo_empresa\": \"DESCRIÇÃO RESUMIDA AQUI\"\n}\n```\n\nSe não for possível identificar claramente o que a empresa faz, retorne:\n\n```json\n{\n  \"resumo_empresa\": \"nao_encontrado\"\n}\n```\n\n## Regras Finais\n\n- Máximo de **200 caracteres**.\n- Sempre retorne apenas uma string no campo `\"resumo_empresa\"`.\n- Não copie slogans ou frases genéricas. Descreva **claramente** a atividade principal da empresa."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-360,380],"id":"48f770e5-bc5c-40e4-92e9-ca5220fc9b58","name":"Agente Resume Atuação Empresa","retryOnFail":false,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-380,600],"id":"1db7ed30-4a37-4cab-a254-7c99c1faf05d","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}}],"connections":{"Wait":{"main":[[{"node":"Call Resume on Parent Workflow","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Agente Resume Atuação Empresa","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Agente Resume Atuação Empresa","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Agente Resume Atuação Empresa","type":"ai_languageModel","index":0}]]},"Agente Resume Atuação Empresa":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"32b52ba7-899f-45ee-94ab-8b93474f3e24","triggerCount":1,"tags":[]}