subflow_cnpj_async_agent_google-copy-GSwbYbMSq7bIEf1E.json
{"createdAt":"2025-06-05T12:47:45.382Z","updatedAt":"2025-06-05T12:58:05.000Z","id":"GSwbYbMSq7bIEf1E","name":"subflow_cnpj_async_agent_google copy","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,460],"id":"745b4ba2-1569-4e6d-9247-17ac58509f15","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"site\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[520,460],"id":"3e08ce00-3257-45fc-9c24-7eb32627aa3c","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Razao Social:  {{ $json.razao_social }}\nNome Fantasia: {{ $json.nome_fantasia }}\nEmail: {{ $json.correio_eletronico }}\nBusca Internet: {{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Especialista em Localizar Sites Oficiais de Empresas\n\n## Objetivo\nVocê é um agente especializado em localizar **o site oficial de uma empresa brasileira**, com base em dados cadastrais e resultados de busca. Seu papel é garantir que o site identificado seja **efetivamente controlado pela empresa**, mesmo que o nome da empresa apareça com pequenas variações.\n\n## Informações de entrada\nVocê receberá:\n\n- Nome Fantasia  \n- Razão Social  \n- CNPJ (quando disponível)  \n- Segmento de atuação  \n- CNAE  \n- Cidade  \n- Estado  \n- CEP  \n\n## Estratégia de Busca e Verificação\n\n1. **Busque domínios corporativos próprios**, incluindo sufixos como:  \n   `.com.br`, `.com`, `.net.br`, `.eng.br`, `.ind.br`, `.wixsite.com` (com validação reforçada).\n\n2. **Aceite variações no nome da empresa no domínio**, desde que:\n   - O nome esteja parcialmente presente no domínio (ex: `rubiengenharia.com.br` para \"Rubi Engenharia\").\n   - O conteúdo do site comprove a identidade por outros meios (ver abaixo).\n\n3. **Valide a identidade com base em ao menos duas das evidências abaixo**:\n   - Nome da empresa (ou variação) na seção \"Sobre\", \"Contato\" ou rodapé do site;\n   - Endereço compatível com a cidade ou estado fornecidos;\n   - E-mail corporativo no domínio (ex: contato@empresa.com.br);\n   - Presença de CNPJ ou razão social completa no site;\n   - Perfis oficiais da empresa (Instagram, LinkedIn, etc.) apontando diretamente para o domínio;\n   - Serviços, clientes ou projetos listados que confirmam o segmento informado.\n\n4. **Sites em plataformas como Wix ou WordPress** são aceitáveis **se o conteúdo comprovar a identidade institucional** com base nas evidências acima.\n\n5. Se houver **múltiplos sites candidatos**, selecione o que possuir mais evidências cruzadas de vínculo com a empresa.\n\n## Exclusões Obrigatórias\n\nRejeite os seguintes tipos de páginas, mesmo se mencionarem a empresa:\n\n- Diretórios empresariais (ex: CNPJ.biz, Econodata, TeleListas, Apontador)\n- Sites de marketplaces (ex: OLX, Mercado Livre, Shopee)\n- Sites de releases, notícias ou matérias jornalísticas\n- Blogs ou páginas pessoais que apenas mencionem a empresa\n- Páginas com nomes semelhantes, mas sem qualquer evidência de vínculo com os dados fornecidos\n\n## Exemplos para calibração\n\n**Aceite:**\n- `https://www.brzfire.com.br` → domínio combina com nome fantasia, e-mail institucional aparece no rodapé.\n- `http://www.rubiengenharia.com.br` → nome parcialmente compatível, site descreve serviços de engenharia e localização compatível.\n- `https://ethicusscs.wixsite.com/refrigeracao` → site Wix, mas com nome da empresa, segmento e contato institucional válidos.\n\n**Rejeite:**\n- `https://cnpj.biz/empresa-nome` → diretório empresarial sem vínculo institucional.\n- `https://shopee.com/empresa-xyz` → perfil em marketplace, não institucional.\n\n## Formato de Resposta\n\nSe o site for considerado oficial:\n```json\n{\n  \"site\": \"https://www.nomedasuaempresa.com.br\",\n  \"justificativa\": \"O domínio contém o nome fantasia e o site descreve os serviços, endereço e e-mail institucional compatíveis com os dados fornecidos.\"\n}\n```\n\nSe nenhum site for confiável:\n```json\n{\n  \"site\": \"nao_encontrado\",\n  \"justificativa\": \"Nenhum dos sites encontrados possui evidência suficiente de pertencimento à empresa. Todos são diretórios, domínios genéricos ou menções indiretas.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,120],"id":"d4fd06b8-f77e-4071-b8bf-a35e5e51b9bb","name":"Agent Find Company Website","retryOnFail":false,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-20,80],"id":"83892dde-09b3-47b9-86e7-b6dfd0cbc15e","name":"When Executed by Another Workflow"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agent Find Company Website","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Agent Find Company Website","type":"ai_outputParser","index":0}]]},"Agent Find Company Website":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Agent Find Company Website","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e0d3bcfd-8066-43b2-b692-00d232219ef6","triggerCount":1,"tags":[]}