subflow_cnpj_async_agent_find_clients-Rs16MP0DsZDpWV75.json
{"createdAt":"2025-05-30T11:58:05.708Z","updatedAt":"2025-06-11T02:20:16.000Z","id":"Rs16MP0DsZDpWV75","name":"subflow_cnpj_async_agent_find_clients","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"3824a125-9f35-47c6-900a-073a13b86d83","name":"Wait","type":"n8n-nodes-base.wait","position":[0,0],"webhookId":"ef96fa53-cb98-4d42-bc74-52ba3db50e96","typeVersion":1.1},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.headers.callbackurl }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"finishedItemId","value":"={{ $('Webhook').item.json.body.requestItemId }}"},{"name":"output.clientes","value":"={{ $json.output.clientes }}"}]},"options":{}},"id":"a47c0079-d104-4380-99ac-f2c91e5ddae2","name":"Call Resume on Parent Workflow","type":"n8n-nodes-base.httpRequest","position":[200,0],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":3000,"notes":"The callback resumes the parent workflow and reports which item finished.  There could be a race condition if the parent workflow was just resumed by a different sub-workflow but hasn't entered a webhook-wait again yet.  The delay and retry mitigates for the possibility that multiple subtasks complete and call back at once."},{"parameters":{"respondWith":"json","responseBody":"={{ \n{\n  \"finishedItemId\": $json.body.requestItemId\n}\n}}","options":{}},"id":"3cda6102-428f-4196-b3aa-61f9375184a3","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[-460,20],"typeVersion":1.1},{"parameters":{"httpMethod":"POST","path":"agent-resumo-cliente","responseMode":"responseNode","options":{}},"id":"0e997d7b-8e67-44fe-88f2-7d63fe4a7d0d","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-680,20],"webhookId":"8cc32e4f-59a2-4393-b50c-bc70683f6395","typeVersion":2},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-380,440],"id":"9357ba26-e223-4867-a34d-e5b1aa862300","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"clientes\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-100,460],"id":"f8259761-df22-4ab6-a16b-a4cccce2568b","name":"Structured Output Parser5"},{"parameters":{"promptType":"define","text":"=Texto Page Home: {{ $json.body.texto_page_home }}\n\nTexto Page Cliente: {{ $json.body.texto_page_cliente }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Identificador de Clientes em Sites de Fornecedores\n\nVocê é um agente especializado em extrair nomes de **clientes empresariais ou institucionais** a partir de textos de sites de fornecedores.\n\n## Entrada\n\nAnalise apenas o conteúdo presente no campo `fullCleanedString`.\n\n## Instruções de Análise\n\n1. **Procure blocos de texto que indicam prestação de serviço**, como:\n   - \"Clientes\", \"Clientes Atendidos\", \"Nossos Clientes\"\n   - \"Obras realizadas\", \"Projetos entregues\", \"Cases de sucesso\"\n   - \"Portfólio\", \"Quem confia\", \"Empresas atendidas\", \"Trabalhos realizados\", \"Parceiros comerciais\", \"Marcas atendidas\"\n\n2. **Extraia nomes de empresas ou instituições** que aparecem como beneficiárias dos serviços:\n   - Podem estar em listas, títulos, frases, links ou descrições de projetos.\n   - Quando houver localizações geográficas, remova-as. Exemplo:\n     - `\"Grupo DBK - São José do Rio Preto - SP\"` → `\"Grupo DBK\"`\n   - Remova quaisquer formatações como negrito, colchetes ou links.\n\n3. **Ignorar entradas que não sejam nomes válidos de empresas ou instituições**, como:\n   - Termos técnicos: \"Soldagem MIG\", \"Tubulação industrial\", \"Pintura Eletrostática\"\n   - Cidades ou regiões isoladas\n   - Frases genéricas como \"clientes satisfeitos\", \"diversas empresas\"\n   - Repetições, nomes incompletos ou vagos (ex: “Empresa de Logística”)\n\n## Saída\n\nSe um ou mais nomes forem identificados, retorne:\n\n```json\n{\n  \"clientes\": \"Grupo DBK, Quinelato, Plakton Cosméticos\"\n}\n```\n\nCaso **nenhum cliente válido seja identificado**, retorne:\n\n```json\n{\n  \"clientes\": \"nao_encontrado\"\n}\n```\n\n## Regras Finais\n\n- A saída deve sempre ser um único campo `\"clientes\"` com uma **string separada por vírgulas**.\n- Não adivinhe ou infira nomes. Retorne apenas o que estiver claramente indicado como cliente.\n- Elimine duplicações e mantenha os nomes limpos e objetivos."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-340,240],"id":"3fffe586-bf16-455b-9dd6-ba3f7108d3cf","name":"Agente Resume Cliente","retryOnFail":false,"maxTries":2,"onError":"continueRegularOutput"}],"connections":{"Wait":{"main":[[{"node":"Call Resume on Parent Workflow","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Agente Resume Cliente","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Agente Resume Cliente","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"Agente Resume Cliente","type":"ai_outputParser","index":0}]]},"Agente Resume Cliente":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23b28133-23ae-4f5f-ab97-bb1c57fe36c0","triggerCount":1,"tags":[]}