subflow_cnpj_async_agent_client_page-eqMdfYiYHb0IWq4L.json
{"createdAt":"2025-05-30T11:56:35.429Z","updatedAt":"2025-06-11T02:20:15.000Z","id":"eqMdfYiYHb0IWq4L","name":"subflow_cnpj_async_agent_client_page","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"f42922d2-4427-4397-8a17-b94db387d0fb","name":"Wait","type":"n8n-nodes-base.wait","position":[440,0],"webhookId":"3e523b1f-4cd2-4073-aaac-0dbe41d36e7e","typeVersion":1.1},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.headers.callbackurl }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"finishedItemId","value":"={{ $('Webhook').item.json.body.requestItemId }}"},{"name":"output.melhor_link","value":"={{ $json.output.melhor_link }}"},{"name":"output.justificativa","value":"={{ $json.output.justificativa }}"}]},"options":{}},"id":"6deae125-c3ba-47be-919b-692eece7c944","name":"Call Resume on Parent Workflow","type":"n8n-nodes-base.httpRequest","position":[660,0],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":3000,"notes":"The callback resumes the parent workflow and reports which item finished.  There could be a race condition if the parent workflow was just resumed by a different sub-workflow but hasn't entered a webhook-wait again yet.  The delay and retry mitigates for the possibility that multiple subtasks complete and call back at once."},{"parameters":{"respondWith":"json","responseBody":"={{ \n{\n  \"finishedItemId\": $json.body.requestItemId\n}\n}}","options":{}},"id":"2bbc52cd-178b-430c-b37a-cce72a4bfb4d","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[220,0],"typeVersion":1.1},{"parameters":{"httpMethod":"POST","path":"agent-site-search","responseMode":"responseNode","options":{}},"id":"f387a83f-906c-411b-9895-26dca160ae70","name":"Webhook","type":"n8n-nodes-base.webhook","position":[0,0],"webhookId":"f218692d-49f5-4ea0-9d64-8f64651a8ef9","typeVersion":2},{"parameters":{"jsonSchemaExample":"{\n\t\"melhor_link\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[460,420],"id":"fa47acdb-e23e-48af-adfa-ee451e059d9c","name":"Structured Output Parser4"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,420],"id":"efffbf0e-16b4-464f-9f9c-3aa8ba816f2c","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"=Link_origem:{{ $json.body.site }}\n\nLinks_scrape_origem:{{ $json.body.links }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Identificador de Link com Clientes em Sites Empresariais\\n\\nVocê é um agente especialista em identificar, entre os links de um site empresarial, aquele que **mais provavelmente contém uma lista de clientes** (não apenas casos isolados).\\n\\n## Entrada\\n\\nVocê receberá o Link_origem, que é o link que originou os Links_scrape_origem\\n\\n## Instruções\\n\\n1. **Verificação inicial**:\\n   - Se a lista Links_scrape_origem estiver vazia, retorne imediatamente \\\"nao_encontrado\\\" com justificativa específica sobre lista vazia\\n\\n2. **Reconstrua links relativos**:\\n   - Use o domínio base encontrado nos links completos fornecidos (ex: `https://www.exemplo.com.br`) para transformar caminhos como `clientes/` em URLs completas (ex: `https://www.exemplo.com.br/clientes/`)\\n   - Para âncoras (#clientes), reconstrua como `dominio_base/#clientes`\\n\\n3. **Termos prioritários por ordem de relevância**:\\n   \\n   **Prioridade 1 (Máxima)**:\\n   - `clientes`, `nossos-clientes`, `clientes-atendidos`, `quem-atendemos`\\n   \\n   **Prioridade 2 (Alta)**:\\n   - `parceiros`, `portfolio`, `portfólio`, `cases`, `cases-de-sucesso`\\n   \\n   **Prioridade 3 (Contextual - adapte ao setor da empresa)**:\\n   - **Construtoras/Arquitetura**: `obras`, `projetos`, `projects`, `projetos-concluidos`, `galeria`\\n   - **Engenharia**: `projetos-concluidos`, `cases`, `obras-realizadas`\\n   - **Consultorias**: `trabalhos-realizados`, `referencias`\\n   - **Agências**: `trabalhos`, `referencias`\\n\\n4. **Critérios de seleção**:\\n   - Sempre prefira termos de prioridade 1 sobre os demais\\n   - Entre links da mesma prioridade, escolha o mais genérico (ex: `/clientes` vs `/clientes/setor-x`)\\n   - Links externos devem ser descartados\\n   - Considere o contexto do setor da empresa para termos de prioridade 3\\n\\n5. **Evite links irrelevantes**:\\n   - `contato`, `sobre`, `home`, `blog`, `noticias`, `author`, redes sociais, raiz do domínio\\n   - Links para arquivos de imagem específicos de projetos (ex: `/assets/img/projects/projeto-x.jpg`)\\n   - Links funcionais como `login`, `mailto:`, `tel:`\\n\\n## Saída\\n\\nFormato de resposta:\\n\\n```json\\n{\\n  \\\"melhor_link\\\": \\\"https://www.exemplo.com.br/clientes\\\",\\n  \\\"justificativa\\\": \\\"Link direto com termo 'clientes' encontrado no domínio principal, indicando página dedicada à listagem de clientes, conforme prioridade máxima de termos.\\\"\\n}\\n```\\n\\nCaso **nenhum link válido** seja identificado:\\n\\n```json\\n{\\n  \\\"melhor_link\\\": \\\"nao_encontrado\\\",\\n  \\\"justificativa\\\": \\\"Nenhum dos links analisados contém termos relacionados a clientes, portfolio ou cases. Os links disponíveis limitam-se a [descrever brevemente os tipos de links encontrados].\\\"\\n}\\n```\\n\\nCaso **lista esteja vazia**:\\n\\n```json\\n{\\n  \\\"melhor_link\\\": \\\"nao_encontrado\\\",\\n  \\\"justificativa\\\": \\\"Não foi possível analisar links pois a lista de Links_scrape_origem está vazia. É necessário fornecer uma lista de links do site para realizar a análise.\\\"\\n}\\n```\\n\\n## Regras Finais\\n\\n- Sempre retorne o link completo com domínio e caminho\\n- Nunca ignore caminhos relativos ou âncoras sem tentar reconstruí-los\\n- Seja específico na justificativa, mencionando o termo encontrado e sua prioridade\\n- Considere o contexto da empresa para avaliar relevância de termos de prioridade 3\\n- Para casos de lista vazia, seja explícito na justificativa\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[260,200],"id":"43e4e8e4-6115-4c02-9479-f1f533e69f23","name":"Agent Find Client Page","retryOnFail":true,"maxTries":2,"alwaysOutputData":true,"onError":"continueErrorOutput"}],"connections":{"Wait":{"main":[[{"node":"Call Resume on Parent Workflow","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Agent Find Client Page","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Agent Find Client Page","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Agent Find Client Page","type":"ai_outputParser","index":0}]]},"Agent Find Client Page":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-automacao-production.up.railway.app","user-agent":"axios/1.8.3","content-length":"6777","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","callbackurl":"https://n8n-automacao-production.up.railway.app/webhook-waiting/1250","content-type":"application/json","x-forwarded-for":"162.220.234.25","x-forwarded-host":"n8n-automacao-production.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4","x-railway-request-id":"vCEK7sUGRhuUJQwMYpkYTA","x-real-ip":"162.220.234.25","x-request-start":"1748746523796"},"params":{},"query":{},"body":{"requestItemId":"22133992","site":"https://www.andritz.com/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo/pt","links":["","/hydro-en","/hydro-en/about-andritz-hydro","/hydro-en/about-andritz-hydro/locations","/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo/pt","/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo","/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo","/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo/pt/local-news-brasil-pt","/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo/pt#and-contact-us","https://careers.andritz.com/search/?createNewAlert=false&q=&optionsFacetsDD_country=BR&optionsFacetsDD_location=&optionsFacetsDD_customfield1=&optionsFacetsDD_dept=&optionsFacetsDD_customfield4=&optionsFacetsDD_shifttype=&optionsFacetsDD_customfield5=Hydropower","/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo/pt/local-news-brasil-pt","https://bc-production.pressmatrix.com/de/profiles/c72b2ddbcca4/editions/221fb5d2bb72a70ce257","/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo/pt/contact-us-andritz-hydropower-in-brazil","https://careers.andritz.com/search/?createNewAlert=false&q=&optionsFacetsDD_country=BR&optionsFacetsDD_location=&optionsFacetsDD_customfield1=&optionsFacetsDD_dept=&optionsFacetsDD_customfield4=&optionsFacetsDD_shifttype=&optionsFacetsDD_customfield5=Hydropower","https://www.andritz.com/hydro-en/newsletter","https://www.andritz.com/hydro-en/hydronews","https://www.linkedin.com/company/andritz-hydro-brasil/","https://www.youtube.com/embed/UDeb8iFfJAo?autoplay=1","/resource/blob/625576/32ec06c48caf6202387d61750905e5f0/2025-1%C2%BA-semestre-relatorio-de-transpar%C3%AAncia-e-igualdade-salarial-hbs-cnpj-22133992000672-data.pdf","/resource/blob/625580/c862571f3d64a598807956c42c53dc54/2025-1%C2%BA-semestre-relatorio-de-transpar%C3%AAncia-e-igualdade-salarial-hbs-cnpj-22133992000168-data.pdf","/resource/blob/625584/1e8adb69755ebffc84b09f0b757429eb/2025-1%C2%BA-semestre-relatorio-de-transpar%C3%AAncia-e-igualdade-hba-cnpj-02216876000286-data.pdf","/hydro-en/hydronews/hn37/brazil-tucuma-feijo","/hydro-en/hydronews/hn36/foz-do-areia-brazil","/hydro-en/hydronews/hn38","/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo/pt/local-news-brasil-pt","/hydro-en/about-andritz-hydro/locations/brasil-sao-paulo/pt/pt","/hydro-en/about-andritz-hydro/locations/south-america","https://careers.andritz.com/search/?q=&q2=&alertId=&optionsFacetsDD_customfield5=Hydro&title=&location=araraquara&facility=&date=","https://careers.andritz.com/search/?q=&q2=&alertId=&optionsFacetsDD_customfield5=Hydro&title=&location=barueri&facility=&date=","https://bc-production.pressmatrix.com/en/profiles/c72b2ddbcca4/editions/category/18533","/hydro-en/about-andritz-hydro/quality-certificates","/products-en/hydro/markets/large-new-installations","/products-en/hydro/modernization-renewal","/products-en/hydro/products/hydropower-services","/products-en/hydro/products/automation-hydropower","/resource/blob/31342/2f4c709d6efa30166ae6a95382a466da/hy-andritz-hydropower-presentation-pt-data.pdf","/hydro-en/events-and-media/downloads","https://www.youtube.com/embed/XVqAatWljOk?autoplay=1","https://www.youtube.com/embed/6tZqPJ3XKdA?autoplay=1","tel:+551141330000","mailto:contact-hydro.br@andritz.com","/newsroom-en/newsletters","https://www.linkedin.com/company/andritz-hydro/","https://www.youtube.com/watch?v=m8rJb0Rh-3s&list=PLl3zoYSZzTUYebmjsRcodTw0Wc5AXOg-l","/group-en/about-us","/group-en/industries","/group-en/service-solutions","/group-en/about-us/suppliers","/sustainability-en","/careers-en","/group-en/about-us/gr-compliance-startseite","/group-en/contact","/group-en/products/search-our-products","/pulp-and-paper-en","/metals-en","/hydro-en","/environment-and-energy-en","/automation-en","/cybersecurity-en","/metris-en","/environmental-solutions-en","/feed-and-biofuel-en","/marine-offshore-en","/nonwoven-textile-en","/panelboard-en","/power-to-x-en","/pumps-en","/recycling-en","/separation-en","/thermal-power-en","/group-en/investors","/group-en/investors/financial-calendar","/group-en/investors/investors-downloads/financial-reports","/group-en/investors/share/share-chart","/group-en/about-us/andritz-worldwide","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=228&location_country=98&location_city=#page=1","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=84658&location_country=84692&location_city=#page=1","https://www.andritz.com/canada-fr","https://www.andritz.com/china-cn","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=228&location_country=172&location_city=#page=1","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=228&location_country=170&location_city=#page=1","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=66&location_country=64&location_city=#page=1","/group-en/about-us/andritz-worldwide","/group-en/about-us","/group-en/industries","/group-en/service-solutions","/group-en/about-us/suppliers","/sustainability-en","/careers-en","/group-en/about-us/gr-compliance-startseite","/group-en/contact","/group-en/products/search-our-products","/pulp-and-paper-en","/metals-en","/hydro-en","/environment-and-energy-en","/automation-en","/cybersecurity-en","/metris-en","/environmental-solutions-en","/feed-and-biofuel-en","/group-en/416006-416006","/nonwoven-textile-en","/panelboard-en","/power-to-x-en","/pumps-en","/recycling-en","/separation-en","/thermal-power-en","/group-en/investors","/group-en/investors/financial-calendar","/group-en/investors/investors-downloads/financial-reports","/group-en/investors/share/share-chart","/group-en/about-us/andritz-worldwide","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=228&location_country=98&location_city=#page=1","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=84658&location_country=84692&location_city=#page=1","https://www.andritz.com/canada-fr","https://www.andritz.com/china-cn","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=228&location_country=172&location_city=#page=1","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=228&location_country=170&location_city=#page=1","https://www.andritz.com/group-en/about-us/andritz-worldwide?location_continent=66&location_country=64&location_city=#page=1","/group-en/about-us/andritz-worldwide","/group-en/sitemap","/group-en/privacy-policy/imprint","/group-en/privacy-policy","/group-en/cookies","/group-en/privacy-policy/media-policy","/group-en/tax-policy","/group-en/privacy-policy/terms-of-use","/group-en/trademarks","/group-en/patents","/group-en/accessibility"]},"webhookUrl":"https://n8n-automacao-production.up.railway.app/webhook/agent-site-search","executionMode":"production"}}]},"versionId":"c021498b-5213-41ce-a3e1-a86f314c7472","triggerCount":1,"tags":[]}