subflow_cnpj_async_agent_google-OPooBPBgLtltm5oi.json
{"createdAt":"2025-05-30T11:55:38.867Z","updatedAt":"2025-06-05T17:52:04.000Z","id":"OPooBPBgLtltm5oi","name":"subflow_cnpj_async_agent_google","active":true,"isArchived":false,"nodes":[{"parameters":{"amount":10},"id":"c2197aea-e276-4961-ad38-7eab45265584","name":"Wait","type":"n8n-nodes-base.wait","position":[440,0],"webhookId":"2d62e5c2-ad4a-4e90-a075-7ca5212e015a","typeVersion":1.1},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.headers.callbackurl }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"finishedItemId","value":"={{ $('Webhook').item.json.body.requestItemId }}"},{"name":"output.site","value":"={{ $json.output.site }}"},{"name":"output.justificativa","value":"={{ $json.output.justificativa }}"}]},"options":{}},"id":"1ee277fe-5171-47df-bbe8-22294f83aa6a","name":"Call Resume on Parent Workflow","type":"n8n-nodes-base.httpRequest","position":[660,0],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000,"maxTries":5,"onError":"continueRegularOutput","notes":"The callback resumes the parent workflow and reports which item finished.  There could be a race condition if the parent workflow was just resumed by a different sub-workflow but hasn't entered a webhook-wait again yet.  The delay and retry mitigates for the possibility that multiple subtasks complete and call back at once."},{"parameters":{"respondWith":"json","responseBody":"={{ \n{\n  \"finishedItemId\": $json.body.requestItemId\n}\n}}","options":{}},"id":"9adbc4b1-9d40-4868-80c9-f02c56416044","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[220,0],"typeVersion":1.1},{"parameters":{"httpMethod":"POST","path":"parallel-subworkflow-target","responseMode":"responseNode","options":{}},"id":"e36f0bcc-17ca-4ef5-89d9-a97ae701445b","name":"Webhook","type":"n8n-nodes-base.webhook","position":[0,0],"webhookId":"14776b45-77d7-4220-808f-2d0a38bec4de","typeVersion":2},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,460],"id":"a0d29da2-e60c-4345-b23a-9b955e005f62","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"site\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[520,460],"id":"e7a69db4-74de-458f-bdf7-0e7298e069ce","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Razao Social:  {{ $json.body.razao_social }}\nNome Fantasia: {{ $json.body.nome_fantasia }}\nEmail: {{ $json.body.correio_eletronico }}\nBusca Internet: {{ $json.body.data }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Especialista em Localizar Sites Oficiais de Empresas\n\n## Objetivo\nVocê é um agente especializado em localizar **o site oficial de uma empresa brasileira**, com base em dados cadastrais e resultados de busca. Seu papel é garantir que o site identificado seja **efetivamente controlado pela empresa**, mesmo que o nome da empresa apareça com pequenas variações.\n\n## Informações de entrada\nVocê receberá:\n\n- Nome Fantasia  \n- Razão Social  \n- CNPJ (quando disponível)  \n- Segmento de atuação  \n- CNAE  \n- Cidade  \n- Estado  \n- CEP  \n\n## Estratégia de Busca e Verificação\n\n1. **Busque domínios corporativos próprios**, incluindo sufixos como:  \n   `.com.br`, `.com`, `.net.br`, `.eng.br`, `.ind.br`, `.wixsite.com` (com validação reforçada).\n\n2. **Aceite variações no nome da empresa no domínio**, desde que:\n   - O nome esteja parcialmente presente no domínio (ex: `rubiengenharia.com.br` para \"Rubi Engenharia\").\n   - O conteúdo do site comprove a identidade por outros meios (ver abaixo).\n\n3. **Valide a identidade com base em ao menos duas das evidências abaixo**:\n   - Nome da empresa (ou variação) na seção \"Sobre\", \"Contato\" ou rodapé do site;\n   - Endereço compatível com a cidade ou estado fornecidos;\n   - E-mail corporativo no domínio (ex: contato@empresa.com.br);\n   - Presença de CNPJ ou razão social completa no site;\n   - Perfis oficiais da empresa (Instagram, LinkedIn, etc.) apontando diretamente para o domínio;\n   - Serviços, clientes ou projetos listados que confirmam o segmento informado.\n\n4. **Sites em plataformas como Wix ou WordPress** são aceitáveis **se o conteúdo comprovar a identidade institucional** com base nas evidências acima.\n\n5. Se houver **múltiplos sites candidatos**, selecione o que possuir mais evidências cruzadas de vínculo com a empresa.\n\n## Exclusões Obrigatórias\n\nRejeite os seguintes tipos de páginas, mesmo se mencionarem a empresa:\n\n- Diretórios empresariais (ex: CNPJ.biz, Econodata, TeleListas, Apontador)\n- Sites de marketplaces (ex: OLX, Mercado Livre, Shopee)\n- Sites de releases, notícias ou matérias jornalísticas\n- Blogs ou páginas pessoais que apenas mencionem a empresa\n- Páginas com nomes semelhantes, mas sem qualquer evidência de vínculo com os dados fornecidos\n\n## Exemplos para calibração\n\n**Aceite:**\n- `https://www.brzfire.com.br` → domínio combina com nome fantasia, e-mail institucional aparece no rodapé.\n- `http://www.rubiengenharia.com.br` → nome parcialmente compatível, site descreve serviços de engenharia e localização compatível.\n- `https://ethicusscs.wixsite.com/refrigeracao` → site Wix, mas com nome da empresa, segmento e contato institucional válidos.\n\n**Rejeite:**\n- `https://cnpj.biz/empresa-nome` → diretório empresarial sem vínculo institucional.\n- `https://shopee.com/empresa-xyz` → perfil em marketplace, não institucional.\n\n## Formato de Resposta\n\nSe o site for considerado oficial:\n```json\n{\n  \"site\": \"https://www.nomedasuaempresa.com.br\",\n  \"justificativa\": \"O domínio contém o nome fantasia e o site descreve os serviços, endereço e e-mail institucional compatíveis com os dados fornecidos.\"\n}\n```\n\nSe nenhum site for confiável:\n```json\n{\n  \"site\": \"nao_encontrado\",\n  \"justificativa\": \"Nenhum dos sites encontrados possui evidência suficiente de pertencimento à empresa. Todos são diretórios, domínios genéricos ou menções indiretas.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,240],"id":"9e399507-265e-49c2-862e-11a248880e4c","name":"Agent Find Company Website","retryOnFail":false,"alwaysOutputData":false,"onError":"continueRegularOutput"}],"connections":{"Wait":{"main":[[{"node":"Call Resume on Parent Workflow","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Agent Find Company Website","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agent Find Company Website","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Agent Find Company Website","type":"ai_outputParser","index":0}]]},"Agent Find Company Website":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"18feb5ce-0d33-4a17-8224-e523d4812d58","triggerCount":1,"tags":[]}