visualização-rkhiy1Hvk6KdMdcf.json
{"createdAt":"2025-07-15T13:39:19.180Z","updatedAt":"2025-07-23T15:21:40.000Z","id":"rkhiy1Hvk6KdMdcf","name":"visualização","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,0],"id":"2eb47c9c-18f7-4575-89dd-f407cc1bf9c3","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"padrao_ouro","mode":"list","cachedResultName":"padrao_ouro"},"returnAll":true,"where":{"values":[{"column":"rating","condition":">","value":"80"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[260,0],"id":"6baf6c75-729f-4879-b846-575ee21a36c7","name":"Postgres","credentials":{"postgres":{"id":"zGC0yDnJtKGOOaSr","name":"Postgres-linkedin-contas"}}},{"parameters":{"assignments":{"assignments":[{"id":"7dc68915-93a2-4afd-89f5-e155b9f76a6e","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"de5eac9c-6036-45b8-a42c-a63a4880477d","name":"public_identifier","value":"={{ $json.public_identifier }}","type":"string"},{"id":"f2795031-c017-432d-af52-29ba3c29beec","name":"agent_think","value":"={{ $json.agent_think }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"5a34a66c-8917-40af-a32d-ac2264d84727","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[620,0],"id":"027d5c76-a5f9-425f-ba2c-b9e96f0d8cab","name":"Aggregate"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"data"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[800,0],"id":"2c07c763-39bd-4d5d-99ab-4d3e92a7f121","name":"Summarize"},{"parameters":{"promptType":"define","text":"={{ $json.appended_data }}","options":{"systemMessage":"Você está recebendo um histórico de analise de perfis.\n\nAnalise o texto de agent_think para cada perfil analisado. Quantos não tiveram nota de Perfil de Divida."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1000,0],"id":"4d23fdb3-7638-4434-9aa3-e0205736a549","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-06-05","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1020,200],"id":"0dd2d8c6-7278-482b-94b0-4f87522d3013","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aea565dc-fde9-486c-b658-c36f0892fdcd","triggerCount":0,"tags":[]}