webhook_instagram_buscar_relacionados-Zs3HnLMQXLGYMTiP.json
{"createdAt":"2025-06-11T20:25:42.915Z","updatedAt":"2025-07-09T19:49:41.000Z","id":"Zs3HnLMQXLGYMTiP","name":"webhook_instagram_buscar_relacionados","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"buscar_relacionados","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-740,420],"id":"ef78f84b-813a-406e-89f8-6f1c357cecdb","name":"Webhook","webhookId":"a535d7f7-e75f-4e94-ab0f-4397ad9ee853"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.node_type }}","rightValue":"Empresa","operator":{"type":"string","operation":"regex"},"id":"ac7c85c6-5004-4b9b-8158-c5345949a0a7"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3f9e8f2-ec47-4958-8800-452683b131f9","leftValue":"={{ $json.body.node_type }}","rightValue":"Pessoa","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a08d8b44-0240-47c3-9b8e-1387bb5e297c","leftValue":"={{ $json.body.node_type }}","rightValue":"Advogado","operator":{"type":"string","operation":"regex"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-480,240],"id":"4ddae1d3-1e76-4089-bc1d-86fb4593075d","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,60],"id":"efa2cb8f-70d6-4fbb-b947-694ccfa23af4","name":"busca_individual_empresa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,240],"id":"10b4e855-3c89-449b-84e2-949245b0589e","name":"Busca Individual Pessoa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,420],"id":"b6b5f03d-3b57-41b4-9209-71055094874e","name":"Busca Individual Advogado"},{"parameters":{"workflowId":{"__rl":true,"value":"5Ovv7hGGwkocUTih","mode":"list","cachedResultName":"Busca stakeholder"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,120],"id":"bea8d40b-cbaa-4dcd-bca4-722d015d6cc1","name":"Busca no Stakeholder","alwaysOutputData":false},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[360,40],"id":"82eb8806-16fb-44f1-8429-73204aba8f40","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"dfa2ad59-7041-455d-b6f7-a185621963d4","name":"node_id","value":"={{ $json.body.node_id }}","type":"string"},{"id":"c007d946-2a24-4b64-8368-71afbf180c57","name":"usuario_id","value":"={{ $json.body.properties.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,120],"id":"a689e4f2-75f7-4e94-991e-b7fc86ce0664","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"WITH socios_primarios AS (\n    -- Pessoas e advogados diretamente relacionados à empresa inicial\n    SELECT \n        r.entidade_destino_id AS pessoa_id,\n        r.tipo_destino_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    WHERE r.entidade_origem_id = {{ $json.body.node_id }} AND r.tipo_origem_id = 3\n      AND r.tipo_destino_id IN (1, 4)\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS pessoa_id,\n        r.tipo_origem_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    WHERE r.entidade_destino_id = {{ $json.body.node_id }} AND r.tipo_destino_id = 3\n      AND r.tipo_origem_id IN (1, 4)\n),\nempresas_secundarias AS (\n    -- Empresas onde os sócios primários (pessoas) participam\n    SELECT \n        r.entidade_destino_id AS empresa_id\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_origem_id = s.pessoa_id AND r.tipo_origem_id = 1 AND s.tipo = 1\n    WHERE r.tipo_destino_id = 3\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS empresa_id\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_destino_id = s.pessoa_id AND r.tipo_destino_id = 1 AND s.tipo = 1\n    WHERE r.tipo_origem_id = 3\n),\nsocios_secundarios AS (\n    -- Pessoas e advogados relacionados às empresas secundárias\n    SELECT \n        r.entidade_destino_id AS pessoa_id,\n        r.tipo_destino_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN empresas_secundarias e ON r.entidade_origem_id = e.empresa_id AND r.tipo_origem_id = 3\n    WHERE r.tipo_destino_id IN (1, 4)\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS pessoa_id,\n        r.tipo_origem_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN empresas_secundarias e ON r.entidade_destino_id = e.empresa_id AND r.tipo_destino_id = 3\n    WHERE r.tipo_origem_id IN (1, 4)\n),\nrelacionamentos_terciarios AS (\n    -- Pessoas/advogados conectados diretamente aos sócios primários (somente se o sócio primário for pessoa)\n    SELECT \n        r.entidade_destino_id AS pessoa_id,\n        r.tipo_destino_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_origem_id = s.pessoa_id AND s.tipo = 1 AND r.tipo_origem_id = 1\n    WHERE r.tipo_destino_id IN (1, 4)\n\n    UNION\n\n    SELECT \n        r.entidade_origem_id AS pessoa_id,\n        r.tipo_origem_id AS tipo\n    FROM plataforma_stakeholders.relacionamentos r\n    JOIN socios_primarios s ON r.entidade_destino_id = s.pessoa_id AND s.tipo = 1 AND r.tipo_destino_id = 1\n    WHERE r.tipo_origem_id IN (1, 4)\n),\ntodos_socios AS (\n    -- Junta todos os sócios primários, secundários e terciários\n    SELECT pessoa_id, tipo FROM socios_primarios\n    UNION\n    SELECT pessoa_id, tipo FROM socios_secundarios\n    UNION\n    SELECT pessoa_id, tipo FROM relacionamentos_terciarios\n)\nSELECT DISTINCT\n    CASE \n        WHEN t.tipo = 1 THEN p.firstname || ' ' || p.lastname\n        WHEN t.tipo = 4 THEN a.firstname || ' ' || a.lastname\n        ELSE NULL\n    END AS nome,\n    CASE \n        WHEN t.tipo = 1 THEN 'Pessoa'\n        WHEN t.tipo = 4 THEN 'Advogado'\n        ELSE NULL\n    END AS tipo,\n    t.pessoa_id AS id\nFROM todos_socios t\nLEFT JOIN plataforma_stakeholders.pessoa p ON t.tipo = 1 AND t.pessoa_id = p.pessoa_id\nLEFT JOIN plataforma_stakeholders.advogado a ON t.tipo = 4 AND t.pessoa_id = a.advogado_id\nWHERE (p.pessoa_id IS NOT NULL OR a.advogado_id IS NOT NULL)\nORDER BY tipo, nome;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[100,-60],"id":"fd4997e0-7e24-48df-99ee-a3cf2bc9ea8f","name":"Postgres","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[700,-160],"id":"d92bec6a-0afe-4a4a-8d56-fd0777b8d297","name":"Execute Workflow","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"Estou realizando a busca no stakeholder","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $('Edit Fields').item.json.node_id }}","type":"string"},{"id":"41c9c6e2-c379-4ee5-8c70-39945fc6d8eb","name":"usuario_id","value":"={{ $json.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,-160],"id":"45f0ca7a-71ef-404c-ad52-7400c8d45990","name":"Status começando"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1060,-20],"id":"ce4c0a6d-2b72-4626-b970-39c2176b2f5a","name":"Merge1"},{"parameters":{"workflowId":{"__rl":true,"value":"USio4uRJbqJe9oSR","mode":"list","cachedResultName":"postStatus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1400,-20],"id":"2c001543-6810-4a2e-81f7-810214d4ab9b","name":"Execute Workflow1","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"03ab924a-7eaa-4fe7-9397-e79fcc0265bf","name":"status","value":"Terminei a busca no stakeholder","type":"string"},{"id":"899bda1b-621c-41fd-ad86-38f6b08bbaec","name":"body.node_id","value":"={{ $json.body.node_id }}","type":"string"},{"id":"39a196a4-4953-4f06-a452-50491de1b235","name":"usuario_id","value":"={{ $('Edit Fields').item.json.usuario_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,-20],"id":"bd3562fc-7171-4f3a-a5af-71595ad08430","name":"Status começando1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-740,140],"id":"58e55d11-865d-4916-848c-061dbed9c68a","name":"When Executed by Another Workflow"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"busca_individual_empresa","type":"main","index":0}],[{"node":"Busca Individual Pessoa","type":"main","index":0}],[{"node":"Busca Individual Advogado","type":"main","index":0}]]},"busca_individual_empresa":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Postgres","type":"main","index":0}]]},"Busca Individual Advogado":{"main":[[]]},"Busca Individual Pessoa":{"main":[[]]},"Merge":{"main":[[{"node":"Busca no Stakeholder","type":"main","index":0},{"node":"Status começando","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Postgres":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Status começando":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Busca no Stakeholder":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Status começando1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Status começando1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-automacao-production.up.railway.app","user-agent":"python-requests/2.32.4","content-length":"899","accept":"*/*","accept-encoding":"gzip, deflate, zstd","content-type":"application/json","x-forwarded-for":"189.100.70.129","x-forwarded-host":"n8n-automacao-production.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4","x-railway-request-id":"tJghFsOXTbaklKcIueLfZA","x-real-ip":"189.100.70.129","x-request-start":"1750173138230"},"params":{},"query":{},"body":{"node_id":"12295","node_type":"Empresa","documento":"05607032000173","nome":"MPN EMPREENDIMENTOS LTDA","instagram":"mpnempreendimentos","properties":{"porte_id":5,"situacao_cadastral":"02","ramo":"4120400","nome_fantasia":"MPN EMPREENDIMENTOS","segmento_id":null,"quantidade_funcionarios":null,"tipo_empresa":null,"linkedin":null,"codigo_natureza_juridica":null,"ultima_atualizacao_pj":"20030407","cnpj":"05607032000173","instagram":"mpnempreendimentos","natureza_juridica_descricao":"2062","natureza_juridica_tipo":null,"razao_social":"MPN EMPREENDIMENTOS LTDA","stakeholder":true,"faixa_funcionarios":null,"projeto_id":15,"empresa_id":12295,"em_prospecao":false,"faixa_faturamento":null,"matriz":true,"orgao_publico":null,"data_fundacao":"20030407","projeto_nome":"Bracell - Civil Bahia","community_id":145,"tipo_no":"stakeholder"}},"webhookUrl":"https://n8n-automacao-production.up.railway.app/webhook/buscar_relacionados","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"body":{"node_id":"14215","node_type":"Empresa","documento":"24310270000167","nome":"QUALINOX MONTAGEM E MANUTENCAO INDUSTRIAL LTDA","instagram":"null","usuario_id":"bd3106d0-cb56-40ff-a31a-d55f1e2b2ecf","properties":{"nome_fantasia":"null","segmento_id":"null","quantidade_funcionarios":"null","tipo_empresa":"null","linkedin":"null","codigo_natureza_juridica":"null","ultima_atualizacao_pj":"20160303","cnpj":"24310270000167","instagram":"null","natureza_juridica_descricao":"2062","natureza_juridica_tipo":"null","razao_social":"QUALINOX MONTAGEM E MANUTENCAO INDUSTRIAL LTDA","stakeholder":"true","faixa_funcionarios":"null","projeto_id":"8","empresa_id":"14215","em_prospecao":"false","faixa_faturamento":"null","matriz":"true","orgao_publico":"null","data_fundacao":"20160303","porte_id":"5","situacao_cadastral":"02","ramo":"3319800","projeto_nome":null,"usuario_id":"bd3106d0-cb56-40ff-a31a-d55f1e2b2ecf"}}}}]},"versionId":"3231784a-e2cf-43d7-aa2c-c656296c8c41","triggerCount":1,"tags":[]}