webhook_stakeholder_update_project-mTnvxO8GNbn5SNCP.json
{"createdAt":"2025-06-11T17:35:49.581Z","updatedAt":"2025-06-11T19:59:38.000Z","id":"mTnvxO8GNbn5SNCP","name":"webhook_stakeholder_update_project","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"update_project","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-660,240],"id":"8b7340cd-7202-456c-b4d2-6cc8de874ffc","name":"Webhook","webhookId":"bbf28431-9e1d-4896-a33a-b200616d0793"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.tipo }}","rightValue":"empresa","operator":{"type":"string","operation":"equals"},"id":"ac7c85c6-5004-4b9b-8158-c5345949a0a7"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3f9e8f2-ec47-4958-8800-452683b131f9","leftValue":"={{ $json.body.tipo }}","rightValue":"pessoa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-440,240],"id":"dea75439-986d-4498-ab49-34c724bdc520","name":"Switch"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"columns":{"mappingMode":"defineBelow","value":{"projeto_id":"={{ $json.body.projeto_id }}","empresa_id":"={{ $json.body.node_data.id }}"},"matchingColumns":["empresa_id"],"schema":[{"id":"cnpj","displayName":"cnpj","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"razao_social","displayName":"razao_social","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_fantasia","displayName":"nome_fantasia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"porte_id","displayName":"porte_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"segmento_id","displayName":"segmento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"em_prospecao","displayName":"em_prospecao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_fundacao","displayName":"data_fundacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"situacao_cadastral","displayName":"situacao_cadastral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quantidade_funcionarios","displayName":"quantidade_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"codigo_natureza_juridica","displayName":"codigo_natureza_juridica","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_descricao","displayName":"natureza_juridica_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_funcionarios","displayName":"faixa_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_faturamento","displayName":"faixa_faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"matriz","displayName":"matriz","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"orgao_publico","displayName":"orgao_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ramo","displayName":"ramo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo_empresa","displayName":"tipo_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultima_atualizacao_pj","displayName":"ultima_atualizacao_pj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_tipo","displayName":"natureza_juridica_tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[280,60],"id":"13103099-a17d-4530-9d88-0f1d8214f557","name":"Att Projeto Empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"39344ea6-9f98-4088-b4c1-d7de08786dcb","name":"body.node_data.id","value":"={{ $json.body.node_data.id }}","type":"string"},{"id":"e0697a08-7308-46c5-b19c-a1b5c70469bd","name":"body.projeto_id","value":"={{ $json.body.projeto_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,120],"id":"8e9edacb-852b-4c75-984c-99a625e267cf","name":"Edit Fields"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"columns":{"mappingMode":"defineBelow","value":{"pessoa_id":"={{ $json.body.node_data.id }}","projeto_id":"={{ $json.body.projeto_id }}"},"matchingColumns":["pessoa_id"],"schema":[{"id":"firstname","displayName":"firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastname","displayName":"lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cpf","displayName":"cpf","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pessoa_id","displayName":"pessoa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"em_prospecao","displayName":"em_prospecao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"sexo","displayName":"sexo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_nascimento","displayName":"data_nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_mae","displayName":"nome_mae","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"idade","displayName":"idade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"signo","displayName":"signo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"obito","displayName":"obito","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_obito","displayName":"data_obito","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"renda_estimada","displayName":"renda_estimada","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"pep","displayName":"pep","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"associado","displayName":"associado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[280,360],"id":"55729815-e822-45f4-b5a1-3ce3b4eb2e35","name":"Att Projeto Pessoa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Att Projeto Pessoa","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Att Projeto Empresa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e236763f-201f-456b-9288-6b0e24616453","triggerCount":1,"tags":[]}