webhook_stakeholder_add_project-bICdYrYueVAH6rUL.json
{"createdAt":"2025-06-11T19:21:55.392Z","updatedAt":"2025-07-08T21:58:46.000Z","id":"bICdYrYueVAH6rUL","name":"webhook_stakeholder_add_project","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"add-project","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-660,240],"id":"6616acb5-cfa7-41cf-99a7-03578ff2a490","name":"Webhook","webhookId":"f4d7b591-f52b-475d-b331-233e402feb01"},{"parameters":{"schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"projeto","mode":"list","cachedResultName":"projeto"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.body.nome }}","projeto_id":"={{ $json.projeto_id }}","usuario_id":"={{ $('Webhook').item.json.body.usuario_id }}"},"matchingColumns":[],"schema":[{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"descricao","displayName":"descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_inicio","displayName":"data_inicio","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"data_fim","displayName":"data_fim","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"usuario_id","displayName":"usuario_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[120,220],"id":"4039beb9-569d-4208-9074-c1890cccaa52","name":"Create Project","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"projeto","mode":"list","cachedResultName":"projeto"},"limit":1,"sort":{"values":[{"column":"projeto_id","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-460,80],"id":"a0289041-26d4-4c33-9e4f-71b4a209dad4","name":"Create Project1","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-260,220],"id":"dbff9219-580c-4caf-8657-938886535aa4","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"58351708-34dc-4928-8740-7774bf01cc23","name":"projeto_id","value":"={{ $json.projeto_id+1 }}","type":"number"},{"id":"e00ba3ed-a784-41fb-a227-9fce5e7e7e12","name":"body.nome","value":"={{ $json.body.nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,220],"id":"7e24d736-8d63-4526-a246-7b5120a8ccdf","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Create Project1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Create Project1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create Project","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-automacao-production.up.railway.app","user-agent":"python-requests/2.32.4","content-length":"71","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/json","x-forwarded-for":"162.220.234.41","x-forwarded-host":"n8n-automacao-production.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4","x-railway-request-id":"4LriOJSdRk2RLztVeHMQ4A","x-real-ip":"162.220.234.41","x-request-start":"1752011859405"},"params":{},"query":{},"body":{"nome":"teste","usuario_id":"bd3106d0-cb56-40ff-a31a-d55f1e2b2ecf"},"webhookUrl":"https://n8n-automacao-production.up.railway.app/webhook/add-project","executionMode":"production"}}]},"versionId":"83d366a0-d25f-4dcb-958d-367fc9a67bb5","triggerCount":1,"tags":[]}