webhook_stakeholder_update_instagram-1vb38pGJgGFatYGY.json
{"createdAt":"2025-06-11T18:55:54.634Z","updatedAt":"2025-06-11T20:00:23.000Z","id":"1vb38pGJgGFatYGY","name":"webhook_stakeholder_update_instagram","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"update-instagram","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-660,240],"id":"2c3622fc-a207-456b-b54d-2a5c000662c5","name":"Webhook","webhookId":"ea54e5bf-2831-46e4-ba1a-c0fa5445bca6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.node_data.label }}","rightValue":"Empresa","operator":{"type":"string","operation":"equals"},"id":"ac7c85c6-5004-4b9b-8158-c5345949a0a7"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3f9e8f2-ec47-4958-8800-452683b131f9","leftValue":"={{ $json.body.node_data.label }}","rightValue":"Pessoa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a08d8b44-0240-47c3-9b8e-1387bb5e297c","leftValue":"={{ $json.body.node_data.label }}","rightValue":"Advogado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-440,240],"id":"2bca218d-019e-445d-a53e-98006a77f8e8","name":"Switch"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"empresa","mode":"list","cachedResultName":"empresa"},"columns":{"mappingMode":"defineBelow","value":{"empresa_id":"={{ $json.body.node_data.id }}","instagram":"={{ $json.body.node_data.properties.instagram }}"},"matchingColumns":["empresa_id"],"schema":[{"id":"cnpj","displayName":"cnpj","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"razao_social","displayName":"razao_social","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_fantasia","displayName":"nome_fantasia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"porte_id","displayName":"porte_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"segmento_id","displayName":"segmento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"em_prospecao","displayName":"em_prospecao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_fundacao","displayName":"data_fundacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"situacao_cadastral","displayName":"situacao_cadastral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"quantidade_funcionarios","displayName":"quantidade_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"codigo_natureza_juridica","displayName":"codigo_natureza_juridica","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_descricao","displayName":"natureza_juridica_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_funcionarios","displayName":"faixa_funcionarios","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"faixa_faturamento","displayName":"faixa_faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"matriz","displayName":"matriz","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"orgao_publico","displayName":"orgao_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ramo","displayName":"ramo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo_empresa","displayName":"tipo_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ultima_atualizacao_pj","displayName":"ultima_atualizacao_pj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"natureza_juridica_tipo","displayName":"natureza_juridica_tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-40,60],"id":"886978a4-d258-4e19-b4fe-1ed7a2f11cbd","name":"Att Insta Empresa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"pessoa","mode":"list","cachedResultName":"pessoa"},"columns":{"mappingMode":"defineBelow","value":{"pessoa_id":"={{ $json.body.node_data.id }}","instagram":"={{ $json.body.node_data.properties.instagram }}"},"matchingColumns":["pessoa_id"],"schema":[{"id":"firstname","displayName":"firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastname","displayName":"lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cpf","displayName":"cpf","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pessoa_id","displayName":"pessoa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"em_prospecao","displayName":"em_prospecao","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"sexo","displayName":"sexo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"data_nascimento","displayName":"data_nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nome_mae","displayName":"nome_mae","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"idade","displayName":"idade","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"signo","displayName":"signo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"obito","displayName":"obito","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_obito","displayName":"data_obito","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"renda_estimada","displayName":"renda_estimada","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"pep","displayName":"pep","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"projeto_id","displayName":"projeto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"associado","displayName":"associado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-20,240],"id":"1631151d-71f6-4e01-a455-6eda58f0d8bf","name":"Att Insta Pessoa","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"plataforma_stakeholders","mode":"list","cachedResultName":"plataforma_stakeholders"},"table":{"__rl":true,"value":"advogado","mode":"list","cachedResultName":"advogado"},"columns":{"mappingMode":"defineBelow","value":{"stakeholder":false,"advogado_id":"={{ $json.body.node_data.id }}","instagram":"={{ $json.body.node_data.properties.instagram }}"},"matchingColumns":["advogado_id"],"schema":[{"id":"firstname","displayName":"firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastname","displayName":"lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"oab","displayName":"oab","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"advogado_id","displayName":"advogado_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"stakeholder","displayName":"stakeholder","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-20,440],"id":"d78146c5-9395-4668-aa95-f7d8b29fffce","name":"Att Insta Adv","credentials":{"postgres":{"id":"YNOTWNzTchEo0E2q","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Att Insta Empresa","type":"main","index":0}],[{"node":"Att Insta Pessoa","type":"main","index":0}],[{"node":"Att Insta Adv","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-automacao-production.up.railway.app","user-agent":"python-requests/2.32.3","content-length":"482","accept":"*/*","accept-encoding":"gzip, deflate, zstd","content-type":"application/json","x-forwarded-for":"179.118.133.191","x-forwarded-host":"n8n-automacao-production.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4","x-railway-request-id":"vLNb9m7sSs27WuhfeHMQ4A","x-real-ip":"179.118.133.191","x-request-start":"1749669163613"},"params":{},"query":{},"body":{"node_data":{"id":"237","label":"Advogado","properties":{"firstname":"Jose","instagram":"josemariaribas1","stakeholder":false,"oab":"198477","lastname":"Maria Ribas","advogado_id":237,"linkedin":null,"cpf":"27211144840","community_id":87},"community":87,"color":"#EA580C","size":15,"hasInstagram":true,"__indexColor":"#842293","index":8850,"x":-4997.272671753525,"y":-532.4728475253522,"vx":-1.1266394384074834,"vy":-0.09639955218722075}},"webhookUrl":"https://n8n-automacao-production.up.railway.app/webhook/update-instagram","executionMode":"production"}}]},"versionId":"ea1c9e1f-3a61-4b6f-81a6-a00e909a6f5e","triggerCount":1,"tags":[]}