webhook_instagram_buscar_profundo-TreL14hiKzCdB9j7.json
{"createdAt":"2025-06-11T20:24:21.360Z","updatedAt":"2025-06-17T11:58:39.000Z","id":"TreL14hiKzCdB9j7","name":"webhook_instagram_buscar_profundo","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"buscar_profundo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-700,240],"id":"1938043d-659a-4171-8c56-11de0a1dbab7","name":"Webhook","webhookId":"c8019260-1ca3-49a1-898b-863734c2e322"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.node_type }}","rightValue":"Empresa","operator":{"type":"string","operation":"equals"},"id":"ac7c85c6-5004-4b9b-8158-c5345949a0a7"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3f9e8f2-ec47-4958-8800-452683b131f9","leftValue":"={{ $json.body.node_type }}","rightValue":"Pessoa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a08d8b44-0240-47c3-9b8e-1387bb5e297c","leftValue":"={{ $json.body.node_type }}","rightValue":"Advogado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-440,240],"id":"37b62b92-e276-41d5-b927-748688f0b140","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,60],"id":"5bde63b7-4d7f-4388-91b6-119e19684650","name":"busca_individual_empresa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,240],"id":"a10c48fb-27c9-4a99-bf42-a5763fa70234","name":"Busca Individual Pessoa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,420],"id":"c2cf3aea-32dc-4fb4-a0f8-a1d9e4ca9b18","name":"Busca Individual Advogado"},{"parameters":{"workflowId":{"__rl":true,"value":"ze0Qh7d4CZLhFa2x","mode":"list","cachedResultName":"Busca Profunda"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[80,60],"id":"11e46458-f8cd-44d7-a090-10fdb80bf996","name":"Busca Profunda"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"busca_individual_empresa","type":"main","index":0}],[{"node":"Busca Individual Pessoa","type":"main","index":0}],[{"node":"Busca Individual Advogado","type":"main","index":0}]]},"busca_individual_empresa":{"main":[[{"node":"Busca Profunda","type":"main","index":0}]]},"Busca Profunda":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-automacao-production.up.railway.app","user-agent":"python-requests/2.32.3","content-length":"913","accept":"*/*","accept-encoding":"gzip, deflate, zstd","content-type":"application/json","x-forwarded-for":"177.30.106.34","x-forwarded-host":"n8n-automacao-production.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4","x-railway-request-id":"UMK8RxFzTG6EYNr8NJjgjg","x-real-ip":"177.30.106.34","x-request-start":"1749736640252"},"params":{},"query":{},"body":{"node_id":"3289","node_type":"Empresa","documento":"43799295000110","nome":"ALTAMIRA INDUSTRIA METALURGICA LTDA","instagram":null,"properties":{"nome_fantasia":"ALTAMIRA IND METALURGICA","data_fundacao":"11/10/1973 00:00:00","matriz":true,"porte_id":1,"situacao_cadastral":"ATIVA","orgao_publico":null,"segmento_id":483,"quantidade_funcionarios":10,"ramo":null,"linkedin":null,"codigo_natureza_juridica":2062,"tipo_empresa":"LTDA","empresa_id":3289,"instagram":null,"natureza_juridica_descricao":"Sociedade Empresária Limitada","ultima_atualizacao_pj":null,"stakeholder":true,"faixa_funcionarios":"De 5 A 100 Funcionários","natureza_juridica_tipo":null,"cnpj":"43799295000110","em_prospecao":true,"faixa_faturamento":"Até R$ 240,0 Mil","projeto_id":null,"razao_social":"ALTAMIRA INDUSTRIA METALURGICA LTDA","projeto_nome":"Sem projeto"}},"webhookUrl":"https://n8n-automacao-production.up.railway.app/webhook/buscar_profundo","executionMode":"production"}}]},"versionId":"0cc17f7c-e979-48bb-83be-78029c4447bd","triggerCount":1,"tags":[]}