webhook_instagram_buscar_individual-p1Q9Rvecw7lM3TkV.json
{"createdAt":"2025-06-11T20:04:44.707Z","updatedAt":"2025-08-12T19:30:22.000Z","id":"p1Q9Rvecw7lM3TkV","name":"webhook_instagram_buscar_individual","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"buscar_individual","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-700,400],"id":"28f2fd0a-a72f-4d2b-8df2-f05db9de5781","name":"Webhook","webhookId":"578e24dd-8a9e-40a9-9519-b8fc3caf9c20"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.node_type }}","rightValue":"Empresa","operator":{"type":"string","operation":"equals"},"id":"ac7c85c6-5004-4b9b-8158-c5345949a0a7"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3f9e8f2-ec47-4958-8800-452683b131f9","leftValue":"={{ $json.body.node_type }}","rightValue":"Pessoa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a08d8b44-0240-47c3-9b8e-1387bb5e297c","leftValue":"={{ $json.body.node_type }}","rightValue":"Advogado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-440,240],"id":"9bd6590e-0eff-4dac-aa6c-23ef893669cf","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,60],"id":"0dce93e4-9bad-4b90-b641-48abd13eeda0","name":"busca_individual_empresa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,240],"id":"893908f7-c693-45bf-99f4-1ec9c5a9ccc1","name":"Busca Individual Pessoa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,420],"id":"459d6349-bf68-4999-a7f5-ec63acf8315c","name":"Busca Individual Advogado"},{"parameters":{"workflowId":{"__rl":true,"value":"BrKvLq52HXhzyBRX","mode":"list","cachedResultName":"Busca_pessoas"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[40,240],"id":"b5a13bef-a2da-4c46-b525-b8c31f58181b","name":"Busca_pessoas"},{"parameters":{"workflowId":{"__rl":true,"value":"htJrGGnFki6e8luR","mode":"list","cachedResultName":"Busca Advogados"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[40,420],"id":"aac9280d-e832-4d0b-bcf8-a4f3779af309","name":"Busca_advogado"},{"parameters":{"workflowId":{"__rl":true,"value":"Giv6rWZ73Vs3BqmE","mode":"list","cachedResultName":"Instagram empresa v2 - em desev"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[40,60],"id":"279189cc-2285-452a-b5d1-4313b0fbc95a","name":"Busca_Empresa"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-700,120],"id":"128e26e2-74dc-4681-9c72-314376c1f1e1","name":"When Executed by Another Workflow"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"busca_individual_empresa","type":"main","index":0}],[{"node":"Busca Individual Pessoa","type":"main","index":0}],[{"node":"Busca Individual Advogado","type":"main","index":0}]]},"busca_individual_empresa":{"main":[[{"node":"Busca_Empresa","type":"main","index":0}]]},"Busca Individual Pessoa":{"main":[[{"node":"Busca_pessoas","type":"main","index":0}]]},"Busca Individual Advogado":{"main":[[{"node":"Busca_advogado","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ec2b96c4-240f-4fa2-96a7-798a90741bdf","triggerCount":1,"tags":[]}