workflow_cnpj_v2_sequential-O2b7x1hSWnfhR3Et.json
{"createdAt":"2025-06-09T16:57:38.750Z","updatedAt":"2025-08-18T12:39:45.000Z","id":"O2b7x1hSWnfhR3Et","name":"workflow_cnpj_v2_sequential","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"f99cb231-1a17-47e4-9efe-9be7f81942ea","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"c1e7ae85-c636-41ff-830f-fd4e135a5c47","name":"cnpj_ordem","value":"={{ $json.cnpj_ordem }}","type":"string"},{"id":"7dc6d3f0-8dd0-45d9-9c26-81b968c0bef6","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"},{"id":"e99cbb77-2988-427f-bae6-ccbd3cedb932","name":"uf","value":"={{ $json.uf }}","type":"string"},{"id":"0ccfc040-0517-477b-a757-8f4f46433684","name":"municipio","value":"={{ $json.nome_municipio }}","type":"string"},{"id":"27bf7dee-852a-491d-81c3-e6d85565fab9","name":"nome_fantasia","value":"={{ $json.nome_fantasia }}","type":"string"},{"id":"cb0dfb02-7eab-4944-adb6-d90b62ecaced","name":"correio_eletronico","value":"={{ $json.correio_eletronico }}","type":"string"},{"id":"5966fd6e-2e80-43fe-aba1-9918454613a1","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"e4fd9d7e-b104-4e51-96f6-2b2a24025e18","name":"capital_social_str","value":"={{ $json.capital_social_str }}","type":"string"},{"id":"5b0160bd-852b-4674-8548-68ce9d8bdb64","name":"cnae_fiscal","value":"={{ $json.cnae_fiscal_principal_codigo }}","type":"string"},{"id":"f0666e31-33c9-408b-9144-35e48e5a684b","name":"cnae_fiscal_secundaria","value":"={{ $json.todos_codigos_cnae }}","type":"string"},{"id":"212bfc05-9c48-4247-8d05-6c9c9ca18abf","name":"todos_nomes_cnae","value":"={{ $json.todos_nomes_cnae }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,4240],"id":"fdfc2e94-cfa5-46a6-b9c2-5a470cc0b4f7","name":"Edit Fields15"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.razao_social }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,4380],"id":"2aaac5f6-1ea3-4c85-81e4-4e554f6d5879","name":"HTTP Request1","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"2eb1014d-2a4f-4fb0-8882-2dd3fb33ac1a","name":"data","value":"={{ $json.organic }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,4380],"id":"c515502c-f2f0-4318-8c8c-a87560420f68","name":"Edit Fields16"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[880,4260],"id":"93fbdc98-7a47-439e-9dc8-236ee74446ff","name":"Merge12"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/get_estabelecimentos_filtrados_avancado","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Profile","value":"cnpj_db"},{"name":"Accept-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"_cnaes_alvo","value":"={{ $json._cnaes }}"},{"name":"_uf_filtro","value":"={{ $json._uf_filtro }}"},{"name":"_data_limite_inicio_atividades","value":"={{ $json._data_limite }}"},{"name":"_termos_busca","value":"={{ $json._termos }}"},{"name":"_portes_empresa_filtro","value":"={{ $json._porte_empresa }}"},{"name":"_naturezas_juridica_filtro","value":"={{ $json._natureza_juridica }}"},{"name":"_limite_retorno","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,4240],"id":"973b848f-c569-4c5e-8d60-38ab263e920e","name":"HTTP Request8","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1460,4280],"id":"ca220d42-9385-4b2a-a8ea-278b9276f2ce","name":"Merge13"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"41e6c94e-ffa6-4367-a21d-007867c2b030"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f1b15d1-c2eb-4b5f-a921-63bae2dfa299","leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1900,4280],"id":"cb8d97de-ac6c-403b-b81d-4c762e678c43","name":"Switch2"},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,4480],"id":"682a515a-741d-4751-83ad-0df9e9234896","name":"HTTP Request10","retryOnFail":false,"maxTries":2,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2340,4460],"id":"29fe5530-9777-4bbc-9800-0905c4ef4ccd","name":"HTML1","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $json.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"site","fieldValue":"={{ $json.output.site }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2120,4080],"id":"efd6db84-0d0a-4b72-9915-4d02e04a1f1f","name":"Supabase5","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1425870c-b7a2-40ac-940b-9990053458fb","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"data","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,4280],"id":"d6996ca9-b28d-4c65-990c-12a54454234f","name":"Edit Fields19"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2560,4360],"id":"6f1a6860-5fb1-4ee5-936b-0b8bfeac98f1","name":"Merge14"},{"parameters":{"assignments":{"assignments":[{"id":"3500e1f8-a6cc-4a53-8cdb-18fe5b14221a","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"data, finishedItemId","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2780,4360],"id":"9b834da8-fb86-4b5b-9a1b-6eefcbcf022a","name":"Edit Fields21"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3380,4360],"id":"8a31d610-c666-4daf-8a76-d20b455cd3d8","name":"Merge15"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6afb29a-b922-48d8-8a88-af9f96473ec5","leftValue":"={{ $json.output.melhor_link }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.melhor_link }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"3e4b48c2-2761-4637-ad3e-6b241a870c60"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4080,4360],"id":"dff493b2-fd14-4708-9b56-0448dd5ad9c0","name":"Switch3"},{"parameters":{"url":"={{ $json.output.melhor_link }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4300,4080],"id":"12fb1dd7-bb73-40ed-b8c6-31a85a56d636","name":"HTTP Request11","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4300,4680],"id":"96598dda-af5e-4741-b6f8-0d982ddfd039","name":"HTTP Request12","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString1 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString1\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4520,4080],"id":"95dc3713-e69b-4a46-8148-7f4e77842309","name":"Code4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4520,4680],"id":"cf85e8eb-8e81-45f4-9cf4-0dae9ea1ca53","name":"Code5"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5180,4160],"id":"7dd0ee79-2577-41d5-b8c7-922f40bd48ab","name":"Merge16"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4960,4600],"id":"70f0219b-f9bb-4c1b-a6b5-b33f96df6858","name":"Merge17"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5400,4300],"id":"28040931-a012-478e-8d16-80235a95b69c","name":"Merge18"},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4300,4240],"id":"50af83b2-e34f-4897-8f2a-ae086a3d7eee","name":"HTTP Request13","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4520,4220],"id":"9bf1bfab-90f2-4920-bb59-944d082a18a5","name":"Code6"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4740,4080],"id":"8d37f22e-200d-4b85-b016-7ebe17c6f7f1","name":"Merge19"},{"parameters":{"assignments":{"assignments":[{"id":"0fdc91d3-9fcc-4761-a907-6d80b362a03c","name":"texto_page_cliente","value":"={{ $json.fullCleanedString1 }}","type":"string"},{"id":"37a2eff7-d35e-48be-ad84-28f68a21851b","name":"texto_page_home","value":"={{ $json.fullCleanedString2 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4960,4080],"id":"907489be-02f8-400c-931b-96567fcda91e","name":"Edit Fields22"},{"parameters":{"assignments":{"assignments":[{"id":"5febc393-7375-4f85-bf1d-0e31fa4ea6c0","name":"texto_page_home","value":"={{ $json.fullCleanedString2 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4740,4680],"id":"851ebb32-f819-4645-acf3-3f3b6f901cb1","name":"Edit Fields23"},{"parameters":{"assignments":{"assignments":[{"id":"2860fa9d-dff9-4d37-8197-d9645d3197f1","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"links, error","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3860,4360],"id":"ef8a078c-ab83-48bd-81ec-b2b2cc37c6da","name":"Edit Fields24"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[6000,4100],"id":"3617b68d-8fe9-4fb5-92ea-531e682cd54a","name":"Merge20"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[6220,4260],"id":"835e206f-e141-4168-9156-574e2f03018b","name":"Merge21"},{"parameters":{"assignments":{"assignments":[{"id":"a4f34ff5-605d-4330-9889-808d53fa5b03","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"26859f09-db20-4b35-ae0a-32f4eb797e6e","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"aa8a9de9-12c7-4a4c-bc7b-016615e04797","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"37062e35-0b73-4d99-9739-3cdcbae9f1e4","name":"output.site","value":"={{ $json.output.site }}","type":"string"},{"id":"8dcafd23-97d8-4da5-b519-0f4239ffd6e8","name":"output.melhor_link","value":"={{ $json.output.melhor_link }}","type":"string"},{"id":"7eab1c4d-097b-4e8f-a50f-f826b4da9ef9","name":"output.clientes","value":"={{ $json.output.clientes }}","type":"string"},{"id":"00cac18f-0f95-44e1-8b36-ec00c471a4a7","name":"output.resumo_empresa","value":"={{ $json.output.resumo_empresa }}","type":"string"},{"id":"c0442597-21fc-4718-8d62-2639708e76f5","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6440,4340],"id":"a4ed07a8-f99b-432e-bcd9-6034cef17b9d","name":"Edit Fields27"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json;\n  const output = data.output || {};\n  data.output = {\n    site: output.site || \"nao_encontrado\",\n    melhor_link: output.melhor_link || \"nao_encontrado\",\n    clientes: output.clientes || \"nao_encontrado\",\n    resumo_empresa: output.resumo_empresa || \"nao_encontrado\"\n  };\n  return { json: data };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6660,4340],"id":"559df6e4-1881-44f1-8594-4ae253b2c8e9","name":"Code7"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $json.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"clientes","fieldValue":"={{ $json.output.clientes }}"},{"fieldId":"site","fieldValue":"={{ $json.output.site }}"},{"fieldId":"resumo_empresa","fieldValue":"={{ $json.output.resumo_empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6880,4340],"id":"81c0b765-32f5-4f0b-b97e-f993a2d57cd4","name":"Supabase6","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0c7ce7e3-982d-417e-be2e-8586f5c7642d","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"1dafd53e-b008-463d-9856-34fdbafbc809","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"},{"id":"a4f34ff5-605d-4330-9889-808d53fa5b03","name":"cnpj_completo","value":"={{ $json.cnpj_basico }}/{{ $json.cnpj_ordem }}-{{ $json.cnpj_dv }}","type":"string"},{"id":"aa8a9de9-12c7-4a4c-bc7b-016615e04797","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"76d67654-b96f-4f55-aee8-41a76d55adee","name":"nome_fantasia","value":"={{ $json.nome_fantasia }}","type":"string"},{"id":"6a701925-3ace-46c2-814a-05015d016f4d","name":"uf","value":"={{ $json.uf }}","type":"string"},{"id":"26859f09-db20-4b35-ae0a-32f4eb797e6e","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"f87d0c91-f585-4313-a405-74dd90d19bf7","name":"capital_social_str","value":"={{ $json.capital_social_str }}","type":"string"},{"id":"37062e35-0b73-4d99-9739-3cdcbae9f1e4","name":"site","value":"={{ $json.output.site }}","type":"string"},{"id":"00cac18f-0f95-44e1-8b36-ec00c471a4a7","name":"resumo_empresa","value":"={{ $json.output.resumo_empresa }}","type":"string"},{"id":"7eab1c4d-097b-4e8f-a50f-f826b4da9ef9","name":"clientes","value":"={{ $json.output.clientes }}","type":"string"},{"id":"1b6dfdf7-de84-4762-abb6-4b3f640735e1","name":"cnae_fiscal","value":"={{ $json.cnae_fiscal }}","type":"string"},{"id":"40c5f2ff-5271-4ed6-9bc0-8d368deadbbd","name":"cnae_fiscal_secundaria","value":"={{ $json.cnae_fiscal_secundaria }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7320,4260],"id":"92f8bd5e-e7bd-4741-963d-cf1bc6ea7fb3","name":"Edit Fields28"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"vector_suppliers","mode":"list","cachedResultName":"vector_suppliers"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[9160,4300],"id":"b81d17da-75e7-4509-88bd-3a330ec15bd4","name":"Supabase Vector Store5","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[9060,4520],"id":"919fa739-83d9-462b-b07d-5e41a1fb36e3","name":"Embeddings OpenAI5","credentials":{"openAiApi":{"id":"91VXPuHzac1PVHQb","name":"OpenAi account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[9280,4560],"id":"4f9813d6-a394-4192-99c7-edd643550625","name":"Default Data Loader3"},{"parameters":{"chunkOverlap":150,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[9300,4740],"id":"eac61e95-e849-46e7-80bf-2dc339638136","name":"Recursive Character Text Splitter3"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"empresas","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[8260,4300],"id":"cc9ab786-5015-4563-b6a7-99c5e13c782f","name":"Aggregate5"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[7100,4260],"id":"2745b417-365e-4c40-8888-26e6697b901b","name":"Merge22"},{"parameters":{"assignments":{"assignments":[{"id":"5f75619a-a373-4085-8169-a8cb67e610ac","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"dcff6c46-3fc4-43a3-8b99-dec472f13ca9","name":"municipio","value":"={{ $json.municipio }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"codigo, descricao","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7880,4300],"id":"9770be30-676a-4883-b945-9e3426517267","name":"Edit Fields29"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $json.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"vetorizado","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8040,3940],"id":"3e2f1000-2271-4b21-abaf-c021d954e18c","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-440,4240],"id":"5d230130-330b-493a-9270-76b34b838bf3","name":"When clicking ‘Execute workflow’"},{"parameters":{"fieldToSplitOut":"empresas","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[8480,4300],"id":"e155c327-607b-4124-bf11-43a5427edbef","name":"Split Out4"},{"parameters":{"jsCode":"// Loop over input items and transform their JSON into an array of objects\nconst outputItems = [];\n\nfor (const item of $input.all()) {\n  // Convert the JSON of each item to a string\n  const stringifiedJson = JSON.stringify(item.json);\n\n  // Create a new output item object with the stringified JSON in the 'json' property\n  outputItems.push({\n    json: {\n      // You can put your stringified JSON under a specific key within the json object\n      // For consistency, we'll put it under a key like 'dataString'\n      dataString: stringifiedJson\n    }\n    // If you need to keep other data from the original item (like binary data),\n    // you might need to copy it here as well.\n    // binary: item.binary // Uncomment and adjust if you have binary data\n  });\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8700,4300],"id":"58a8ce10-a517-44b7-825c-0b4a62fdcfc4","name":"Code"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[3640,4360],"id":"ff7652e2-c9bb-4fe0-8d31-79c63a80c9ed","name":"Remove Duplicates2"},{"parameters":{"assignments":{"assignments":[{"id":"6a642483-615a-4845-a6ab-85d68be0b528","name":"_cnaes","value":"=[\"2063100\"]","type":"array"},{"id":"c19781ca-94a5-4b69-8769-42cd1760e6e4","name":"_uf_filtro","value":"=[\"SP\",\"MG\"]","type":"array"},{"id":"7ae93f81-b936-4f53-a142-9825c69dd216","name":"_data_limite","value":"20220101","type":"string"},{"id":"2b31cd18-2041-4cb4-8b93-4ce497884113","name":"_codigo_municipio","value":"","type":"string"},{"id":"46d42ef3-766f-4875-b66d-76ad9bc68aa5","name":"_termos","value":"=[\"ind\"]","type":"array"},{"id":"04c655fa-7d0f-4dda-99c8-fbf13bb7d6b7","name":"_porte_empresa","value":"=[\"00\",\"05\",\"03\",\"01\"]","type":"array"},{"id":"e864e0a0-f33b-4a16-9294-e4836b5b7151","name":"_natureza_juridica","value":"=[\"2062\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,4240],"id":"704efe8c-187b-4ecf-8300-1daa4771abb1","name":"Edit Fields"},{"parameters":{"url":"=https://www.imetame.com.br/","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2300,4020],"id":"60193321-c47c-41f0-b37e-530e91978564","name":"HTTP Request","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2020,4140],"id":"1022a2f9-6182-4f3d-9c41-89cb5f75fdcb","name":"Code8","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Input:  {{ $json.data }}\nOutput: {{ $json.fullCleanedString2 }}\nResultado esperado: Coletar todas informações do site, indepente do formato do site.\nCódigo: \nreturn $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo da <main> se existir\n  const mainMatch = rawHtml.match(/<main\\b[^>]*>([\\s\\S]*?)<\\/main>/i);\n  const coreHtml = mainMatch ? mainMatch[0] : rawHtml;\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'][^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    const tag = match[0];\n    const src = match[1];\n    const altMatch = tag.match(/alt=[\"']([^\"']*)[\"']/i);\n    const titleMatch = tag.match(/title=[\"']([^\"']*)[\"']/i);\n    return {\n      src,\n      alt: altMatch ? altMatch[1] : null,\n      title: titleMatch ? titleMatch[1] : null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível da <main>\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});","options":{"systemMessage":"Você é um especialista em corrigir códigos em javascript.\n\nVocê irá receber o input, o código e o output e melhorar o código para que ele consiga trazer o resultado esperado pelo usuário.\n\nVocê deve fornecer um novo código em formato limpo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1760,4060],"id":"381b6e6e-5952-40b1-a0bd-4ace37f0291a","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1820,4380],"id":"d376253b-7e30-401d-ac71-e4eb8f64831a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-1440,4380],"id":"455adb4e-4b7b-440f-84b0-0d0880658169","name":"Think"},{"parameters":{"jsonSchemaExample":"{\n\t\"site\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1240,4660],"id":"89436d57-58ce-409b-8564-50bc23d3d6ba","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Razao Social:  {{ $json.razao_social }}\nNome Fantasia: {{ $json.nome_fantasia }}\nEmail: {{ $json.correio_eletronico }}\nBusca Internet: {{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Especialista em Localizar Sites Oficiais de Empresas\n\n## Objetivo\nVocê é um agente especializado em localizar **o site oficial de uma empresa brasileira**, com base em dados cadastrais e resultados de busca. Seu papel é garantir que o site identificado seja **efetivamente controlado pela empresa**, mesmo que o nome da empresa apareça com pequenas variações.\n\n## Informações de entrada\nVocê receberá:\n\n- Nome Fantasia  \n- Razão Social  \n- CNPJ (quando disponível)  \n- Segmento de atuação  \n- CNAE  \n- Cidade  \n- Estado  \n- CEP  \n\n## Estratégia de Busca e Verificação\n\n1. **Busque domínios corporativos próprios**, incluindo sufixos como:  \n   `.com.br`, `.com`, `.net.br`, `.eng.br`, `.ind.br`, `.wixsite.com` (com validação reforçada).\n\n2. **Aceite variações no nome da empresa no domínio**, desde que:\n   - O nome esteja parcialmente presente no domínio (ex: `rubiengenharia.com.br` para \"Rubi Engenharia\").\n   - O conteúdo do site comprove a identidade por outros meios (ver abaixo).\n\n3. **Valide a identidade com base em ao menos duas das evidências abaixo**:\n   - Nome da empresa (ou variação) na seção \"Sobre\", \"Contato\" ou rodapé do site;\n   - Endereço compatível com a cidade ou estado fornecidos;\n   - E-mail corporativo no domínio (ex: contato@empresa.com.br);\n   - Presença de CNPJ ou razão social completa no site;\n   - Perfis oficiais da empresa (Instagram, LinkedIn, etc.) apontando diretamente para o domínio;\n   - Serviços, clientes ou projetos listados que confirmam o segmento informado.\n\n4. **Sites em plataformas como Wix ou WordPress** são aceitáveis **se o conteúdo comprovar a identidade institucional** com base nas evidências acima.\n\n5. Se houver **múltiplos sites candidatos**, selecione o que possuir mais evidências cruzadas de vínculo com a empresa.\n\n## Exclusões Obrigatórias\n\nRejeite os seguintes tipos de páginas, mesmo se mencionarem a empresa:\n\n- Diretórios empresariais (ex: CNPJ.biz, Econodata, TeleListas, Apontador)\n- Sites de marketplaces (ex: OLX, Mercado Livre, Shopee)\n- Sites de releases, notícias ou matérias jornalísticas\n- Blogs ou páginas pessoais que apenas mencionem a empresa\n- Páginas com nomes semelhantes, mas sem qualquer evidência de vínculo com os dados fornecidos\n\n## Exemplos para calibração\n\n**Aceite:**\n- `https://www.brzfire.com.br` → domínio combina com nome fantasia, e-mail institucional aparece no rodapé.\n- `http://www.rubiengenharia.com.br` → nome parcialmente compatível, site descreve serviços de engenharia e localização compatível.\n- `https://ethicusscs.wixsite.com/refrigeracao` → site Wix, mas com nome da empresa, segmento e contato institucional válidos.\n\n**Rejeite:**\n- `https://cnpj.biz/empresa-nome` → diretório empresarial sem vínculo institucional.\n- `https://shopee.com/empresa-xyz` → perfil em marketplace, não institucional.\n\n## Formato de Resposta\n\nSe o site for considerado oficial:\n```json\n{\n  \"site\": \"https://www.nomedasuaempresa.com.br\",\n  \"justificativa\": \"O domínio contém o nome fantasia e o site descreve os serviços, endereço e e-mail institucional compatíveis com os dados fornecidos.\"\n}\n```\n\nSe nenhum site for confiável:\n```json\n{\n  \"site\": \"nao_encontrado\",\n  \"justificativa\": \"Nenhum dos sites encontrados possui evidência suficiente de pertencimento à empresa. Todos são diretórios, domínios genéricos ou menções indiretas.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1100,4440],"id":"199062ce-99cf-4155-ae69-4bca7a84f5fe","name":"Agent Find Company Website","retryOnFail":false,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1060,4660],"id":"d9ccb108-ccc4-4f4f-92fd-c9a33e3eb990","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"melhor_link\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3180,4720],"id":"f37cfbc4-dca1-4ec7-90b1-e910150226db","name":"Structured Output Parser4"},{"parameters":{"promptType":"define","text":"=Link_origem:{{ $json.output.site }}\n\nLinks_scrape_origem:{{ $json.links }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Identificador de Link com Clientes em Sites Empresariais\\n\\nVocê é um agente especialista em identificar, entre os links de um site empresarial, aquele que **mais provavelmente contém uma lista de clientes** (não apenas casos isolados).\\n\\n## Entrada\\n\\nVocê receberá o Link_origem, que é o link que originou os Links_scrape_origem\\n\\n## Instruções\\n\\n1. **Verificação inicial**:\\n   - Se a lista Links_scrape_origem estiver vazia, retorne imediatamente \\\"nao_encontrado\\\" com justificativa específica sobre lista vazia\\n\\n2. **Reconstrua links relativos**:\\n   - Use o domínio base encontrado nos links completos fornecidos (ex: `https://www.exemplo.com.br`) para transformar caminhos como `clientes/` em URLs completas (ex: `https://www.exemplo.com.br/clientes/`)\\n   - Para âncoras (#clientes), reconstrua como `dominio_base/#clientes`\\n\\n3. **Termos prioritários por ordem de relevância**:\\n   \\n   **Prioridade 1 (Máxima)**:\\n   - `clientes`, `nossos-clientes`, `clientes-atendidos`, `quem-atendemos`\\n   \\n   **Prioridade 2 (Alta)**:\\n   - `parceiros`, `portfolio`, `portfólio`, `cases`, `cases-de-sucesso`\\n   \\n   **Prioridade 3 (Contextual - adapte ao setor da empresa)**:\\n   - **Construtoras/Arquitetura**: `obras`, `projetos`, `projects`, `projetos-concluidos`, `galeria`\\n   - **Engenharia**: `projetos-concluidos`, `cases`, `obras-realizadas`\\n   - **Consultorias**: `trabalhos-realizados`, `referencias`\\n   - **Agências**: `trabalhos`, `referencias`\\n\\n4. **Critérios de seleção**:\\n   - Sempre prefira termos de prioridade 1 sobre os demais\\n   - Entre links da mesma prioridade, escolha o mais genérico (ex: `/clientes` vs `/clientes/setor-x`)\\n   - Links externos devem ser descartados\\n   - Considere o contexto do setor da empresa para termos de prioridade 3\\n\\n5. **Evite links irrelevantes**:\\n   - `contato`, `sobre`, `home`, `blog`, `noticias`, `author`, redes sociais, raiz do domínio\\n   - Links para arquivos de imagem específicos de projetos (ex: `/assets/img/projects/projeto-x.jpg`)\\n   - Links funcionais como `login`, `mailto:`, `tel:`\\n\\n## Saída\\n\\nFormato de resposta:\\n\\n```json\\n{\\n  \\\"melhor_link\\\": \\\"https://www.exemplo.com.br/clientes\\\",\\n  \\\"justificativa\\\": \\\"Link direto com termo 'clientes' encontrado no domínio principal, indicando página dedicada à listagem de clientes, conforme prioridade máxima de termos.\\\"\\n}\\n```\\n\\nCaso **nenhum link válido** seja identificado:\\n\\n```json\\n{\\n  \\\"melhor_link\\\": \\\"nao_encontrado\\\",\\n  \\\"justificativa\\\": \\\"Nenhum dos links analisados contém termos relacionados a clientes, portfolio ou cases. Os links disponíveis limitam-se a [descrever brevemente os tipos de links encontrados].\\\"\\n}\\n```\\n\\nCaso **lista esteja vazia**:\\n\\n```json\\n{\\n  \\\"melhor_link\\\": \\\"nao_encontrado\\\",\\n  \\\"justificativa\\\": \\\"Não foi possível analisar links pois a lista de Links_scrape_origem está vazia. É necessário fornecer uma lista de links do site para realizar a análise.\\\"\\n}\\n```\\n\\n## Regras Finais\\n\\n- Sempre retorne o link completo com domínio e caminho\\n- Nunca ignore caminhos relativos ou âncoras sem tentar reconstruí-los\\n- Seja específico na justificativa, mencionando o termo encontrado e sua prioridade\\n- Considere o contexto da empresa para avaliar relevância de termos de prioridade 3\\n- Para casos de lista vazia, seja explícito na justificativa\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3000,4500],"id":"a4282998-b06c-4093-a439-894bb709fa1f","name":"Agent Find Client Page","retryOnFail":true,"maxTries":2,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2980,4720],"id":"c6219af2-3784-47fa-8162-a158c57209d6","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"resumo_empresa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[5820,4220],"id":"ceaed65f-ed3c-4854-8f77-6f01c03e25c7","name":"Structured Output Parser3"},{"parameters":{"promptType":"define","text":"=Texto Page Home: {{ $json.texto_page_home }}\n\nTexto Page Cliente: {{ $json.texto_page_cliente }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Gerador de Resumo de Atuação da Empresa\n\nVocê é um agente especializado em gerar resumos objetivos sobre empresas com base no conteúdo de seus sites institucionais.\n\n## Objetivo\n\nSua tarefa é analisar o conteúdo textual do site de uma empresa fornecedora e gerar um resumo com **até 200 caracteres**, explicando **o que a empresa faz**, com ênfase em seus **serviços ou produtos principais**.\n\n## Entrada\n\nAnalise exclusivamente o conteúdo presente no campo `fullCleanedString`.\n\n## Instruções\n\n1. Leia o texto e identifique os principais **produtos**, **serviços**, **tecnologias** ou **segmentos atendidos**.\n2. Foque em responder à pergunta: **“O que esta empresa oferece?”**\n3. Seja direto, objetivo e use linguagem clara e comercial.\n4. Evite termos vagos como “soluções inovadoras” sem explicar o que é oferecido.\n\n### Exemplos de resumo aceitável\n\n- `\"Fabricação de estruturas metálicas para galpões industriais e coberturas comerciais.\"`\n- `\"Especializada em engenharia elétrica e montagem de painéis para indústrias.\"`\n- `\"Distribuidora de equipamentos hidráulicos e válvulas industriais em todo o Brasil.\"`\n\n## Saída\n\nRetorne o resultado no seguinte formato JSON:\n\n```json\n{\n  \"resumo_empresa\": \"DESCRIÇÃO RESUMIDA AQUI\"\n}\n```\n\nSe não for possível identificar claramente o que a empresa faz, retorne:\n\n```json\n{\n  \"resumo_empresa\": \"nao_encontrado\"\n}\n```\n\n## Regras Finais\n\n- Máximo de **200 caracteres**.\n- Sempre retorne apenas uma string no campo `\"resumo_empresa\"`.\n- Não copie slogans ou frases genéricas. Descreva **claramente** a atividade principal da empresa."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[5620,4000],"id":"eb322a71-23ea-4455-a2ed-b8119fd2d351","name":"Agente Resume Atuação Empresa","retryOnFail":false,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5600,4220],"id":"eefb1062-67a1-4db3-9e9d-414a90175987","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"clientes\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[5820,4820],"id":"3b2481b8-f881-45f3-8748-1fde37a84d79","name":"Structured Output Parser5"},{"parameters":{"promptType":"define","text":"=Texto Page Home: {{ $json.texto_page_home }}\n\nTexto Page Cliente: {{ $json.texto_page_cliente }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Identificador de Clientes em Sites de Fornecedores\n\nVocê é um agente especializado em extrair nomes de **clientes empresariais ou institucionais** a partir de textos de sites de fornecedores.\n\n## Entrada\n\nAnalise apenas o conteúdo presente no campo `fullCleanedString`.\n\n## Instruções de Análise\n\n1. **Procure blocos de texto que indicam prestação de serviço**, como:\n   - \"Clientes\", \"Clientes Atendidos\", \"Nossos Clientes\"\n   - \"Obras realizadas\", \"Projetos entregues\", \"Cases de sucesso\"\n   - \"Portfólio\", \"Quem confia\", \"Empresas atendidas\", \"Trabalhos realizados\", \"Parceiros comerciais\", \"Marcas atendidas\"\n\n2. **Extraia nomes de empresas ou instituições** que aparecem como beneficiárias dos serviços:\n   - Podem estar em listas, títulos, frases, links ou descrições de projetos.\n   - Quando houver localizações geográficas, remova-as. Exemplo:\n     - `\"Grupo DBK - São José do Rio Preto - SP\"` → `\"Grupo DBK\"`\n   - Remova quaisquer formatações como negrito, colchetes ou links.\n\n3. **Ignorar entradas que não sejam nomes válidos de empresas ou instituições**, como:\n   - Termos técnicos: \"Soldagem MIG\", \"Tubulação industrial\", \"Pintura Eletrostática\"\n   - Cidades ou regiões isoladas\n   - Frases genéricas como \"clientes satisfeitos\", \"diversas empresas\"\n   - Repetições, nomes incompletos ou vagos (ex: “Empresa de Logística”)\n\n## Saída\n\nSe um ou mais nomes forem identificados, retorne:\n\n```json\n{\n  \"clientes\": \"Grupo DBK, Quinelato, Plakton Cosméticos\"\n}\n```\n\nCaso **nenhum cliente válido seja identificado**, retorne:\n\n```json\n{\n  \"clientes\": \"nao_encontrado\"\n}\n```\n\n## Regras Finais\n\n- A saída deve sempre ser um único campo `\"clientes\"` com uma **string separada por vírgulas**.\n- Não adivinhe ou infira nomes. Retorne apenas o que estiver claramente indicado como cliente.\n- Elimine duplicações e mantenha os nomes limpos e objetivos."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[5620,4600],"id":"4770ce96-4a5c-4b02-89c8-4fd506b3168b","name":"Agente Resume Cliente","retryOnFail":false,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5600,4820],"id":"fb9992ad-baed-4b39-8641-cbce4cefa236","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"6a642483-615a-4845-a6ab-85d68be0b528","name":"_cnaes","value":"=[\"4511102\",\"2930103\",\"4511105\",\"4520007\"]","type":"array"},{"id":"c19781ca-94a5-4b69-8769-42cd1760e6e4","name":"_uf_filtro","value":"=[\"SP\",\"ES\",\"RS\",\"PR\",\"MG\",\"BA\",\"GO\"]","type":"array"},{"id":"7ae93f81-b936-4f53-a142-9825c69dd216","name":"_data_limite","value":"20200101","type":"string"},{"id":"2b31cd18-2041-4cb4-8b93-4ce497884113","name":"_codigo_municipio","value":"","type":"string"},{"id":"46d42ef3-766f-4875-b66d-76ad9bc68aa5","name":"_termos","value":"=[\"ambulancia\", \"adaptado\", \"especia\"]","type":"array"},{"id":"04c655fa-7d0f-4dda-99c8-fbf13bb7d6b7","name":"=_porte_empresa","value":"=[\"00\",\"05\",\"03\"]","type":"array"},{"id":"e864e0a0-f33b-4a16-9294-e4836b5b7151","name":"_natureza_juridica","value":"=[\"2062\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2060,4780],"id":"d112c95c-371a-4095-be4f-ad5137466797","name":"Filtro Segmento - Ambulancia"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/get_estabelecimentos_filtrados_avancado","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Profile","value":"cnpj_db"},{"name":"Accept-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"_cnaes_alvo","value":"={{ $json._cnaes }}"},{"name":"_uf_filtro","value":"={{ $json._uf_filtro }}"},{"name":"_data_limite_inicio_atividades","value":"={{ $json._data_limite }}"},{"name":"_termos_busca","value":"={{ $json._termos }}"},{"name":"_portes_empresa_filtro","value":"={{ $json._porte_empresa }}"},{"name":"_naturezas_juridica_filtro","value":"={{ $json._natureza_juridica }}"},{"name":"_limite_retorno","value":"6000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1280,5000],"id":"04ea815d-019a-446d-be3d-0af0cad7afe9","name":"HTTP Request9","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1060,5000],"id":"fab6b9f1-2c50-47b4-b1bc-e6c454673f52","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"6a642483-615a-4845-a6ab-85d68be0b528","name":"_cnaes","value":"=[\"4321500\",\"3314710\",\"4322302\",\"4299599\",\"3321000\",\"4292802\"]","type":"array"},{"id":"c19781ca-94a5-4b69-8769-42cd1760e6e4","name":"_uf_filtro","value":"=[\"SP\",\"MG\",\"BA\",\"PE\",\"TO\",\"ES\",\"DF\",\"MS\",\"MT\",\"GO\",\"RS\",\"PR\",\"SC\"]","type":"array"},{"id":"7ae93f81-b936-4f53-a142-9825c69dd216","name":"_data_limite","value":"20200101","type":"string"},{"id":"2b31cd18-2041-4cb4-8b93-4ce497884113","name":"_codigo_municipio","value":"","type":"string"},{"id":"46d42ef3-766f-4875-b66d-76ad9bc68aa5","name":"_termos","value":"=[\"montagem\",\"montagens\",\"mecanica\",\"engenharia\",\"eng\",\"industrial\",\"mont\",\"insta\",\"manuten\",\"instala\"]","type":"array"},{"id":"04c655fa-7d0f-4dda-99c8-fbf13bb7d6b7","name":"_porte_empresa","value":"=[\"00\",\"05\",\"03\"]","type":"array"},{"id":"e864e0a0-f33b-4a16-9294-e4836b5b7151","name":"_natureza_juridica","value":"=[\"2062\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2060,4980],"id":"386ee921-6fd7-4d1c-af11-8b6b45ca1b49","name":"Filtro Segmento Montagem Mecânica"},{"parameters":{"assignments":{"assignments":[{"id":"6a642483-615a-4845-a6ab-85d68be0b528","name":"_cnaes","value":"=[\"9601701\",\"9601702\"]","type":"array"},{"id":"c19781ca-94a5-4b69-8769-42cd1760e6e4","name":"_uf_filtro","value":"=[\"SP\",\"MG\",\"BA\",\"PE\",\"TO\",\"ES\",\"DF\",\"MS\",\"MT\",\"GO\",\"RS\",\"PR\",\"SC\"]","type":"array"},{"id":"7ae93f81-b936-4f53-a142-9825c69dd216","name":"_data_limite","value":"20250101","type":"string"},{"id":"2b31cd18-2041-4cb4-8b93-4ce497884113","name":"_codigo_municipio","value":"","type":"string"},{"id":"46d42ef3-766f-4875-b66d-76ad9bc68aa5","name":"_termos","value":"=[\"wash\",\"lavanderia\",\"lava\",\"uniforme\",\"lavanda\",\"lavar\",\"higinene\",\"limpeza\"]","type":"array"},{"id":"04c655fa-7d0f-4dda-99c8-fbf13bb7d6b7","name":"_porte_empresa","value":"=[\"00\",\"05\",\"03\",\"01\"]","type":"array"},{"id":"e864e0a0-f33b-4a16-9294-e4836b5b7151","name":"_natureza_juridica","value":"=[\"2062\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2060,4620],"id":"424abcbc-e8e8-4247-94b7-426ac6ed7e05","name":"Filtro Segmento Lavanderia1"},{"parameters":{"assignments":{"assignments":[{"id":"6a642483-615a-4845-a6ab-85d68be0b528","name":"_cnaes","value":"=[\"8129000\",\"7739099\",\"4663000\"]","type":"array"},{"id":"c19781ca-94a5-4b69-8769-42cd1760e6e4","name":"_uf_filtro","value":"=[\"SP\",\"MG\",\"BA\",\"PE\",\"TO\",\"ES\",\"DF\",\"MS\",\"MT\",\"GO\",\"RS\",\"PR\",\"SC\"]","type":"array"},{"id":"7ae93f81-b936-4f53-a142-9825c69dd216","name":"_data_limite","value":"20250101","type":"string"},{"id":"2b31cd18-2041-4cb4-8b93-4ce497884113","name":"_codigo_municipio","value":"","type":"string"},{"id":"46d42ef3-766f-4875-b66d-76ad9bc68aa5","name":"_termos","value":"=[\"industrial\",\"\"]","type":"array"},{"id":"04c655fa-7d0f-4dda-99c8-fbf13bb7d6b7","name":"_porte_empresa","value":"=[\"00\",\"05\"]","type":"array"},{"id":"e864e0a0-f33b-4a16-9294-e4836b5b7151","name":"_natureza_juridica","value":"=[\"2062\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,5000],"id":"6075a183-d675-434a-a421-3af763d38503","name":"Filtro Segmento PIG tubulacao"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-660,4080],"id":"21857382-80bf-4ca2-90b9-8b3ebc7de45c","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"6a642483-615a-4845-a6ab-85d68be0b528","name":"_cnaes","value":"=[\"4321500\",\"3314710\",\"4322302\",\"4299599\",\"3321000\",\"4292802\"]","type":"array"},{"id":"c19781ca-94a5-4b69-8769-42cd1760e6e4","name":"_uf_filtro","value":"=[\"GO\",\"DF\",\"SP\",\"MG\",\"BA\",\"PE\",\"SC\",\"PR\",\"RJ\",\"ES\",\"MT\",\"MS\",\"TO\",\"SE\",\"AL\",\"SE\",\"MA\",\"CE\"]","type":"array"},{"id":"7ae93f81-b936-4f53-a142-9825c69dd216","name":"_data_limite","value":"20220101","type":"string"},{"id":"2b31cd18-2041-4cb4-8b93-4ce497884113","name":"_codigo_municipio","value":"","type":"string"},{"id":"46d42ef3-766f-4875-b66d-76ad9bc68aa5","name":"_termos","value":"=[\"montagem\",\"montagens\",\"mecanica\",\"engenharia\",\"eng\",\"industrial\",\"mont\",\"insta\",\"manuten\",\"instala\"]","type":"array"},{"id":"04c655fa-7d0f-4dda-99c8-fbf13bb7d6b7","name":"_porte_empresa","value":"=[\"00\",\"05\",\"03\",\"01\"]","type":"array"},{"id":"e864e0a0-f33b-4a16-9294-e4836b5b7151","name":"_natureza_juridica","value":"=[\"2062\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,4480],"id":"271c2f85-fe6d-4a19-85dc-b1f696f5a0fe","name":"Edit Fields1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"getAll","tableId":"estabelecimento","limit":1000,"matchType":"allFilters","filters":{"conditions":[{"keyName":"cnae_fiscal","condition":"eq","keyValue":"2063100"},{"keyName":"uf","condition":"eq","keyValue":"SP"},{"keyName":"data_inicio_atividades","condition":"lt","keyValue":"20200101"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-280,4720],"id":"019ce142-b76b-41e1-8131-5b648a3abb0c","name":"Supabase8","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"getAll","tableId":"empresas","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_basico }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-40,4720],"id":"67ef4d92-3431-4ef7-8ce9-cabdba9c6f96","name":"Supabase9","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}}],"connections":{"Edit Fields15":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Merge12","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields16","type":"main","index":0}]]},"Edit Fields16":{"main":[[{"node":"Merge12","type":"main","index":1}]]},"Merge12":{"main":[[{"node":"Agent Find Company Website","type":"main","index":0},{"node":"Merge13","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Supabase5","type":"main","index":0}],[{"node":"HTTP Request10","type":"main","index":0},{"node":"Merge14","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Merge13":{"main":[[{"node":"Edit Fields19","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Merge14","type":"main","index":1}]]},"Merge14":{"main":[[{"node":"Edit Fields21","type":"main","index":0}]]},"Edit Fields21":{"main":[[{"node":"Merge15","type":"main","index":0},{"node":"Agent Find Client Page","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"HTTP Request11","type":"main","index":0},{"node":"Merge16","type":"main","index":1},{"node":"HTTP Request13","type":"main","index":0}],[{"node":"HTTP Request12","type":"main","index":0},{"node":"Merge17","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Code4","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Merge19","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Edit Fields23","type":"main","index":0}]]},"Merge16":{"main":[[{"node":"Merge18","type":"main","index":0}]]},"Merge17":{"main":[[{"node":"Merge18","type":"main","index":1}]]},"HTTP Request13":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Merge19","type":"main","index":1}]]},"Merge19":{"main":[[{"node":"Edit Fields22","type":"main","index":0}]]},"Edit Fields22":{"main":[[{"node":"Merge16","type":"main","index":0}]]},"Edit Fields23":{"main":[[{"node":"Merge17","type":"main","index":1}]]},"Edit Fields24":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Merge15":{"main":[[{"node":"Remove Duplicates2","type":"main","index":0}]]},"Merge18":{"main":[[{"node":"Merge21","type":"main","index":1},{"node":"Agente Resume Atuação Empresa","type":"main","index":0},{"node":"Agente Resume Cliente","type":"main","index":0}]]},"Merge20":{"main":[[{"node":"Merge21","type":"main","index":0}]]},"Edit Fields27":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Supabase6","type":"main","index":0}]]},"Supabase6":{"main":[[{"node":"Merge22","type":"main","index":1}]]},"Edit Fields28":{"main":[[]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"Supabase Vector Store5","type":"ai_embedding","index":0}]]},"Default Data Loader3":{"ai_document":[[{"node":"Supabase Vector Store5","type":"ai_document","index":0}]]},"Recursive Character Text Splitter3":{"ai_textSplitter":[[{"node":"Default Data Loader3","type":"ai_textSplitter","index":0}]]},"Aggregate5":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Merge22":{"main":[[{"node":"Edit Fields28","type":"main","index":0}]]},"Edit Fields29":{"main":[[{"node":"Aggregate5","type":"main","index":0},{"node":"Supabase","type":"main","index":0}]]},"Merge21":{"main":[[{"node":"Edit Fields27","type":"main","index":0},{"node":"Merge22","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Supabase8","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Supabase Vector Store5","type":"main","index":0}]]},"Remove Duplicates2":{"main":[[{"node":"Edit Fields24","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Agent Find Company Website","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Agent Find Company Website","type":"ai_languageModel","index":0}]]},"Agent Find Company Website":{"main":[[{"node":"Merge13","type":"main","index":1}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Agent Find Client Page","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Agent Find Client Page","type":"ai_languageModel","index":0}]]},"Agent Find Client Page":{"main":[[{"node":"Merge15","type":"main","index":1}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Agente Resume Atuação Empresa","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Agente Resume Atuação Empresa","type":"ai_languageModel","index":0}]]},"Agente Resume Atuação Empresa":{"main":[[{"node":"Merge20","type":"main","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"Agente Resume Cliente","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Agente Resume Cliente","type":"ai_languageModel","index":0}]]},"Agente Resume Cliente":{"main":[[{"node":"Merge20","type":"main","index":1}]]},"Filtro Segmento - Ambulancia":{"main":[[]]},"HTTP Request9":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filtro Segmento PIG tubulacao":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Supabase8":{"main":[[{"node":"Supabase9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"25324341-b146-4fac-a332-b205500d5cba","triggerCount":1,"tags":[]}