workflow_cnpj_support-WyR9Ym1jYzzH7few.json
{"createdAt":"2025-06-01T00:28:44.298Z","updatedAt":"2025-08-05T18:11:51.000Z","id":"WyR9Ym1jYzzH7few","name":"workflow_cnpj_support","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/get_estabelecimentos_com_site","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Profile","value":"cnpj_db"},{"name":"Accept-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1760,200],"id":"47074151-b3bf-4851-b09d-1a6a0280893e","name":"HTTP Request5","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"url":"https://cnae.ibge.gov.br/images/concla/downloads/revisao2007/PropCNAE20/CNAE20_NotasExplicativas.pdf","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,800],"id":"dc368560-dab6-4fc2-8b22-9889fc39fadf","name":"HTTP Request7"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[500,800],"id":"cb903152-f499-4000-b590-3e94dfc15b2b","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"206f6801-27ba-4efc-b852-6a113ce21b76","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,800],"id":"2b6e43ea-9615-413b-95a7-704d178401f7","name":"Edit Fields4"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"vector_cnae","mode":"list","cachedResultName":"vector_cnae"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[940,800],"id":"d6be2b49-3006-4227-8e6e-d2201827e4fe","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[900,1020],"id":"e1ff921b-5054-49cc-be94-39f435b65a33","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"91VXPuHzac1PVHQb","name":"OpenAi account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1080,1020],"id":"3579baee-bb5e-4ad9-9853-bbd85d6e9842","name":"Default Data Loader"},{"parameters":{"chunkSize":2000,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1160,1240],"id":"68be1cf2-1ffb-49a1-9fab-ee1fdf1adbdf","name":"Recursive Character Text Splitter"},{"parameters":{"public":true,"initialMessages":"Oi","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-40,-680],"id":"e4708060-356e-4c2a-918c-624c27ee8446","name":"When chat message received","webhookId":"f239fb55-adb9-470a-9ae6-d40063f75e5e"},{"parameters":{"options":{"systemMessage":"# Prompt para Agente de Busca de Fornecedores (Versão Aprimorada)\n\n## Função Principal\nVocê é um agente especializado em busca e qualificação de fornecedores. Seu objetivo é analisar consultas de usuários e identificar os fornecedores mais adequados com base nas informações disponíveis.\n\n## Fonte de Dados\nUtilize exclusivamente o banco de dados vetorial `conhecimento_empresas` (vector_suppliers) para todas as buscas. Este banco contém as seguintes informações sobre cada empresa:\n*   CNPJ\n*   Nome da Empresa\n*   CNAEs (Classificação Nacional de Atividades Econômicas)\n*   Site\n*   Clientes da Empresa (lista de clientes que o fornecedor atende)\n*   Resumo da Empresa (descrição das atividades e especialidades)\n\n## Diretrizes de Busca e Comportamento\n\n1.  **Quantidade de Fornecedores:** Sempre tente identificar e retornar entre 5 e 10 fornecedores que correspondam aos critérios da busca.\n2.  **Priorização da Informação:**\n    *   Ao avaliar a relevância de um fornecedor, priorize o conteúdo do campo `resumo da empresa` para entender a capacidade geral.\n    *   Utilize os `cnaes` como um critério secundário ou complementar.\n3.  **Distinção de Clientes:** É crucial não confundir os `clientes da empresa` (que são clientes dos fornecedores) com os próprios fornecedores. Os `clientes da empresa` são um atributo que indica a experiência do fornecedor.\n4.  **Busca por Segmento de Clientes (Critério Eliminatório Primário quando Especificado):**\n    *   Quando a consulta do usuário especificar um segmento de clientes (ex: \"mineradoras\", \"hospitais\", \"indústria alimentícia\", \"cimenteiras\"), a análise do campo `clientes da empresa` torna-se o **principal critério de qualificação e, potencialmente, de eliminação.**\n    *   **Verificação Obrigatória e Explícita:** Você DEVE verificar se a lista de `clientes da empresa` do fornecedor contém nomes de empresas, palavras-chave ou termos que inequivocamente identifiquem o segmento de cliente solicitado. Por exemplo, para \"cimenteiras\", procure por nomes de cimenteiras conhecidas ou termos como \"cimento\", \"concreto\", etc., dentro da lista de clientes.\n    *   **Critério de Exclusão/Fortemente Negativo:** Se um fornecedor possui um `resumo da empresa` que descreve serviços relevantes (ex: \"montagem mecânica\"), mas sua lista de `clientes da empresa` **NÃO contém nenhuma menção explícita ou inferência clara e direta** de atuação no segmento de cliente especificado pelo usuário, este fornecedor **DEVE SER FORTEMENTE PENALIZADO em sua pontuação de relevância ou, idealmente, EXCLUÍDO** da lista de sugestões para essa consulta específica. A ausência de clientes no segmento desejado é um forte indicador de inadequação para a consulta, mesmo que as capacidades gerais pareçam alinhar-se.\n    *   A prioridade máxima é para fornecedores que demonstram explicitamente, através de seus `clientes da empresa`, experiência no segmento de cliente solicitado.\n    *   O `resumo da empresa` e os `cnaes` servem para confirmar a capacidade técnica geral, mas a validação do segmento de cliente via `clientes da empresa` (quando especificado na consulta) é primordial.\n5.  **Fidelidade à Fonte de Dados:**\n    *   Todas as informações fornecidas sobre os fornecedores devem ser extraídas diretamente do banco de dados `conhecimento_empresas`.\n    *   Não invente, infira ou adicione informações que não estejam explicitamente presentes na base de dados. A precisão e a veracidade são fundamentais.\n\n## Exemplo de Consulta do Usuário (para sua referência interna)\n*   \"Preciso de fornecedores de software de gestão para pequenas empresas.\"\n*   \"Busque empresas de usinagem que já atenderam clientes do setor automotivo.\" (Critério chave: `clientes da empresa` devem listar empresas automotivas).\n*   \"Quais empresas de consultoria ambiental têm experiência com licenciamento para indústrias de cimento?\" (Critério chave: `clientes da empresa` devem incluir cimenteiras ou projetos relacionados).\n\n## Formato da Resposta\nApresente a lista entre 5 e 10 fornecedores encontrados, incluindo as informações relevantes (nome, resumo, site, cnaes, e **principalmente os clientes relevantes para o segmento solicitado**, se aplicável) que justificam sua seleção. Destaque como a lista de clientes do fornecedor atende ao critério de segmento especificado na consulta.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[460,0],"id":"08ac72ae-a538-4e9f-b29b-ee5315b22a08","name":"AI Agent4"},{"parameters":{"mode":"retrieve-as-tool","toolName":"conhecimento_cnae","toolDescription":"Conhecimento sobre categorias de empresas","tableName":{"__rl":true,"value":"vector_cnae","mode":"list","cachedResultName":"vector_cnae"},"topK":10,"includeDocumentMetadata":false,"options":{"queryName":"match_vector_cnae"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[460,240],"id":"7131e206-56b9-4201-8501-9573fc0b3dc1","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[560,420],"id":"5f9f8f0a-bea2-4188-9fb6-d936ca96b0f9","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"91VXPuHzac1PVHQb","name":"OpenAi account 2"}}},{"parameters":{"content":"## Fluxo vetorizar PDF","height":620,"width":1420},"type":"n8n-nodes-base.stickyNote","position":[80,760],"typeVersion":1,"id":"abc3ef8d-aa4d-4f18-8dee-f89bd0134b3d","name":"Sticky Note3"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"vector_suppliers","mode":"list","cachedResultName":"vector_suppliers"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[3260,320],"id":"8fb4190f-ac7f-4665-8a37-c385ae72b3e9","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[3200,520],"id":"3f095ff6-b5e4-4b40-a2d7-f76156336c53","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"91VXPuHzac1PVHQb","name":"OpenAi account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[3380,520],"id":"073e4650-4612-4f12-b1f5-d62d08190f8c","name":"Default Data Loader1"},{"parameters":{"chunkOverlap":150,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3420,680],"id":"e60338e3-44a3-492f-9a4f-0c64efed7290","name":"Recursive Character Text Splitter1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_empresa }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $json.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"vetorizado","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2680,140],"id":"d306e1ec-ae81-4ca7-a588-fc462547963e","name":"Supabase4","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9a455e79-f3bc-4ce0-a191-fd0ded9c6194","name":"cnpj_empresa","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"4d7afdab-04fa-4050-b10a-c8253f136a43","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"},{"id":"3510ae3a-ce90-410a-9c8f-6d72ecd39c3e","name":"cnpj_ordem","value":"={{ $json.cnpj_ordem }}","type":"string"},{"id":"b7a1655f-b198-41b2-b1b3-2aea9e596263","name":"nome_fantasia_empresa","value":"={{ $json.nome_fantasia }}","type":"string"},{"id":"6a483a83-b1ea-4ef0-b15a-72ce8c621272","name":"razao_social_empresa","value":"={{ $json.razao_social }}","type":"string"},{"id":"90f8a6cd-56fe-4e96-8af5-8fb0e1b4870a","name":"municipio_descricao","value":"={{ $json.municipio_descricao }}","type":"string"},{"id":"435c2252-2215-440f-b11c-682f4bf04e3a","name":"uf_empresa","value":"={{ $json.uf }}","type":"string"},{"id":"aefb094f-d8d1-4376-8c04-a42225f5ddf2","name":"cnae_empresa","value":"={{ $json.cnae_fiscal }}","type":"string"},{"id":"97239784-40f3-46ee-a282-d61389bbaae6","name":"cnae_secundario_empresa","value":"={{ $json.cnae_fiscal_secundaria }}","type":"string"},{"id":"0bf77978-7382-4123-9139-f72f781f09b5","name":"site_empresa","value":"={{ $json.site }}","type":"string"},{"id":"cfd689d8-2598-4826-9f76-0b996c4af931","name":"clientes_empresa","value":"={{ $json.clientes }}","type":"string"},{"id":"93cee1a8-640b-40e4-84eb-4f506b7ea11d","name":"resumo_empresa","value":"={{ $json.resumo_empresa }}","type":"string"},{"id":"81e52bac-01c6-47fc-9ed1-294d55bdb151","name":"cnae_fiscal","value":"={{ $json.cnae_fiscal }}","type":"string"},{"id":"1295424e-f66f-4cca-a941-a79772fb9ac5","name":"cnae_fiscal_secundaria","value":"={{ $json.cnae_fiscal_secundaria }}","type":"string"},{"id":"42fc45c4-f2a2-4b9a-b5b0-cf44d5adf417","name":"porte_empresa","value":"={{ $json.porte_empresa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2340,340],"id":"b104b6da-7ae6-4fdc-9a33-ac39c339800b","name":"Edit Fields5"},{"parameters":{"mode":"retrieve-as-tool","toolName":"conhecimento_empresas","toolDescription":"Banco de dados de empresas cadastradas","tableName":{"__rl":true,"value":"vector_suppliers","mode":"list","cachedResultName":"vector_suppliers"},"topK":10,"options":{"queryName":"match_vector_suppliers"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[760,240],"id":"5a3a7875-962f-4c86-a8a8-c7bde4c78ca4","name":"Supabase Vector Store3","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[860,420],"id":"150135e3-28d0-4be1-b687-7676b7d4507c","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"91VXPuHzac1PVHQb","name":"OpenAi account 2"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"empresas","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2680,360],"id":"285df232-80f5-4d79-8fe2-f5d8653ceb54","name":"Aggregate1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[340,220],"id":"bf8a9361-2a5b-4718-86ec-1bb741f818e5","name":"Simple Memory"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"empresas","separateBy":", "}]},"options":{"outputFormat":"separateItems"}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[2900,360],"id":"9087a525-b0d8-427d-8012-88ea680cdbd9","name":"Summarize"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2100,340],"id":"605a940b-375f-40d0-bd80-13e80e42e6ce","name":"Remove Duplicates"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,220],"id":"5c6ab769-0370-44c7-9a97-a92925b1f882","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1060,220],"id":"9b6f0a11-0709-4c3d-acd3-35b9d6eeece5","name":"Think"},{"parameters":{"promptType":"define","text":"=Resultados das LLM's itens na mesma ordem.{{ $json.resultado_llm }}\nPrompt Atual:\n# Prompt: Agente Identificador de Clientes em Sites de Fornecedores\n\nVocê é um agente especializado em extrair nomes de **clientes empresariais ou institucionais** a partir de textos de sites de fornecedores.\n\n## Entrada\n\nAnalise apenas o conteúdo presente no campo `fullCleanedString`.\n\n## Instruções de Análise\n\n1. **Procure blocos de texto que indicam prestação de serviço**, como:\n   - \"Clientes\", \"Clientes Atendidos\", \"Nossos Clientes\"\n   - \"Obras realizadas\", \"Projetos entregues\", \"Cases de sucesso\"\n   - \"Portfólio\", \"Quem confia\", \"Empresas atendidas\", \"Trabalhos realizados\", \"Parceiros comerciais\", \"Marcas atendidas\"\n\n2. **Extraia nomes de empresas ou instituições** que aparecem como beneficiárias dos serviços:\n   - Podem estar em listas, títulos, frases, links ou descrições de projetos.\n   - Quando houver localizações geográficas, remova-as. Exemplo:\n     - `\"Grupo DBK - São José do Rio Preto - SP\"` → `\"Grupo DBK\"`\n   - Remova quaisquer formatações como negrito, colchetes ou links.\n\n3. **Ignorar entradas que não sejam nomes válidos de empresas ou instituições**, como:\n   - Termos técnicos: \"Soldagem MIG\", \"Tubulação industrial\", \"Pintura Eletrostática\"\n   - Cidades ou regiões isoladas\n   - Frases genéricas como \"clientes satisfeitos\", \"diversas empresas\"\n   - Repetições, nomes incompletos ou vagos (ex: “Empresa de Logística”)\n\n## Saída\n\nSe um ou mais nomes forem identificados, retorne:\n\n```json\n{\n  \"clientes\": \"Grupo DBK, Quinelato, Plakton Cosméticos\"\n}\n```\n\nCaso **nenhum cliente válido seja identificado**, retorne:\n\n```json\n{\n  \"clientes\": \"nao_encontrado\"\n}\n```\n\n## Regras Finais\n\n- A saída deve sempre ser um único campo `\"clientes\"` com uma **string separada por vírgulas**.\n- Não adivinhe ou infira nomes. Retorne apenas o que estiver claramente indicado como cliente.\n- Elimine duplicações e mantenha os nomes limpos e objetivos.","options":{"systemMessage":"# Prompt: Agente Avaliador de Resultados e Otimizador de Prompts para LLMs\n\n## Objetivo\n\nVocê é um agente especialista em avaliação comparativa de modelos de linguagem (LLMs). Sua função é:\n\n1. **Comparar os resultados de duas LLMs diferentes**, aplicados a uma mesma tarefa.\n2. **Analisar cada par de respostas caso a caso**.\n3. **Identificar padrões de erro, divergência ou superioridade entre os modelos**.\n4. **Recomendar melhorias específicas no prompt de entrada atual**, com o objetivo de **aumentar a precisão, consistência e recall da LLM menos eficaz**.\n\n---\n\n## Entradas que você irá receber:\n\n- **Resultado de LLM 1**: Lista de saídas estruturadas (JSON, texto ou string)\n- **Resultado de LLM 2**: Lista paralela de saídas correspondentes\n- **Prompt atual da LLM 1**\n- **(Opcional)**: Dados originais utilizados como entrada para as LLMs (ex: nome, descrição, atributos do item, etc.)\n\n---\n\n## Etapas de Atuação\n\n### Etapa 1: Visão Geral de Performance\n- Calcule e compare:\n  - Quantidade de acertos/positivos encontrados por cada LLM\n  - Casos únicos de acerto por cada modelo\n  - Casos em que ambos concordaram\n  - Casos em que ambos falharam\n- Determine qual LLM teve maior cobertura e precisão, com justificativa.\n\n### Etapa 2: Análise Caso a Caso\nPara cada par de respostas (LLM1 x LLM2), avalie:\n- Qual modelo teve melhor performance? Por quê?\n- Algum modelo cometeu erros de lógica, omissão ou excesso de rigor?\n- Qual evidência justifica a escolha do melhor resultado?\n\n### Etapa 3: Otimização do Prompt\nA partir da análise, proponha uma nova versão do prompt da LLM1 com:\n- Instruções mais claras e alinhadas aos casos onde a LLM1 falhou\n- Regras de decisão mais completas ou tolerantes (quando necessário)\n- Exemplos de entrada e saída, se possível\n- Formato de resposta padronizado e específico para evitar ambiguidades\n- PROMPT EM FORMATO MARKDOWN\n\n\n---\n\n## Formato da Resposta Esperada\n\n```json\n{\n  \"resumo_performance\": {\n    \"llm1_acertos\": 21,\n    \"llm2_acertos\": 24,\n    \"acertos_somente_llm1\": 3,\n    \"acertos_somente_llm2\": 6,\n    \"acertos_em_ambos\": 18\n  },\n  \"casos_relevantes\": [\n    {\n      \"id\": 4,\n      \"llm1_site\": \"nao_encontrado\",\n      \"llm2_site\": \"https://www.exemplo.com.br\",\n      \"analise\": \"LLM2 encontrou corretamente o domínio da empresa, validado por email e conteúdo institucional. LLM1 rejeitou por nome parcial, mostrando excesso de rigor.\"\n    },\n    ...\n  ],\n  \"prompt_otimizado\": \"<<< NOVO PROMPT SUGERIDO AQUI EM FORMATO MARKDOWN >>>\"\n}\n```\n\n---\n\n## Observação Final\nSeu foco é fornecer **análises críticas e sugestões práticas** para que um humano possa refinar prompts, treinar novos modelos ou integrar uma etapa de validação adicional nos pipelines.\n\nCaso você não tenha evidências suficientes para validar quem está correto, marque o caso como \"indeterminado\"."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2620,900],"id":"0d14acbe-2dbd-4e6c-b88b-f598acf090b3","name":"AI Agent6"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2040,720],"id":"fe678b70-05a2-4637-bab1-61f23265cf4c","name":"Merge11"},{"parameters":{"assignments":{"assignments":[{"id":"7fc35dc2-94fd-462a-a09d-dd79458daee3","name":"LLM2","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,980],"id":"c86514af-a805-43dc-8f7c-12a05de1b45d","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"d433deea-23eb-4382-accd-7329387d37b2","name":"LLM1","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,640],"id":"06dc8d0e-0c43-454b-81bd-74225dcd293f","name":"Edit Fields8"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"resultado_llm","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2240,720],"id":"3497f0ab-d3d1-4141-91de-03b50c78d7cc","name":"Aggregate2"},{"parameters":{"assignments":{"assignments":[{"id":"7b169576-6d91-455f-9447-e479d3fb3444","name":"resultado_llm","value":"={{ $json.resultado_llm }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2460,720],"id":"7cad0d45-03ed-49b2-ac3f-c5709c4f5400","name":"Edit Fields10"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2540,1120],"id":"314aa89b-a520-4236-a28e-49c0dedf43e4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2000,200],"id":"0ffd0224-9980-429d-9dac-13e8e4849949","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"systemMessage":"# Prompt: Agente Especialista em Classificação CNAE\n\n## Função do Agente\nVocê é um agente altamente especializado na Classificação Nacional de Atividades Econômicas (CNAE). Seu objetivo é analisar descrições de serviços e identificar os códigos CNAE mais relevantes e prováveis para uma empresa que executa tais atividades.\n\n## Recursos Disponíveis\nVocê tem acesso a uma base de dados interna **vetorizada** contendo as descrições detalhadas e nuances de cada código CNAE existente. Você deve utilizar esta base para realizar uma busca semântica e encontrar o melhor alinhamento entre o escopo fornecido e as atividades econômicas catalogadas.\n\n## Entrada\nO usuário fornecerá um texto que descreve o \"escopo de contratação\" ou as atividades principais que a empresa em questão realiza ou realizará.\n\n## Tarefa\n1.  Leia e compreenda completamente o \"escopo de contratação\" fornecido.\n2.  Utilize sua base de dados vetorizada para encontrar os códigos CNAE cujas descrições e propósitos sejam mais semanticamente similares e relevantes para as atividades descritas no escopo.\n3.  Selecione os códigos CNAE que apresentem a maior probabilidade de serem o enquadramento correto para a empresa, com base na sua análise e na similaridade semântica.\n4.  Para cada código CNAE selecionado, crie uma justificativa **concisa** que explique por que ele se encaixa no escopo fornecido.\n\n## Regras de Saída\n*   Sua resposta deve conter **apenas** os códigos CNAE e as justificativas. Não inclua saudações, introduções, encerramentos ou qualquer texto adicional.\n*   Liste no **máximo 6 (seis)** códigos CNAE que você considerar mais prováveis.\n*   Apresente cada código e sua justificativa de forma clara.\n\n## Formato de Saída\nA resposta deve ser em formato Markdown, seguindo a estrutura abaixo:\n\n```markdown\n- **[Código CNAE 1]** - [Justificativa breve baseada no escopo e na descrição do CNAE]\n- **[Código CNAE 2]** - [Justificativa breve baseada no escopo e na descrição do CNAE]\n- **[Código CNAE 3]** - [Justificativa breve baseada no escopo e na descrição do CNAE]\n- ... (até 6 itens no total, se encontrados)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[380,-700],"id":"f686ca0e-b08b-4a18-8e60-c91e14546b0d","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolName":"conhecimento_cnae","toolDescription":"Conhecimento sobre categorias de empresas","tableName":{"__rl":true,"value":"vector_cnae","mode":"list","cachedResultName":"vector_cnae"},"topK":10,"includeDocumentMetadata":false,"options":{"queryName":"match_vector_cnae"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[380,-460],"id":"d8085484-ecb4-469a-a92e-9f410e184512","name":"Supabase Vector Store4","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[480,-280],"id":"35a1c107-839e-4998-8d1d-a8f4b8631cc8","name":"Embeddings OpenAI4","credentials":{"openAiApi":{"id":"91VXPuHzac1PVHQb","name":"OpenAi account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[260,-480],"id":"40585113-5200-4f9d-888d-eedbfe115c79","name":"Simple Memory1"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[140,-480],"id":"77f883f4-c650-4b43-ae57-4ccf4bf455b8","name":"Google Gemini Chat Model5","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[980,-480],"id":"7f08f6bd-a74a-45be-9128-9d08e2562d38","name":"Think1"},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Gerador de Termos de Busca para Concorrência\n\n## Função do Agente\nVocê é um agente especializado em identificar termos de busca relevantes para encontrar empresas concorrentes ou que oferecem serviços similares. Sua função é analisar um escopo de atividades e gerar consultas de busca otimizadas para encontrar essas empresas em mecanismos como o Google.\n\n## Recursos Disponíveis\nVocê tem a capacidade de analisar texto, extrair conceitos chave, identificar o setor de atuação, o tipo de serviço/produto, o público (se implícito) e a linguagem comum usada para descrever essas atividades no mercado.\n\n## Entrada\nO usuário fornecerá um texto que descreve o \"escopo de contratação\" ou as atividades principais que a empresa em questão realiza ou realizará.\n\n## Tarefa\n1.  Leia e compreenda completamente o \"escopo de contratação\" fornecido.\n2.  Identifique os termos, frases e conceitos mais importantes que descrevem a atividade principal da empresa.\n3.  Pense como alguém que estaria procurando por uma empresa com esse tipo de serviço. Quais termos essa pessoa usaria na busca? Considere sinônimos, frases comuns do setor e combinações de palavras.\n4.  Gere **exatamente 4 (quatro)** sugestões de termos ou frases de busca que, ao serem digitadas no Google, provavelmente retornariam resultados de empresas que oferecem serviços similares ao escopo fornecido. As sugestões podem ser frases completas, combinações de palavras-chave, ou perguntas comuns.\n\n## Regras de Saída\n*   Sua resposta deve conter **apenas** as 4 sugestões de termos de busca. Não inclua saudações, introduções, explicações prévias, encerramentos ou qualquer texto adicional.\n*   Apresente as sugestões em uma lista simples.\n\n## Formato de Saída\nA resposta deve ser em formato Markdown, seguindo a estrutura abaixo:\n\nTermo:[termo1, termo2]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-660,-1320],"id":"9de676b0-4cc2-4415-87e9-aec011213782","name":"AI Agent1","onError":"continueErrorOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-680,-1140],"id":"203d3fa9-0fa5-4978-bd22-edd785cc6747","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-560,-1040],"id":"55c80b44-f49c-49f3-a871-539db923d074","name":"Simple Memory2"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.output.termo[0] }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-1680],"id":"a4d33ffb-df16-4df1-b2d0-24dfc8703c01","name":"HTTP Request1","retryOnFail":true},{"parameters":{"jsonSchemaExample":"{\n\t\"termo\": [\"string\", \"string\", \"string\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-380,-1100],"id":"98a885e4-5ca2-45e4-ac02-7e638aff8284","name":"Structured Output Parser"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.output.termo[1] }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,-1500],"id":"bcecf29c-1ca1-4323-a4fb-6dd24cd2409b","name":"HTTP Request","retryOnFail":true},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.output.termo[2] }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,-1320],"id":"6cb91659-3821-46c0-9312-f3e4b04e9f12","name":"HTTP Request2","retryOnFail":true},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.output.termo[3] }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,-1140],"id":"52ef27ea-9fcd-43ad-b9d3-28445c8ce6fc","name":"HTTP Request3","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"0b1b3969-4b59-43d5-bc13-b8c6e25e0578","name":"organic","value":"={{ $json.organic }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,-1640],"id":"faf1bdec-f684-4b52-a93a-ccde709fd867","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"organic","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[360,-1640],"id":"7977fcf4-242e-489f-9e2b-859c3bb6061f","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title","renameField":true,"outputFieldName":"titulo"},{"fieldToAggregate":"link"},{"fieldToAggregate":"snippet","renameField":true,"outputFieldName":"descricao"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[580,-1640],"id":"06ea7b14-7c11-4df4-81fb-d14915223341","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"0b1b3969-4b59-43d5-bc13-b8c6e25e0578","name":"organic","value":"={{ $json.organic }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-1480],"id":"4a70de41-8d5e-45bd-af81-d0d978236c3b","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"organic","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[380,-1480],"id":"8f547d60-1a73-40fc-8386-cf70f46fb864","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title","renameField":true,"outputFieldName":"titulo"},{"fieldToAggregate":"link"},{"fieldToAggregate":"snippet","renameField":true,"outputFieldName":"descricao"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[600,-1480],"id":"8c1be61f-79d9-4843-9d59-16dde1ee91a4","name":"Aggregate3"},{"parameters":{"assignments":{"assignments":[{"id":"0b1b3969-4b59-43d5-bc13-b8c6e25e0578","name":"organic","value":"={{ $json.organic }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-1340],"id":"b4506244-6309-449c-8885-0268c595e624","name":"Edit Fields2"},{"parameters":{"fieldToSplitOut":"organic","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[380,-1340],"id":"2e8f8cc5-e8f4-44e5-9d0d-106f64c1809c","name":"Split Out2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title","renameField":true,"outputFieldName":"titulo"},{"fieldToAggregate":"link"},{"fieldToAggregate":"snippet","renameField":true,"outputFieldName":"descricao"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[600,-1340],"id":"bb9a2e6b-c6ba-4a25-843e-0939d6f84226","name":"Aggregate4"},{"parameters":{"assignments":{"assignments":[{"id":"0b1b3969-4b59-43d5-bc13-b8c6e25e0578","name":"organic","value":"={{ $json.organic }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,-1140],"id":"7e667723-766b-4c03-9bce-cc4a711cf6df","name":"Edit Fields3"},{"parameters":{"fieldToSplitOut":"organic","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-1140],"id":"bce77c38-2e43-4967-8dea-c66a8d356f55","name":"Split Out3"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title","renameField":true,"outputFieldName":"titulo"},{"fieldToAggregate":"link"},{"fieldToAggregate":"snippet","renameField":true,"outputFieldName":"descricao"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[620,-1140],"id":"e1b4590d-8967-4bd1-9a3b-a7e6cc8ab455","name":"Aggregate5"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[980,-1420],"id":"9c8ea7bb-d805-4992-88bf-fb929c0e8592","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"titulo"},{"fieldToAggregate":"link"},{"fieldToAggregate":"descricao"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1200,-1380],"id":"9083dfe5-d8d8-46f9-923b-20e08a519055","name":"Aggregate6"},{"parameters":{"promptType":"define","text":"=Titulos:  {{ $json.titulo }}\nLinks: {{ $json.link }}\nDescrição: {{ $json.descricao }}","options":{"systemMessage":"# Prompt: Agente Analista de Nomes de Empresas e Justificativa Detalhada\n\n## Função do Agente\nVocê é um agente analítico altamente eficiente, especializado em processar listas de nomes de empresas encontradas em buscas online. Sua função é analisar esses nomes, identificar padrões comuns de nomenclatura, listar as empresas observadas, sugerir os termos mais prováveis para novos nomes nesse segmento e fornecer uma justificativa detalhada para cada termo sugerido, baseando-se nos exemplos concretos encontrados.\n\n## Recursos Disponíveis\nSua capacidade reside na análise aprofundada de texto e no reconhecimento de padrões dentro de conjuntos de nomes. Você consegue extrair nomes próprios (de empresas) e analisar a composição e o vocabulário utilizado nesses nomes para identificar tendências e termos recorrentes ou relevantes.\n\n## Entrada\nO usuário fornecerá uma lista clara e limpa de nomes de empresas que foram encontradas através de buscas relacionadas a um escopo específico. A entrada deve ser apresentada como uma lista simples de nomes de empresas.\n\n## Tarefa\n1.  Leia e analise cuidadosamente a lista de nomes de empresas fornecida na entrada.\n2.  Liste todos os nomes de empresas exatamente como foram fornecidos na entrada, na seção \"Empresas Encontradas\".\n3.  Analise os nomes listados, procurando por palavras, prefixos, sufixos, conceitos ou temas que se repetem ou que são frequentemente utilizados para nomear empresas neste segmento. Considere tanto a frequência quanto a relevância percebida desses termos.\n4.  Com base na sua análise e nos padrões observados nos nomes listados, selecione os **6 (seis)** termos ou palavras que você considera mais prováveis e adequados para serem utilizados na criação de nomes (fantasia ou razão social) de empresas neste nicho.\n5.  Para cada um dos 6 termos selecionados, crie uma **justificativa detalhada**. Esta justificativa deve explicar *por que* o termo foi escolhido e *quais nomes específicos* da lista de \"Empresas Encontradas\" serviram de base ou exemplo para essa escolha. A justificativa deve conectar claramente o termo sugerido aos exemplos reais.\n\n## Regras de Saída\n*   Sua resposta deve conter **apenas** as três seções solicitadas: \"Empresas Encontradas\", \"Termos Sugeridos para Nomes (Fantasia/Razão Social)\" e \"Justificativa da Escolha dos Termos\".\n*   Não inclua saudações, introduções, explicações prévias extensas, encerramentos ou qualquer texto adicional fora das seções.\n*   Liste todos os nomes da entrada na primeira seção.\n*   Liste **exatamente 6 (seis)** termos na seção de sugestões.\n*   A seção de Justificativa deve ter uma explicação para CADA UM dos 6 termos, e CADA explicação deve referenciar pelo menos um nome da lista de \"Empresas Encontradas\" como evidência para a sugestão do termo.\n\n## Formato de Saída\nA resposta deve ser em formato Markdown, seguindo rigorosamente a estrutura abaixo:\n\n```markdown\n### Empresas Encontradas\n- [Nome da Empresa 1 da entrada]\n- [Nome da Empresa 2 da entrada]\n- [Nome da Empresa 3 da entrada]\n- ... (listar todos os nomes fornecidos na entrada)\n\n### Termos Sugeridos para Nomes (Fantasia/Razão Social)\n- [Termo Provável 1]\n- [Termo Provável 2]\n- [Termo Provável 3]\n- [Termo Provável 4]\n- [Termo Provável 5]\n- [Termo Provável 6]\n\n### Justificativa da Escolha dos Termos\n- **[Termo 1]:** [Justificativa detalhada, mencionando explicitamente os nomes de empresas da lista acima que influenciaram a escolha deste termo].\n- **[Termo 2]:** [Justificativa detalhada, mencionando explicitamente os nomes de empresas da lista acima que influenciaram a escolha deste termo].\n- **[Termo 3]:** [Justificativa detalhada, mencionando explicitamente os nomes de empresas da lista acima que influenciaram a escolha deste termo].\n- **[Termo 4]:** [Justificativa detalhada, mencionando explicitamente os nomes de empresas da lista acima que influenciaram a escolha deste termo].\n- **[Termo 5]:** [Justificativa detalhada, mencionando explicitamente os nomes de empresas da lista acima que influenciaram a escolha deste termo].\n- **[Termo 6]:** [Justificativa detalhada, mencionando explicitamente os nomes de empresas da lista acima que influenciaram a escolha deste termo]."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1420,-1380],"id":"6292c194-36f8-476b-9bc2-92ccef77d22e","name":"AI Agent2"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1400,-1180],"id":"8c5576e8-29d7-42fd-9a6f-9c2e198851f8","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"986cc056-73aa-4439-9cee-215b7762e120","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"395c5270-b34d-4997-a3db-f3a4a0bc3ee2","name":"capital_social_str","value":"={{ $json.capital_social_str }}","type":"string"},{"id":"2d80ce5b-6494-4d44-b90b-cd19983ee074","name":"resumo_empresa","value":"={{ $json.resumo_empresa }}","type":"string"},{"id":"33fffc1d-8cd6-4bc2-9fb0-55711afd9122","name":"clientes","value":"={{ $json.clientes }}","type":"string"},{"id":"b5c7ce6a-ff81-44c4-a030-36d6ae75e5be","name":"site","value":"={{ $json.site }}","type":"string"},{"id":"1f6037d8-34fb-4b92-9f6e-43ffe6aef517","name":"uf","value":"={{ $json.uf }}","type":"string"},{"id":"7ae32d97-6c69-4221-b432-5f82249b447d","name":"cnae_fiscal","value":"={{ $json.cnae_fiscal }}","type":"string"},{"id":"a44e9c68-9c11-4572-aad2-4c8757c26697","name":"cnae_fiscal_secundaria","value":"={{ $json.cnae_fiscal_secundaria }}","type":"string"},{"id":"130e3499-e953-4c84-91ae-14907c0d9276","name":"municipio_descricao","value":"={{ $json.municipio_descricao }}","type":"string"},{"id":"c4ed1334-c760-4654-9da7-5295a11a3396","name":"cnpj","value":"={{ $json.cnpj_basico }}/{{ $json.cnpj_ordem }}-{{ $json.cnpj_dv }}","type":"string"},{"id":"439e9561-7bf9-4835-9421-bca9813b02af","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"ae056110-b687-4cb6-8d7c-ec95422b0813","name":"cnpj_ordem","value":"={{ $json.cnpj_ordem }}","type":"string"},{"id":"e9997b2b-cfd6-4bd7-8b05-b18cc690084e","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1540,200],"id":"a15b3c74-31a1-4237-ba2b-52168196aa35","name":"Edit Fields6"},{"parameters":{"content":"## Busca empresas do Banco e Salva em Excel\n","height":620,"width":1420},"type":"n8n-nodes-base.stickyNote","position":[-2120,-40],"typeVersion":1,"id":"49f2a59d-6902-4ce2-b59f-225fd4f644fc","name":"Sticky Note"},{"parameters":{"content":"## Busca empresas do Banco e Salva em Excel\n","height":620,"width":1420},"type":"n8n-nodes-base.stickyNote","position":[-180,-760],"typeVersion":1,"id":"f2364ff1-749d-47a4-b9df-9300b1a4eb6b","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=Empresa:{{ $json.cnpj }}\nClientes da empresa: {{ $json.clientes }}","hasOutputParser":true,"options":{"systemMessage":"Você é um especialista em análise de empresas. Você receberá uma lista de clientes de empresas. Sua tarefa é analisar se a empresa possui clientes nos seguintes segmentos:\n\nAnalise se a empresa possui clientes industriais em geral.\n\nDepois analise nos segmentos abaixo, caso não tenha cliente em nenhum segmento, passe False.\n\nAnalise se possui clientes no segmento de cimenteiras.\n\nAnalise se possui clientes no segmento de mineração.\n\nAnalise se possui clientes no segmento de siderurgia.\n\nAnalise se possui clientes no segmento de indústria sucroalcooleira.\n\nAnalise se possui clientes no segmento de papel e celulose.\n\nAnalise se possui clientes no segmento de alimentos e bebidas.\n\nAnalise se possui clientes no segmento de química e petroquímica.\n\nAnalise se possui clientes no segmento de automotivo.\n\nAnalise se possui clientes no segmento de energia (geração, transmissão, distribuição, renováveis).\n\nAnalise se possui clientes no segmento de metalurgia (não siderúrgica, como fundição, ligas não ferrosas, usinagem).\n\nAnalise se possui clientes no segmento de farmacêutica.\n\nAnalise se possui clientes no segmento de têxtil e vestuário.\n\nAnalise se possui clientes no segmento de logística e transporte (clientes industriais, como transportadoras para grandes volumes de carga industrial, operadores logísticos).\n\nAnalise se possui clientes no segmento de construção civil pesada/infraestrutura (clientes industriais, como grandes construtoras que fabricam seus próprios insumos ou atuam em projetos de grande escala).\n\nAnalise se possui clientes no segmento de plásticos e borracha.\n\nAnalise se possui clientes no segmento de vidros e cerâmicas.\n\nAnalise se possui clientes no segmento de bens de capital (fabricantes de máquinas e equipamentos industriais).\n\nAnalise se possui clientes no segmento de eletrônicos e tecnologia industrial (fabricação de componentes, equipamentos de automação industrial).\n\nAnalise se possui clientes no segmento de defesa e aeroespacial (indústrias ligadas a esses setores).\n\nAnalise se possui clientes no segmento de óleo e gás (exploração, produção, refino, distribuição).\n\nAnalise se possui clientes no segmento de madeira e móveis (indústria de base).\n\nAnalise se possui clientes no segmento de reciclagem e gestão de resíduos industriais.\n\nAnalise se possui clientes no segmento de estaleiros e construção naval.\n\nAnalise se possui clientes no segmento de portos e terminais portuários.\n\nAnalise se possui clientes no segmento de data centers (provedores de infraestrutura, não usuários finais).\n\nAnalise se possui clientes no segmento de educação (grandes instituições, universidades, redes de ensino).\n\nAnalise se possui clientes no segmento de saúde (hospitais, clínicas, laboratórios de grande porte).\n\nAnalise se possui clientes no segmento de varejo e atacado (grandes redes, atacadistas, e-commerce de grande volume).\n\nAnalise se possui clientes no segmento de telecomunicações.\n\nSua resposta deve ser um JSON no seguinte formato:\n\nJSON\n\n{\n  \"cliente_industria\": boolean,\n  \"cliente_cimenteira\": boolean,\n  \"cliente_mineracao\": boolean,\n  \"cliente_siderurgia\": boolean,\n  \"cliente_sucroalcooleira\": boolean,\n  \"cliente_papel_celulose\": boolean,\n  \"cliente_alimentos_bebidas\": boolean,\n  \"cliente_quimica_petroquimica\": boolean,\n  \"cliente_automotivo\": boolean,\n  \"cliente_energia\": boolean,\n  \"cliente_metalurgia\": boolean,\n  \"cliente_farmaceutica\": boolean,\n  \"cliente_textil_vestuario\": boolean,\n  \"cliente_logistica_transporte\": boolean,\n  \"cliente_construcao_civil_pesada_infraestrutura\": boolean,\n  \"cliente_plasticos_borracha\": boolean,\n  \"cliente_vidros_ceramicas\": boolean,\n  \"cliente_bens_de_capital\": boolean,\n  \"cliente_eletronicos_tecnologia_industrial\": boolean,\n  \"cliente_defesa_aeroespacial\": boolean,\n  \"cliente_oleo_gas\": boolean,\n  \"cliente_madeira_moveis\": boolean,\n  \"cliente_reciclagem_gestao_residuos_industriais\": boolean,\n  \"cliente_estaleiros_construcao_naval\": boolean,\n  \"cliente_portos_terminais_portuarios\": boolean,\n  \"cliente_data_centers\": boolean,\n  \"cliente_educacao\": boolean,\n  \"cliente_saude\": boolean,\n  \"cliente_varejo_atacado\": boolean,\n  \"cliente_telecomunicacoes\": boolean\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-760,200],"id":"be51d616-3700-487f-87da-e31e8e62b88d","name":"AI Agent3","onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-800,420],"id":"f35848ce-7414-4c22-9e53-56e1f15b879b","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n  \"cliente_industria\": true,\n  \"cliente_cimenteira\": true,\n  \"cliente_mineracao\": true,\n  \"cliente_siderurgia\": true,\n  \"cliente_sucroalcooleira\": true,\n  \"cliente_papel_celulose\": true,\n  \"cliente_alimentos_bebidas\": true,\n  \"cliente_quimica_petroquimica\": true,\n  \"cliente_automotivo\": true,\n  \"cliente_energia\": true,\n  \"cliente_metalurgia\": true,\n  \"cliente_farmaceutica\": true,\n  \"cliente_textil_vestuario\": true,\n  \"cliente_logistica_transporte\": true,\n  \"cliente_construcao_civil_pesada_infraestrutura\": true,\n  \"cliente_plasticos_borracha\": true,\n  \"cliente_vidros_ceramicas\": true,\n  \"cliente_bens_de_capital\": true,\n  \"cliente_eletronicos_tecnologia_industrial\": true,\n  \"cliente_defesa_aeroespacial\": true,\n  \"cliente_oleo_gas\": true,\n  \"cliente_madeira_moveis\": true,\n  \"cliente_reciclagem_gestao_residuos_industriais\": true,\n  \"cliente_estaleiros_construcao_naval\": true,\n  \"cliente_portos_terminais_portuarios\": true,\n  \"cliente_data_centers\": true,\n  \"cliente_educacao\": true,\n  \"cliente_saude\": true,\n  \"cliente_varejo_atacado\": true,\n  \"cliente_telecomunicacoes\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-520,400],"id":"113b8984-f286-4545-8b2c-0526e7127c3f","name":"Structured Output Parser1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","tableId":"segmentos_clientes","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-180,20],"id":"7d8fd7f4-6df4-4b19-8f0f-b4d7f6846f68","name":"Supabase","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-680,-40],"id":"44968b10-6213-46fa-bfe0-0fca29763117","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c6f97d1-f59d-457f-9983-0d5187910dbb","leftValue":"={{ $json.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}},{"id":"667dcda6-a50f-4fcc-a88b-bda5fa5c1819","leftValue":"={{ $json.resumo_empresa }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}},{"id":"98918891-da72-43ca-9638-5b9fa0c6287e","leftValue":"={{ $json.uf }}","rightValue":"SP","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1340,200],"id":"0e517254-6b73-49b7-a425-a1d30e46b695","name":"Filter"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1100,200],"id":"b21da8e8-d0da-4ead-b539-186fd6824a63","name":"Convert to File"}],"connections":{"HTTP Request5":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"AI Agent4","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Edit Fields5":{"main":[[{"node":"Aggregate1","type":"main","index":0},{"node":"Supabase4","type":"main","index":0}]]},"Supabase Vector Store3":{"ai_tool":[[{"node":"AI Agent4","type":"ai_tool","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent4","type":"ai_memory","index":0}]]},"Summarize":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent4","type":"ai_tool","index":0}]]},"Merge11":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Merge11","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Merge11","type":"main","index":1}]]},"Aggregate2":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Supabase Vector Store4":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Supabase Vector Store4","type":"ai_embedding","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0}],[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Aggregate4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Aggregate5","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate4":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Aggregate5":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Merge":{"main":[[{"node":"Aggregate6","type":"main","index":0}]]},"Aggregate6":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Edit Fields6":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"AI Agent3":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Limit":{"main":[[]]},"Filter":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a05992d5-9d01-414c-8cc2-9a51470ef5ef","triggerCount":1,"tags":[]}