workflow_cnpj_v2_async-k8Bl7I4pUNzcNLXE.json
{"createdAt":"2025-05-30T11:54:37.638Z","updatedAt":"2025-06-09T16:57:54.000Z","id":"k8Bl7I4pUNzcNLXE","name":"workflow_cnpj_v2_async","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"8f79535e-99b1-4fb0-b4aa-be4369448203","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1300,5120],"typeVersion":3},{"parameters":{"method":"POST","url":"=https://n8n-automacao-production.up.railway.app/webhook/parallel-subworkflow-target","sendHeaders":true,"headerParameters":{"parameters":[{"name":"callbackurl","value":"={{ $execution.resumeUrl }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"requestItemId","value":"={{ $json.cnpj_basico || $id }}"},{"name":"razao_social","value":"={{ $json.razao_social }}"},{"name":"nome_fantasia","value":"={{ $json.nome_fantasia }}"},{"name":"correio_eletronico","value":"={{ $json.correio_eletronico }}"},{"name":"data","value":"={{ $json.data }}"}]},"options":{}},"id":"a345faeb-ba35-4a38-b7e7-7b14f34ac7d7","name":"Start Sub-Workflow via Webhook","type":"n8n-nodes-base.httpRequest","position":[1520,5180],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"async-set-finished-var","name":"finishedSet","type":"object","value":"{}"}]},"options":{}},"id":"01708bab-f44f-4e8f-9f4c-1b2771a552eb","name":"Initialize finishedSet","type":"n8n-nodes-base.set","position":[1520,4980],"executeOnce":true,"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"async-if-condition","operator":{"type":"number","operation":"gte"},"leftValue":"={{ Object.keys($json.finishedSet).length }}","rightValue":"={{ $('Merge12').all().length }}"}],"combinator":"and"},"options":{}},"id":"419d6284-fa64-4578-9fc1-97367fe4a863","name":"If All Finished","type":"n8n-nodes-base.if","position":[1740,4980],"typeVersion":2},{"parameters":{"resume":"webhook","httpMethod":"POST","options":{}},"id":"ea65e2e7-86ae-4ab7-b6dd-d2d4d3ac067c","name":"Webhook Callback Wait","type":"n8n-nodes-base.wait","position":[1960,5000],"webhookId":"5cd058b4-48c8-449a-9c09-959a5b8a2b48","typeVersion":1.1},{"parameters":{"jsCode":"        let dataFromParent = $('If All Finished').first().json; // Usar um nome de variável diferente para clareza\n        // Assegurar que finishedSet e allResults existam no objeto vindo do nó 'If All Finished'\n        if (!dataFromParent.finishedSet) {\n          dataFromParent.finishedSet = {};\n        }\n        if (!dataFromParent.allResults) {\n          dataFromParent.allResults = [];\n        }\n\n        let callbackData = $('Webhook Callback Wait').item.json.body;\n        let finishedItemId = callbackData.finishedItemId;\n\n        // Adiciona ao finishedSet somente se ainda não foi processado\n        if (!dataFromParent.finishedSet[finishedItemId]) {\n          dataFromParent.finishedSet[finishedItemId] = true; // Marca como processado\n          dataFromParent.allResults.push(callbackData); // Adiciona o resultado completo do callback\n        }\n\n        return [dataFromParent]; // Retorna o objeto modificado"},"id":"855c00c2-ef84-402a-ab1f-023c7c913bbb","name":"Update finishedSet","type":"n8n-nodes-base.code","position":[2180,5000],"typeVersion":2},{"parameters":{"options":{}},"id":"b3be6adf-6805-41d9-aa9d-674f0621f245","name":"Acknowledge Finished","type":"n8n-nodes-base.respondToWebhook","position":[2400,5020],"typeVersion":1.1},{"parameters":{},"id":"0d5d2ca2-6f90-493e-a4cf-eb254273c15a","name":"Continue Workflow (noop)","type":"n8n-nodes-base.noOp","position":[1960,4800],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f99cb231-1a17-47e4-9efe-9be7f81942ea","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"c1e7ae85-c636-41ff-830f-fd4e135a5c47","name":"cnpj_ordem","value":"={{ $json.cnpj_ordem }}","type":"string"},{"id":"7dc6d3f0-8dd0-45d9-9c26-81b968c0bef6","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"},{"id":"e99cbb77-2988-427f-bae6-ccbd3cedb932","name":"uf","value":"={{ $json.uf }}","type":"string"},{"id":"0ccfc040-0517-477b-a757-8f4f46433684","name":"municipio","value":"={{ $json.nome_municipio }}","type":"string"},{"id":"27bf7dee-852a-491d-81c3-e6d85565fab9","name":"nome_fantasia","value":"={{ $json.nome_fantasia }}","type":"string"},{"id":"cb0dfb02-7eab-4944-adb6-d90b62ecaced","name":"correio_eletronico","value":"={{ $json.correio_eletronico }}","type":"string"},{"id":"5966fd6e-2e80-43fe-aba1-9918454613a1","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"e4fd9d7e-b104-4e51-96f6-2b2a24025e18","name":"capital_social_str","value":"={{ $json.capital_social_str }}","type":"string"},{"id":"5b0160bd-852b-4674-8548-68ce9d8bdb64","name":"cnae_fiscal","value":"={{ $json.cnae_fiscal_principal_codigo }}","type":"string"},{"id":"f0666e31-33c9-408b-9144-35e48e5a684b","name":"cnae_fiscal_secundaria","value":"={{ $json.todos_codigos_cnae }}","type":"string"},{"id":"212bfc05-9c48-4247-8d05-6c9c9ca18abf","name":"todos_nomes_cnae","value":"={{ $json.todos_nomes_cnae }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,4660],"id":"9ecc88da-b60d-442e-bc59-bfd51f9e6124","name":"Edit Fields15"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.razao_social }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,4860],"id":"e0d60dc6-2baf-4fa3-8623-e45b4322de87","name":"HTTP Request1","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"2eb1014d-2a4f-4fb0-8882-2dd3fb33ac1a","name":"data","value":"={{ $json.organic }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,4860],"id":"dfa0d4c5-8ca9-4849-9b10-f260fc55d622","name":"Edit Fields16"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[920,4660],"id":"6de9fbf0-5d22-4526-8350-f6ba7f134b23","name":"Merge12"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/get_estabelecimentos_filtrados_avancado","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Profile","value":"cnpj_db"},{"name":"Accept-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"_cnaes_alvo","value":"={{ $json._cnaes }}"},{"name":"_uf_filtro","value":"={{ $json._uf_filtro }}"},{"name":"_data_limite_inicio_atividades","value":"={{ $json._data_limite }}"},{"name":"_termos_busca","value":"={{ $json._termos }}"},{"name":"_portes_empresa_filtro","value":"={{ $json._porte_empresa }}"},{"name":"_naturezas_juridica_filtro","value":"={{ $json._natureza_juridica }}"},{"name":"_limite_retorno","value":"3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,4640],"id":"bfef33db-fa2f-4538-baa2-2c8d87c68791","name":"HTTP Request8","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"6a642483-615a-4845-a6ab-85d68be0b528","name":"_cnaes","value":"=[\"4511102\",\"2930103\",\"4511105\",\"4520007\"]","type":"array"},{"id":"c19781ca-94a5-4b69-8769-42cd1760e6e4","name":"_uf_filtro","value":"=[\"SP\",\"ES\",\"RS\",\"PR\",\"MG\",\"BA\",\"GO\"]","type":"array"},{"id":"7ae93f81-b936-4f53-a142-9825c69dd216","name":"_data_limite","value":"20200101","type":"string"},{"id":"2b31cd18-2041-4cb4-8b93-4ce497884113","name":"_codigo_municipio","value":"","type":"string"},{"id":"46d42ef3-766f-4875-b66d-76ad9bc68aa5","name":"_termos","value":"=[\"ambulancia\", \"adaptado\", \"especia\"]","type":"array"},{"id":"04c655fa-7d0f-4dda-99c8-fbf13bb7d6b7","name":"=_porte_empresa","value":"=[\"00\",\"05\",\"03\"]","type":"array"},{"id":"e864e0a0-f33b-4a16-9294-e4836b5b7151","name":"_natureza_juridica","value":"=[\"2062\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1000,4860],"id":"1ea1940e-5e85-41c8-8576-ea26f3649e94","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"151e40db-6971-42b2-b67a-0458a17ecb7f","name":"allResults","value":"={{ $json.allResults }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2180,4800],"id":"d1b9d4ba-963d-47f9-a71b-aa9b2a5c0e86","name":"Edit Fields18"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"cnpj_basico","field2":"finishedItemId"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2660,4660],"id":"b85924e2-ac3e-4ac3-9fb5-3abc184ff544","name":"Merge13"},{"parameters":{"fieldToSplitOut":"allResults","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2400,4800],"id":"e04552bb-f895-47d4-8b03-f8d4bb6153e6","name":"Split Out"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"41e6c94e-ffa6-4367-a21d-007867c2b030"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f1b15d1-c2eb-4b5f-a921-63bae2dfa299","leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3340,4660],"id":"41f5e2b5-9b24-411c-9226-af092c6c77d0","name":"Switch2"},{"parameters":{"url":"={{ $json.output.site }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3540,5020],"id":"56397a7f-1e0a-4770-ae2f-ca724698efeb","name":"HTTP Request10","retryOnFail":true,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3760,5020],"id":"aa112dc0-e8b3-4cf2-baa7-31f7e9faa35c","name":"HTML1","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $json.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"site","fieldValue":"={{ $json.output.site }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3560,4500],"id":"c7a4e923-beb3-4212-9b96-6d63637b4ebf","name":"Supabase5","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1425870c-b7a2-40ac-940b-9990053458fb","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"data","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3120,4660],"id":"c7f9e3f5-9cbd-4528-b1b6-39061591aa6f","name":"Edit Fields19"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4000,4700],"id":"496b4f4b-5355-4bc1-8379-502c7e103c60","name":"Merge14"},{"parameters":{"options":{}},"id":"948e9366-9c55-47d1-91fd-aebac636598f","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","position":[4420,5100],"typeVersion":3},{"parameters":{"method":"POST","url":"=https://n8n-automacao-production.up.railway.app/webhook/agent-site-search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"callbackurl","value":"={{ $execution.resumeUrl }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"requestItemId","value":"={{ $json.cnpj_basico || $id }}"},{"name":"site","value":"={{ $json.output.site }}"},{"name":"links","value":"={{ $json.links }}"}]},"options":{}},"id":"93b7417b-ce6b-406a-8db0-7785842554c1","name":"Start Sub-Workflow via Webhook1","type":"n8n-nodes-base.httpRequest","position":[4640,5160],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"async-set-finished-var","name":"finishedSet","type":"object","value":"{}"}]},"options":{}},"id":"fa1905b7-10d9-4f7b-a1f2-5b4783197078","name":"Initialize finishedSet1","type":"n8n-nodes-base.set","position":[4640,4960],"executeOnce":true,"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"async-if-condition","operator":{"type":"number","operation":"gte"},"leftValue":"={{ Object.keys($json.finishedSet).length }}","rightValue":"={{ $('Edit Fields21').all().length }}"}],"combinator":"and"},"options":{}},"id":"495ffe4e-7adb-42d9-84cb-040ff34e509a","name":"If All Finished1","type":"n8n-nodes-base.if","position":[4860,4960],"typeVersion":2},{"parameters":{"resume":"webhook","httpMethod":"POST","options":{}},"id":"32a04859-b103-4f70-9f4d-08dc4307c033","name":"Webhook Callback Wait1","type":"n8n-nodes-base.wait","position":[5080,4980],"webhookId":"5cd058b4-48c8-449a-9c09-959a5b8a2b48","typeVersion":1.1},{"parameters":{"jsCode":"        let dataFromParent = $('If All Finished1').first().json; // Usar um nome de variável diferente para clareza\n        // Assegurar que finishedSet e allResults existam no objeto vindo do nó 'If All Finished'\n        if (!dataFromParent.finishedSet) {\n          dataFromParent.finishedSet = {};\n        }\n        if (!dataFromParent.allResults) {\n          dataFromParent.allResults = [];\n        }\n\n        let callbackData = $('Webhook Callback Wait1').item.json.body;\n        let finishedItemId = callbackData.finishedItemId;\n\n        // Adiciona ao finishedSet somente se ainda não foi processado\n        if (!dataFromParent.finishedSet[finishedItemId]) {\n          dataFromParent.finishedSet[finishedItemId] = true; // Marca como processado\n          dataFromParent.allResults.push(callbackData); // Adiciona o resultado completo do callback\n        }\n\n        return [dataFromParent]; // Retorna o objeto modificado"},"id":"161fb3d6-207f-4623-a0e6-e507bda8c901","name":"Update finishedSet1","type":"n8n-nodes-base.code","position":[5300,4980],"typeVersion":2},{"parameters":{"options":{}},"id":"bd53d0b3-d589-4b60-9f3c-45cfc776b515","name":"Acknowledge Finished1","type":"n8n-nodes-base.respondToWebhook","position":[5520,5000],"typeVersion":1.1},{"parameters":{},"id":"3d40875c-b882-4e10-8135-b90496c52fee","name":"Continue Workflow (noop)1","type":"n8n-nodes-base.noOp","position":[5080,4780],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"151e40db-6971-42b2-b67a-0458a17ecb7f","name":"allResults","value":"={{ $json.allResults }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5300,4780],"id":"3d258535-8ec8-4e81-a5ba-ec11d7268921","name":"Edit Fields20"},{"parameters":{"fieldToSplitOut":"allResults","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5520,4780],"id":"8c60205b-96fc-42b8-a9c7-4bd8ec88c380","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"3500e1f8-a6cc-4a53-8cdb-18fe5b14221a","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"data, finishedItemId","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4240,4660],"id":"1c2b82ee-dbf5-4e99-a3e0-577f467e9197","name":"Edit Fields21"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"cnpj_basico","field2":"finishedItemId"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5780,4660],"id":"38a08eb2-ef40-46f0-9061-daf66893af5a","name":"Merge15"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6afb29a-b922-48d8-8a88-af9f96473ec5","leftValue":"={{ $json.output.melhor_link }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.melhor_link }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"3e4b48c2-2761-4637-ad3e-6b241a870c60"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[6580,4660],"id":"16cc2032-8318-4ff5-bc89-7607a102f4e9","name":"Switch3"},{"parameters":{"url":"={{ $json.output.melhor_link }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6800,4360],"id":"f0f05c10-c793-4e82-aaac-2b194f6d846d","name":"HTTP Request11","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6800,4960],"id":"a27c8cce-aaab-453a-81a1-45a8307af2f7","name":"HTTP Request12","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString1 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString1\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7020,4360],"id":"3b818cd2-31da-4878-ada5-d62d9e88269c","name":"Code4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7020,4960],"id":"a642bb89-bb3e-433d-b028-53ee3860d1d0","name":"Code5"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[7680,4420],"id":"5b95c284-2df3-4036-9c55-7f75a38a9b4b","name":"Merge16"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[7460,4880],"id":"eaa192c5-23d8-4558-9c10-a9a6161ba93b","name":"Merge17"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[7900,4660],"id":"d733b264-06b7-473f-91b6-dc55750485a2","name":"Merge18"},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6800,4660],"id":"c87b7b4b-db28-4978-a7f8-b1f1255dca99","name":"HTTP Request13","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7020,4660],"id":"08d2603e-36d4-4344-b678-305e42d1cbce","name":"Code6"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[7240,4360],"id":"2675ec12-9608-4187-ad29-aecc9bf9728b","name":"Merge19"},{"parameters":{"assignments":{"assignments":[{"id":"0fdc91d3-9fcc-4761-a907-6d80b362a03c","name":"texto_page_cliente","value":"={{ $json.fullCleanedString1 }}","type":"string"},{"id":"37a2eff7-d35e-48be-ad84-28f68a21851b","name":"texto_page_home","value":"={{ $json.fullCleanedString2 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7460,4360],"id":"1cdb31c7-bd9e-4c5a-868e-9e28585de2e7","name":"Edit Fields22"},{"parameters":{"assignments":{"assignments":[{"id":"5febc393-7375-4f85-bf1d-0e31fa4ea6c0","name":"texto_page_home","value":"={{ $json.fullCleanedString2 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7240,4960],"id":"cb91dfb8-1e58-4cc6-b32b-4a93632dcbdc","name":"Edit Fields23"},{"parameters":{"assignments":{"assignments":[{"id":"2860fa9d-dff9-4d37-8197-d9645d3197f1","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"links, error","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6360,4660],"id":"700fc89c-d031-4fed-aeee-3d382036f4a5","name":"Edit Fields24"},{"parameters":{"options":{}},"id":"84857d47-48ee-43f3-ae79-6954dea063ac","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","position":[8260,4060],"typeVersion":3},{"parameters":{"method":"POST","url":"=https://n8n-automacao-production.up.railway.app/webhook/agent-resumo-empresa","sendHeaders":true,"headerParameters":{"parameters":[{"name":"callbackurl","value":"={{ $execution.resumeUrl }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"requestItemId","value":"={{ $json.cnpj_basico || $id }}"},{"name":"texto_page_home","value":"={{ $json.texto_page_home }}"}]},"options":{}},"id":"65ce0f4a-6e6b-438e-b4eb-a0722a7ead13","name":"Start Sub-Workflow via Webhook2","type":"n8n-nodes-base.httpRequest","position":[8420,4260],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"async-set-finished-var","name":"finishedSet","type":"object","value":"{}"}]},"options":{}},"id":"c0d338a2-2424-46e2-b13a-7bbb5512d3ef","name":"Initialize finishedSet2","type":"n8n-nodes-base.set","position":[8480,4060],"executeOnce":true,"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"async-if-condition","operator":{"type":"number","operation":"gte"},"leftValue":"={{ Object.keys($json.finishedSet).length }}","rightValue":"={{ $('Merge18').all().length }}"}],"combinator":"and"},"options":{}},"id":"0d6eb131-a6e9-4692-a212-77197c4d7ae9","name":"If All Finished2","type":"n8n-nodes-base.if","position":[8700,4060],"typeVersion":2},{"parameters":{"resume":"webhook","httpMethod":"POST","options":{}},"id":"cc6839cd-3fe4-4434-b5fa-5ffeb9c8c443","name":"Webhook Callback Wait2","type":"n8n-nodes-base.wait","position":[8840,4220],"webhookId":"5cd058b4-48c8-449a-9c09-959a5b8a2b48","typeVersion":1.1},{"parameters":{"jsCode":"        let dataFromParent = $('If All Finished2').first().json; // Usar um nome de variável diferente para clareza\n        // Assegurar que finishedSet e allResults existam no objeto vindo do nó 'If All Finished'\n        if (!dataFromParent.finishedSet) {\n          dataFromParent.finishedSet = {};\n        }\n        if (!dataFromParent.allResults) {\n          dataFromParent.allResults = [];\n        }\n\n        let callbackData = $('Webhook Callback Wait2').item.json.body;\n        let finishedItemId = callbackData.finishedItemId;\n\n        // Adiciona ao finishedSet somente se ainda não foi processado\n        if (!dataFromParent.finishedSet[finishedItemId]) {\n          dataFromParent.finishedSet[finishedItemId] = true; // Marca como processado\n          dataFromParent.allResults.push(callbackData); // Adiciona o resultado completo do callback\n        }\n\n        return [dataFromParent]; // Retorna o objeto modificado"},"id":"8092324e-389f-4dae-a58f-b56ad12df135","name":"Update finishedSet2","type":"n8n-nodes-base.code","position":[9000,4220],"typeVersion":2},{"parameters":{"options":{}},"id":"b0984cfb-0fde-4c84-8164-fc4aade47f5d","name":"Acknowledge Finished2","type":"n8n-nodes-base.respondToWebhook","position":[9160,4220],"typeVersion":1.1},{"parameters":{},"id":"61995c57-8de8-495c-ac01-271c23480c7a","name":"Continue Workflow (noop)2","type":"n8n-nodes-base.noOp","position":[8940,4040],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"151e40db-6971-42b2-b67a-0458a17ecb7f","name":"allResults","value":"={{ $json.allResults }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9120,4040],"id":"6194c90c-b0c4-4537-bc2c-814f224cbcf2","name":"Edit Fields25"},{"parameters":{"fieldToSplitOut":"allResults","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[9360,4040],"id":"cb610dea-79aa-407b-957e-5cc58bcf9172","name":"Split Out2"},{"parameters":{"options":{}},"id":"fa68359e-2527-4ef3-91e1-62b310b4d3e0","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","position":[8280,5040],"typeVersion":3},{"parameters":{"method":"POST","url":"=https://n8n-automacao-production.up.railway.app/webhook/agent-resumo-cliente","sendHeaders":true,"headerParameters":{"parameters":[{"name":"callbackurl","value":"={{ $execution.resumeUrl }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"requestItemId","value":"={{ $json.cnpj_basico || $id }}"},{"name":"texto_page_home","value":"={{ $json.texto_page_home }}"},{"name":"texto_page_cliente","value":"={{ $json.texto_page_cliente }}"}]},"options":{}},"id":"a753b510-3954-4d95-8893-49ff00c86da7","name":"Start Sub-Workflow via Webhook3","type":"n8n-nodes-base.httpRequest","position":[8440,5240],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"async-set-finished-var","name":"finishedSet","type":"object","value":"{}"}]},"options":{}},"id":"137ca31d-79b1-4f9e-ae78-debb42f1e2e5","name":"Initialize finishedSet3","type":"n8n-nodes-base.set","position":[8500,5040],"executeOnce":true,"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"async-if-condition","operator":{"type":"number","operation":"gte"},"leftValue":"={{ Object.keys($json.finishedSet).length }}","rightValue":"={{ $('Merge18').all().length }}"}],"combinator":"and"},"options":{}},"id":"9da23ea3-3291-4c7c-800a-c7efd1248951","name":"If All Finished3","type":"n8n-nodes-base.if","position":[8720,5040],"typeVersion":2},{"parameters":{"resume":"webhook","httpMethod":"POST","options":{}},"id":"1ca7e4ce-bea4-437e-80f0-14d66bd8cc7c","name":"Webhook Callback Wait3","type":"n8n-nodes-base.wait","position":[8800,5200],"webhookId":"5cd058b4-48c8-449a-9c09-959a5b8a2b48","typeVersion":1.1},{"parameters":{"jsCode":"        let dataFromParent = $('If All Finished3').first().json; // Usar um nome de variável diferente para clareza\n        // Assegurar que finishedSet e allResults existam no objeto vindo do nó 'If All Finished'\n        if (!dataFromParent.finishedSet) {\n          dataFromParent.finishedSet = {};\n        }\n        if (!dataFromParent.allResults) {\n          dataFromParent.allResults = [];\n        }\n\n        let callbackData = $('Webhook Callback Wait3').item.json.body;\n        let finishedItemId = callbackData.finishedItemId;\n\n        // Adiciona ao finishedSet somente se ainda não foi processado\n        if (!dataFromParent.finishedSet[finishedItemId]) {\n          dataFromParent.finishedSet[finishedItemId] = true; // Marca como processado\n          dataFromParent.allResults.push(callbackData); // Adiciona o resultado completo do callback\n        }\n\n        return [dataFromParent]; // Retorna o objeto modificado"},"id":"884fd3b7-d555-4ef0-bc84-a2931d613444","name":"Update finishedSet3","type":"n8n-nodes-base.code","position":[8980,5200],"typeVersion":2},{"parameters":{"options":{}},"id":"45814a12-b7ab-4d11-9558-e0fd05272325","name":"Acknowledge Finished3","type":"n8n-nodes-base.respondToWebhook","position":[9180,5200],"typeVersion":1.1},{"parameters":{},"id":"39a94753-282b-4e69-b9cd-d9b09ae7eb22","name":"Continue Workflow (noop)3","type":"n8n-nodes-base.noOp","position":[8960,5020],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"151e40db-6971-42b2-b67a-0458a17ecb7f","name":"allResults","value":"={{ $json.allResults }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9140,5020],"id":"3dfa198b-66e3-426f-960e-fc09ea868999","name":"Edit Fields26"},{"parameters":{"fieldToSplitOut":"allResults","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[9380,5020],"id":"be36222e-b311-4a38-adce-772185d37d10","name":"Split Out3"},{"parameters":{"mode":"combine","fieldsToMatchString":"finishedItemId","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[9940,4460],"id":"23a400d2-3fce-4e15-a974-5376501e7ad2","name":"Merge20"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"finishedItemId","field2":"cnpj_basico"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[10320,4600],"id":"38b7c8b6-4f39-4db3-bbc7-96bbc30e59ef","name":"Merge21"},{"parameters":{"assignments":{"assignments":[{"id":"a4f34ff5-605d-4330-9889-808d53fa5b03","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"26859f09-db20-4b35-ae0a-32f4eb797e6e","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"aa8a9de9-12c7-4a4c-bc7b-016615e04797","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"37062e35-0b73-4d99-9739-3cdcbae9f1e4","name":"output.site","value":"={{ $json.output.site }}","type":"string"},{"id":"8dcafd23-97d8-4da5-b519-0f4239ffd6e8","name":"output.melhor_link","value":"={{ $json.output.melhor_link }}","type":"string"},{"id":"7eab1c4d-097b-4e8f-a50f-f826b4da9ef9","name":"output.clientes","value":"={{ $json.output.clientes }}","type":"string"},{"id":"00cac18f-0f95-44e1-8b36-ec00c471a4a7","name":"output.resumo_empresa","value":"={{ $json.output.resumo_empresa }}","type":"string"},{"id":"c0442597-21fc-4718-8d62-2639708e76f5","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[10700,4980],"id":"ba1fab41-2108-434a-bd3c-4facfeb3d6ec","name":"Edit Fields27"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json;\n  const output = data.output || {};\n  data.output = {\n    site: output.site || \"nao_encontrado\",\n    melhor_link: output.melhor_link || \"nao_encontrado\",\n    clientes: output.clientes || \"nao_encontrado\",\n    resumo_empresa: output.resumo_empresa || \"nao_encontrado\"\n  };\n  return { json: data };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[10920,4980],"id":"a4413680-1b68-4271-afc8-bdf13d6ac317","name":"Code7"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $json.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"clientes","fieldValue":"={{ $json.output.clientes }}"},{"fieldId":"site","fieldValue":"={{ $json.output.site }}"},{"fieldId":"resumo_empresa","fieldValue":"={{ $json.output.resumo_empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[11140,4980],"id":"ad58404f-7dbb-4ccf-8d1e-8ec2c0ca4509","name":"Supabase6","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0c7ce7e3-982d-417e-be2e-8586f5c7642d","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"1dafd53e-b008-463d-9856-34fdbafbc809","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"},{"id":"a4f34ff5-605d-4330-9889-808d53fa5b03","name":"cnpj_completo","value":"={{ $json.cnpj_basico }}/{{ $json.cnpj_ordem }}-{{ $json.cnpj_dv }}","type":"string"},{"id":"aa8a9de9-12c7-4a4c-bc7b-016615e04797","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"76d67654-b96f-4f55-aee8-41a76d55adee","name":"nome_fantasia","value":"={{ $json.nome_fantasia }}","type":"string"},{"id":"6a701925-3ace-46c2-814a-05015d016f4d","name":"uf","value":"={{ $json.uf }}","type":"string"},{"id":"26859f09-db20-4b35-ae0a-32f4eb797e6e","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"f87d0c91-f585-4313-a405-74dd90d19bf7","name":"capital_social_str","value":"={{ $json.capital_social_str }}","type":"string"},{"id":"37062e35-0b73-4d99-9739-3cdcbae9f1e4","name":"site","value":"={{ $json.output.site }}","type":"string"},{"id":"00cac18f-0f95-44e1-8b36-ec00c471a4a7","name":"resumo_empresa","value":"={{ $json.output.resumo_empresa }}","type":"string"},{"id":"7eab1c4d-097b-4e8f-a50f-f826b4da9ef9","name":"clientes","value":"={{ $json.output.clientes }}","type":"string"},{"id":"1b6dfdf7-de84-4762-abb6-4b3f640735e1","name":"cnae_fiscal","value":"={{ $json.cnae_fiscal }}","type":"string"},{"id":"40c5f2ff-5271-4ed6-9bc0-8d368deadbbd","name":"cnae_fiscal_secundaria","value":"={{ $json.cnae_fiscal_secundaria }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[11560,4580],"id":"b8ab5931-380a-4ca1-936c-5f6b8c90b044","name":"Edit Fields28"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"vector_suppliers","mode":"list","cachedResultName":"vector_suppliers"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[13060,4580],"id":"8595956b-8b78-491f-917d-1a45a7484d20","name":"Supabase Vector Store5","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[12960,4800],"id":"ec3b8de5-a61d-4171-ad42-011447b67794","name":"Embeddings OpenAI5","credentials":{"openAiApi":{"id":"91VXPuHzac1PVHQb","name":"OpenAi account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[13180,4840],"id":"d9f8919d-4790-41e0-9568-1e60d4ed712d","name":"Default Data Loader3"},{"parameters":{"chunkOverlap":150,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[13200,5020],"id":"bb35dbb5-c32d-4619-be61-f008310fe079","name":"Recursive Character Text Splitter3"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"empresas","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[12160,4580],"id":"73789a78-4216-4e5e-a4c5-263a9418f787","name":"Aggregate5"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[11400,4580],"id":"cbaf3eaf-8f8d-457d-b1e8-6332e911259e","name":"Merge22"},{"parameters":{"assignments":{"assignments":[{"id":"5f75619a-a373-4085-8169-a8cb67e610ac","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"dcff6c46-3fc4-43a3-8b99-dec472f13ca9","name":"municipio","value":"={{ $json.municipio }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"codigo, descricao","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[11780,4580],"id":"46f13f6b-246d-435e-a578-1dc01aa42805","name":"Edit Fields29"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $json.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"vetorizado","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[11940,4220],"id":"a62b4e19-e260-4138-9ea3-97caacfcdafb","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-860,3960],"id":"5c4394a1-5898-4de9-83d0-632f22623f06","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,4620],"id":"7f8d8ee7-c7f9-41ee-b79b-bbaaff9beb2e","name":"When clicking ‘Execute workflow’"},{"parameters":{"fieldToSplitOut":"empresas","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[12380,4580],"id":"288e9644-f215-42f0-ac2d-d8b82590d65a","name":"Split Out4"},{"parameters":{"jsCode":"// Loop over input items and transform their JSON into an array of objects\nconst outputItems = [];\n\nfor (const item of $input.all()) {\n  // Convert the JSON of each item to a string\n  const stringifiedJson = JSON.stringify(item.json);\n\n  // Create a new output item object with the stringified JSON in the 'json' property\n  outputItems.push({\n    json: {\n      // You can put your stringified JSON under a specific key within the json object\n      // For consistency, we'll put it under a key like 'dataString'\n      dataString: stringifiedJson\n    }\n    // If you need to keep other data from the original item (like binary data),\n    // you might need to copy it here as well.\n    // binary: item.binary // Uncomment and adjust if you have binary data\n  });\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[12600,4580],"id":"755243bd-b9d4-47a9-9a0f-a2124a36a47c","name":"Code"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"finishedItemId","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[10140,4480],"id":"9e9427a7-2120-45e8-a810-0b80107bd5b5","name":"Remove Duplicates1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[6000,4660],"id":"4ebfcbe6-1be9-4838-aebb-0cab3975f19e","name":"Remove Duplicates2"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2880,4660],"id":"c6757cb0-5aa6-407e-9aae-1dc96c43d4fd","name":"Remove Duplicates3"},{"parameters":{"assignments":{"assignments":[{"id":"6a642483-615a-4845-a6ab-85d68be0b528","name":"_cnaes","value":"=[\"4321500\",\"3314710\",\"4322302\",\"4299599\",\"3321000\",\"4292802\"]","type":"array"},{"id":"c19781ca-94a5-4b69-8769-42cd1760e6e4","name":"_uf_filtro","value":"=[\"SP\",\"MG\",\"BA\",\"PE\",\"TO\",\"ES\",\"DF\",\"MS\",\"MT\",\"GO\",\"RS\",\"PR\",\"SC\"]","type":"array"},{"id":"7ae93f81-b936-4f53-a142-9825c69dd216","name":"_data_limite","value":"20200101","type":"string"},{"id":"2b31cd18-2041-4cb4-8b93-4ce497884113","name":"_codigo_municipio","value":"","type":"string"},{"id":"46d42ef3-766f-4875-b66d-76ad9bc68aa5","name":"_termos","value":"=[\"montagem\",\"montagens\",\"mecanica\",\"engenharia\",\"eng\",\"industrial\",\"mont\",\"insta\",\"manuten\",\"instala\"]","type":"array"},{"id":"04c655fa-7d0f-4dda-99c8-fbf13bb7d6b7","name":"_porte_empresa","value":"=[\"00\",\"05\",\"03\"]","type":"array"},{"id":"e864e0a0-f33b-4a16-9294-e4836b5b7151","name":"_natureza_juridica","value":"=[\"2062\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,4640],"id":"69e96e9f-ce14-4a58-bb56-570ddad52912","name":"Edit Fields"},{"parameters":{"content":"## Busca empresas no Banco de Dados CNPJ","height":480,"width":600},"type":"n8n-nodes-base.stickyNote","position":[-420,4460],"typeVersion":1,"id":"a8765a58-a0a6-44e6-a923-19b10b246e86","name":"Sticky Note"},{"parameters":{"content":"## Busca site no Google","height":580,"width":820},"type":"n8n-nodes-base.stickyNote","position":[240,4460],"typeVersion":1,"id":"1f93ab41-2196-4fbb-b34e-ece8f613358e","name":"Sticky Note1"},{"parameters":{"content":"## Busca site no Google","height":980,"width":1680},"type":"n8n-nodes-base.stickyNote","position":[1100,4440],"typeVersion":1,"id":"435979ed-c765-4ded-b592-1515baf06d16","name":"Sticky Note2"},{"parameters":{"content":"## Acessando site da empresa\n","height":780,"width":960},"type":"n8n-nodes-base.stickyNote","position":[3240,4600],"typeVersion":1,"id":"4f0e2b4e-3661-45bd-a05b-2f84901d11cf","name":"Sticky Note3"},{"parameters":{"content":"## Busca Link com Clientes\n","height":780,"width":1600},"type":"n8n-nodes-base.stickyNote","position":[4460,4540],"typeVersion":1,"id":"c47bfbeb-27cd-44fa-8d8c-caede15e9b37","name":"Sticky Note4"},{"parameters":{"content":"## Acessa os links e coleta informacao","height":1060,"width":1780},"type":"n8n-nodes-base.stickyNote","position":[6240,4380],"typeVersion":1,"id":"206b5460-745a-4589-a112-c047d1d49d68","name":"Sticky Note5"},{"parameters":{"content":"## Elabora Resumo Empresa\n","height":680,"width":1780},"type":"n8n-nodes-base.stickyNote","position":[8100,3940],"typeVersion":1,"id":"eab4d564-aefe-44d3-b6c4-4147eefd0765","name":"Sticky Note6"},{"parameters":{"content":"## Procura Clientes\n","height":680,"width":1780},"type":"n8n-nodes-base.stickyNote","position":[8100,4780],"typeVersion":1,"id":"16958c02-61c8-409c-b502-448f4fdc9fdb","name":"Sticky Note7"},{"parameters":{"content":"## Atualiza empresas com cliente, site e resumo\n","height":500,"width":1340},"type":"n8n-nodes-base.stickyNote","position":[10280,4820],"typeVersion":1,"id":"0e518dc4-0a36-4ffc-a621-dcc297776941","name":"Sticky Note8"},{"parameters":{"url":"=https://www.imetame.com.br/","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,5360],"id":"4b7f89b7-f17d-4839-98c1-a3f0553c13d5","name":"HTTP Request","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[60,5480],"id":"adedbfb4-824e-4d75-8d88-2ecfc66376d8","name":"Code8","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Input:  {{ $json.data }}\nOutput: {{ $json.fullCleanedString2 }}\nResultado esperado: Coletar todas informações do site, indepente do formato do site.\nCódigo: \nreturn $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo da <main> se existir\n  const mainMatch = rawHtml.match(/<main\\b[^>]*>([\\s\\S]*?)<\\/main>/i);\n  const coreHtml = mainMatch ? mainMatch[0] : rawHtml;\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'][^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    const tag = match[0];\n    const src = match[1];\n    const altMatch = tag.match(/alt=[\"']([^\"']*)[\"']/i);\n    const titleMatch = tag.match(/title=[\"']([^\"']*)[\"']/i);\n    return {\n      src,\n      alt: altMatch ? altMatch[1] : null,\n      title: titleMatch ? titleMatch[1] : null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível da <main>\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});","options":{"systemMessage":"Você é um especialista em corrigir códigos em javascript.\n\nVocê irá receber o input, o código e o output e melhorar o código para que ele consiga trazer o resultado esperado pelo usuário.\n\nVocê deve fornecer um novo código em formato limpo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[320,5400],"id":"ba85dd5c-14b6-41f4-8da2-58a1af938637","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[260,5720],"id":"076817b4-07ec-49a8-96e6-780c76a74f72","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"piMVWG8jmLUJuLl1","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[640,5720],"id":"d73ea0f6-4ac9-43c5-bf78-5b74a5d9df95","name":"Think"}],"connections":{"Loop Over Items":{"main":[[{"node":"Initialize finishedSet","type":"main","index":0}],[{"node":"Start Sub-Workflow via Webhook","type":"main","index":0}]]},"Start Sub-Workflow via Webhook":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Initialize finishedSet":{"main":[[{"node":"If All Finished","type":"main","index":0}]]},"If All Finished":{"main":[[{"node":"Continue Workflow (noop)","type":"main","index":0}],[{"node":"Webhook Callback Wait","type":"main","index":0}]]},"Webhook Callback Wait":{"main":[[{"node":"Update finishedSet","type":"main","index":0}]]},"Update finishedSet":{"main":[[{"node":"Acknowledge Finished","type":"main","index":0}]]},"Acknowledge Finished":{"main":[[{"node":"If All Finished","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Merge12","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields16","type":"main","index":0}]]},"Edit Fields16":{"main":[[{"node":"Merge12","type":"main","index":1}]]},"Merge12":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Merge13","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields17":{"main":[[]]},"Continue Workflow (noop)":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields18":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge13","type":"main","index":1}]]},"Switch2":{"main":[[{"node":"Supabase5","type":"main","index":0}],[{"node":"HTTP Request10","type":"main","index":0},{"node":"Merge14","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Merge13":{"main":[[{"node":"Remove Duplicates3","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Merge14","type":"main","index":1}]]},"Loop Over Items1":{"main":[[{"node":"Initialize finishedSet1","type":"main","index":0}],[{"node":"Start Sub-Workflow via Webhook1","type":"main","index":0}]]},"Start Sub-Workflow via Webhook1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Initialize finishedSet1":{"main":[[{"node":"If All Finished1","type":"main","index":0}]]},"If All Finished1":{"main":[[{"node":"Continue Workflow (noop)1","type":"main","index":0}],[{"node":"Webhook Callback Wait1","type":"main","index":0}]]},"Webhook Callback Wait1":{"main":[[{"node":"Update finishedSet1","type":"main","index":0}]]},"Update finishedSet1":{"main":[[{"node":"Acknowledge Finished1","type":"main","index":0}]]},"Acknowledge Finished1":{"main":[[{"node":"If All Finished1","type":"main","index":0}]]},"Continue Workflow (noop)1":{"main":[[{"node":"Edit Fields20","type":"main","index":0}]]},"Edit Fields20":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Merge14":{"main":[[{"node":"Edit Fields21","type":"main","index":0}]]},"Edit Fields21":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"Merge15","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Merge15","type":"main","index":1}]]},"Switch3":{"main":[[{"node":"HTTP Request11","type":"main","index":0},{"node":"Merge16","type":"main","index":1},{"node":"HTTP Request13","type":"main","index":0}],[{"node":"HTTP Request12","type":"main","index":0},{"node":"Merge17","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Code4","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Merge19","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Edit Fields23","type":"main","index":0}]]},"Merge16":{"main":[[{"node":"Merge18","type":"main","index":0}]]},"Merge17":{"main":[[{"node":"Merge18","type":"main","index":1}]]},"HTTP Request13":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Merge19","type":"main","index":1}]]},"Merge19":{"main":[[{"node":"Edit Fields22","type":"main","index":0}]]},"Edit Fields22":{"main":[[{"node":"Merge16","type":"main","index":0}]]},"Edit Fields23":{"main":[[{"node":"Merge17","type":"main","index":1}]]},"Edit Fields24":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Merge15":{"main":[[{"node":"Remove Duplicates2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Initialize finishedSet2","type":"main","index":0}],[{"node":"Start Sub-Workflow via Webhook2","type":"main","index":0}]]},"Start Sub-Workflow via Webhook2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Initialize finishedSet2":{"main":[[{"node":"If All Finished2","type":"main","index":0}]]},"If All Finished2":{"main":[[{"node":"Continue Workflow (noop)2","type":"main","index":0}],[{"node":"Webhook Callback Wait2","type":"main","index":0}]]},"Webhook Callback Wait2":{"main":[[{"node":"Update finishedSet2","type":"main","index":0}]]},"Update finishedSet2":{"main":[[{"node":"Acknowledge Finished2","type":"main","index":0}]]},"Acknowledge Finished2":{"main":[[{"node":"If All Finished2","type":"main","index":0}]]},"Continue Workflow (noop)2":{"main":[[{"node":"Edit Fields25","type":"main","index":0}]]},"Edit Fields25":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Initialize finishedSet3","type":"main","index":0}],[{"node":"Start Sub-Workflow via Webhook3","type":"main","index":0}]]},"Start Sub-Workflow via Webhook3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Initialize finishedSet3":{"main":[[{"node":"If All Finished3","type":"main","index":0}]]},"If All Finished3":{"main":[[{"node":"Continue Workflow (noop)3","type":"main","index":0}],[{"node":"Webhook Callback Wait3","type":"main","index":0}]]},"Webhook Callback Wait3":{"main":[[{"node":"Update finishedSet3","type":"main","index":0}]]},"Update finishedSet3":{"main":[[{"node":"Acknowledge Finished3","type":"main","index":0}]]},"Acknowledge Finished3":{"main":[[{"node":"If All Finished3","type":"main","index":0}]]},"Continue Workflow (noop)3":{"main":[[{"node":"Edit Fields26","type":"main","index":0}]]},"Edit Fields26":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Merge18":{"main":[[{"node":"Loop Over Items2","type":"main","index":0},{"node":"Loop Over Items3","type":"main","index":0},{"node":"Merge21","type":"main","index":1}]]},"Split Out2":{"main":[[{"node":"Merge20","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Merge20","type":"main","index":1}]]},"Merge20":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Edit Fields27":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Supabase6","type":"main","index":0}]]},"Supabase6":{"main":[[{"node":"Merge22","type":"main","index":1}]]},"Edit Fields28":{"main":[[]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"Supabase Vector Store5","type":"ai_embedding","index":0}]]},"Default Data Loader3":{"ai_document":[[{"node":"Supabase Vector Store5","type":"ai_document","index":0}]]},"Recursive Character Text Splitter3":{"ai_textSplitter":[[{"node":"Default Data Loader3","type":"ai_textSplitter","index":0}]]},"Aggregate5":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Merge22":{"main":[[{"node":"Edit Fields28","type":"main","index":0}]]},"Edit Fields29":{"main":[[{"node":"Aggregate5","type":"main","index":0},{"node":"Supabase","type":"main","index":0}]]},"Merge21":{"main":[[{"node":"Edit Fields27","type":"main","index":0},{"node":"Merge22","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Supabase Vector Store5","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Merge21","type":"main","index":0}]]},"Remove Duplicates2":{"main":[[{"node":"Edit Fields24","type":"main","index":0}]]},"Remove Duplicates3":{"main":[[{"node":"Edit Fields19","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"849c8bf9-0240-464e-80a9-efa0a8a0cc9f","triggerCount":1,"tags":[]}