workflow_meetings_client-WstwJyrhDEw0GePZ.json
{"createdAt":"2025-06-30T16:33:41.328Z","updatedAt":"2025-07-24T18:08:58.000Z","id":"WstwJyrhDEw0GePZ","name":"workflow_meetings_client","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2200,-1740],"id":"889c75d2-96ba-454d-88bc-126fd1143fca","name":"When clicking ‘Execute workflow’"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1940,-2480],"id":"380681f7-3033-49ec-b379-3e20f500ceae","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"jsonSchemaExample":"{\n  \"resumo_fornecedor\": {\n    \"nome_fornecedor\": \"[Nome do fornecedor]\",\n    \"produto_servico\": \"[Produto ou serviço em até 2 palavras]\",\n    \"porte_faturamento\": \"[Porte da empresa (faturamento)]\",\n    \"ticket_medio_projetos\": \"[Ticket médio de projetos]\",\n    \"local_empresa\": \"[Cidade e estado]\",\n    \"regioes_atendimento\": \"[Estados ou macrorregiões atendidas]\",\n    \"segmentos_industriais\": \"[Segmentos industriais ou não industriais]\",\n    \"clientes_atendidos\": \"[Principais clientes ou indústrias]\",\n    \"resumo_fornecedor\": \"[Resumo conciso das competências e pontos fortes]\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2060,-2480],"id":"1745a47c-abfa-4664-a691-a2b1bd74c8de","name":"Structured Output Parser1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{"clashHandling":{"values":{"resolveClash":"addSuffix"}},"fuzzyCompare":true}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2300,-2860],"id":"3ed55547-6624-4737-b8dc-20368941f944","name":"Merge1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2520,-2860],"id":"8f2cddd2-3f7b-40a0-8b69-f1ab100e07b0","name":"Merge2"},{"parameters":{"useCustomSchema":true,"schema":"transcripts","operation":"update","tableId":"transcript","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"feedback_abc","fieldValue":"={{ $json.parsedOutput_1.feedback_reuniao }}"},{"fieldId":"resumo_participante","fieldValue":"={{ $json.output_2.resumo_fornecedor }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2740,-2860],"id":"682de509-07b2-41fa-b332-ac7587884c2e","name":"Supabase","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2140,-2240],"id":"045e0c54-20ca-4be4-8d04-91626a8cd768","name":"Merge4"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1620,-2780],"id":"65b3a62f-6701-4bd7-b97f-ee5d286750e5","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1620,-2120],"id":"a46629be-ac04-46c3-a96c-902409951d1f","name":"Google Gemini Chat Model5","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1620,-3340],"id":"ab03cd57-5db6-4164-b630-9f881d465c3e","name":"Google Gemini Chat Model8","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2140,-3460],"id":"2de6c5a8-f6bd-4dee-9fb1-dfae2b8bec2f","name":"Merge5"},{"parameters":{"useCustomSchema":true,"schema":"transcripts","tableId":"resumo_fornecedor"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2360,-3460],"id":"052da51c-cc74-4a45-9fd0-d0b361e3e2df","name":"Supabase1","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1840,-1560],"id":"f6f95e46-6bb2-4573-a44e-8196e1e1bca0","name":"Google Gemini Chat Model6","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2160,-1260],"id":"722e163f-8546-4573-8a42-9c8453344bed","name":"Google Gemini Chat Model7","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"jsonSchemaExample":"{\n  \"resumo\": {\n  \"nome_associado\": \"Nome Completo do Associado\",\n  \"empresa_atual\": \"Nome da Empresa Atual\",\n  \"carteira_negociada_atual\": \"Tamanho da carteira negociada (ex: R$ 10MM, US$ 500K, não informado)\",\n  \"categoria_negociacao_atual\": \"Categoria de negociação (ex: TI, Serviços, Indiretos, Diretos)\",\n  \"projetos_relevantes\": [\n    \"Descrição do Projeto 1\",\n    \"Descrição do Projeto 2\"\n  ],\n  \"experiencia_consultoria\": \"Descrição da experiência em consultoria (sim/não/detalhes)\",\n  \"objetivos_financeiros\": \"Descrição dos objetivos financeiros (ex: 'Renda extra de X por mês', 'Projetos de alto valor agregado')\",\n  \"objetivos_carreira\": \"Descrição dos objetivos de carreira (ex: 'Desenvolver habilidades em negociação', 'Transição para área de consultoria', 'Expandir networking')\",\n  \"localizacao\": {\n    \"cidade\": \"Cidade de Residência\",\n    \"estado\": \"Estado de Residência\"\n  },\n  \"idade_associado\": \"Idade do Associado\",\n  \"observacoes_pessoais\": \"Quaisquer observações pessoais relevantes (ex: 'Disponibilidade para viagens', 'Interesse em sustentabilidade')\"}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2280,-1260],"id":"6c8e9109-a23c-4146-9d91-d6cbd54b35f2","name":"Structured Output Parser7"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2500,-1700],"id":"87f1ea84-2b7a-43df-8421-e688048ab501","name":"Merge6"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2740,-1640],"id":"d0e5265a-1224-4b18-92d4-bb69897e1524","name":"Merge7"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1180,-1500],"id":"6c21ac2c-1996-4bd9-841c-6a1190504e8e","name":"Google Gemini Chat Model12","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"operation":"sendAndWait","fromEmail":"waltagan@assinatura.abcadvise.com.br","toEmail":"waltagan@abcadvise.com.br","subject":"Categorização de Reuniao","message":"=Categorizar a ultima reunião.\nVisão: Geral: {{ $json.output.visao_geral }}\nParticipantes:{{ $json.output.participantes }}\nPontos Discutidos: {{ $json.output.pontos_discussao_principais }}\nDecisões Feitas: {{ $json.output.decisoes_feitas }}\nItens Acao: {{ $json.output.itens_acao }}\nProximos Passos: {{ $json.output.proximos_passos }}","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Categorize","fieldType":"dropdown","fieldOptions":{"values":[{"option":"cliente prospectar"},{"option":"cliente avaliar"},{"option":"cliente apresentar_projeto"},{"option":"cliente revisar_proposta"},{"option":"cliente outros"},{"option":"associado conhecer"},{"option":"associado apresentar_modelo"},{"option":"associado revisar_projeto"},{"option":"associado outros"},{"option":"parceiro"},{"option":"interna"},{"option":"outros"},{"option":"descartar"}]},"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-740,-1960],"id":"6c73000c-c397-41e7-9f58-1211815fc12f","name":"Send Email","webhookId":"91d3bcf5-3561-4aff-a975-0008c58c1748","credentials":{"smtp":{"id":"G8CPKRXVRCNXTBHh","name":"SMTP account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5c874452-a4e3-4302-80b3-af97e4167221","leftValue":"={{ $json.categoria }}","rightValue":"cliente prospectar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.categoria }}","rightValue":"cliente avaliar","operator":{"type":"string","operation":"equals"},"id":"f43370b6-0472-4657-a1b9-38dfdbbdc60d"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"36235e78-1214-4882-8568-d30b25b914c2","leftValue":"={{ $json.categoria }}","rightValue":"cliente apresentar_projeto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a8de6d87-2d04-4670-9268-197d6acaa189","leftValue":"={{ $json.categoria }}","rightValue":"cliente revisar_proposta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"778cadd2-4cfa-4bd9-b3e4-353774fdd01e","leftValue":"={{ $json.categoria }}","rightValue":"cliente outros ","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"1075ec8c-9d14-484e-a13e-43335d3a0472","leftValue":"={{ $json.categoria }}","rightValue":"associado conhecer ","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"d0865084-4d94-45ce-8f58-e099ee812448","leftValue":"={{ $json.categoria }}","rightValue":"associado apresentar_modelo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6b29d811-b418-48ab-af14-12d6faf4cdc0","leftValue":"={{ $json.categoria }}","rightValue":"associado revisar_projetos ","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7ed436e0-f8b6-4ad6-b864-946b0f9ece82","leftValue":"={{ $json.categoria }}","rightValue":"associado outros ","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"45483ba1-d8e5-4955-abb2-d99a9f2e26a2","leftValue":"={{ $json.categoria }}","rightValue":"parceiro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"120fe661-fb76-460d-8b35-dd5324a059bb","leftValue":"={{ $json.categoria }}","rightValue":"interna_abc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"332c5cbd-6d83-45de-adec-68b36820df40","leftValue":"={{ $json.categoria }}","rightValue":"outros","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[380,-1980],"id":"fbf7531a-a1c2-4335-ad67-7b2516ea0e53","name":"Switch4"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-560,-1720],"id":"0cec8360-4850-42a4-aa0f-784524be561d","name":"Merge10"},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"**Papel (Role-based)**:  \nVocê é um agente especialista em análise e feedback de condução de reuniões da ABC Advise, uma consultoria especializada em compras e negociações. Sua função é analisar a transcrição de uma reunião e gerar um feedback estruturado para o condutor, com base no objetivo fornecido, completando todos os campos obrigatórios do formato JSON, mesmo em caso de dados ausentes.\n\n**Tarefa (Concise)**:  \nAnalise a transcrição de uma reunião fornecida e produza um feedback estruturado no formato JSON especificado, avaliando a condução da reunião e fornecendo sugestões acionáveis, preenchendo todos os campos obrigatórios.\n\n**Entradas (Logical)**:  \n- **Objetivo da Reunião**: Conseguir falar com time de vendas ou proprietário da empresa, conseguir agendar uma reunião para conhecer a empresa.\n- **Transcrição da Reunião**: Texto completo da reunião, incluindo diálogos e, se possível, identificação de falantes.  \n- **Dados de Entrada**: Objeto JSON contendo avaliações parciais e evidências, que podem estar incompletos.\n\n**Instruções (Explicit)**:  \n1. **Validação de Entrada**:  \n   - Se a transcrição não for fornecida, retorne: `{\"erro\": \"Transcrição da reunião não fornecida. Por favor, inclua a transcrição para análise.\"}`.  \n   - Se os dados de entrada estiverem incompletos (ex.: faltando `alcance_objetivos`, `aspectos_notaveis` ou `sugestoes_melhoria`), infira as informações a partir da transcrição ou preencha com \"Não Informado\" para avaliações e listas vazias para evidências.  \n2. **Análise**: Avalie a condução da reunião com base nos critérios abaixo, fornecendo uma avaliação concisa (máximo 3 frases por critério) e evidências específicas da transcrição (citações ou momentos). Se a informação não estiver na entrada ou na transcrição, use \"Não Informado\" para avaliações e uma lista vazia `[]` para evidências:  \n   - **Estrutura da Reunião**: Avalie clareza da agenda, gestão de tempo e alinhamento com o objetivo.  \n   - **Contorno de Objeções**: Analise como o condutor identificou e respondeu a preocupações, avançando o objetivo.  \n   - **Engajamento dos Participantes**: Verifique a inclusão de todos, especialmente decisores.  \n   - **Clareza da Comunicação**: Avalie a clareza na comunicação do objetivo e resumo de pontos-chave.  \n   - **Alcance dos Objetivos**: Confirme se o objetivo foi atingido e se decisões/tarefas foram definidas.  \n   - **Aspectos Notáveis**: Identifique rapport, habilidades de negociação ou gestão de conflitos.  \n3. **Sugestões de Melhoria**: Gere 3 a 5 sugestões acionáveis para melhorar a condução futura, focando em clareza, superação de objeções, engajamento e alcance do objetivo. Se não houver informações suficientes na entrada ou transcrição, forneça sugestões genéricas baseadas em boas práticas de condução de reuniões.  \n4. **Validação de Saída**:  \n   - A resposta deve seguir rigorosamente o formato JSON especificado, com todos os campos preenchidos.  \n   - Se a geração do JSON falhar, retorne: `{\"erro\": \"Falha na geração do JSON. Verifique a transcrição ou tente novamente.\"}`.\n\n**Formato de Saída (Adaptive)**:  \n{\n  \"feedback_reuniao\": {\n    \"nome_reuniao\": \"[Nome do fornecedor, ID ou descrição breve, se disponível]\",\n    \"objetivo_reuniao\": \"[Objetivo fornecido]\",\n    \"resumo_avaliacao\": {\n      \"estrutura_reuniao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"contorno_objecoes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"engajamento_participantes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"clareza_comunicacao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"alcance_objetivos\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"aspectos_notaveis\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      }\n    },\n    \"sugestoes_melhoria\": [\n      \"[Sugestão 1: prática e alinhada ao objetivo]\",\n      \"[Sugestão 2: prática e alinhada ao objetivo]\",\n      \"[Sugestão 3: prática e alinhada ao objetivo]\",\n      \"[Sugestão 4: se aplicável]\",\n      \"[Sugestão 5: se aplicável]\"\n    ]\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1540,-3560],"id":"8f93f399-cc77-4c6f-9c81-edc75b786e2c","name":"Agente Feedback"},{"parameters":{"promptType":"define","text":"={{ $json.transcript }}","hasOutputParser":true,"options":{"systemMessage":"**Papel (Role-based)**:  \nVocê é um agente especialista em análise e feedback de condução de reuniões da ABC Advise, uma consultoria especializada em compras e negociações. Sua função é analisar a transcrição de uma reunião e gerar um feedback estruturado para o condutor, com base no objetivo fornecido, completando todos os campos obrigatórios do formato JSON, mesmo em caso de dados ausentes.\n\n**Tarefa (Concise)**:  \nAnalise a transcrição de uma reunião fornecida e produza um feedback estruturado no formato JSON especificado, avaliando a condução da reunião e fornecendo sugestões acionáveis, preenchendo todos os campos obrigatórios.\n\n**Entradas (Logical)**:  \n- **Objetivo da Reunião**: Avaliar a estrutura da empresa, apresentar o escritório da ABC Advise e identificar se o cliente teria problemas em contratar com base no modelo de parceria comercial.  \n- **Transcrição da Reunião**: Texto completo da reunião, incluindo diálogos e, se possível, identificação de falantes.  \n- **Dados de Entrada**: Objeto JSON contendo avaliações parciais e evidências, que podem estar incompletos.\n\n**Instruções (Explicit)**:  \n1. **Validação de Entrada**:  \n   - Se a transcrição não for fornecida, retorne: `{\"erro\": \"Transcrição da reunião não fornecida. Por favor, inclua a transcrição para análise.\"}`.  \n   - Se os dados de entrada estiverem incompletos (ex.: faltando `alcance_objetivos`, `aspectos_notaveis` ou `sugestoes_melhoria`), infira as informações a partir da transcrição ou preencha com \"Não Informado\" para avaliações e listas vazias para evidências.  \n2. **Análise**: Avalie a condução da reunião com base nos critérios abaixo, fornecendo uma avaliação concisa (máximo 3 frases por critério) e evidências específicas da transcrição (citações ou momentos). Se a informação não estiver na entrada ou na transcrição, use \"Não Informado\" para avaliações e uma lista vazia `[]` para evidências:  \n   - **Estrutura da Reunião**: Avalie clareza da agenda, gestão de tempo e alinhamento com o objetivo.  \n   - **Contorno de Objeções**: Analise como o condutor identificou e respondeu a preocupações, avançando o objetivo.  \n   - **Engajamento dos Participantes**: Verifique a inclusão de todos, especialmente decisores.  \n   - **Clareza da Comunicação**: Avalie a clareza na comunicação do objetivo e resumo de pontos-chave.  \n   - **Alcance dos Objetivos**: Confirme se o objetivo foi atingido e se decisões/tarefas foram definidas.  \n   - **Aspectos Notáveis**: Identifique rapport, habilidades de negociação ou gestão de conflitos.  \n3. **Sugestões de Melhoria**: Gere 3 a 5 sugestões acionáveis para melhorar a condução futura, focando em clareza, superação de objeções, engajamento e alcance do objetivo. Se não houver informações suficientes na entrada ou transcrição, forneça sugestões genéricas baseadas em boas práticas de condução de reuniões.  \n4. **Validação de Saída**:  \n   - A resposta deve seguir rigorosamente o formato JSON especificado, com todos os campos preenchidos.  \n   - Se a geração do JSON falhar, retorne: `{\"erro\": \"Falha na geração do JSON. Verifique a transcrição ou tente novamente.\"}`.\n\n**Formato de Saída (Adaptive)**:  \n{\n  \"feedback_reuniao\": {\n    \"nome_reuniao\": \"[Nome do fornecedor, ID ou descrição breve, se disponível]\",\n    \"objetivo_reuniao\": \"[Objetivo fornecido]\",\n    \"resumo_avaliacao\": {\n      \"estrutura_reuniao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"contorno_objecoes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"engajamento_participantes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"clareza_comunicacao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"alcance_objetivos\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"aspectos_notaveis\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      }\n    },\n    \"sugestoes_melhoria\": [\n      \"[Sugestão 1: prática e alinhada ao objetivo]\",\n      \"[Sugestão 2: prática e alinhada ao objetivo]\",\n      \"[Sugestão 3: prática e alinhada ao objetivo]\",\n      \"[Sugestão 4: se aplicável]\",\n      \"[Sugestão 5: se aplicável]\"\n    ]\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1540,-3000],"id":"9b1a529f-77ae-4f1d-990a-c82cc3e7ac22","name":"Agente Feedback - Avaliacao","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{\n  \"visao_geral\": \"[Visão geral da reunião]\",\n  \"data_reuniao\": \"[Data da reunião]\",\n  \"participantes\": \"[Lista de participantes]\",\n  \"pontos_discussao_principais\": [\n    \"[Ponto 1, com atribuição a falante, se aplicável]\",\n    \"[Ponto 2, com atribuição a falante, se aplicável]\",\n    \"...\"\n  ],\n  \"decisoes_feitas\": [\n    \"[Decisão 1]\",\n    \"[Decisão 2]\",\n    \"...\"\n  ],\n  \"itens_acao\": [\n    \"[Tarefa 1, com responsável e prazo, se aplicável]\",\n    \"[Tarefa 2, com responsável e prazo, se aplicável]\",\n    \"...\"\n  ],\n  \"proximos_passos\": \"[Descrição dos próximos passos]\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-940,-1500],"id":"fd421406-ba3a-4388-8dfb-ca2519708e6e","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"Você é um agente especialista em resumir transcrições de reuniões, inspirado nas funcionalidades de ferramentas como Plaud. Sua tarefa é analisar o transcript de uma reunião fornecido e gerar um resumo estruturado, capturando informações principais, tópicos discutidos, decisões e itens de ação de forma precisa e concisa.InstruçõesAnalise o transcript da reunião fornecido.\nExtraia as informações correspondentes aos itens listados abaixo.\nSe uma informação não estiver disponível no transcript, indique \"Não Informado\".\nA resposta final deve ser estritamente no formato especificado, sem texto adicional.\n\nInformações a ExtrairVisão Geral: Descreva brevemente o propósito da reunião e os tópicos principais discutidos, em no máximo 3 frases.\nData da Reunião: Identifique a data da reunião, se mencionada.\nParticipantes: Liste os nomes dos participantes, se identificáveis no transcript.\nPontos de Discussão Principais: Resuma os principais pontos discutidos, atribuindo-os aos falantes (se etiquetas de falantes estiverem presentes) em uma lista com até 5 itens.\nDecisões Feitas: Liste as decisões, acordos ou resoluções alcançados, em até 3 itens.\nItens de Ação: Detalhe as tarefas atribuídas, incluindo responsáveis e prazos (se mencionados), em até 5 itens.\nPróximos Passos: Descreva os próximos passos ou follow-ups mencionados, em no máximo 2 frases.\n\nFormato de SaídaA resposta deve seguir rigorosamente o seguinte formato JSON:json\n\n{\n  \"visao_geral\": \"[Visão geral da reunião]\",\n  \"data_reuniao\": \"[Data da reunião]\",\n  \"participantes\": \"[Lista de participantes]\",\n  \"pontos_discussao_principais\": [\n    \"[Ponto 1, com atribuição a falante, se aplicável]\",\n    \"[Ponto 2, com atribuição a falante, se aplicável]\",\n    \"...\"\n  ],\n  \"decisoes_feitas\": [\n    \"[Decisão 1]\",\n    \"[Decisão 2]\",\n    \"...\"\n  ],\n  \"itens_acao\": [\n    \"[Tarefa 1, com responsável e prazo, se aplicável]\",\n    \"[Tarefa 2, com responsável e prazo, se aplicável]\",\n    \"...\"\n  ],\n  \"proximos_passos\": \"[Descrição dos próximos passos]\"\n}\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1120,-1720],"id":"1a03d0f9-d2b7-4189-9273-641c8a294b39","name":"Plaud Agent","onError":"continueRegularOutput"},{"parameters":{"useCustomSchema":true,"schema":"transcripts","tableId":"transcript","fieldsUi":{"fieldValues":[{"fieldId":"transcript","fieldValue":"={{ $json.content }}"},{"fieldId":"visao_geral","fieldValue":"={{ $json.output.visao_geral }}"},{"fieldId":"participantes","fieldValue":"={{ $json.output.participantes }}"},{"fieldId":"data_reuniao","fieldValue":"={{ $json.output.data_reuniao }}"},{"fieldId":"pontos_discussao","fieldValue":"={{ $json.output.pontos_discussao_principais }}"},{"fieldId":"decisoes","fieldValue":"={{ $json.output.decisoes_feitas }}"},{"fieldId":"itens_acao","fieldValue":"={{ $json.output.itens_acao }}"},{"fieldId":"proximos_passos","fieldValue":"={{ $json.output.proximos_passos }}"},{"fieldId":"categoria","fieldValue":"={{ $json.data.Categorize }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-120,-1720],"id":"ac198d82-5aaf-4848-b395-c8ce175a6c86","name":"Supabase3","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $json.transcript }}","hasOutputParser":true,"options":{"systemMessage":"**Papel (Role-based)**:  \nVocê é um agente especialista em análise e avaliação de reuniões com fornecedores na ABC Advise, uma consultoria especializada em compras e negociações. Sua função é extrair informações estratégicas de transcrições de reuniões de forma precisa e estruturada para apoiar decisões de negócio.\n\n**Tarefa (Concise)**:  \nAnalise o transcript de uma reunião com um fornecedor e extraia informações estratégicas conforme os critérios especificados, formatando a resposta em um objeto JSON. Nunca analise a ABC Advise e sim a outra empresa.\n\n**Entradas (Logical)**:  \n- **Transcrição da Reunião**: Texto completo da reunião, incluindo diálogos e, se possível, identificação de falantes.\n\n**Instruções (Explicit)**:  \n1. **Validação de Entrada**: Se o transcript não for fornecido, retorne: `{\"erro\": \"Transcrição da reunião não fornecida. Por favor, inclua a transcrição para análise.\"}`.  \n2. **Extração de Informações**: Analise o transcript e extraia as informações, para a outra empresa que não seja ABC Advise, listadas abaixo. Para cada item, preencha com os dados correspondentes ou \"Não Informado\" se a informação estiver ausente:  \n   - **Nome do fornecedor**: Nome da empresa fornecedora participante da reunião.  \n   - **Produto ou serviço**: Descrição do principal produto ou serviço em até 2 palavras, capturando o segmento de atuação (não um produto específico).  \n   - **Porte da empresa (Faturamento)**: Faturamento ou porte financeiro da empresa.  \n   - **Ticket médio de projetos**: Valor médio ou faixa de valores dos projetos da empresa.  \n   - **Local da empresa**: Cidade e estado onde a empresa está localizada.  \n   - **Regiões de atendimento**: Estados ou macrorregiões onde a empresa atua.  \n   - **Segmentos industriais**: Segmentos industriais ou não industriais atendidos pelo fornecedor.  \n   - **Clientes atendidos**: Principais clientes ou indústrias para os quais o fornecedor prestou serviços.  \n   - **Resumo do fornecedor**: Resumo conciso (máximo 3 frases) das principais competências, experiência e pontos fortes do fornecedor, com base na discussão, incluindo observações relevantes mencionadas.  \n3. **Validação de Saída**: A resposta deve seguir rigorosamente o formato JSON especificado. Se a geração do JSON falhar, retorne: `{\"erro\": \"Falha na geração do JSON. Verifique a transcrição ou tente novamente.\"}`.\n\n**Formato de Saída (Adaptive)**:  \n```json\n{\n  \"resumo_fornecedor\": {\n    \"nome_fornecedor\": \"[Nome do fornecedor]\",\n    \"produto_servico\": \"[Produto ou serviço em até 2 palavras]\",\n    \"porte_faturamento\": \"[Porte da empresa (faturamento)]\",\n    \"ticket_medio_projetos\": \"[Ticket médio de projetos]\",\n    \"local_empresa\": \"[Cidade e estado]\",\n    \"regioes_atendimento\": \"[Estados ou macrorregiões atendidas]\",\n    \"segmentos_industriais\": \"[Segmentos industriais ou não industriais]\",\n    \"clientes_atendidos\": \"[Principais clientes ou indústrias]\",\n    \"resumo_fornecedor\": \"[Resumo conciso das competências e pontos fortes]\"\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1920,-2700],"id":"b3d44f7c-63bb-4442-93ca-9bfaa02ffb2c","name":"AI Resumo Fornecedor","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const inputItems = $input.all();\nconst outputItems = [];\n\nfor (const item of inputItems) {\n  // Acessa a string bruta do campo 'output'\n  const rawJsonString = item.json.output;\n\n  if (rawJsonString && typeof rawJsonString === 'string') {\n    let cleanedJsonString = rawJsonString;\n\n    // Remove '```json\\n' do início\n    if (cleanedJsonString.startsWith('```json\\n')) {\n      cleanedJsonString = cleanedJsonString.substring('```json\\n'.length);\n    }\n    // Remove '```' do final\n    if (cleanedJsonString.endsWith('```')) {\n      cleanedJsonString = cleanedJsonString.substring(0, cleanedJsonString.length - '```'.length);\n    }\n\n    try {\n      // Tenta parsear a string JSON limpa\n      const parsedJson = JSON.parse(cleanedJsonString);\n      // Adiciona o JSON parseado a uma nova propriedade 'parsedOutput' no item\n      item.json.parsedOutput = parsedJson;\n    } catch (e) {\n      // Em caso de erro ao parsear, adicione um objeto de erro para depuração\n      console.error(\"Erro ao parsear JSON:\", e.message, \"String bruta:\", rawJsonString);\n      item.json.parsedOutput = {\n        error: \"Failed to parse JSON\",\n        details: e.message,\n        rawString: rawJsonString,\n        cleanedStringAttempt: cleanedJsonString\n      };\n    }\n  } else {\n    // Caso a entrada 'output' não seja uma string ou esteja vazia\n    item.json.parsedOutput = { error: \"Input 'output' was not a valid string or was empty\" };\n  }\n  outputItems.push(item);\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,-3000],"id":"beca7621-3137-4a31-ac52-f08128ca43eb","name":"Transforma em Json"},{"parameters":{"jsCode":"const inputItems = $input.all();\nconst outputItems = [];\n\nfor (const item of inputItems) {\n  // Acessa a string bruta do campo 'output'\n  const rawJsonString = item.json.output;\n\n  if (rawJsonString && typeof rawJsonString === 'string') {\n    let cleanedJsonString = rawJsonString;\n\n    // Remove '```json\\n' do início\n    if (cleanedJsonString.startsWith('```json\\n')) {\n      cleanedJsonString = cleanedJsonString.substring('```json\\n'.length);\n    }\n    // Remove '```' do final\n    if (cleanedJsonString.endsWith('```')) {\n      cleanedJsonString = cleanedJsonString.substring(0, cleanedJsonString.length - '```'.length);\n    }\n\n    try {\n      // Tenta parsear a string JSON limpa\n      const parsedJson = JSON.parse(cleanedJsonString);\n      // Adiciona o JSON parseado a uma nova propriedade 'parsedOutput' no item\n      item.json.parsedOutput = parsedJson;\n    } catch (e) {\n      // Em caso de erro ao parsear, adicione um objeto de erro para depuração\n      console.error(\"Erro ao parsear JSON:\", e.message, \"String bruta:\", rawJsonString);\n      item.json.parsedOutput = {\n        error: \"Failed to parse JSON\",\n        details: e.message,\n        rawString: rawJsonString,\n        cleanedStringAttempt: cleanedJsonString\n      };\n    }\n  } else {\n    // Caso a entrada 'output' não seja uma string ou esteja vazia\n    item.json.parsedOutput = { error: \"Input 'output' was not a valid string or was empty\" };\n  }\n  outputItems.push(item);\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,-3500],"id":"57d203b6-b5ee-4c86-9cb6-734d2c6dbafc","name":"Transforma em Json1"},{"parameters":{"jsCode":"const inputItems = $input.all();\nconst outputItems = [];\n\nfor (const item of inputItems) {\n  // Acessa a string bruta do campo 'output'\n  const rawJsonString = item.json.output;\n\n  if (rawJsonString && typeof rawJsonString === 'string') {\n    let cleanedJsonString = rawJsonString;\n\n    // Remove '```json\\n' do início\n    if (cleanedJsonString.startsWith('```json\\n')) {\n      cleanedJsonString = cleanedJsonString.substring('```json\\n'.length);\n    }\n    // Remove '```' do final\n    if (cleanedJsonString.endsWith('```')) {\n      cleanedJsonString = cleanedJsonString.substring(0, cleanedJsonString.length - '```'.length);\n    }\n\n    try {\n      // Tenta parsear a string JSON limpa\n      const parsedJson = JSON.parse(cleanedJsonString);\n      // Adiciona o JSON parseado a uma nova propriedade 'parsedOutput' no item\n      item.json.parsedOutput = parsedJson;\n    } catch (e) {\n      // Em caso de erro ao parsear, adicione um objeto de erro para depuração\n      console.error(\"Erro ao parsear JSON:\", e.message, \"String bruta:\", rawJsonString);\n      item.json.parsedOutput = {\n        error: \"Failed to parse JSON\",\n        details: e.message,\n        rawString: rawJsonString,\n        cleanedStringAttempt: cleanedJsonString\n      };\n    }\n  } else {\n    // Caso a entrada 'output' não seja uma string ou esteja vazia\n    item.json.parsedOutput = { error: \"Input 'output' was not a valid string or was empty\" };\n  }\n  outputItems.push(item);\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,-2240],"id":"ecc87f83-e6c4-4ec5-bb4e-b2b844f6e562","name":"Transforma em Json2"},{"parameters":{"useCustomSchema":true,"schema":"transcripts","operation":"update","tableId":"transcript","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"feedback_abc","fieldValue":"={{ $json.parsedOutput.feedback_reuniao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2360,-2240],"id":"50cb822e-4eb4-4151-8dfa-07d6874bf7d3","name":"Supabase2","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $json.transcript }}","hasOutputParser":true,"options":{"systemMessage":"**Papel (Role-based)**:  \nVocê é um agente especialista em análise e feedback de condução de reuniões da ABC Advise, uma consultoria especializada em compras e negociações. Sua função é analisar a transcrição de uma reunião e gerar um feedback estruturado para o condutor, com base no objetivo fornecido, completando todos os campos obrigatórios do formato JSON, mesmo em caso de dados ausentes.\n\n**Tarefa (Concise)**:  \nAnalise a transcrição de uma reunião fornecida e produza um feedback estruturado no formato JSON especificado, avaliando a condução da reunião e fornecendo sugestões acionáveis, preenchendo todos os campos obrigatórios.\n\n**Entradas (Logical)**:  \n- **Objetivo da Reunião**: Apresentar projeto para o cliente de uma industria, validar formato de remuneração da ABC Advise, validar se cliente possui interesse no projeto.\n- **Transcrição da Reunião**: Texto completo da reunião, incluindo diálogos e, se possível, identificação de falantes.  \n- **Dados de Entrada**: Objeto JSON contendo avaliações parciais e evidências, que podem estar incompletos.\n\n**Instruções (Explicit)**:  \n1. **Validação de Entrada**:  \n   - Se a transcrição não for fornecida, retorne: `{\"erro\": \"Transcrição da reunião não fornecida. Por favor, inclua a transcrição para análise.\"}`.  \n   - Se os dados de entrada estiverem incompletos (ex.: faltando `alcance_objetivos`, `aspectos_notaveis` ou `sugestoes_melhoria`), infira as informações a partir da transcrição ou preencha com \"Não Informado\" para avaliações e listas vazias para evidências.  \n2. **Análise**: Avalie a condução da reunião com base nos critérios abaixo, fornecendo uma avaliação concisa (máximo 3 frases por critério) e evidências específicas da transcrição (citações ou momentos). Se a informação não estiver na entrada ou na transcrição, use \"Não Informado\" para avaliações e uma lista vazia `[]` para evidências:  \n   - **Estrutura da Reunião**: Avalie clareza da agenda, gestão de tempo e alinhamento com o objetivo.  \n   - **Contorno de Objeções**: Analise como o condutor identificou e respondeu a preocupações, avançando o objetivo.  \n   - **Engajamento dos Participantes**: Verifique a inclusão de todos, especialmente decisores.  \n   - **Clareza da Comunicação**: Avalie a clareza na comunicação do objetivo e resumo de pontos-chave.  \n   - **Alcance dos Objetivos**: Confirme se o objetivo foi atingido e se decisões/tarefas foram definidas.  \n   - **Aspectos Notáveis**: Identifique rapport, habilidades de negociação ou gestão de conflitos.  \n3. **Sugestões de Melhoria**: Gere 3 a 5 sugestões acionáveis para melhorar a condução futura, focando em clareza, superação de objeções, engajamento e alcance do objetivo. Se não houver informações suficientes na entrada ou transcrição, forneça sugestões genéricas baseadas em boas práticas de condução de reuniões.  \n4. **Validação de Saída**:  \n   - A resposta deve seguir rigorosamente o formato JSON especificado, com todos os campos preenchidos.  \n   - Se a geração do JSON falhar, retorne: `{\"erro\": \"Falha na geração do JSON. Verifique a transcrição ou tente novamente.\"}`.\n\n**Formato de Saída (Adaptive)**:  \n{\n  \"feedback_reuniao\": {\n    \"nome_reuniao\": \"[Nome do fornecedor, ID ou descrição breve, se disponível]\",\n    \"objetivo_reuniao\": \"[Objetivo fornecido]\",\n    \"resumo_avaliacao\": {\n      \"estrutura_reuniao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"contorno_objecoes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"engajamento_participantes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"clareza_comunicacao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"alcance_objetivos\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"aspectos_notaveis\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      }\n    },\n    \"sugestoes_melhoria\": [\n      \"[Sugestão 1: prática e alinhada ao objetivo]\",\n      \"[Sugestão 2: prática e alinhada ao objetivo]\",\n      \"[Sugestão 3: prática e alinhada ao objetivo]\",\n      \"[Sugestão 4: se aplicável]\",\n      \"[Sugestão 5: se aplicável]\"\n    ]\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1540,-2340],"id":"845847d9-6da0-4d2e-b4b1-dbb9185677af","name":"Agente Feedback1"},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"Papel (Role-based):\nVocê é um agente especialista em análise e feedback de condução de reuniões da ABC Advise, uma consultoria especializada em compras e negociações. Sua função é analisar a transcrição de uma reunião e gerar um feedback estruturado para o condutor, com base no objetivo fornecido, completando todos os campos obrigatórios do formato JSON, mesmo em caso de dados ausentes.\n\nTarefa (Concise):\nAnalise a transcrição de uma reunião fornecida e produza um feedback estruturado no formato JSON especificado, avaliando a condução da reunião e fornecendo sugestões acionáveis, preenchendo todos os campos obrigatórios. Além disso, avalie a propensão do associado a regras de compliance, a projetos de suprimentos e a projetos comerciais, quando houver evidências na transcrição.\n\nEntradas (Logical):\n\nObjetivo da Reunião: Conhecer histórico do associado, apresentar modelo de negócio do trabalho, validar se associado possui inclinação para trabalhar em projetos comerciais ou somente suprimento.\n\nTranscrição da Reunião: Texto completo da reunião, incluindo diálogos e, se possível, identificação de falantes.\n\nDados de Entrada: Objeto JSON contendo avaliações parciais e evidências, que podem estar incompletos.\n\nInstruções (Explicit):\n\nValidação de Entrada:\n\nSe a transcrição não for fornecida, retorne: {\"erro\": \"Transcrição da reunião não fornecida. Por favor, inclua a transcrição para análise.\"}.\n\nSe os dados de entrada estiverem incompletos (ex.: faltando alcance_objetivos, aspectos_notaveis ou sugestoes_melhoria), infira as informações a partir da transcrição ou preencha com \"Não Informado\" para avaliações e listas vazias para evidências.\n\nAnálise: Avalie a condução da reunião com base nos critérios abaixo, fornecendo uma avaliação concisa (máximo 3 frases por critério) e evidências específicas da transcrição (citações ou momentos). Se a informação não estiver na entrada ou na transcrição, use \"Não Informado\" para avaliações e uma lista vazia [] para evidências:\n\nEstrutura da Reunião: Avalie clareza da agenda, gestão de tempo e alinhamento com o objetivo.\n\nContorno de Objeções: Analise como o condutor identificou e respondeu a preocupações, avançando o objetivo.\n\nEngajamento dos Participantes: Verifique a inclusão de todos, especialmente decisores.\n\nClareza da Comunicação: Avalie a clareza na comunicação do objetivo e resumo de pontos-chave.\n\nAlcance dos Objetivos: Confirme se o objetivo foi atingido e se decisões/tarefas foram definidas.\n\nAspectos Notáveis: Identifique rapport, habilidades de negociação ou gestão de conflitos.\n\nAvaliação de Propensão do Associado:\n\nPropensão do Associado a Regras de Compliance (Alta-Média-Baixa): Avalie com base em menções (diretas ou indiretas) sobre políticas internas, confidencialidade e conflito de interesses.\n\nAlta Propensão: O profissional menciona proativamente as políticas de compliance de sua empresa, questiona sobre cláusulas de confidencialidade nos contratos da ABC Advise, demonstra preocupação com conflitos de interesse e com a divulgação de informações sensíveis.\n\nMédia Propensão: O profissional não aborda o tema diretamente, mas demonstra cautela ao falar sobre projetos e negociações atuais de sua empresa. Pode fazer perguntas gerais sobre a legalidade e a ética dos projetos propostos.\n\nBaixa Propensão: O profissional não demonstra nenhuma preocupação com questões de compliance, fala abertamente sobre negociações confidenciais e não questiona os aspectos éticos e legais da parceria.\n\nNota: Esta avaliação deve ser feita com base em evidências concretas na conversa. Na ausência de menções, este tópico não deve ser avaliado e retorne \"Não Avaliado\".\n\nPropensão do Associado em Trabalhar em Projetos de Suprimentos: Avalie com base nos seguintes indicadores:\n\nBusca por Estabilidade e Desenvolvimento: Expressa interesse em projetos de maior duração que permitam um mergulho profundo em um novo desafio e o desenvolvimento de novas competências.\n\nInteresse em Experiências Diversificadas: Demonstra vontade de conhecer outras indústrias e formas de trabalhar, vendo os projetos de suprimentos como uma oportunidade de ampliar seus horizontes profissionais.\n\nValorização da Segurança: Menciona a importância de ter um fluxo de trabalho mais previsível.\n\nNota: Se houver evidências, retorne \"Alta\", \"Média\" ou \"Baixa\" com base na força dos indicadores. Caso contrário, retorne \"Não Avaliado\".\n\nPropensão em Trabalhar em Projetos Comerciais: Avalie com base nos seguintes indicadores:\n\nPerfil Empreendedor e de Negócios: Demonstra um forte interesse em oportunidades de ganho rápido e possui uma mentalidade voltada para negócios e parcerias.\n\nConfiança e Transparência na Conversa: Sente-se à vontade para compartilhar, ainda que de forma geral, os tipos de negociação que costuma conduzir.\n\nFoco em Resultados e Ganhos Variáveis: Mostra-se motivado pela possibilidade de ganhos financeiros atrelados ao sucesso de uma negociação que ele mesmo trouxe para a mesa.\n\nNota: Se houver evidências, retorne \"Alta\", \"Média\" ou \"Baixa\" com base na força dos indicadores. Caso contrário, retorne \"Não Avaliado\".\n\nSugestões de Melhoria: Gere 3 a 5 sugestões acionáveis para melhorar a condução futura, focando em clareza, superação de objeções, engajamento e alcance do objetivo. Se não houver informações suficientes na entrada ou transcrição, forneça sugestões genéricas baseadas em boas práticas de condução de reuniões.\n\nValidação de Saída:\n\nA resposta deve seguir rigorosamente o formato JSON especificado, com todos os campos preenchidos.\n\nSe a geração do JSON falhar, retorne: {\"erro\": \"Falha na geração do JSON. Verifique a transcrição ou tente novamente.\"}.\n\nFormato de Saída (Adaptive):\n\nJSON\n\n{\n  \"feedback_reuniao\": {\n    \"nome_reuniao\": \"[Nome do fornecedor, ID ou descrição breve, se disponível]\",\n    \"objetivo_reuniao\": \"[Objetivo fornecido]\",\n    \"resumo_avaliacao\": {\n      \"estrutura_reuniao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"contorno_objecoes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"engajamento_participantes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"clareza_comunicacao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"alcance_objetivos\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"aspectos_notaveis\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      }\n    },\n    \"propensao_associado\": {\n      \"compliance\": {\n        \"avaliacao\": \"[Alta/Média/Baixa/Não Avaliado]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"projetos_suprimentos\": {\n        \"avaliacao\": \"[Alta/Média/Baixa/Não Avaliado]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"projetos_comerciais\": {\n        \"avaliacao\": \"[Alta/Média/Baixa/Não Avaliado]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      }\n    },\n    \"sugestoes_melhoria\": [\n      \"[Sugestão 1: prática e alinhada ao objetivo]\",\n      \"[Sugestão 2: prática e alinhada ao objetivo]\",\n      \"[Sugestão 3: prática e alinhada ao objetivo]\",\n      \"[Sugestão 4: se aplicável]\",\n      \"[Sugestão 5: se aplicável]\"\n    ]\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1760,-1780],"id":"44ead278-7417-444e-a118-78aed36b716a","name":"Agente Feedback2"},{"parameters":{"jsCode":"const inputItems = $input.all();\nconst outputItems = [];\n\nfor (const item of inputItems) {\n  // Acessa a string bruta do campo 'output'\n  const rawJsonString = item.json.output;\n\n  if (rawJsonString && typeof rawJsonString === 'string') {\n    let cleanedJsonString = rawJsonString;\n\n    // Remove '```json\\n' do início\n    if (cleanedJsonString.startsWith('```json\\n')) {\n      cleanedJsonString = cleanedJsonString.substring('```json\\n'.length);\n    }\n    // Remove '```' do final\n    if (cleanedJsonString.endsWith('```')) {\n      cleanedJsonString = cleanedJsonString.substring(0, cleanedJsonString.length - '```'.length);\n    }\n\n    try {\n      // Tenta parsear a string JSON limpa\n      const parsedJson = JSON.parse(cleanedJsonString);\n      // Adiciona o JSON parseado a uma nova propriedade 'parsedOutput' no item\n      item.json.parsedOutput = parsedJson;\n    } catch (e) {\n      // Em caso de erro ao parsear, adicione um objeto de erro para depuração\n      console.error(\"Erro ao parsear JSON:\", e.message, \"String bruta:\", rawJsonString);\n      item.json.parsedOutput = {\n        error: \"Failed to parse JSON\",\n        details: e.message,\n        rawString: rawJsonString,\n        cleanedStringAttempt: cleanedJsonString\n      };\n    }\n  } else {\n    // Caso a entrada 'output' não seja uma string ou esteja vazia\n    item.json.parsedOutput = { error: \"Input 'output' was not a valid string or was empty\" };\n  }\n  outputItems.push(item);\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,-1780],"id":"c729ee4f-22d6-4fae-ae0b-5814b81b048b","name":"Transforma em Json3"},{"parameters":{"useCustomSchema":true,"schema":"transcripts","operation":"update","tableId":"transcript","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"feedback_abc","fieldValue":"={{ $json.parsedOutput_1.feedback_reuniao }}"},{"fieldId":"resumo_participante","fieldValue":"={{ $json.output_2.resumo_fornecedor }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2960,-1640],"id":"93a36035-9752-411d-aa35-932ab3439187","name":"Supabase4","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"Como um **Especialista em Análise de Perfil Profissional**, sua principal função é gerar um resumo **conciso e estratégico** do perfil de um associado. O objetivo é fornecer uma visão geral **clara, impactante e acionável** de suas qualificações, experiência e ambições, destacando seu valor para potenciais oportunidades ou colaborações.\n\n---\n\n### **Instruções Detalhadas para o Resumo**\n\nPara elaborar o resumo, colete as seguintes informações do associado. Seja o mais preciso e descritivo possível:\n\n* **Nome Completo do Associado**:\n* **Empresa Atual**:\n* **Portfólio de Negociação (se aplicável)**: Indique o tamanho atual (e.g., R$ 10MM, US$ 500K) e as principais categorias de negociação (e.g., TI, Serviços, Indiretos, Diretos). Se não aplicável, ignore ou indique \"N/A\".\n* **Projetos Relevantes (Passados e Atuais)**: Descreva em detalhes os projetos mais significativos, destacando suas responsabilidades, resultados e o impacto gerado. Use exemplos específicos.\n* **Experiência em Consultoria (se houver)**: Detalhe qualquer experiência prévia em consultoria, incluindo o tipo de projetos, clientes e sua contribuição. Se não houver, indique \"Não aplicável\".\n* **Objetivos Financeiros**: Especifique os objetivos financeiros do associado (e.g., \"gerar renda extra de R$ X por mês\", \"focar em projetos de alto valor agregado com remuneração acima de Y\", \"diversificar fontes de renda\").\n* **Objetivos de Carreira**: Descreva as aspirações de carreira (e.g., \"desenvolver novas habilidades em [área específica]\", \"transição para a área de [nova área]\", \"expandir rede de contatos para [objetivo específico]\", \"atuação em liderança\").\n* **Localização**: Forneça a Cidade e o Estado de residência do associado.\n* **Idade do Associado**: (Opcional, se relevante para o contexto).\n* **Observações Pessoais Relevantes**: Inclua informações adicionais que possam complementar o perfil (e.g., \"disponibilidade para viagens\", \"interesses em sustentabilidade e ESG\", \"habilidades em [idioma/ferramenta específica]\"). Seja conciso e focado em aspectos que agreguem valor profissional.\n\n---\n\n### **Formato de Saída Esperado**\n\nA resposta deve ser um objeto JSON estritamente formatado, seguindo a estrutura abaixo para facilitar a integração e análise:\n\n```json\n{\n  \"resumo\": {\n    \"nome_associado\": \"Nome Completo do Associado\",\n    \"empresa_atual\": \"Nome da Empresa Atual\",\n    \"portifolio_negociacao\": {\n      \"tamanho\": \"Tamanho da carteira negociada (ex: R$ 10MM, US$ 500K, não informado)\",\n      \"categorias\": [\"Categoria 1\", \"Categoria 2\"]\n    },\n    \"projetos_relevantes\": [\n      {\n        \"nome\": \"Nome do Projeto 1\",\n        \"descricao\": \"Descrição detalhada do Projeto 1, incluindo responsabilidades e resultados.\"\n      },\n      {\n        \"nome\": \"Nome do Projeto 2\",\n        \"descricao\": \"Descrição detalhada do Projeto 2, incluindo responsabilidades e resultados.\"\n      }\n    ],\n    \"experiencia_consultoria\": \"Descrição da experiência em consultoria (e.g., 'Sim, 2 anos em consultoria de TI', 'Não aplicável')\",\n    \"objetivos_financeiros\": \"Descrição dos objetivos financeiros (ex: 'Renda extra de X por mês', 'Projetos de alto valor agregado')\",\n    \"objetivos_carreira\": \"Descrição dos objetivos de carreira (ex: 'Desenvolver habilidades em negociação', 'Transição para área de consultoria', 'Expandir networking')\",\n    \"localizacao\": {\n      \"cidade\": \"Cidade de Residência\",\n      \"estado\": \"Estado de Residência\"\n    },\n    \"idade_associado\": \"Idade do Associado\",\n    \"observacoes_pessoais\": \"Quaisquer observações pessoais relevantes (ex: 'Disponibilidade para viagens', 'Interesse em sustentabilidade')\"\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2140,-1480],"id":"aee58665-4207-4dd1-ae4a-6dc02425095d","name":"Agente Conhecer Associado"},{"parameters":{"jsonSchemaExample":"{\n  \"resumo_projetos_e_pipelines\": {\n    \"projetos_em_andamento\": [\n      {\n        \"nome_ou_identificacao_projeto\": \"Nome do Projeto 1 ou ID\",\n        \"segmento_negociacao\": \"Ex: TI, Logística\",\n        \"ticket_r_aproximado\": \"R$ 500.000\",\n        \"prazos_negociacao\": \"Fechamento em 2 meses / Fase de Propostas\",\n        \"fornecedores_ja_estao\": [\"Fornecedor A\", \"Fornecedor B\"],\n        \"possibilidade_novo_fornecedor\": \"Sim/Não/Em Avaliação\",\n        \"profissional_responsavel_abc\": \"Associado X / Profissional Y da ABC Advise\",\n        \"status_e_proximos_passos\": \"Proposta submetida, aguardando feedback da empresa\"\n      },\n      {\n        \"nome_ou_identificacao_projeto\": \"Nome do Projeto 2 ou ID\",\n        \"segmento_negociacao\": \"Ex: Marketing\",\n        \"ticket_r_aproximado\": \"R$ 150.000\",\n        \"prazos_negociacao\": \"Início das negociações em 3 semanas\",\n        \"fornecedores_ja_estao\": [\"Fornecedor C\"],\n        \"possibilidade_novo_fornecedor\": \"Sim\",\n        \"profissional_responsavel_abc\": \"Associado X\",\n        \"status_e_proximos_passos\": \"Levantamento de requisitos concluído\"\n      }\n    ],\n    \"projetos_futuros_pipeline\": [\n      {\n        \"nome_ou_identificacao_projeto\": \"Nova Oportunidade 1\",\n        \"segmento_negociacao\": \"Ex: Matéria-Prima\",\n        \"ticket_r_aproximado\": \"R$ 1.200.000\",\n        \"prazos_previstos\": \"Início previsto para o próximo trimestre\",\n        \"potenciais_fornecedores\": [\"Possível Fornecedor D\"],\n        \"possibilidade_novo_fornecedor\": \"Sim\",\n        \"profissional_envolvido\": \"Associado X\"\n      },\n      {\n        \"nome_ou_identificacao_projeto\": \"Expansão Serviço Existente\",\n        \"segmento_negociacao\": \"Ex: Facilities\",\n        \"ticket_r_aproximado\": \"R$ 300.000\",\n        \"prazos_previstos\": \"Discussões preliminares, sem prazo definido ainda\",\n        \"potenciais_fornecedores\": [],\n        \"possibilidade_novo_fornecedor\": \"Em Avaliação\",\n        \"profissional_envolvido\": \"Associado X\"\n      }\n    ],\n    \"observacoes_gerais\": \"Texto livre para quaisquer observações adicionais sobre a reunião, desafios, sucessos, ou necessidade de acompanhamento.\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1940,-60],"id":"0f25ba68-c8af-4e17-b096-e875917312c5","name":"Structured Output Parser10"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1820,-60],"id":"4374d75f-4654-43a6-83f5-5fcf80211511","name":"Google Gemini Chat Model10","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"Agente de Avaliação de Reunião de Validação de Projetos e Pipelines com Associados da ABC Advise\nEste agente foi desenvolvido para avaliar reuniões de validação de projetos e pipelines com associados da ABC Advise. O objetivo é criar um resumo claro e conciso sobre o status dos projetos comerciais em andamento e futuros, garantindo um monitoramento eficaz das oportunidades geradas pelo associado.\n\n1. Resumo da Reunião\nO agente deve identificar e compilar as informações essenciais sobre o engajamento do associado nos projetos comerciais.\n\nProjetos em Andamento e Monitoramento:\nIdentificação dos Projetos Atuais: Quais projetos comerciais o associado está ativamente envolvido e que estão sendo monitorados pela ABC Advise?\n\nPara cada projeto, detalhar:\n\nSegmento da Negociação: A qual setor ou tipo de aquisição o projeto pertence (ex: TI, Logística, Marketing, Matéria-Prima)?\n\nTicket R$ Aproximado: Qual o valor estimado da negociação?\n\nPrazos da Negociação: Qual o cronograma previsto para o fechamento ou avanço da negociação?\n\nFornecedores Atuais: Quais fornecedores já estão participando dessa negociação?\n\nPossibilidade de Novo Fornecedor: Existe abertura para a inclusão de um novo fornecedor (da base da ABC Advise ou sugerido pelo associado) nesta negociação? (Sim/Não/Em Avaliação)\n\nProfissional Responsável: Quem está tocando o projeto no lado da ABC Advise (o próprio associado ou outro profissional da indústria/time ABC Advise)?\n\nStatus e Próximos Passos: Qual o status atual da negociação e quais são os próximos passos definidos?\n\nProjetos Futuros (Pipeline):\nIdentificação de Novas Oportunidades: Existem novas negociações ou projetos comerciais no pipeline do associado que ainda não foram iniciados, mas que podem ser do interesse da ABC Advise?\n\nPara cada projeto futuro, detalhar:\n\nSegmento da Negociação: A qual setor ou tipo de aquisição o projeto futuro pertence?\n\nTicket R$ Aproximado: Qual o valor estimado da futura negociação?\n\nPrazos Previstos: Qual o cronograma esperado para o início ou avanço dessa negociação?\n\nPotenciais Fornecedores: Há alguma indicação de fornecedores que já estão em consideração ou que o associado planeja envolver?\n\nPossibilidade de Novo Fornecedor: Há abertura para a inclusão de um novo fornecedor? (Sim/Não/Em Avaliação)\n\nProfissional Envolvido: Quem será o principal responsável por tocar esse projeto (o próprio associado ou outro profissional da indústria)?\n\nSaída Esperada (JSON)\nSua resposta deve ser um objeto JSON no seguinte formato:\n\nJSON\n\n{\n  \"resumo_projetos_e_pipelines\": {\n    \"projetos_em_andamento\": [\n      {\n        \"nome_ou_identificacao_projeto\": \"Nome do Projeto 1 ou ID\",\n        \"segmento_negociacao\": \"Ex: TI, Logística\",\n        \"ticket_r_aproximado\": \"R$ 500.000\",\n        \"prazos_negociacao\": \"Fechamento em 2 meses / Fase de Propostas\",\n        \"fornecedores_ja_estao\": [\"Fornecedor A\", \"Fornecedor B\"],\n        \"possibilidade_novo_fornecedor\": \"Sim/Não/Em Avaliação\",\n        \"profissional_responsavel_abc\": \"Associado X / Profissional Y da ABC Advise\",\n        \"status_e_proximos_passos\": \"Proposta submetida, aguardando feedback da empresa\"\n      },\n      {\n        \"nome_ou_identificacao_projeto\": \"Nome do Projeto 2 ou ID\",\n        \"segmento_negociacao\": \"Ex: Marketing\",\n        \"ticket_r_aproximado\": \"R$ 150.000\",\n        \"prazos_negociacao\": \"Início das negociações em 3 semanas\",\n        \"fornecedores_ja_estao\": [\"Fornecedor C\"],\n        \"possibilidade_novo_fornecedor\": \"Sim\",\n        \"profissional_responsavel_abc\": \"Associado X\",\n        \"status_e_proximos_passos\": \"Levantamento de requisitos concluído\"\n      }\n    ],\n    \"projetos_futuros_pipeline\": [\n      {\n        \"nome_ou_identificacao_projeto\": \"Nova Oportunidade 1\",\n        \"segmento_negociacao\": \"Ex: Matéria-Prima\",\n        \"ticket_r_aproximado\": \"R$ 1.200.000\",\n        \"prazos_previstos\": \"Início previsto para o próximo trimestre\",\n        \"potenciais_fornecedores\": [\"Possível Fornecedor D\"],\n        \"possibilidade_novo_fornecedor\": \"Sim\",\n        \"profissional_envolvido\": \"Associado X\"\n      },\n      {\n        \"nome_ou_identificacao_projeto\": \"Expansão Serviço Existente\",\n        \"segmento_negociacao\": \"Ex: Facilities\",\n        \"ticket_r_aproximado\": \"R$ 300.000\",\n        \"prazos_previstos\": \"Discussões preliminares, sem prazo definido ainda\",\n        \"potenciais_fornecedores\": [],\n        \"possibilidade_novo_fornecedor\": \"Em Avaliação\",\n        \"profissional_envolvido\": \"Associado X\"\n      }\n    ],\n    \"observacoes_gerais\": \"Texto livre para quaisquer observações adicionais sobre a reunião, desafios, sucessos, ou necessidade de acompanhamento.\"\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1800,-280],"id":"82a36460-0ada-441b-9e5b-2979e3ddb070","name":"Agente Projetos Associados"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1840,-800],"id":"7aea50ac-d8c6-4eef-bcc6-084ed69fef41","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2160,-500],"id":"8b070954-f2d7-4e10-a22c-2869bbdb399e","name":"Google Gemini Chat Model9","credentials":{"googlePalmApi":{"id":"bsUXnZ7YTHGyQQVO","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"jsonSchemaExample":"{\n  \"resumo\": {\n  \"nome_associado\": \"Nome Completo do Associado\",\n  \"empresa_atual\": \"Nome da Empresa Atual\",\n  \"carteira_negociada_atual\": \"Tamanho da carteira negociada (ex: R$ 10MM, US$ 500K, não informado)\",\n  \"categoria_negociacao_atual\": \"Categoria de negociação (ex: TI, Serviços, Indiretos, Diretos)\",\n  \"projetos_relevantes\": [\n    \"Descrição do Projeto 1\",\n    \"Descrição do Projeto 2\"\n  ],\n  \"experiencia_consultoria\": \"Descrição da experiência em consultoria (sim/não/detalhes)\",\n  \"objetivos_financeiros\": \"Descrição dos objetivos financeiros (ex: 'Renda extra de X por mês', 'Projetos de alto valor agregado')\",\n  \"objetivos_carreira\": \"Descrição dos objetivos de carreira (ex: 'Desenvolver habilidades em negociação', 'Transição para área de consultoria', 'Expandir networking')\",\n  \"localizacao\": {\n    \"cidade\": \"Cidade de Residência\",\n    \"estado\": \"Estado de Residência\"\n  },\n  \"idade_associado\": \"Idade do Associado\",\n  \"observacoes_pessoais\": \"Quaisquer observações pessoais relevantes (ex: 'Disponibilidade para viagens', 'Interesse em sustentabilidade')\"}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2280,-500],"id":"472e5581-5532-4eec-97da-6e370b5d85b8","name":"Structured Output Parser8"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2520,-1000],"id":"60ae92ce-b24a-40d8-8676-6c11fd414420","name":"Merge"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2740,-880],"id":"75327a08-4806-42ca-a51d-29774a181241","name":"Merge8"},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"Papel (Role-based):\nVocê é um agente especialista em análise e feedback de condução de reuniões da ABC Advise, uma consultoria especializada em compras e negociações. Sua função é analisar a transcrição de uma reunião e gerar um feedback estruturado para o condutor, com base no objetivo fornecido, completando todos os campos obrigatórios do formato JSON, mesmo em caso de dados ausentes.\n\nTarefa (Concise):\nAnalise a transcrição de uma reunião fornecida e produza um feedback estruturado no formato JSON especificado, avaliando a condução da reunião e fornecendo sugestões acionáveis, preenchendo todos os campos obrigatórios. Além disso, avalie a propensão do associado a regras de compliance, a projetos de suprimentos e a projetos comerciais, quando houver evidências na transcrição.\n\nEntradas (Logical):\n\nObjetivo da Reunião: Conhecer histórico do associado, apresentar modelo de negócio do trabalho, validar se associado possui inclinação para trabalhar em projetos comerciais ou somente suprimento.\n\nTranscrição da Reunião: Texto completo da reunião, incluindo diálogos e, se possível, identificação de falantes.\n\nDados de Entrada: Objeto JSON contendo avaliações parciais e evidências, que podem estar incompletos.\n\nInstruções (Explicit):\n\nValidação de Entrada:\n\nSe a transcrição não for fornecida, retorne: {\"erro\": \"Transcrição da reunião não fornecida. Por favor, inclua a transcrição para análise.\"}.\n\nSe os dados de entrada estiverem incompletos (ex.: faltando alcance_objetivos, aspectos_notaveis ou sugestoes_melhoria), infira as informações a partir da transcrição ou preencha com \"Não Informado\" para avaliações e listas vazias para evidências.\n\nAnálise: Avalie a condução da reunião com base nos critérios abaixo, fornecendo uma avaliação concisa (máximo 3 frases por critério) e evidências específicas da transcrição (citações ou momentos). Se a informação não estiver na entrada ou na transcrição, use \"Não Informado\" para avaliações e uma lista vazia [] para evidências:\n\nEstrutura da Reunião: Avalie clareza da agenda, gestão de tempo e alinhamento com o objetivo.\n\nContorno de Objeções: Analise como o condutor identificou e respondeu a preocupações, avançando o objetivo.\n\nEngajamento dos Participantes: Verifique a inclusão de todos, especialmente decisores.\n\nClareza da Comunicação: Avalie a clareza na comunicação do objetivo e resumo de pontos-chave.\n\nAlcance dos Objetivos: Confirme se o objetivo foi atingido e se decisões/tarefas foram definidas.\n\nAspectos Notáveis: Identifique rapport, habilidades de negociação ou gestão de conflitos.\n\nAvaliação de Propensão do Associado:\n\nPropensão do Associado a Regras de Compliance (Alta-Média-Baixa): Avalie com base em menções (diretas ou indiretas) sobre políticas internas, confidencialidade e conflito de interesses.\n\nAlta Propensão: O profissional menciona proativamente as políticas de compliance de sua empresa, questiona sobre cláusulas de confidencialidade nos contratos da ABC Advise, demonstra preocupação com conflitos de interesse e com a divulgação de informações sensíveis.\n\nMédia Propensão: O profissional não aborda o tema diretamente, mas demonstra cautela ao falar sobre projetos e negociações atuais de sua empresa. Pode fazer perguntas gerais sobre a legalidade e a ética dos projetos propostos.\n\nBaixa Propensão: O profissional não demonstra nenhuma preocupação com questões de compliance, fala abertamente sobre negociações confidenciais e não questiona os aspectos éticos e legais da parceria.\n\nNota: Esta avaliação deve ser feita com base em evidências concretas na conversa. Na ausência de menções, este tópico não deve ser avaliado e retorne \"Não Avaliado\".\n\nPropensão do Associado em Trabalhar em Projetos de Suprimentos: Avalie com base nos seguintes indicadores:\n\nBusca por Estabilidade e Desenvolvimento: Expressa interesse em projetos de maior duração que permitam um mergulho profundo em um novo desafio e o desenvolvimento de novas competências.\n\nInteresse em Experiências Diversificadas: Demonstra vontade de conhecer outras indústrias e formas de trabalhar, vendo os projetos de suprimentos como uma oportunidade de ampliar seus horizontes profissionais.\n\nValorização da Segurança: Menciona a importância de ter um fluxo de trabalho mais previsível.\n\nNota: Se houver evidências, retorne \"Alta\", \"Média\" ou \"Baixa\" com base na força dos indicadores. Caso contrário, retorne \"Não Avaliado\".\n\nPropensão em Trabalhar em Projetos Comerciais: Avalie com base nos seguintes indicadores:\n\nPerfil Empreendedor e de Negócios: Demonstra um forte interesse em oportunidades de ganho rápido e possui uma mentalidade voltada para negócios e parcerias.\n\nConfiança e Transparência na Conversa: Sente-se à vontade para compartilhar, ainda que de forma geral, os tipos de negociação que costuma conduzir.\n\nFoco em Resultados e Ganhos Variáveis: Mostra-se motivado pela possibilidade de ganhos financeiros atrelados ao sucesso de uma negociação que ele mesmo trouxe para a mesa.\n\nNota: Se houver evidências, retorne \"Alta\", \"Média\" ou \"Baixa\" com base na força dos indicadores. Caso contrário, retorne \"Não Avaliado\".\n\nSugestões de Melhoria: Gere 3 a 5 sugestões acionáveis para melhorar a condução futura, focando em clareza, superação de objeções, engajamento e alcance do objetivo. Se não houver informações suficientes na entrada ou transcrição, forneça sugestões genéricas baseadas em boas práticas de condução de reuniões.\n\nValidação de Saída:\n\nA resposta deve seguir rigorosamente o formato JSON especificado, com todos os campos preenchidos.\n\nSe a geração do JSON falhar, retorne: {\"erro\": \"Falha na geração do JSON. Verifique a transcrição ou tente novamente.\"}.\n\nFormato de Saída (Adaptive):\n\nJSON\n\n{\n  \"feedback_reuniao\": {\n    \"nome_reuniao\": \"[Nome do fornecedor, ID ou descrição breve, se disponível]\",\n    \"objetivo_reuniao\": \"[Objetivo fornecido]\",\n    \"resumo_avaliacao\": {\n      \"estrutura_reuniao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"contorno_objecoes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"engajamento_participantes\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"clareza_comunicacao\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"alcance_objetivos\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"aspectos_notaveis\": {\n        \"avaliacao\": \"[Avaliação em até 3 frases]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      }\n    },\n    \"propensao_associado\": {\n      \"compliance\": {\n        \"avaliacao\": \"[Alta/Média/Baixa/Não Avaliado]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"projetos_suprimentos\": {\n        \"avaliacao\": \"[Alta/Média/Baixa/Não Avaliado]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      },\n      \"projetos_comerciais\": {\n        \"avaliacao\": \"[Alta/Média/Baixa/Não Avaliado]\",\n        \"evidencias\": [\"[Citação da transcrição]\", \"...\"]\n      }\n    },\n    \"sugestoes_melhoria\": [\n      \"[Sugestão 1: prática e alinhada ao objetivo]\",\n      \"[Sugestão 2: prática e alinhada ao objetivo]\",\n      \"[Sugestão 3: prática e alinhada ao objetivo]\",\n      \"[Sugestão 4: se aplicável]\",\n      \"[Sugestão 5: se aplicável]\"\n    ]\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1820,-940],"id":"48c28705-4b1c-4156-a3aa-df28122ee335","name":"Agente Feedback3"},{"parameters":{"jsCode":"const inputItems = $input.all();\nconst outputItems = [];\n\nfor (const item of inputItems) {\n  // Acessa a string bruta do campo 'output'\n  const rawJsonString = item.json.output;\n\n  if (rawJsonString && typeof rawJsonString === 'string') {\n    let cleanedJsonString = rawJsonString;\n\n    // Remove '```json\\n' do início\n    if (cleanedJsonString.startsWith('```json\\n')) {\n      cleanedJsonString = cleanedJsonString.substring('```json\\n'.length);\n    }\n    // Remove '```' do final\n    if (cleanedJsonString.endsWith('```')) {\n      cleanedJsonString = cleanedJsonString.substring(0, cleanedJsonString.length - '```'.length);\n    }\n\n    try {\n      // Tenta parsear a string JSON limpa\n      const parsedJson = JSON.parse(cleanedJsonString);\n      // Adiciona o JSON parseado a uma nova propriedade 'parsedOutput' no item\n      item.json.parsedOutput = parsedJson;\n    } catch (e) {\n      // Em caso de erro ao parsear, adicione um objeto de erro para depuração\n      console.error(\"Erro ao parsear JSON:\", e.message, \"String bruta:\", rawJsonString);\n      item.json.parsedOutput = {\n        error: \"Failed to parse JSON\",\n        details: e.message,\n        rawString: rawJsonString,\n        cleanedStringAttempt: cleanedJsonString\n      };\n    }\n  } else {\n    // Caso a entrada 'output' não seja uma string ou esteja vazia\n    item.json.parsedOutput = { error: \"Input 'output' was not a valid string or was empty\" };\n  }\n  outputItems.push(item);\n}\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,-1020],"id":"053dfee6-06d7-460c-ac5f-27c965a34e73","name":"Transforma em Json4"},{"parameters":{"useCustomSchema":true,"schema":"transcripts","operation":"update","tableId":"transcript","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"feedback_abc","fieldValue":"={{ $json.parsedOutput_1.feedback_reuniao }}"},{"fieldId":"associado_projetos","fieldValue":"={{ $json.output_2.resumo_fornecedor }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2960,-880],"id":"80355b48-5ccb-451d-8e7e-fb34c64848be","name":"Supabase5","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}","hasOutputParser":true,"options":{"systemMessage":"Como um **Especialista em Análise de Perfil Profissional**, sua principal função é gerar um resumo **conciso e estratégico** do perfil de um associado. O objetivo é fornecer uma visão geral **clara, impactante e acionável** de suas qualificações, experiência e ambições, destacando seu valor para potenciais oportunidades ou colaborações.\n\n---\n\n### **Instruções Detalhadas para o Resumo**\n\nPara elaborar o resumo, colete as seguintes informações do associado. Seja o mais preciso e descritivo possível:\n\n* **Nome Completo do Associado**:\n* **Empresa Atual**:\n* **Portfólio de Negociação (se aplicável)**: Indique o tamanho atual (e.g., R$ 10MM, US$ 500K) e as principais categorias de negociação (e.g., TI, Serviços, Indiretos, Diretos). Se não aplicável, ignore ou indique \"N/A\".\n* **Projetos Relevantes (Passados e Atuais)**: Descreva em detalhes os projetos mais significativos, destacando suas responsabilidades, resultados e o impacto gerado. Use exemplos específicos.\n* **Experiência em Consultoria (se houver)**: Detalhe qualquer experiência prévia em consultoria, incluindo o tipo de projetos, clientes e sua contribuição. Se não houver, indique \"Não aplicável\".\n* **Objetivos Financeiros**: Especifique os objetivos financeiros do associado (e.g., \"gerar renda extra de R$ X por mês\", \"focar em projetos de alto valor agregado com remuneração acima de Y\", \"diversificar fontes de renda\").\n* **Objetivos de Carreira**: Descreva as aspirações de carreira (e.g., \"desenvolver novas habilidades em [área específica]\", \"transição para a área de [nova área]\", \"expandir rede de contatos para [objetivo específico]\", \"atuação em liderança\").\n* **Localização**: Forneça a Cidade e o Estado de residência do associado.\n* **Idade do Associado**: (Opcional, se relevante para o contexto).\n* **Observações Pessoais Relevantes**: Inclua informações adicionais que possam complementar o perfil (e.g., \"disponibilidade para viagens\", \"interesses em sustentabilidade e ESG\", \"habilidades em [idioma/ferramenta específica]\"). Seja conciso e focado em aspectos que agreguem valor profissional.\n\n---\n\n### **Formato de Saída Esperado**\n\nA resposta deve ser um objeto JSON estritamente formatado, seguindo a estrutura abaixo para facilitar a integração e análise:\n\n```json\n{\n  \"resumo\": {\n    \"nome_associado\": \"Nome Completo do Associado\",\n    \"empresa_atual\": \"Nome da Empresa Atual\",\n    \"portifolio_negociacao\": {\n      \"tamanho\": \"Tamanho da carteira negociada (ex: R$ 10MM, US$ 500K, não informado)\",\n      \"categorias\": [\"Categoria 1\", \"Categoria 2\"]\n    },\n    \"projetos_relevantes\": [\n      {\n        \"nome\": \"Nome do Projeto 1\",\n        \"descricao\": \"Descrição detalhada do Projeto 1, incluindo responsabilidades e resultados.\"\n      },\n      {\n        \"nome\": \"Nome do Projeto 2\",\n        \"descricao\": \"Descrição detalhada do Projeto 2, incluindo responsabilidades e resultados.\"\n      }\n    ],\n    \"experiencia_consultoria\": \"Descrição da experiência em consultoria (e.g., 'Sim, 2 anos em consultoria de TI', 'Não aplicável')\",\n    \"objetivos_financeiros\": \"Descrição dos objetivos financeiros (ex: 'Renda extra de X por mês', 'Projetos de alto valor agregado')\",\n    \"objetivos_carreira\": \"Descrição dos objetivos de carreira (ex: 'Desenvolver habilidades em negociação', 'Transição para área de consultoria', 'Expandir networking')\",\n    \"localizacao\": {\n      \"cidade\": \"Cidade de Residência\",\n      \"estado\": \"Estado de Residência\"\n    },\n    \"idade_associado\": \"Idade do Associado\",\n    \"observacoes_pessoais\": \"Quaisquer observações pessoais relevantes (ex: 'Disponibilidade para viagens', 'Interesse em sustentabilidade')\"\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2140,-720],"id":"71b2cb29-036c-4808-b22f-2551496c01eb","name":"Agente Conhecer Associado1"},{"parameters":{"useCustomSchema":true,"schema":"transcripts","operation":"update","tableId":"transcript","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"feedback_abc","fieldValue":"={{ $json.parsedOutput_1.feedback_reuniao }}"},{"fieldId":"resumo_participante","fieldValue":"={{ $json.output_2.resumo_fornecedor }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2400,-280],"id":"cc5b0578-f963-41a0-812e-780259c8c000","name":"Supabase6","credentials":{"supabaseApi":{"id":"ChjVTwyzy074UhXA","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2180,-280],"id":"7c4fd9e8-464c-4d65-8457-8da1178f02b5","name":"Merge9"},{"parameters":{},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[-1340,-1740],"id":"3eb02b75-03bf-425b-98c3-997c9d0348d1","name":"DOCX to Text"},{"parameters":{"resource":"fileFolder","queryString":"transcription","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1940,-1740],"id":"0f7c55da-caf4-4dfa-aaee-96db0f5b8952","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"1aqUwKEQzQxbwncE","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1540,-1740],"id":"b20afe8b-574c-4a1a-9995-df985d2c6e61","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"1aqUwKEQzQxbwncE","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1720,-1740],"id":"813cc36c-244e-4493-8b5c-ba044d7f214d","name":"Limit"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3040,-3920],"id":"12dec927-5cc8-4bf4-8255-928552396b10","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"1aqUwKEQzQxbwncE","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1540,-1900],"id":"e44b6555-4407-49db-96cd-4b76c5ef1b59","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"1aqUwKEQzQxbwncE","name":"Google Drive account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Resumo Fornecedor","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Resumo Fornecedor","type":"ai_outputParser","index":0}]]},"Merge1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Agente Feedback - Avaliacao","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"Agente Feedback1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model8":{"ai_languageModel":[[{"node":"Agente Feedback","type":"ai_languageModel","index":0}]]},"Merge5":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Google Gemini Chat Model6":{"ai_languageModel":[[{"node":"Agente Feedback2","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model7":{"ai_languageModel":[[{"node":"Agente Conhecer Associado","type":"ai_languageModel","index":0}]]},"Structured Output Parser7":{"ai_outputParser":[[{"node":"Agente Conhecer Associado","type":"ai_outputParser","index":0}]]},"Merge6":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Google Gemini Chat Model12":{"ai_languageModel":[[{"node":"Plaud Agent","type":"ai_languageModel","index":0}]]},"Send Email":{"main":[[{"node":"Merge10","type":"main","index":0}]]},"Merge10":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Agente Feedback","type":"main","index":0},{"node":"Merge5","type":"main","index":1}],[{"node":"Agente Feedback - Avaliacao","type":"main","index":0},{"node":"AI Resumo Fornecedor","type":"main","index":0},{"node":"Merge2","type":"main","index":1}],[{"node":"Agente Feedback1","type":"main","index":0},{"node":"Merge4","type":"main","index":1}],[{"node":"Merge16","type":"main","index":0}],[{"node":"Merge17","type":"main","index":0}],[],[{"node":"Agente Conhecer Associado","type":"main","index":0},{"node":"Agente Feedback2","type":"main","index":0},{"node":"Merge7","type":"main","index":1}],[{"node":"Agente Conhecer Associado1","type":"main","index":0},{"node":"Agente Feedback3","type":"main","index":0},{"node":"Merge8","type":"main","index":1}],[{"node":"Agente Projetos Associados","type":"main","index":0},{"node":"Merge9","type":"main","index":1}]]},"Agente Feedback":{"main":[[{"node":"Transforma em Json1","type":"main","index":0}]]},"Agente Feedback - Avaliacao":{"main":[[{"node":"Transforma em Json","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Plaud Agent","type":"ai_outputParser","index":0}]]},"Plaud Agent":{"main":[[{"node":"Send Email","type":"main","index":0},{"node":"Merge10","type":"main","index":1}]]},"Supabase3":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"AI Resumo Fornecedor":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Supabase":{"main":[[]]},"Transforma em Json":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Transforma em Json1":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Transforma em Json2":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Agente Feedback1":{"main":[[{"node":"Transforma em Json2","type":"main","index":0}]]},"Supabase2":{"main":[[]]},"Agente Feedback2":{"main":[[{"node":"Transforma em Json3","type":"main","index":0}]]},"Transforma em Json3":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"Merge7":{"main":[[{"node":"Supabase4","type":"main","index":0}]]},"Agente Conhecer Associado":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Structured Output Parser10":{"ai_outputParser":[[{"node":"Agente Projetos Associados","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model10":{"ai_languageModel":[[{"node":"Agente Projetos Associados","type":"ai_languageModel","index":0}]]},"Agente Projetos Associados":{"main":[[{"node":"Merge9","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agente Feedback3","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model9":{"ai_languageModel":[[{"node":"Agente Conhecer Associado1","type":"ai_languageModel","index":0}]]},"Structured Output Parser8":{"ai_outputParser":[[{"node":"Agente Conhecer Associado1","type":"ai_outputParser","index":0}]]},"Merge":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"Merge8":{"main":[[{"node":"Supabase5","type":"main","index":0}]]},"Agente Feedback3":{"main":[[{"node":"Transforma em Json4","type":"main","index":0}]]},"Transforma em Json4":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Agente Conhecer Associado1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge9":{"main":[[{"node":"Supabase6","type":"main","index":0}]]},"Supabase4":{"main":[[]]},"Supabase1":{"main":[[]]},"Google Drive":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"DOCX to Text","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Google Drive1","type":"main","index":0},{"node":"Google Drive3","type":"main","index":0}]]},"DOCX to Text":{"main":[[{"node":"Plaud Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"48cb8faf-4485-4c91-83d8-c608660aba9b","triggerCount":0,"tags":[]}