workflow_cnpj_v1-sZqCk02UFwxjL3iK.json
{"createdAt":"2025-05-30T11:53:35.244Z","updatedAt":"2025-05-30T11:54:03.000Z","id":"sZqCk02UFwxjL3iK","name":"workflow_cnpj_v1","active":false,"isArchived":false,"nodes":[{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"getAll","tableId":"cnae","filters":{"conditions":[{"keyName":"codigo","condition":"eq","keyValue":"4299599"},{"keyName":"codigo","condition":"eq","keyValue":"4321500"},{"keyName":"codigo","condition":"eq","keyValue":"3321000"},{"keyName":"codigo","condition":"eq","keyValue":"4292802"},{"keyName":"codigo","condition":"eq","keyValue":"7112000"},{"keyName":"codigo","condition":"eq","keyValue":"3314704"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8480,300],"id":"a0a2881e-88f7-487f-a9b0-037f04c2cd68","name":"Supabase1"},{"parameters":{"assignments":{"assignments":[{"id":"f99cb231-1a17-47e4-9efe-9be7f81942ea","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"c1e7ae85-c636-41ff-830f-fd4e135a5c47","name":"cnpj_ordem","value":"={{ $json.cnpj_ordem }}","type":"string"},{"id":"7dc6d3f0-8dd0-45d9-9c26-81b968c0bef6","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"},{"id":"e99cbb77-2988-427f-bae6-ccbd3cedb932","name":"uf","value":"={{ $json.uf }}","type":"string"},{"id":"0ccfc040-0517-477b-a757-8f4f46433684","name":"municipio","value":"={{ $json.nome_municipio }}","type":"string"},{"id":"27bf7dee-852a-491d-81c3-e6d85565fab9","name":"nome_fantasia","value":"={{ $json.nome_fantasia }}","type":"string"},{"id":"cb0dfb02-7eab-4944-adb6-d90b62ecaced","name":"correio_eletronico","value":"={{ $json.correio_eletronico }}","type":"string"},{"id":"5966fd6e-2e80-43fe-aba1-9918454613a1","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"e4fd9d7e-b104-4e51-96f6-2b2a24025e18","name":"capital_social_str","value":"={{ $json.capital_social_str }}","type":"string"},{"id":"5b0160bd-852b-4674-8548-68ce9d8bdb64","name":"cnae_fiscal","value":"={{ $json.cnae_fiscal_principal_codigo }}","type":"string"},{"id":"f0666e31-33c9-408b-9144-35e48e5a684b","name":"cnae_fiscal_secundaria","value":"={{ $json.todos_codigos_cnae }}","type":"string"},{"id":"212bfc05-9c48-4247-8d05-6c9c9ca18abf","name":"todos_nomes_cnae","value":"={{ $json.todos_nomes_cnae }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7600,300],"id":"3a60a50a-ad71-42a1-a282-bcaf7207f84a","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.razao_social }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7380,375],"id":"9dc9251a-de7e-47f7-8ab2-8bb3ea7b91c4","name":"HTTP Request","retryOnFail":true},{"parameters":{"promptType":"define","text":"=Razao Social:  {{ $json.razao_social }}\nNome Fantasia: {{ $json.nome_fantasia }}\nEmail: {{ $json.correio_eletronico }}\nBusca Internet: {{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Especialista em Localizar Sites Oficiais de Empresas\n\n## Objetivo\nVocê é um agente especializado em localizar **o site oficial de uma empresa brasileira**, com base em dados cadastrais e resultados de busca. Seu papel é garantir que o site identificado seja **efetivamente controlado pela empresa**, mesmo que o nome da empresa apareça com pequenas variações.\n\n## Informações de entrada\nVocê receberá:\n\n- Nome Fantasia  \n- Razão Social  \n- CNPJ (quando disponível)  \n- Segmento de atuação  \n- CNAE  \n- Cidade  \n- Estado  \n- CEP  \n\n## Estratégia de Busca e Verificação\n\n1. **Busque domínios corporativos próprios**, incluindo sufixos como:  \n   `.com.br`, `.com`, `.net.br`, `.eng.br`, `.ind.br`, `.wixsite.com` (com validação reforçada).\n\n2. **Aceite variações no nome da empresa no domínio**, desde que:\n   - O nome esteja parcialmente presente no domínio (ex: `rubiengenharia.com.br` para “Rubi Engenharia”).\n   - O conteúdo do site comprove a identidade por outros meios (ver abaixo).\n\n3. **Valide a identidade com base em ao menos duas das evidências abaixo**:\n   - Nome da empresa (ou variação) na seção “Sobre”, “Contato” ou rodapé do site;\n   - Endereço compatível com a cidade ou estado fornecidos;\n   - E-mail corporativo no domínio (ex: contato@empresa.com.br);\n   - Presença de CNPJ ou razão social completa no site;\n   - Perfis oficiais da empresa (Instagram, LinkedIn, etc.) apontando diretamente para o domínio;\n   - Serviços, clientes ou projetos listados que confirmam o segmento informado.\n\n4. **Sites em plataformas como Wix ou WordPress** são aceitáveis **se o conteúdo comprovar a identidade institucional** com base nas evidências acima.\n\n5. Se houver **múltiplos sites candidatos**, selecione o que possuir mais evidências cruzadas de vínculo com a empresa.\n\n## Exclusões Obrigatórias\n\nRejeite os seguintes tipos de páginas, mesmo se mencionarem a empresa:\n\n- Diretórios empresariais (ex: CNPJ.biz, Econodata, TeleListas, Apontador)\n- Sites de marketplaces (ex: OLX, Mercado Livre, Shopee)\n- Sites de releases, notícias ou matérias jornalísticas\n- Blogs ou páginas pessoais que apenas mencionem a empresa\n- Páginas com nomes semelhantes, mas sem qualquer evidência de vínculo com os dados fornecidos\n\n## Exemplos para calibração\n\n**Aceite:**\n- `https://www.brzfire.com.br` → domínio combina com nome fantasia, e-mail institucional aparece no rodapé.\n- `http://www.rubiengenharia.com.br` → nome parcialmente compatível, site descreve serviços de engenharia e localização compatível.\n- `https://ethicusscs.wixsite.com/refrigeracao` → site Wix, mas com nome da empresa, segmento e contato institucional válidos.\n\n**Rejeite:**\n- `https://cnpj.biz/empresa-nome` → diretório empresarial sem vínculo institucional.\n- `https://shopee.com/empresa-xyz` → perfil em marketplace, não institucional.\n\n## Formato de Resposta\n\nSe o site for considerado oficial:\n```json\n{\n  \"site\": \"https://www.nomedasuaempresa.com.br\",\n  \"justificativa\": \"O domínio contém o nome fantasia e o site descreve os serviços, endereço e e-mail institucional compatíveis com os dados fornecidos.\"\n}\n```\n\nSe nenhum site for confiável:\n```json\n{\n  \"site\": \"nao_encontrado\",\n  \"justificativa\": \"Nenhum dos sites encontrados possui evidência suficiente de pertencimento à empresa. Todos são diretórios, domínios genéricos ou menções indiretas.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-6720,425],"id":"2c293d45-799b-4bf3-b6ca-9b4915a57c60","name":"AI Agent","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-6940,300],"id":"b235b884-334b-49d3-b459-0d66ccddee0a","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"2eb1014d-2a4f-4fb0-8882-2dd3fb33ac1a","name":"data","value":"={{ $json.organic }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7160,375],"id":"364df676-beb5-4d98-bfaf-ce9e6cdf1751","name":"Edit Fields2"},{"parameters":{"jsonSchemaExample":"{\n\t\"site\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-6572,645],"id":"cb94bf59-bcf1-4eeb-9744-c7dd6eaaded6","name":"Structured Output Parser"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"41e6c94e-ffa6-4367-a21d-007867c2b030"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f1b15d1-c2eb-4b5f-a921-63bae2dfa299","leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5904,300],"id":"a1481b5b-a713-4dfa-bf5a-96abae9c32f7","name":"Switch"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6afb29a-b922-48d8-8a88-af9f96473ec5","leftValue":"={{ $json.output.melhor_link }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.melhor_link }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"3e4b48c2-2761-4637-ad3e-6b241a870c60"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4208,375],"id":"d62c1707-01bc-4d68-87aa-a1a460259a94","name":"Switch1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-6344,300],"id":"d6cfeb71-7907-48b4-b0bd-9ed5b651204a","name":"Merge3"},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5684,450],"id":"93c9b91f-729f-44a9-8717-c5bff43b7bd6","name":"HTTP Request2","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-5464,450],"id":"4050c83e-8657-4586-8d6d-241fccf10933","name":"HTML","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-5244,375],"id":"7f0c58b4-df85-49ee-aafd-a7a3e79c85ab","name":"Merge4"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-4648,375],"id":"070d20c7-143b-4a0c-9c89-aa76835de194","name":"Merge5"},{"parameters":{"url":"={{ $json.output.melhor_link }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3988,75],"id":"52ec0f90-7152-406f-b186-1f4aff7ba89c","name":"HTTP Request3","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3988,700],"id":"317e48cb-caf4-40c7-8861-5560f7f6aa4e","name":"HTTP Request4","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo da <main> se existir\n  const mainMatch = rawHtml.match(/<main\\b[^>]*>([\\s\\S]*?)<\\/main>/i);\n  const coreHtml = mainMatch ? mainMatch[0] : rawHtml;\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'][^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    const tag = match[0];\n    const src = match[1];\n    const altMatch = tag.match(/alt=[\"']([^\"']*)[\"']/i);\n    const titleMatch = tag.match(/title=[\"']([^\"']*)[\"']/i);\n    return {\n      src,\n      alt: altMatch ? altMatch[1] : null,\n      title: titleMatch ? titleMatch[1] : null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível da <main>\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString1 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString1\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3768,75],"id":"bbb45df0-8d1d-4328-a1d8-58e7f7c16267","name":"Code"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo da <main> se existir\n  const mainMatch = rawHtml.match(/<main\\b[^>]*>([\\s\\S]*?)<\\/main>/i);\n  const coreHtml = mainMatch ? mainMatch[0] : rawHtml;\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'][^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    const tag = match[0];\n    const src = match[1];\n    const altMatch = tag.match(/alt=[\"']([^\"']*)[\"']/i);\n    const titleMatch = tag.match(/title=[\"']([^\"']*)[\"']/i);\n    return {\n      src,\n      alt: altMatch ? altMatch[1] : null,\n      title: titleMatch ? titleMatch[1] : null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível da <main>\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3768,700],"id":"a8efe2f1-4254-493d-b5e6-8a12d56fca81","name":"Code1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-3108,200],"id":"70efc73a-0ff8-47f9-9b79-c8c980caafff","name":"Merge6"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-3328,625],"id":"565fa68f-1816-4a11-bbec-ecbd87175900","name":"Merge7"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-2888,300],"id":"b6d2069f-517d-4ea8-a3cc-15f6a3281a45","name":"Merge8"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-2292,100],"id":"f607ce1e-2909-4203-9f7a-1195e38851e0","name":"Merge9"},{"parameters":{"jsonSchemaExample":"{\n\t\"resumo_empresa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2520,820],"id":"085d6189-b090-47ef-ae23-081fed577d38","name":"Structured Output Parser3"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $json.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"site","fieldValue":"={{ $json.output.site }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5684,150],"id":"fbd17c6f-4fc3-4ce9-923a-f522fed5731a","name":"Supabase"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-2072,250],"id":"76ddf005-5998-4c48-823b-0807b10160d1","name":"Merge10"},{"parameters":{"assignments":{"assignments":[{"id":"a4f34ff5-605d-4330-9889-808d53fa5b03","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"26859f09-db20-4b35-ae0a-32f4eb797e6e","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"aa8a9de9-12c7-4a4c-bc7b-016615e04797","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"37062e35-0b73-4d99-9739-3cdcbae9f1e4","name":"output.site","value":"={{ $json.output.site }}","type":"string"},{"id":"8dcafd23-97d8-4da5-b519-0f4239ffd6e8","name":"output.melhor_link","value":"={{ $json.output.melhor_link }}","type":"string"},{"id":"7eab1c4d-097b-4e8f-a50f-f826b4da9ef9","name":"output.clientes","value":"={{ $json.output.clientes }}","type":"string"},{"id":"00cac18f-0f95-44e1-8b36-ec00c471a4a7","name":"output.resumo_empresa","value":"={{ $json.output.resumo_empresa }}","type":"string"},{"id":"c0442597-21fc-4718-8d62-2639708e76f5","name":"cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1852,325],"id":"71511cd1-f2bd-49d4-8216-18fc2d1e3899","name":"Edit Fields3"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json;\n  const output = data.output || {};\n  data.output = {\n    site: output.site || \"nao_encontrado\",\n    melhor_link: output.melhor_link || \"nao_encontrado\",\n    clientes: output.clientes || \"nao_encontrado\",\n    resumo_empresa: output.resumo_empresa || \"nao_encontrado\"\n  };\n  return { json: data };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,325],"id":"797c59a5-458b-4916-b562-4a2a3cff5830","name":"Code2"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/get_estabelecimentos_filtrados_avancado","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Profile","value":"cnpj_db"},{"name":"Accept-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"_cnaes_alvo","value":"={{ $json._cnaes }}"},{"name":"_uf_filtro","value":"={{ $json._uf }}"},{"name":"_data_limite_inicio_atividades","value":"={{ $json._data_limite }}"},{"name":"_termos_busca","value":"={{ $json._termos }}"},{"name":"_portes_empresa_filtro","value":"={{ $json._porte_empresa }}"},{"name":"_naturezas_juridica_filtro","value":"={{ $json._natureza_juridica }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7820,300],"id":"86a9ac36-912c-433c-92ef-228eb8c5866a","name":"HTTP Request6","onError":"continueRegularOutput"},{"parameters":{"content":"## Busca Empess no DB - CNAE pimi  CNAE seunaio","height":560,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-8460,80],"typeVersion":1,"id":"380f5bf9-062e-4108-9917-d6a1e086325e","name":"Sticky Note"},{"parameters":{"content":"## Busca Paginas Google\n","height":540,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-7620,80],"typeVersion":1,"id":"390f9f6e-6879-4a0b-9da4-5ce0f7cd22a6","name":"Sticky Note1"},{"parameters":{"content":"## Decide Pagina da empresa","height":540,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-6840,80],"typeVersion":1,"id":"576cfb48-04f6-4a93-bb25-65ebaaaedca9","name":"Sticky Note2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"codigo"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-8260,300],"id":"6c3ebdf0-9a06-46e8-b380-a40decdebffb","name":"Aggregate"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-6692,645],"id":"4002db6e-651b-4070-a5e7-7828bbe58450","name":"Google Gemini Chat Model"},{"parameters":{"assignments":{"assignments":[{"id":"6a642483-615a-4845-a6ab-85d68be0b528","name":"_cnaes","value":"={{ $json.codigo }}","type":"array"},{"id":"c19781ca-94a5-4b69-8769-42cd1760e6e4","name":"_uf","value":"SP","type":"string"},{"id":"7ae93f81-b936-4f53-a142-9825c69dd216","name":"_data_limite","value":"20150101","type":"string"},{"id":"2b31cd18-2041-4cb4-8b93-4ce497884113","name":"_codigo_municipio","value":"","type":"string"},{"id":"46d42ef3-766f-4875-b66d-76ad9bc68aa5","name":"_termos","value":"=[\"engenharia\",\"construtora\",\"montagem\"]","type":"array"},{"id":"04c655fa-7d0f-4dda-99c8-fbf13bb7d6b7","name":"_porte_empresa","value":"=[\"00\",\"05\"]","type":"array"},{"id":"e864e0a0-f33b-4a16-9294-e4836b5b7151","name":"_natureza_juridica","value":"=[\"2062\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8040,300],"id":"2779e8b4-bb89-47ae-bbcb-8ad0446e2efd","name":"Edit Fields6"},{"parameters":{"promptType":"define","text":"=Link_origem:{{ $json.output.site }}\n\nLinks_scrape_origem:{{ $json.links }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Identificador de Link com Clientes em Sites Empresariais\\n\\nVocê é um agente especialista em identificar, entre os links de um site empresarial, aquele que **mais provavelmente contém uma lista de clientes** (não apenas casos isolados).\\n\\n## Entrada\\n\\nVocê receberá o Link_origem, que é o link que originou os Links_scrape_origem\\n\\n## Instruções\\n\\n1. **Verificação inicial**:\\n   - Se a lista Links_scrape_origem estiver vazia, retorne imediatamente \\\"nao_encontrado\\\" com justificativa específica sobre lista vazia\\n\\n2. **Reconstrua links relativos**:\\n   - Use o domínio base encontrado nos links completos fornecidos (ex: `https://www.exemplo.com.br`) para transformar caminhos como `clientes/` em URLs completas (ex: `https://www.exemplo.com.br/clientes/`)\\n   - Para âncoras (#clientes), reconstrua como `dominio_base/#clientes`\\n\\n3. **Termos prioritários por ordem de relevância**:\\n   \\n   **Prioridade 1 (Máxima)**:\\n   - `clientes`, `nossos-clientes`, `clientes-atendidos`, `quem-atendemos`\\n   \\n   **Prioridade 2 (Alta)**:\\n   - `parceiros`, `portfolio`, `portfólio`, `cases`, `cases-de-sucesso`\\n   \\n   **Prioridade 3 (Contextual - adapte ao setor da empresa)**:\\n   - **Construtoras/Arquitetura**: `obras`, `projetos`, `projects`, `projetos-concluidos`, `galeria`\\n   - **Engenharia**: `projetos-concluidos`, `cases`, `obras-realizadas`\\n   - **Consultorias**: `trabalhos-realizados`, `referencias`\\n   - **Agências**: `trabalhos`, `referencias`\\n\\n4. **Critérios de seleção**:\\n   - Sempre prefira termos de prioridade 1 sobre os demais\\n   - Entre links da mesma prioridade, escolha o mais genérico (ex: `/clientes` vs `/clientes/setor-x`)\\n   - Links externos devem ser descartados\\n   - Considere o contexto do setor da empresa para termos de prioridade 3\\n\\n5. **Evite links irrelevantes**:\\n   - `contato`, `sobre`, `home`, `blog`, `noticias`, `author`, redes sociais, raiz do domínio\\n   - Links para arquivos de imagem específicos de projetos (ex: `/assets/img/projects/projeto-x.jpg`)\\n   - Links funcionais como `login`, `mailto:`, `tel:`\\n\\n## Saída\\n\\nFormato de resposta:\\n\\n```json\\n{\\n  \\\"melhor_link\\\": \\\"https://www.exemplo.com.br/clientes\\\",\\n  \\\"justificativa\\\": \\\"Link direto com termo 'clientes' encontrado no domínio principal, indicando página dedicada à listagem de clientes, conforme prioridade máxima de termos.\\\"\\n}\\n```\\n\\nCaso **nenhum link válido** seja identificado:\\n\\n```json\\n{\\n  \\\"melhor_link\\\": \\\"nao_encontrado\\\",\\n  \\\"justificativa\\\": \\\"Nenhum dos links analisados contém termos relacionados a clientes, portfolio ou cases. Os links disponíveis limitam-se a [descrever brevemente os tipos de links encontrados].\\\"\\n}\\n```\\n\\nCaso **lista esteja vazia**:\\n\\n```json\\n{\\n  \\\"melhor_link\\\": \\\"nao_encontrado\\\",\\n  \\\"justificativa\\\": \\\"Não foi possível analisar links pois a lista de Links_scrape_origem está vazia. É necessário fornecer uma lista de links do site para realizar a análise.\\\"\\n}\\n```\\n\\n## Regras Finais\\n\\n- Sempre retorne o link completo com domínio e caminho\\n- Nunca ignore caminhos relativos ou âncoras sem tentar reconstruí-los\\n- Seja específico na justificativa, mencionando o termo encontrado e sua prioridade\\n- Considere o contexto da empresa para avaliar relevância de termos de prioridade 3\\n- Para casos de lista vazia, seja explícito na justificativa\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-5024,500],"id":"2d9883a0-d4cd-47f2-912a-95947b923924","name":"AI Agent5","retryOnFail":false,"alwaysOutputData":false,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{\n\t\"melhor_link\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-4876,720],"id":"709f7dc3-ace1-48b6-be09-129c1997b146","name":"Structured Output Parser4"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4996,720],"id":"62c84b6b-f1e5-4d91-87e1-8da312d08c23","name":"Google Gemini Chat Model1"},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3988,275],"id":"65ac2f90-fff1-4c87-bc7a-0d2c0e4f8ea0","name":"HTTP Request9","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo da <main> se existir\n  const mainMatch = rawHtml.match(/<main\\b[^>]*>([\\s\\S]*?)<\\/main>/i);\n  const coreHtml = mainMatch ? mainMatch[0] : rawHtml;\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'][^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    const tag = match[0];\n    const src = match[1];\n    const altMatch = tag.match(/alt=[\"']([^\"']*)[\"']/i);\n    const titleMatch = tag.match(/title=[\"']([^\"']*)[\"']/i);\n    return {\n      src,\n      alt: altMatch ? altMatch[1] : null,\n      title: titleMatch ? titleMatch[1] : null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível da <main>\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedString2 = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedString2\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3768,275],"id":"4365371d-3679-455a-99a0-c5d5b2c03c09","name":"Code3"},{"parameters":{"promptType":"define","text":"={{ $json.texto_page_home }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Gerador de Resumo de Atuação da Empresa\n\nVocê é um agente especializado em gerar resumos objetivos sobre empresas com base no conteúdo de seus sites institucionais.\n\n## Objetivo\n\nSua tarefa é analisar o conteúdo textual do site de uma empresa fornecedora e gerar um resumo com **até 200 caracteres**, explicando **o que a empresa faz**, com ênfase em seus **serviços ou produtos principais**.\n\n## Entrada\n\nAnalise exclusivamente o conteúdo presente no campo `fullCleanedString`.\n\n## Instruções\n\n1. Leia o texto e identifique os principais **produtos**, **serviços**, **tecnologias** ou **segmentos atendidos**.\n2. Foque em responder à pergunta: **“O que esta empresa oferece?”**\n3. Seja direto, objetivo e use linguagem clara e comercial.\n4. Evite termos vagos como “soluções inovadoras” sem explicar o que é oferecido.\n\n### Exemplos de resumo aceitável\n\n- `\"Fabricação de estruturas metálicas para galpões industriais e coberturas comerciais.\"`\n- `\"Especializada em engenharia elétrica e montagem de painéis para indústrias.\"`\n- `\"Distribuidora de equipamentos hidráulicos e válvulas industriais em todo o Brasil.\"`\n\n## Saída\n\nRetorne o resultado no seguinte formato JSON:\n\n```json\n{\n  \"resumo_empresa\": \"DESCRIÇÃO RESUMIDA AQUI\"\n}\n```\n\nSe não for possível identificar claramente o que a empresa faz, retorne:\n\n```json\n{\n  \"resumo_empresa\": \"nao_encontrado\"\n}\n```\n\n## Regras Finais\n\n- Máximo de **200 caracteres**.\n- Sempre retorne apenas uma string no campo `\"resumo_empresa\"`.\n- Não copie slogans ou frases genéricas. Descreva **claramente** a atividade principal da empresa."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-2668,600],"id":"6312f768-9094-4926-a335-e3852b3c21d5","name":"Agente Resume Atuação Empresa","retryOnFail":false,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-3548,175],"id":"1f3fd8ae-20a4-4335-b19f-ef6e73729d8d","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"0fdc91d3-9fcc-4761-a907-6d80b362a03c","name":"texto_page_cliente","value":"={{ $json.fullCleanedString1 }}","type":"string"},{"id":"37a2eff7-d35e-48be-ad84-28f68a21851b","name":"texto_page_home","value":"={{ $json.fullCleanedString2 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3328,175],"id":"158cbda8-e021-471a-aeb4-4b4a84307c03","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"5febc393-7375-4f85-bf1d-0e31fa4ea6c0","name":"texto_page_home","value":"={{ $json.fullCleanedString2 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3548,700],"id":"d789d75e-3d5e-4e85-af5f-bb2a01caeafe","name":"Edit Fields9"},{"parameters":{"jsonSchemaExample":"{\n\t\"clientes\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2520,220],"id":"8bef6ba4-397b-49e1-9af1-924f4ab63061","name":"Structured Output Parser5"},{"parameters":{"promptType":"define","text":"=Texto Page Cliente: {{ $json.texto_page_cliente }} \nTexto Page Home: {{ $json.texto_page_home }}","hasOutputParser":true,"options":{"systemMessage":"# Prompt: Agente Identificador de Clientes em Sites de Fornecedores\n\nVocê é um agente especializado em extrair nomes de **clientes empresariais ou institucionais** a partir de textos de sites de fornecedores.\n\n## Entrada\n\nAnalise apenas o conteúdo presente no campo `fullCleanedString`.\n\n## Instruções de Análise\n\n1. **Procure blocos de texto que indicam prestação de serviço**, como:\n   - \"Clientes\", \"Clientes Atendidos\", \"Nossos Clientes\"\n   - \"Obras realizadas\", \"Projetos entregues\", \"Cases de sucesso\"\n   - \"Portfólio\", \"Quem confia\", \"Empresas atendidas\", \"Trabalhos realizados\", \"Parceiros comerciais\", \"Marcas atendidas\"\n\n2. **Extraia nomes de empresas ou instituições** que aparecem como beneficiárias dos serviços:\n   - Podem estar em listas, títulos, frases, links ou descrições de projetos.\n   - Quando houver localizações geográficas, remova-as. Exemplo:\n     - `\"Grupo DBK - São José do Rio Preto - SP\"` → `\"Grupo DBK\"`\n   - Remova quaisquer formatações como negrito, colchetes ou links.\n\n3. **Ignorar entradas que não sejam nomes válidos de empresas ou instituições**, como:\n   - Termos técnicos: \"Soldagem MIG\", \"Tubulação industrial\", \"Pintura Eletrostática\"\n   - Cidades ou regiões isoladas\n   - Frases genéricas como \"clientes satisfeitos\", \"diversas empresas\"\n   - Repetições, nomes incompletos ou vagos (ex: “Empresa de Logística”)\n\n## Saída\n\nSe um ou mais nomes forem identificados, retorne:\n\n```json\n{\n  \"clientes\": \"Grupo DBK, Quinelato, Plakton Cosméticos\"\n}\n```\n\nCaso **nenhum cliente válido seja identificado**, retorne:\n\n```json\n{\n  \"clientes\": \"nao_encontrado\"\n}\n```\n\n## Regras Finais\n\n- A saída deve sempre ser um único campo `\"clientes\"` com uma **string separada por vírgulas**.\n- Não adivinhe ou infira nomes. Retorne apenas o que estiver claramente indicado como cliente.\n- Elimine duplicações e mantenha os nomes limpos e objetivos."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-2668,0],"id":"fe370b55-9b48-415c-9e51-b4b7e878f94e","name":"Agente Identifica Clientes1","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2640,220],"id":"f049b16d-1929-4ff1-86b2-af4f30019a1f","name":"Google Gemini Chat Model2"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2640,820],"id":"01fab3b2-01d8-4c04-a2a8-c0972ae31986","name":"Google Gemini Chat Model3"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $json.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"clientes","fieldValue":"={{ $json.output.clientes }}"},{"fieldId":"site","fieldValue":"={{ $json.output.site }}"},{"fieldId":"resumo_empresa","fieldValue":"={{ $json.output.resumo_empresa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1412,325],"id":"3e811d48-fe10-472a-965d-3c325a7afdbc","name":"Supabase3"},{"parameters":{"content":"## Busca Link Cliente","height":540,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-6064,70],"typeVersion":1,"id":"cc71a8f9-aa0f-45b8-b5d4-e46c562b106e","name":"Sticky Note5"},{"parameters":{"content":"## Decide Site de Clientes","height":540,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-5260,60],"typeVersion":1,"id":"ecf99c58-93b0-440d-b0f8-4041ee9729f2","name":"Sticky Note6"},{"parameters":{"content":"## Coleta Informação de Pagina Home e Pagina Clientes","height":1020,"width":1300,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4300,-140],"typeVersion":1,"id":"154092f3-d310-4375-bf29-16f4c4585bee","name":"Sticky Note7"},{"parameters":{"content":"## Resume Clientes e Empresa","height":1020,"width":1040,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2740,-120],"typeVersion":1,"id":"141714e5-615f-4aa1-9bbc-52a324ff3e1a","name":"Sticky Note8"},{"parameters":{"assignments":{"assignments":[{"id":"0c7ce7e3-982d-417e-be2e-8586f5c7642d","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"a4f34ff5-605d-4330-9889-808d53fa5b03","name":"cnpj_completo","value":"={{ $json.cnpj_basico }}/{{ $json.cnpj_ordem }}-{{ $json.cnpj_dv }}","type":"string"},{"id":"aa8a9de9-12c7-4a4c-bc7b-016615e04797","name":"razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"76d67654-b96f-4f55-aee8-41a76d55adee","name":"nome_fantasia","value":"={{ $json.nome_fantasia }}","type":"string"},{"id":"6a701925-3ace-46c2-814a-05015d016f4d","name":"uf","value":"={{ $json.uf }}","type":"string"},{"id":"26859f09-db20-4b35-ae0a-32f4eb797e6e","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"f87d0c91-f585-4313-a405-74dd90d19bf7","name":"capital_social_str","value":"={{ $json.capital_social_str }}","type":"string"},{"id":"37062e35-0b73-4d99-9739-3cdcbae9f1e4","name":"site","value":"={{ $json.output.site }}","type":"string"},{"id":"00cac18f-0f95-44e1-8b36-ec00c471a4a7","name":"resumo_empresa","value":"={{ $json.output.resumo_empresa }}","type":"string"},{"id":"7eab1c4d-097b-4e8f-a50f-f826b4da9ef9","name":"clientes","value":"={{ $json.output.clientes }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-972,250],"id":"8b1cf629-87be-4c57-b745-56ab852624a6","name":"Edit Fields11"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"vector_suppliers","mode":"list","cachedResultName":"vector_suppliers"},"embeddingBatchSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[-76,250],"id":"bffae002-29b3-43ee-b16a-d9dde92a11a5","name":"Supabase Vector Store4"},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-92,470],"id":"5bf25e78-9115-4094-a475-3740e0a34cbf","name":"Embeddings OpenAI4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[28,472.5],"id":"ffe7dc36-94be-4c2f-b2f9-4901c763e4df","name":"Default Data Loader2"},{"parameters":{"chunkOverlap":150,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[116,670],"id":"44d63c4f-33f2-41a7-b514-ad6d8ea3ba9d","name":"Recursive Character Text Splitter2"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"empresas","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-532,250],"id":"9b215024-8cf3-4436-9894-8288cbbf17bb","name":"Aggregate3"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"empresas","separateBy":", "}]},"options":{"outputFormat":"separateItems"}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-312,250],"id":"1896368d-510e-4ab0-9cbd-b57908edb3ae","name":"Summarize1"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1192,250],"id":"7c0355eb-996f-4fa7-adbe-3c709121ad9c","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"1425870c-b7a2-40ac-940b-9990053458fb","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"data","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6124,300],"id":"dfc8c7d0-3cef-44f8-9377-36535fb1125f","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"2860fa9d-dff9-4d37-8197-d9645d3197f1","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"links, error","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4428,375],"id":"2698ea5f-74e8-49bc-8262-2108bf84ba29","name":"Edit Fields13"},{"parameters":{"assignments":{"assignments":[{"id":"5f75619a-a373-4085-8169-a8cb67e610ac","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"dcff6c46-3fc4-43a3-8b99-dec472f13ca9","name":"municipio","value":"={{ $json.descricao }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"codigo, descricao","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,250],"id":"e677afa7-8078-41e5-8d84-e41ede065cf2","name":"Edit Fields14"}],"connections":{"Supabase1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Merge3","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Switch":{"main":[[{"node":"Supabase","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0},{"node":"Merge4","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request3","type":"main","index":0},{"node":"Merge6","type":"main","index":1},{"node":"HTTP Request9","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0},{"node":"Merge7","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"AI Agent5","type":"main","index":0},{"node":"Merge5","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Edit Fields13","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Merge8","type":"main","index":1}]]},"Merge8":{"main":[[{"node":"Agente Resume Atuação Empresa","type":"main","index":0},{"node":"Merge10","type":"main","index":0},{"node":"Agente Identifica Clientes1","type":"main","index":0}]]},"Merge9":{"main":[[{"node":"Merge10","type":"main","index":1}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Agente Resume Atuação Empresa","type":"ai_outputParser","index":0}]]},"Merge10":{"main":[[{"node":"Edit Fields3","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"AI Agent5","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"HTTP Request9":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Agente Resume Atuação Empresa":{"main":[[{"node":"Merge9","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Merge7","type":"main","index":1}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"Agente Identifica Clientes1","type":"ai_outputParser","index":0}]]},"Agente Identifica Clientes1":{"main":[[{"node":"Merge9","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Agente Identifica Clientes1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Agente Resume Atuação Empresa","type":"ai_languageModel","index":0}]]},"Supabase3":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Edit Fields11":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Supabase Vector Store4","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Supabase Vector Store4","type":"ai_document","index":0}]]},"Recursive Character Text Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Aggregate3":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Supabase Vector Store4","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields13":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields14":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e7fcc8cb-f35a-4b8c-bf3d-57ea91c4a3d8","triggerCount":0,"tags":[]}